[2022-05-23 10:38] amychaplin opened #3386 "Where is the import data button?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1da38d28-fbc3-b3a8-c3d8-c7cd7d2ce39b
* Version Independent ID: e1f69e15-9955-22c2-3364-4ebd6f2b30f6
* Content: [Show, sort, and filter data in a canvas app gallery - Power Apps](https://docs.microsoft.com/en-us/power-apps/maker/canvas-apps/show-images

[2022-05-23 11:00] bishalgoswami commented on #3386
Thanks for your comment, @amychaplin. This issue has been assigned to the doc author for review.

[2022-05-23 11:47] polks71 opened #3387 "Contradicting Time Statement"
[Enter feedback here]
Under Reporting Infrastructure the last sentence of the first paragraph says "We do not place time restrictions on reports."
Then the first bullet point after "Consider these fixed settings:" says "Reports and queries can execute for up to five minutes."

Which statement is true?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-05-23 13:00] bishalgoswami commented on #3387
Thanks for your comment, @polks71. This issue has been assigned to the doc author for review.

[2022-05-23 13:38] Nydi23 opened #3388 "webFormClientValidate must be declared first"
the webFormClientValidator is called, but it seems the first validation needs to be the one that creates the function for example:
` if (window.jQuery) {
    (function ($) {
       if (typeof (webFormClientValidate) != 'undefined') {
          var originalValidationFunction = webFormClientValidate;
          if (originalValidationFunction && typeof (originalValidationFunction) == "function") {

[2022-05-23 14:21] danwatford commented on #2696
Hi @tapanm-MSFT ,

As far as I can tell from an app with nested galleries, the maximum template height for a gallery is 5000.

If one of the gallery item's height exceeds 5000 then it will overflow into the next item.

Please could you confirm if 5000 is indeed the maximum template size for a portrait gallery.

[2022-05-23 14:34] JamesHorsley opened #3389 "case is incorrect in contents addtabStateChange should be addTabStateChange"
In the contents on LHS this method is shown ad addtabStateChange but it should be addTabStateChange because case is significant in JavaScript

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c2a4cc8-11ca-0379-445a-ca8cdde8664b
* Version Independent ID: efe6fd94-6494-d278-a935-ca9aa9dc4c03
* Content: [addTabStateChange (

[2022-05-23 15:00] bishalgoswami commented on #3389
Thanks for your comment, @JamesHorsley. This issue has been assigned to the doc author for review.

[2022-05-23 15:00] bishalgoswami commented on #3388
Thanks for your comment, @Nydi23. This issue has been assigned to the doc author for review.

[2022-05-23 17:44] JasonHQX commented on #3380
Hi, we are enabling that feature globally for everyone. And I believe we are enabling this region by region by End of this week 05/20. So, it should be available now.

[2022-05-23 18:07] tapanm-MSFT commented on #3384
Thank you for reaching out. If you're looking for the "Select" function, it's already available in the formula reference. OnSelect whereas a property.

https://docs.microsoft.com/power-apps/maker/canvas-apps/functions/function-select

[2022-05-23 18:07] #3384 closed

[2022-05-23 21:46] mduelae commented on #3359
@LudwigReindl Thanks for contacting us. Without more information, it's difficult to say what's going on. Do these topics help:

- https://docs.microsoft.com/power-apps/maker/model-driven-apps/create-edit-system-chart
- https://docs.microsoft.com/power-apps/maker/model-driven-apps/create-edit-dashboards

To contact Support, see here: https://powerapps.microsoft.com/support.

Thanks,
Mints

[2022-05-23 22:14] mduelae commented on #3308
@Ciosull Thanks for the feedback. I'm working on update this topic and will notify you once the update is live.

Thanks,
Mints

[2022-05-24 02:22] JimDaly commented on #3389
Fixed the table of contents to match. addtabStateChange to be addTabStateChange

[2022-05-24 02:22] #3389 closed

[2022-05-24 03:22] tanimani opened #3391 "Can't print multiple pages."
Now print() function can't print multiple pages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17e032a3-5183-b121-b8ce-26db901a40b3
* Version Independent ID: 6ee6f5cb-9bcb-5540-3af3-86e88dbc36bf
* Content: [Print function in Power Apps - Power Apps](https://docs.microsoft.com/en-us/power-apps/maker/canvas-apps/functio

[2022-05-24 03:58] tanimani opened #3392 "SharePoint mobile app is not supported customize forms."
Question: Can I use my forms with SharePoint mobile app?
Answer: No.
https://powerusers.microsoft.com/t5/Power-Apps-Ideas/Support-customized-Sharepoint-list-forms-on-SharePoint-mobile/idi-p/88052

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 3a8c4146-101d-7ba2-7ae0-d7138b743154
* Version Independent ID: 1f752762-0809-a2fb-4a03-b490547ee7f1
* Content

[2022-05-24 05:00] bishalgoswami commented on #3392
Thanks for your comment, @tanimani. This issue has been assigned to the doc author for review.

[2022-05-24 05:00] bishalgoswami commented on #3391
Thanks for your comment, @tanimani. This issue has been assigned to the doc author for review.

[2022-05-24 08:35] tanimani commented on #3391
@bishalgoswami Thank you for your replying.  It's ok to close this issue.

[2022-05-24 08:49] SimonSellickSRA commented on #3380
Thanks @JasonHQX still no sign of the partitioned tables (or are they views?).  You said above "_The snapshot feature will be automatically enabled after synchronization._" - would a table having reported failures prevent the feature being enabled? The profile contains 33 tables, of which 32 have successfully synchronised and one reports "Completed with failures" - but there is no obvious facility

[2022-05-24 22:19] phecke commented on #2397
@AmonHouston
Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-05-24 22:19] #2397 closed

[2022-05-24 22:21] phecke commented on #2382
@pavansarma93

Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-05-24 22:21] #2382 closed

[2022-05-24 22:23] phecke commented on #2340
@ugreg

Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-05-24 22:23] #2340 closed

[2022-05-24 23:30] phecke commented on #2263
@mschoneman The sample's topic mentioned above and the README have been updated. Thanks for pointing it out.

[2022-05-24 23:30] #2263 closed

[2022-05-24 23:35] phecke commented on #2262
@brianilland

Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-05-24 23:35] #2262 closed

[2022-05-24 23:35] Mattp123 commented on #3322
Thank you for your feedback. The English version (master) has been updated to reflect the current experience including using a full URL. The localized versions of the article will be updated within 30 days.
Closing issue.

[2022-05-24 23:35] #3322 closed

[2022-05-24 23:36] phecke commented on #2251
@lokiRT

Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-05-24 23:36] #2251 closed

[2022-05-24 23:42] phecke commented on #2166
@arunvinoth

Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-05-24 23:42] #2166 closed

[2022-05-24 23:46] phecke commented on #2156
@fowl2

Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-05-24 23:46] #2156 closed

[2022-05-24 23:48] phecke commented on #2144
@KimBon

Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-05-24 23:48] #2144 closed

[2022-05-24 23:51] phecke commented on #2135
@ajithnairms

Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-05-24 23:51] #2135 closed

[2022-05-25 00:24] phecke commented on #2830
@silveyjoy Thanks for pointing this out. I removed the video link.

[2022-05-25 00:24] #2830 closed

[2022-05-25 00:46] fowl2 commented on #2144
This question is still relevant

[2022-05-25 10:00] SimonSellickSRA commented on #3380
Hi @JasonHQX do you mean I should create a new support request asking for UK to be made a priority?  I already have a request open to get the initial sync issues resolved (2205030050002158), and another to sort out the read-during-write contention (2204220050000546).  Also, what ID are you referring to (subscription? org? ...?).  Sorry if I am missing something obvious, and thank you for your advi

[2022-05-25 12:41] nickdoelman commented on #3332
Thank you for reaching out. We informed our support team.

[2022-05-25 12:41] #3332 closed

[2022-05-25 15:39] KimBon commented on #2144
Indeed still relevant as this scenario works but is undocumented

Op wo 25 mei 2022 om 02:46 schreef James May ***@***.***>:

[2022-05-25 20:02] mduelae commented on #3359
@LudwigReindl Checking in to see if you have further questions or feedback?

Thanks,
Mints

[2022-05-25 20:31] mduelae commented on #3308
@Ciosull This is a overview topic on how advanced find works depending on what you have enabled. I did add note with a link to how to use the modern advanced find experience, here: https://docs.microsoft.com/en-us/power-apps/user/advanced-find#create-edit-or-save-a-view-using-legacy-advanced-find

Thanks,
Mints

[2022-05-25 20:31] #3308 closed

[2022-05-26 02:42] ManishHira-Code opened #3398 "Show a little section on how to filter a dropdown box"
[Enter feedback here]
Hi, would appreciate if you could share how to filter that dropdown box connected to a SharePoint Lookup column. Let's say parent table has product records with a column defining if they are 'in-stock', 'expired', 'backorder'.  In my form, when I get the dropdown choice to select the product , I want to only show products whose status is 'in-stock' on the parent lookup table

[2022-05-26 06:40] last72 opened #3399 "Specify limitation of Dataflow - cannot update Choices column"
Choices column = Multiple selection of choice

Refer https://powerusers.microsoft.com/t5/Microsoft-Dataverse/Dataflow-standard-v2-Integration-of-multiple-choices/m-p/901823#M10887

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69ef5ecf-6d78-d852-f9ec-bf452864f0f5
* Version Independent ID: 9a080f0e-f168-ee88-2b32-22e55e

[2022-05-26 12:59] msftyehong opened #3400 "Internet Explorer support"
The page (whose title 'Supported web browsers for Power Apps portals') lists IE as supported browser but says 'Internet Explorer (not recommended)'. The page also says that 'Microsoft Internet Explorer 11 support is deprecated' (and link to the announcement). These statements somewhat contradict each other.

Is IE supported or not?
---
#### Document Details

⚠ *Do not edit this section. It is requ

[2022-05-26 13:00] bishalgoswami commented on #3400
Thanks for your comment, @msftyehong. This issue has been assigned to the doc author for review.

[2022-05-26 13:00] bishalgoswami commented on #3399
Thanks for your comment, @last72. This issue has been assigned to the doc author for review.

[2022-05-26 13:00] bishalgoswami commented on #3398
Thanks for your comment, @ManishHira-Code. This issue has been assigned to the doc author for review.

[2022-05-26 16:49] felicemasi opened #3402 "This guide is broken by updates"
Hi, I found this very useful guide months ago, and implemented it step by step in a small app project I am devving.

It works fine, but since monday 23rd I can't successfully edit the app in which this component is used anymore.
I mean, I can save ignoring the error, but this will break the app (no translations).
An error icon is shown on the component's top left corner, but the error details don'

[2022-05-26 17:00] bishalgoswami commented on #3402
Thanks for your comment, @felicemasi. This issue has been assigned to the doc author for review.

[2022-05-26 17:12] tapanm-MSFT commented on #3402
Thank you for reaching out. Please reach out to support teams for investigating this problem using a [support ticket](https://docs.microsoft.com/power-platform/admin/get-help-support).

[2022-05-26 17:12] #3402 closed

[2022-05-26 17:49] felicemasi commented on #3402
Hi Tapan,

I can't open tickets, and no one in my company seems to know how to do it.

[2022-05-26 17:52] felicemasi commented on #3402
Hi Bishal, thanks for your help, but I don't think the guide itself is broken, just that MS backend somewhat started messing up with locales.

I can't open tickets myself, as someone in my company decided so, but no one seems to know who actually can.

I guess I'll have to wait for the corporate IT to figure that out :D

Thanks, regards

[2022-05-27 00:41] nickdoelman commented on #3400
Thank you for the feedback. To answer the question, Internet Explorer is not supported. The redirection of this link is being fixed. The current guidance for Power Apps (including Power Apps portals) is here: [https://docs.microsoft.com/power-apps/limits-and-config](https://docs.microsoft.com/power-apps/limits-and-config)

[2022-05-27 00:41] #3400 closed

[2022-05-27 05:06] trucbinh opened #3404 "Option for "Copy the screen from the canvas app in the original canvas app designer""
Hi,
In detail to migrate from canvas app to custom page, there is a note "Copy the screen from the canvas app in the original canvas app designer", but there is no option to copy screen from this app to another app.
Please check this.

Regards,
Binh.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 770ff55f-0616-d40e-e3a

[2022-05-27 09:22] JamesHorsley opened #3406 "Misleading title - there is no formContext.ui.sections"
The title and TOC entry seem to imply that sections on the form can be accessed via formContext.ui.sections - but there is no such collection - as the page shows in the code example you first need to access a tab and then you get the tab's sections.  While it makes sense for this to still be TOC'd as formContext.ui it really should probably be TOC'd and titled something more like "formContext.ui T

[2022-05-27 13:01] bishalgoswami commented on #3406
Thanks for your comment, @JamesHorsley. This issue has been assigned to the doc author for review.

[2022-05-27 13:01] bishalgoswami commented on #3404
Thanks for your comment, @trucbinh. This issue has been assigned to the doc author for review.

[2022-05-27 14:03] adrianorth commented on #3404
Binh,

Thanks for providing feedback.  Will correct that it is pasting into the custom page opened in the canvas designer instead of model app designer.  Appreciate catching this.

Thanks,
Adrian

[2022-05-27 16:28] JimDaly commented on #3406
@JamesHorsley
Thanks for your feedback. The feature team is reviewing.

[2022-05-27 16:33] JimDaly commented on #3406
**Proposed changes:**

1. Rename/Retitle: /clientapi/reference/formContext-ui-sections.md

**Filename**: formContext-ui-sections.md => formContext-ui-tab-sections.md
**Title**: formContext.ui.sections (Client API reference) => formContext.ui Tab Sections (Client API reference)

Also change author to : HemantGaur

2.  Rename the folder of the child topics below it:
formcontext-ui-sections => formco

[2022-05-30 07:41] SimonSellickSRA commented on #3380
@JasonHQX thanks again for your advice. Do you know the target release date for islands migration for UK?

[2022-05-30 17:30] tahoon-ms commented on #3371
Thanks for reporting this. We've mentioned the [limitation with Containers and Data tables](https://docs.microsoft.com/en-us/power-apps/maker/canvas-apps/controls/control-container#known-limitations) and will be adding the PDF Viewer one shortly.

[2022-05-31 03:16] indikaa opened #3407 "Azure Data Factory Pipeline"
Hi Based on this article, it looks like we need to setup separate data flow for each entity?
Is there any way or guide to setup this for list of entities or for entire Datavarse DB?

[2022-05-31 07:11] joshua-soto-kitcher opened #3408 "Typo in powerapps-docs/powerapps-docs/maker/portals/customer-engagement-apps/manage-blogs.md"
Under Manage Blogs, the first line "Learn how to manage blog comments and blog posts both within Portalsand from the portal content editor."

It should be "Learn how to manage blog comments and blog posts both within Portals and from the portal content editor."

[2022-05-31 14:49] rcatbp opened #3410 "Power-Apps Mobile for Windows doesn't surface Model Driven apps"
My model driven apps on a DEV Sandbox environment do not appear.
This is not the Enterprise default environment.

The Apps do appear on the Android version if I click the settings box 'show non-production'

The Settings screen on the Windows 10 version is blank, no settings to change.

It may be preview but we'd like to test model driven apps

Thanks, Richard

---
#### Document details

⚠ *Do not

[2022-05-31 14:53] nickdoelman commented on #2260
Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-05-31 14:53] #2260 closed

[2022-05-31 15:08] SeaDude opened #3411 "Videos are unavailable"
All 3 videos on this page are "Unavailable".

![image](https://user-images.githubusercontent.com/8636973/171207105-3bf7afcf-5773-46b9-876e-a157d5dace05.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5b64c8d-3c3d-4e4d-afb1-5e0a54c84046
* Version Independent ID: 8180bdbe-ec98-642e-b7ee-1f57954ee502
* Content: [Crea

[2022-05-31 15:27] RicLund commented on #3219
Done. Can I get your vote? :-)

https://ideas.powerpages.microsoft.com/d365community/idea/617c4c1d-f6e0-ec11-b5cf-dc984008ac55

[2022-05-31 16:11] nickdoelman commented on #3219
Upvoted :)

[2022-05-31 17:36] kolyapnl opened #3412 "Rich Text control documentation changes"
We were misled and tried to change the entity's security permissions based on the documentation (https://docs.microsoft.com/en-us/power-apps/maker/model-driven-apps/rich-text-editor-control#best-practices-for-using-the-rich-text-editor) - _"By default, the rich text editor will upload images to the Azure Blob storage store and they won’t be stored as part of the field. Images will be stored in the

[2022-05-31 19:35] chadsowald opened #3414 "[Power Apps Custom Domains] When will support for AES encryption on the SSL certs be added?"
This page notes that TripleDES encryption is required for the custom domain SSL cert and that AES encryption is not supported.  However, TripleDES is considered less secure than AES.  Is there a reason for this limitation and/or a timeline for supporting AES?  The document does not mention either way.   A customer ran into this issue and had to do manual work to adjust their newly renewed certific

[2022-06-01 12:47] jrichview opened #3415 "Quick Start sample uses deprecated library"
The Quick Start sample app uses Microsoft.IdentityModel.Clients.ActiveDirectory which is deprecated. Would urge you to update the sample to use Microsoft.Identity.Client or at minimum clearly document steps for users to do that update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 489a9802-ac7a-0809-eaf9-684bc1286be6

[2022-06-01 13:00] bishalgoswami commented on #3414
Thanks for your comment, @chadsowald. This issue has been assigned to the doc author for review.

[2022-06-01 15:29] anjagusev opened #3416 "Missing verb in paragraph?"
I believe the Data Partioning section starting paragraph has a missing word (https://docs.microsoft.com/en-us/power-apps/maker/data-platform/azure-synapse-link-advanced-configuration#data-partitioning).

Currently it reads 👇
"When you Dataverse table data to Azure data lake storage using Azure Synapse Link, the tables are partitioned (instead of a single file) in the lake based on the createdOn va

[2022-06-01 15:37] JimDaly commented on #3406
Fixed

[2022-06-01 15:37] #3406 closed

[2022-06-01 16:28] #3371 closed

[2022-06-01 17:11] JimDaly commented on #3411
Thanks for reporting this.
The change has been checked in and should go live in a few hours.

[2022-06-01 17:11] #3411 closed

[2022-06-01 17:54] mduelae commented on #3359
@LudwigReindl Closing issue since I haven't heard back. If you still find problems with the topic please reopen this or another issue.

Thanks,
Mints

[2022-06-01 17:54] #3359 closed

[2022-06-01 17:58] mduelae commented on #3410
@rcatbp Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, see here: https://powerapps.microsoft.com/support/.

Closing this issue.

[2022-06-01 17:58] #3410 closed

[2022-06-01 23:53] kleon22 opened #3418 "Feature Missing?"
Was this feature removed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f298b610-c8d3-d567-aed7-58192332d5a4
* Version Independent ID: 41596584-4f91-d314-a0b5-54ef836a8103
* Content: [Edit table data in Excel and publish it back to Dataverse for Teams - Power Apps](https://docs.microsoft.com/en-us/power-apps/teams/edi

[2022-06-02 13:00] bishalgoswami commented on #3418
Thanks for your comment, @kleon22. This issue has been assigned to the doc author for review.

[2022-06-03 11:57] dasabate opened #3419 "Available for offline use as well, or just online?"
Awesome feature! I'm testing this out with a customer on their Field Service Mobile App and have the impression that it is limited to online - i.e. not working for **offline profiles**, right?

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6ddb0f9-5f1e-021a-d12c-31500ef38ce7
* Version Independent ID: f3761

[2022-06-03 13:00] bishalgoswami commented on #3419
Thanks for your comment, @dasabate. This issue has been assigned to the doc author for review.

[2022-06-03 16:47] nickgsoft opened #3420 "Dynamics 365 Sales app Account Forms canvas app Embedding"
This Document says "The canvas app custom control is only supported for use with the Web client type. Currently, the Phone and Tablet client types aren't supported."

Till yesterday 06-02-2022, when we embedded canvasapp on Account form, the canvas app was displaying on Web client only. it was not showing on mobile "sales" app.

Something happened today, and all of a sudden we can render canvas ap

[2022-06-03 17:00] bishalgoswami commented on #3420
Thanks for your comment, @nickgsoft. This issue has been assigned to the doc author for review.

[2022-06-03 17:31] caburk commented on #3419
That's correct. Field Service does use some classic commands for offline, and that remains available on classic. We're working on better all-around offline capabilities with Power Fx, it's just not ready yet.

[2022-06-03 20:24] phecke commented on #3407
@indikaa Please provide a link to the documentation in question.

[2022-06-03 20:29] avidNewb opened #3421 "Randomly Getting "You Do Not Have Permission to Commit to This Repository""
Frequently receive the pictured message.  My repo is stored in ado.  This happens to both I and the coworker I am developing with.  Once it happens, you can click "Ok" and it will ask for your git credentials.  The same username and token that you logged in with won't work though.  The fix is to log out of and back in to PowerApps.  Then you can log in and usually will allow you to save for a whil

[2022-06-03 20:32] carlilelance opened #3422 "Delegation List Link Is Broken"
The delegation list link is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c435aad5-5a0b-6070-1138-d80a13606122
* Version Independent ID: d9978c1c-e720-9586-8439-5b030f42794c
* Content: [Filter, Search, and LookUp functions in Power Apps (contains video) - Power Apps](https://docs.microsoft.com/en-us/power-apps

[2022-06-04 20:52] dchristian19 opened #3424 "This documentation needs to be updated"
[This documentation needs to be updated. Items you need to update are-
- Import process of the solution
- Opening the Northwind sample data app
- There are more Canvas apps now. An overview of each app would be nice.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5475653-e112-f407-b0de-ecad06bac5bf
* Version Independ

[2022-06-04 21:00] bishalgoswami commented on #3424
Thanks for your comment, @dchristian19. This issue has been assigned to the doc author for review.

[2022-06-06 16:00] melamriD365 commented on #2978
Same issue in this environment:

Server version: 9.2.22054.000139
Client version: 1.4.4277-2205.4

Could you please give us a feedback?

Thanks,
Mehdi

[2022-06-07 12:11] ddobric opened #3426 "Insufficient Information"
This article describes how to create the Application Package, which is saved as a zip file at the end.
However, to publish the application to the AppSource, the MSIX or APPX packages is required.

![image](https://user-images.githubusercontent.com/1756871/172375657-f471fc70-c975-46e9-9603-fbcc4c769a55.png)

The article seems not to be complete.

---
#### Document Details

⚠ *Do not edit this secti

[2022-06-07 17:06] JinKim7 opened #3427 "Broken link"
In this section: https://docs.microsoft.com/en-us/power-apps/maker/data-platform/virtual-entity-walkthrough-using-odata-provider#data-source-details

The docs mention using this link, https://contosowebservice.azurewebsites.net/odata/, for webservice URL. Looks to be broken.
![image](https://user-images.githubusercontent.com/6789394/172441344-b624aecd-86bf-4845-bea5-6df324c48319.png)

---
#### Doc

[2022-06-07 17:07] JinKim7 commented on #3427
Realized the important note that it's not a working link

[2022-06-07 22:40] javenu opened #3428 "PowerApps is not converting Figma UI Kit files"
When I follow the directions to publish a Canvas App from Figma, the popup in PowerApps consistently gives me invalid failures, both on the Link to Figma page input and the Figma personal access token fields input.

I have tried links to pages, frames, both using node-ids, to no avail. At the very least the personal access token field should work. I have tried both canvas and phone apps; even trie

[2022-06-07 23:06] tapanm-MSFT commented on #3428
Thank you for reaching out, this issue is being discussed internally and documentation will be updated as needed.

[2022-06-07 23:06] #3428 closed

[2022-06-08 02:02] tapanm-MSFT commented on #3422
Thank you for reaching out. Content has been fixed and will reflect the changes soon.

[2022-06-08 02:02] #3422 closed

[2022-06-08 02:06] tapanm-MSFT commented on #3408
Thank you for reaching out. Documentation has been fixed and the changes will be reflected soon.

[2022-06-08 02:06] #3408 closed

[2022-06-08 07:28] IDJordash opened #3429 "Input Mask (retired)"
[This article](https://docs.microsoft.com/en-us/power-apps/maker/model-driven-apps/additional-controls-for-dynamics-365-for-phones-and-tablets) indicates input mask control as being available in classic. The control is indeed available, but now appears retired. Can you please indicate what is expected to replace this control?
![image](https://user-images.githubusercontent.com/104447021/172557365-1

[2022-06-08 14:03] rickmcguire opened #3430 "Power Apps does not support the Azure Cognitive Service for Language Connector."
We should remove this content as Azure Cognitive Service for Language, previously known as 'Text Analytics' connector does not support Power Apps directly.

The connector does not support Power Apps -
https://docs.microsoft.com/en-us/connectors/cognitiveservicestextanalytics/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-06-08 15:00] bishalgoswami commented on #3430
Thanks for your comment, @rickmcguire. This issue has been assigned to the doc author for review.

[2022-06-09 16:39] beyro opened #3433 "Should mention that return value could be null"
[Enter feedback here]
The `attribute.getValue` method returns null if the attribute does not have a value, but this is not reflected in the documentation. For example, lookup type says that it will return an array. It should say that it will return an array or null.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ae10e

[2022-06-09 17:00] bishalgoswami commented on #3433
Thanks for your comment, @beyro. This issue has been assigned to the doc author for review.

[2022-06-09 17:12] JimDaly commented on #3433
@beyro
Thanks for your feedback.

I've changed the description of the return value

**Old:**

## Return Value

**Type**: Depends on the type of column.

**New:**

## Return Value

**Type**: Depends on the type of column. The value may be null.

[2022-06-09 17:12] #3433 closed

[2022-06-09 17:50] aphexer opened #3434 "Missing email address in step 10 causing 'Update Vote Detail' step to fail"
Fetch XML in Step 10:
`<fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="true">
   <entity name="systemuser">
      <attribute name="fullname" />
      <attribute name="systemuserid" />
      <link-entity name="msft_employeeidea_systemuser_vote" from="systemuserid" to="systemuserid" visible="false" intersect="true">
      <link-entity name="msft_employeeidea" from="msft

[2022-06-09 18:43] Sinha-Abhisek opened #3435 "Handling of File Type column"
Please add an FAQ on how the Synapse Link and ADLS handles File Type Columns (https://docs.microsoft.com/en-us/power-apps/developer/data-platform/file-attributes).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd9eb58e-fa75-d6ad-e1d6-a3c4242b1157
* Version Independent ID: c103e157-e34a-b636-8132-52c760f67e75
* Content

[2022-06-09 19:00] bishalgoswami commented on #3434
Thanks for your comment, @aphexer. This issue has been assigned to the doc author for review.

[2022-06-09 21:50] NPrice99 opened #3436 "Does cover Component Libraries Within Teams"
This page does not cover what happens with PowerApps Component libraries when imported into Teams.  It should either be here or on a new page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c0224ad-fdbb-c741-98a7-3ec0764b10cf
* Version Independent ID: dfbaaa9e-b902-70de-49d8-9d6c5328b6d2
* Content: [Component library

[2022-06-09 23:00] bishalgoswami commented on #3436
Thanks for your comment, @NPrice99. This issue has been assigned to the doc author for review.

[2022-06-10 07:59] donalmc opened #3437 "Local Choices needs more detail"
This page is behind the UI.
Wrt 'Local Choices', the UI says that 'People using it will be able to add new choices' - this is not explained on the page.
When I add a local choice to a form, it looks just like a standard global choice.

![image](https://user-images.githubusercontent.com/4288638/173018788-3d57b8ac-8508-4923-9abc-66f433ca95f2.png)

---
#### Document Details

⚠ *Do not edit this secti

[2022-06-10 09:00] bishalgoswami commented on #3437
Thanks for your comment, @donalmc. This issue has been assigned to the doc author for review.

[2022-06-10 22:37] tapanm-MSFT commented on #3144
Thank you for reaching out. The content has been updated.

[2022-06-10 22:37] #3144 closed

[2022-06-10 22:51] devlinl opened #3441 "More details on Upsert process"
In the section "Understanding the Upsert process" step 2 reads, "Dataverse will look up the record targeted by the target entity."

Please provide additional detail regarding how this look up occurs. What data does Dataverse use to look up the record? Is it just based on the Primary Name field? Does this process take Alternate Keys into account?

---
#### Document Details

⚠ *Do not edit this sect

[2022-06-10 23:00] bishalgoswami commented on #3441
Thanks for your comment, @devlinl. This issue has been assigned to the doc author for review.

[2022-06-10 23:18] JimDaly commented on #3441
@devlinl

Thanks for your feedback.

The Upsert operation expects that the table has alternate keys defined to uniquely identify a record without a primary key value. It doesn't use the primary name field (unless it is part of the alternate key)

The entity passed with the Target parameter should have values for the alternate key so that it can be uniquely identified.

This is described as part of

[2022-06-10 23:35] HandyAndyOnGitHub opened #3442 "Confusion over Dropdown's "Default" property."
Please explain setting the "Default" property of a dropdown via a lookup to another list.

The reason this is important is because the "Default" property for a dropdown behaves differently when it is embedded in a Form.

**STANDALONE DROPDOWN**
"Default Property" (Type = TEXT)
This works as it returns TEXT:
`LookUp( MyDropdownList, ID= LookUp( OtherList, ID = ComparisonID ). OtherListColumn).Title

[2022-06-11 01:00] bishalgoswami commented on #3442
Thanks for your comment, @HandyAndyOnGitHub. This issue has been assigned to the doc author for review.

[2022-06-13 11:27] skuntze commented on #3282
@JimDaly @adrianorth I would love to get an update on this matter 🙃

[2022-06-14 06:27] VishalShrivas commented on #3426
Hello, I have an issue with this link https://docs.microsoft.com/en-us/power-apps/developer/data-platform/create-solution-app-appsource. How to create a managed file with dll file and package folder, and in this link https://docs.microsoft.com/en-us/power-apps/developer/data-platform/create-package-app-appsource, how to use this managed folder in Offer center. I followed https://docs.microsoft.com

[2022-06-14 08:14] filsmaiga opened #3443 "ModelDriven"
Pourquoi le nom application pilotè processus

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: 2119255f-281e-11b0-54e1-921115e21a24
* Version Independent ID: 24314dee-2250-33b0-0e4d-66a4ca17f270
* Content: [Présentation de la création d’une application pilotée par modèle avec Power Apps - Power Apps](h

[2022-06-14 09:00] bishalgoswami commented on #3443
Thanks for your comment, @filsmaiga. This issue has been assigned to the doc author for review.

[2022-06-14 09:07] rnwoodhcl opened #3444 "Print() - Major limitation missing - can only print one page"
There's a major limitation missing on this page IMO.
`Print()` can only print one page of content. There's no mechanism for paging.

The docs should mention this and say what happens if the height or your Screen is higher than the space available on the first page. It appears it's just silently discarded!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2022-06-14 11:00] bishalgoswami commented on #3444
Thanks for your comment, @rnwoodhcl. This issue has been assigned to the doc author for review.

[2022-06-14 20:57] JimDaly commented on #3350
Please note the sentence directly above the sample:

[2022-06-14 20:57] #3350 closed

[2022-06-14 23:53] phecke commented on #586
@joenewstrom

Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-06-14 23:53] #586 closed

[2022-06-15 00:50] tdutch1 opened #3445 "Plug-in registration isolation mode"
Under Step 1, item 6, the image shows that the isolation mode is set to "None", but since this is an article about Dataverse (online, not on-prem), how were the authors of the article able to select "None"?

Is it necessary to register a plug-in with isolation mode "None" to connect to Azure SQL from a custom Dataverse plug-in?

---
#### Document Details

⚠ *Do not edit this section. It is require

[2022-06-15 05:35] SINNIF opened #3446 "Can you add a comment box for other teams members to contribute in Bulletins for Teams?"

[2022-06-15 12:38] mfahsold opened #3447 "There is no export button in dataverse for Teams anymore"
Hello MSFT Team,

I tried to backup my solution in a Dataverse for Teams environment and was a little bit shocked, that the export button is completly missing. About last week I was able to export the solution but now I can not do an update?

This docs document says, the button and the functionality should be still there?

best Matthias
[Enter feedback here]

---
#### Document Details

⚠ *Do not e

[2022-06-15 13:00] bishalgoswami commented on #3447
Thanks for your comment, @mfahsold. This issue has been assigned to the doc author for review.

[2022-06-15 13:00] bishalgoswami commented on #3445
Thanks for your comment, @tdutch1. This issue has been assigned to the doc author for review.

[2022-06-15 14:58] johnbearboi opened #3448 "Where are the rest of the instructions?"
This doesn't have any info on how to connect the App to the Source - seems to be a lot of people saying that Microsoft have taken this documentation down at some point and not replaced it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 879fd196-a46f-9f5d-f33b-b5ae9db14b58
* Version Independent ID: 67642cb3-92aa-9340-0d

[2022-06-15 15:00] bishalgoswami commented on #3448
Thanks for your comment, @johnbearboi. This issue has been assigned to the doc author for review.

[2022-06-16 00:46] glittery11 opened #3450 "Korean input bug in PowerApps Windows app"
When inputting Korean in the Power Apps Windows app(App from Microsoft Store [https://apps.microsoft.com/store/detail/power-apps-preview/9MVC8P1Q3B29](https://apps.microsoft.com/store/detail/power-apps-preview/9MVC8P1Q3B29) ) , consonants and vowels are input separately. This is a fatal issue for every Korean, so this app cannot be used.
Power Apps for Windows 8 App had the same trouble.

In brows

[2022-06-17 19:28] devlinl opened #3453 "Info to Set, but not to Get."
This page describes how to configure a form to allow for custom querystring parameters.

However, there does not appear to be any information on how to read the values of those parameters.

After some testing, I discovered that the relevant data is present in Xrm.Utility.getPageContext().input.data["My_Custom_Parameter"]

However, this is not mentioned in the getPageContext() documentation (https:

[2022-06-17 20:32] virakones opened #3454 "Clarity on where test suites/cases live?"
Was just hoping there could be more clarity on how Tests are stored? Do they travel with apps in solutions in different environments? Followed instructions on the next page for adding a table for test results but would like more detail on best practices managing and handling Test Studio content.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-06-17 21:00] bishalgoswami commented on #3454
Thanks for your comment, @virakones. This issue has been assigned to the doc author for review.

[2022-06-17 21:00] bishalgoswami commented on #3453
Thanks for your comment, @devlinl. This issue has been assigned to the doc author for review.

[2022-06-17 21:29] JimDaly commented on #3453
@devlinl
Thanks for your feedback.

@HemantGaur to confirm, but I believe this is by design.

The fact that `Xrm.Utility.getPageContext().input.data` is not documented means it is not supported.

The capability to set custom query string parameters is intended for the purpose mentioned in the doc:

The values in the query string parameters should be available as the values of those columns in the

[2022-06-17 22:42] devlinl commented on #3453
You cut off the key part of the sentence you quoted... "By default..."

That same document continues:

In your applications, you may want to pass custom query string parameters to a form. This article provides information about how you can define a set of specific parameter names and data types that can be accepted for a specific form.

I'm not asking about the default query string parameters that

[2022-06-17 22:56] JimDaly commented on #3453
@devlinl
Thanks for clarifying.
Issue is that documentation doesn't describe how to access custom values that are not intended to set the value of a field in the form.
Request is for documentation and support for a way to access this data. Liam has found that the data is available using `Xrm.Utility.getPageContext().input.data`, but we have no documentation for that particular property in [Xrm.Uti

[2022-06-17 23:03] tapanm-MSFT commented on #3454
Thank you for reaching out. Tests are published and stored in the app package, as documented in [Working with Test Studio](https://docs.microsoft.com/power-apps/maker/canvas-apps/working-with-test-studio) topic.

For best practices and known issues, please see the relevant sections on the [Overview](https://docs.microsoft.com/power-apps/maker/canvas-apps/test-studio) topic.

[2022-06-17 23:03] #3454 closed

[2022-06-20 04:01] duclong09 opened #3456 "Phan hoi"
[Nhập phản hồi vào đây]
It's really good, it's really a great experience, I'm practicing with it.

---
#### Chi tiết tài liệu

⚠ *Không chỉnh sửa phần này. Điều này là bắt buộc cho docs.microsoft.com ➟ Vấn đề khi liên kết GitHub.*

* ID: a5a87d70-1f25-0a75-bc11-f2c079f2083c
* Version Independent ID: 7b1e729a-d4b6-2786-2ac7-c9e1c516a815
* Content: [Power Apps là gì? - Power Apps](https://docs.m

[2022-06-20 05:00] bishalgoswami commented on #3456
Thanks for your comment, @duclong09. This issue has been assigned to the doc author for review.

[2022-06-20 05:28] tapanm-MSFT commented on #3456
Thank you for your feedback!

[2022-06-20 05:28] #3456 closed

[2022-06-20 05:50] crsnt opened #3457 "Is Microsoft working on the PKCE flow for this functionality?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b13c93b-4010-8d18-2d23-6d1ccf31400d
* Version Independent ID: a2910c25-ea1a-6373-d242-2c17f8886cf7
* Content: [Use OAuth 2.0 implicit grant flow within your portal - Power Apps](https://docs.microsoft.com/en-us/power-apps/maker/portals/oauth-implicit

[2022-06-20 07:00] bishalgoswami commented on #3457
Thanks for your comment, @crsnt. This issue has been assigned to the doc author for review.

[2022-06-20 07:44] acieslik opened #3458 "Near-real-time data tables are not queryable"
I am referring to this topic in this article:
Access near real-time data and read-only snapshot data (preview)

I setup everything according to your documentation but I figured out that the "Near-real-time" data tables are always not queryable and would get this error:
External table 'dataverse_test_org123456.dbo.msdyn_workorder' is not accessible because content of directory cannot be listed.

Th

[2022-06-20 18:24] MarkS2145 opened #3460 "Early Bound vs Late Bound - Confusing comparison table entries"
[Enter feedback here]
In "Choose which style" section the last two rows in the comparison table of early bound and late bound do NOT make sense, in English.

Early Bound => "Less, more readable code" - What does this mean?
Late Bound => "More, less readable code" - What does this mean?

Early & Late Bound => "Very slightly less performant" - Again, what does this mean in English?

</body>
</html>

[2022-06-20 19:00] bishalgoswami commented on #3460
Thanks for your comment, @MarkS2145. This issue has been assigned to the doc author for review.

[2022-06-20 19:35] JimDaly commented on #3460
@phecke Can you review this one please?

[2022-06-20 20:51] JasonHQX commented on #3458
Hi @acieslik , thanks for pointing this out. you are right and the doc is pending to update.  Near real-time data view is not supported when the view incremental folder feature is enabled. To view real-time data use snapshot data instead. More information: [Access near real-time data and read-only snapshot data](https://github.com/MicrosoftDocs/powerapps-docs/blob/main/powerapps-docs/maker/data-pl

[2022-06-21 13:35] virakones commented on #3454
hi @tapanm-MSFT

_>Tests are published and stored in the app package_

Unfortunately, those pages linked do not have this documented. I have read through but does not contain any detail on how to work with test studio with solutions and how solution layers are affected. Please permalink the section that describes this, if I am incorrect.

It is not clearly documented that saving test suites, test

[2022-06-21 13:47] bromero26 opened #3461 "How to add a new custom font"
Hi, The content on the site is well written. However, I need to add a new font to the list of available fonts. For example Roboto. How can I do it??

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33ecdffd-f6c2-4fc2-2d74-94d16c18108c
* Version Independent ID: cb939451-df9d-23b2-5e98-e2519c3b90db
* Content: [Use

[2022-06-21 14:29] nickdoelman commented on #3457
Thank you for contacting us. There are currently not plans to add PKCE flow to OAuth 2.0 implicit grant flow.
You can log this as an idea on [https://aka.ms/MPP_Ideas](https://aka.ms/MPP_Ideas) outlining your requirements for the product team to evaluate.

[2022-06-21 15:00] bishalgoswami commented on #3461
Thanks for your comment, @bromero26. This issue has been assigned to the doc author for review.

[2022-06-21 16:58] softchris opened #3463 "Can't add chart, UI has changed too much"
So this page needs to be updated. The menu options aren't the same.

To import data, you go to

Action / Collect / Choose "collection1" or "New collection", in the second item in the droplist, choose data source
Go to View/Collections to preview it

And don't ask me how to do the rest, cause I can't follow the existing Docs page from here, so yea rewrite of this page is needed.

---
#### Document

[2022-06-21 17:00] bishalgoswami commented on #3463
Thanks for your comment, @softchris. This issue has been assigned to the doc author for review.

[2022-06-21 22:13] rajyraman opened #3464 "Vagueness around rollup field paragraph"
I find this paragraph below vague. What does this mean? If a rollup field is not updated for 2 months, does this mean that it won't be updated for 10 years, if the next update happens after 3 months?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7aaa057-dbfa-e5b0-2222-5f59299c4960
* Version Independent ID: c88e45f0-4

[2022-06-21 23:00] bishalgoswami commented on #3464
Thanks for your comment, @rajyraman. This issue has been assigned to the doc author for review.

[2022-06-22 01:06] theobaidur opened #3465 "Wrong step on "Enable Async OnSave using app setting" section"
On this [page](https://docs.microsoft.com/en-us/power-apps/developer/model-driven-apps/clientapi/reference/events/form-onsave), at [_**"Enable Async OnSave using app setting"**_](https://docs.microsoft.com/en-us/power-apps/developer/model-driven-apps/clientapi/reference/events/form-onsave#enable-async-onsave-using-app-setting) section where it says **_"Select the app and then select ... (ellipses)

[2022-06-22 03:00] bishalgoswami commented on #3465
Thanks for your comment, @theobaidur. This issue has been assigned to the doc author for review.

[2022-06-22 09:35] AGadhok opened #3466 "Login Claims Mapping"
Not sure if anyone has tried to set the Login Claims Mapping following this document

Login claims mapping: Not required if using email, first name, or last name attributes. For additional attributes, enter a list of logical name/claim pairs to be used to map claim values returned from Azure AD B2C after sign-in to the attributes in the contact record.
Format: field_logical_name=jwt_attribute_name

[2022-06-22 13:29] nickdoelman commented on #2917
Thank you for your feedback. We have updated the document.

[2022-06-22 13:29] #2917 closed

[2022-06-23 02:25] anantharamakrishnans opened #3467 "staticLocalizationsNewMessages- Where is this coming from?"
[Enter feedback here]
The reference of staticLocalizationsNewMessages is not clear as where this is coming from.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c40e1d02-821c-372a-6470-4850b5d04417
* Version Independent ID: b7bd4543-5eba-c2b8-944e-be285f4455dc
* Content: [Localize sample apps (contains video) - Power Ap

[2022-06-23 03:00] bishalgoswami commented on #3467
Thanks for your comment, @anantharamakrishnans. This issue has been assigned to the doc author for review.

[2022-06-23 03:50] anantharamakrishnans opened #3468 "Choice Localization Example"
In the documentation - https://docs.microsoft.com/en-us/learn/modules/choice-columns-formulas/1-introduction
it's mentioned choice has inbuilt way of localization.
I didn't get as how.
One example for this would make the subject clear.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c40e1d02-821c-372a-6470-4850b

[2022-06-23 05:00] bishalgoswami commented on #3468
Thanks for your comment, @anantharamakrishnans. This issue has been assigned to the doc author for review.

[2022-06-24 00:34] JimDaly commented on #3142
@NHelgren
This sample suggests that developers can depend on having NewtonSoft available on the sandbox service.
This is very risky and not supported.
Need to update this sample to use Dependent Assembly feature when it goes GA.

[2022-06-24 01:11] ireneliee opened #3470 "Maybe add documentation about how to limit the number of rows obtained from the Filter function? I'm pretty sure such function exists eg. Filter([x],[y],2) will only return 2 rows..."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c435aad5-5a0b-6070-1138-d80a13606122
* Version Independent ID: d9978c1c-e720-9586-8439-5b030f42794c
* Content: [Filter, Search, and LookUp functions in Power Apps (contains video) - Power Apps](https://docs.microsoft.com/en-us/power-apps/maker/canvas-

[2022-06-24 03:00] bishalgoswami commented on #3470
Thanks for your comment, @ireneliee. This issue has been assigned to the doc author for review.

[2022-06-24 12:23] nickdoelman commented on #3114
Thank you for your feedback. There was a change to the default page template used for the home page. See https://docs.microsoft.com/en-us/power-apps/maker/portals/liquid/redirect-a-user-homepage for updated instructions.

[2022-06-24 12:23] #3114 closed

[2022-06-24 16:47] JimDaly commented on #3465
Fixed with [#6583](https://github.com/MicrosoftDocs/powerapps-docs-pr/pull/6583)

[2022-06-24 16:47] #3465 closed

[2022-06-24 18:44] phecke commented on #3450
@glittery11

Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, see here: https://powerapps.microsoft.com/support/ Closing this issue.

We do handle issues with the product documentation.

[2022-06-24 18:44] #3450 closed

[2022-06-27 04:15] PeterHale53 opened #3471 "Loses mapped fields from parent"
Hi

You neglect to add that if you do this on a child form on create from the parent, any mapped field values are lost as the form is refreshed,

Please confirm and add - would be great to keep any mapped values from the parent. This needs to be addressed

Pete

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71065911-65

[2022-06-27 05:00] bishalgoswami commented on #3471
Thanks for your comment, @PeterHale53. This issue has been assigned to the doc author for review.

[2022-06-27 17:13] JimDaly commented on #3471
@PeterHale53

Can you elaborate more on what you expect to find in the documentation about this?
Are you describing a bug, or is there some missing information that will help people get the desired outcome?

A new child record may be initialized with some default values set because the application uses the [InitializeFrom Function](https://docs.microsoft.com/en-us/power-apps/developer/data-platfor

[2022-06-28 01:10] IsaacPrenticeTePari opened #3473 "unable to access settings"
Power apps studio does not exist as an app, now built into make.powerapps.com but in make.powerapps.com I do not see anywhere to change these settings.

"Select Settings in Power Apps Studio."

but this page was updated earlier in the month? and I do not understand how to set this up.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2022-06-28 03:00] bishalgoswami commented on #3473
Thanks for your comment, @IsaacPrenticeTePari. This issue has been assigned to the doc author for review.

[2022-06-28 14:29] #3473 closed

[2022-06-28 15:23] CarstenMS opened #3474 "User files should NOT be stored as web files - when they exceed 5 MB (attachment size on target org9, they break pac upload"
"used to store images, documents, and any other file type."

is not entirely correct. Web files are for portal infrastructure files (e.g. images, .js or .css files)

Technically other files can be stored as web files,
but if these exceed the 5 MB default attachment size,
a transfer of the portal configuration with

pac paportal upload

will (expectedly) fail,
so to assure that portal configuration

[2022-06-28 16:01] Mattp123 commented on #3443
@filsmaiga - Model-driven apps "process driven" because, as the article states "if you are building an app to manage a complex process, such as onboarding new employees, managing a sales process, or member relationships in an organization such as a bank, a model-driven app is a great choice." Reading further into the article you'll find that you don't have to spend much time designing the UI since

[2022-06-28 16:01] #3443 closed

[2022-06-28 16:16] #3461 closed

[2022-06-28 17:00] bishalgoswami commented on #3474
Thanks for your comment, @CarstenMS. This issue has been assigned to the doc author for review.

[2022-06-28 20:18] thomasjeffries11 opened #3475 "Page "Use Cognitive Services in canvas apps" should probably be deleted."
https://docs.microsoft.com/en-us/power-apps/maker/canvas-apps/cognitive-services-api

This page probably needs to be deleted or marked as deprecated.  It goes through how to setup a canvas app using Azure Cognitive Services.  However, the connector page for the [Azure Cognitive Services for Language connector](https://docs.microsoft.com/en-us/connectors/cognitiveservicestextanalytics/) says it doe

[2022-06-28 20:46] JimDaly commented on #3471
@PeterHale53
Thanks for your kind words.

Dev team confirmed that setActiveProcess will re-load the form, which will discard any unsaved changes, which includes the data from the mapping. That is something we can document but isn't likely to change.

The Create form contains a record that hasn't been saved yet, so I'm not sure how a BPF could be associated to a record with no id yet. The fact that

[2022-06-28 20:57] PeterHale53 commented on #3471
Hi Jim

Thanks for confirming the reload and loss of mapping. Agree, not sure anything can be done about it, but all I was really asking for was a warning on the page saying that if you do change the BPF in the OnLoad on a create you will lose the mapping as you have suggested can be done.

As for my issue, if the record is saved and closed and then reopened the bpf appears fine. Strange. Others s

[2022-06-28 21:00] bishalgoswami commented on #3475
Thanks for your comment, @thomasjeffries11. This issue has been assigned to the doc author for review.

[2022-06-28 21:35] #3325 closed

[2022-06-28 22:00] tapanm-MSFT commented on #3475
Thank you for your feedback. Documentation has been retired.

[2022-06-28 22:00] tapanm-MSFT commented on #3430
Thank you for your feedback. Documentation has been retired.

[2022-06-28 22:00] #3430 closed

[2022-06-28 23:18] JimDaly commented on #3471
I've updated the topic to include a mention of the fact that calling setActiveProcess will reload the form.
I also updated the description with help from the dev team to try and bring more clarity, I think it got scrambled a bit over time with terminology changes.
Should go live this evening

[2022-06-28 23:19] #3471 closed

[2022-06-29 09:13] midomsft opened #3476 "Tables exposed by new feature should clarify it's the _partitioned ones, not normal tables"
The new incremental updates feature in preview refers to this link - https://docs.microsoft.com/en-us/power-apps/maker/data-platform/azure-synapse-link-incremental for guidance on how to consume the new tables. However that link refers to querying the normal tables ([CONTAINER_NAME].[dbo].[TABLE_NAME]) wherein reality it should [CONTAINER_NAME].[dbo].[TABLE_NAME_Partitioned] as the other table won

[2022-06-29 11:00] bishalgoswami commented on #3476
Thanks for your comment, @midomsft. This issue has been assigned to the doc author for review.

[2022-06-29 12:29] nickdoelman commented on #2992
Thank you for your feedback. We have updated the topic: https://docs.microsoft.com/power-apps/maker/portals/admin/portal-admin-roles

[2022-06-29 12:29] #2992 closed

[2022-06-29 17:36] leeprtc opened #3477 "Missing documentation for RecognizedText property for Pen Input control"
[Enter feedback here]

Pen Input control has a RecognizedText property. However, there is no documentation on this property. I'm particularly interested in knowing which platforms have support for text recognition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bfd429b-1c01-e596-5637-91ab84067297
* Version Independent

[2022-06-29 19:00] bishalgoswami commented on #3477
Thanks for your comment, @leeprtc. This issue has been assigned to the doc author for review.

[2022-06-30 02:00] ToddOmya opened #3478 "Customised Sample PowerApp - Publish to multiple teams dataverse environments as managed"
Hi,

https://docs.microsoft.com/en-us/power-apps/teams/customize-sample-apps

This page doesn't have any information regarding publishing a customized sample PowerApp to different Teams environments. It shows how to publish to the teams dataverse environment it currently resides in but not in any other team dataverse environments.

I am trying to find out how to publish my customised sample app in

[2022-06-30 02:21] ToddOmya commented on #3447
@Mattp123 @wimcoor Any update on this? I need this urgently as I have customized the Inspections app and need to roll it out to multiple teams

[2022-06-30 06:10] ravikiran-srini opened #3479 "A connector may provide tables of data or actions."
Hi, in the documentation, the second para states:

"A connector may provide tables of data or actions. Some connectors provide only tables, some provide only actions, and some provide both. Also your connector may be either a standard or custom connector."

**Question:**
What are the connectors that provide only tables? I checked many connectors, but each of them provides actions as well.
Looks li

[2022-06-30 07:00] bishalgoswami commented on #3479
Thanks for your comment, @ravikiran-srini. This issue has been assigned to the doc author for review.

[2022-06-30 08:36] KoenJanssensPD opened #3480 "Validate function does not exist and has to be created manually"
It seems the "webFormClientValidate" function does not exist. See this post : https://powerusers.microsoft.com/t5/Power-Apps-Portals/webform-javascript-validation/td-p/694546
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cd59aca-5cd6-54bf-d119-f49b6e0098aa
* Version Independent ID: 95689207-a0b9

[2022-06-30 09:00] bishalgoswami commented on #3480
Thanks for your comment, @KoenJanssensPD. This issue has been assigned to the doc author for review.

[2022-06-30 15:32] lancedMicrosoft commented on #3479
From: ravikiran-srini ***@***.***>
Sent: Wednesday, June 29, 2022 11:11 PM
To: MicrosoftDocs/powerapps-docs ***@***.***>
Cc: Lance Delano ***@***.***>; Mention ***@***.***>
Subject: [MicrosoftDocs/powerapps-docs] A connector may provide tables of data or actions. (Issue #3479)

Hi, in the documentation, the second para states:

"A connector may provide tables of data or actions. Some connectors pr

[2022-06-30 16:12] #3479 closed

[2022-07-01 14:59] Dealgan12 commented on #3125
Fixed in latest published version

[2022-07-01 14:59] #3125 closed

[2022-07-01 15:08] #3039 closed

[2022-07-01 15:08] Dealgan12 commented on #3039
Fixed in German on latest files

[2022-07-01 15:17] Dealgan12 commented on #3081
Translations now fixed.

[2022-07-01 23:53] phecke commented on #136
@PawelHaracz ITokenService is internal use only.

[2022-07-01 23:53] #136 closed

[2022-07-01 23:58] phecke commented on #439
@tourvi Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-07-01 23:58] #439 closed

[2022-07-02 00:04] phecke commented on #503
@dustindonahue Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-07-02 00:04] #503 closed

[2022-07-02 00:07] phecke commented on #507
@JimDaly Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-07-02 00:08] phecke commented on #519
@brookeaddams Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-07-02 00:08] #519 closed

[2022-07-02 00:09] phecke commented on #531
@KimBon Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-07-02 00:09] #531 closed

[2022-07-02 00:10] phecke commented on #549
@JimDaly Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-07-02 00:10] #549 closed

[2022-07-02 00:22] JimDaly commented on #507
@phecke
See:
- [SystemForm.CanBeDeleted](https://docs.microsoft.com/en-us/power-apps/developer/data-platform/reference/entities/systemform#BKMK_CanBeDeleted)
- [SavedQuery.CanBeDeleted](https://docs.microsoft.com/en-us/power-apps/developer/data-platform/reference/entities/savedquery#BKMK_CanBeDeleted)

And add them to the list on this page.
Let me know if you have any questions

[2022-07-02 00:45] phecke commented on #610
@robdawsoncranhillinsight Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-07-02 00:45] #610 closed

[2022-07-02 00:48] phecke commented on #618
@ugreg Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-07-02 00:48] #618 closed

[2022-07-02 00:49] phecke commented on #619
@BrianLevenson Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-07-02 00:49] #619 closed

[2022-07-02 00:51] phecke commented on #620
@BrianLevenson Content updated. Thanks.

[2022-07-02 00:51] #620 closed

[2022-07-02 00:51] tdutch1 opened #3481 "Pagination"
Is it possible to implement record pagination with this VE provider approach? The page currently does not mention this topic.

For example, we're working on an implementation where 20 million rows will reside within Azure SQL. We have determined that the maximum number of rows that we'll need to retrieve, and allow users to page through, in Dataverse is 350. Could the authors of this page explain

[2022-07-02 00:52] #624 closed

[2022-07-02 00:53] #632 closed

[2022-07-02 00:54] phecke commented on #637
@SeaDude Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-07-02 00:54] #637 closed

[2022-07-02 00:57] phecke commented on #641
@DTronD Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-07-02 00:57] #641 closed

[2022-07-02 00:58] phecke commented on #648
@orangetoken Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-07-02 00:58] #648 closed

[2022-07-02 00:59] phecke commented on #679
@carolinabbruno Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-07-02 00:59] #679 closed

[2022-07-02 01:00] bishalgoswami commented on #3481
Thanks for your comment, @tdutch1. This issue has been assigned to the doc author for review.

[2022-07-02 01:00] phecke commented on #694
@iflyadesk Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-07-02 01:00] #694 closed

[2022-07-02 01:06] phecke commented on #722
@krouskop Thanks for catching that. Topic updated.

[2022-07-02 01:06] #722 closed

[2022-07-02 01:10] phecke commented on #766
@thuemmeryf Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-07-02 01:10] #766 closed

[2022-07-02 01:13] phecke commented on #784
@Finickyflame Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-07-02 01:13] #784 closed

[2022-07-02 01:14] phecke commented on #802
@VenkattaPidikiti Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-07-02 01:14] #802 closed

[2022-07-02 01:15] phecke commented on #810
@JimDaly Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-07-02 01:15] #810 closed

[2022-07-02 01:16] phecke commented on #817
@TigerJ Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-07-02 01:16] #817 closed

[2022-07-02 02:01] phecke commented on #840
@mathiasbl Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-07-02 02:01] #840 closed

[2022-07-02 02:05] phecke commented on #848
@ZaarourOmar Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue

[2022-07-02 02:05] #848 closed

[2022-07-02 02:09] phecke commented on #866
@ghost Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue

[2022-07-02 02:09] #866 closed

[2022-07-02 02:12] phecke commented on #870
@pablolaurin Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue

[2022-07-02 02:12] #870 closed

[2022-07-02 02:13] phecke commented on #931
@YoYoFreakCJ Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue

[2022-07-02 02:13] #931 closed

[2022-07-02 21:38] RamblingGeekUK opened #3484 "Where do we find the app://<guid>??"
[Enter feedback here]

So the documentation linked in the comments in the example code

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61e6ca03-5e73-39aa-c2f0-2df8aa19cad9
* Version Independent ID: 4e6eb61b-e550-a1cb-6862-2ba4e9e07702
* Content: [Quick Start: Web API sample (C#) (Microsoft Dataverse) - Power Apps

[2022-07-02 22:26] RamblingGeekUK commented on #3484
We found this! :-)

In the app registration, click authentication, click the "+ Add a platform" then click Mobile, and desktop applications.

[2022-07-02 22:28] RamblingGeekUK commented on #3484
Please update the docs to explain this, it's very confusing when you don't know how.

[2022-07-02 23:00] bishalgoswami commented on #3484
Thanks for your comment, @RamblingGeekUK. This issue has been assigned to the doc author for review.

[2022-07-03 09:37] RamblingGeekUK opened #3485 "Connect using the application secret Example is outdated"
[Enter feedback here]

This this code is outdated and no longer works with current versions MSAL

[code]

[2022-07-03 11:00] bishalgoswami commented on #3485
Thanks for your comment, @RamblingGeekUK. This issue has been assigned to the doc author for review.

[2022-07-03 15:53] sing-ideas opened #3486 "Are you saying Metadata and Tables are same?"
Hi,
We are trying to understand this doc page about Meta Data.

Are you saying Metadata and Tables are same?

How to add our Metadata of our business in powerapps?

How to manage meta data of ours?
regards,
sing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b903798-2033-be36-079a-babe7586981e
* Version Independent I

[2022-07-03 16:40] sing-ideas commented on #3486
Hi,
Then why is there a separate meta data browser?

https://docs.microsoft.com/en-us/dynamics365/customerengagement/on-premises/developer/browse-your-metadata?view=op-9-1

How do we create meta data and use it to design forms, process, etc.?

[2022-07-03 17:00] bishalgoswami commented on #3486
Thanks for your comment, @sing-ideas. This issue has been assigned to the doc author for review.

[2022-07-05 05:56] yanyishi opened #3487 "what is GUID in Row ID?"
[When I Test flow, it required GUID of Row ID, what is that and how can I get that ID?]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efd679d9-f54f-257b-5c82-a2faa263d067
* Version Independent ID: 9c3a9adc-44c1-c1d5-13f6-a97914e8ba69
* Content: [Replace notification with adaptive card (contains video) - Power Apps](ht

[2022-07-05 07:00] bishalgoswami commented on #3487
Thanks for your comment, @yanyishi. This issue has been assigned to the doc author for review.

[2022-07-05 07:51] socketopp commented on #2735
@JimDaly Hi Jim, why isn't this header respected when using Microsoft Business Central and related plugins? The response back from the server indicate that they use OData Web API 4.0. Is the header not respected because it's introduced in 5.7? https://docs.microsoft.com/en-us/odata/webapi/continue-on-error

[2022-07-05 13:01] fowl2 opened #3488 "Dataverse Web API - x-ms-client-session-id / Session Tracking Id"
It'd be great if a mention of `x-ms-client-session-id` AKA [SessionTrackingId](https://github.com/microsoft/PowerPlatform-DataverseServiceClient/blob/0eb8c326bc8e28a6449fd0708574a30353a2cd10/src/GeneralTools/DataverseClient/Client/ServiceClient.cs#L527) could be added here.

It'd be incredible if a cross-reference to [Telemetry events for Microsoft Dataverse#Dataverse API incoming calls](https://d

[2022-07-05 17:51] paulliew commented on #3485
@peter, please work with Ritesh Pandey (IDC) who is the AuthN PM to validate and correct this comment

[2022-07-05 17:52] paulliew commented on #3485
+ @Ritesh ***@***.***>/+ @Peter ***@***.***>

@peter<https://github.com/peter>, please work with Ritesh Pandey (IDC) who is the AuthN PM to validate and correct this comment

From: Bishal Goswami ***@***.***>
Sent: Sunday, July 3, 2022 4:00 AM
To: MicrosoftDocs/powerapps-docs ***@***.***>
Cc: Paul Liew ***@***.***>; Assign ***@***.***>
Subject: Re: [MicrosoftDocs/powerapps-docs] Connect using the

[2022-07-05 18:31] StillLearning1 opened #3489 "I was able to add the SharePoint Documents simply as a standard SubGrid on a Tab, am I missing something?"
Using the Make portal, I am able to add a standard SubGrid and select "Documents (Regarding)".

This has been available for at least 6 months...  Is there something I am missing with this method versus editing the Form XML?

[2022-07-06 12:12] Niels-SL opened #3491 "Include view in app - but hide it in the view selector"
Is there any way to include a view in an app but hide the view in the view selector?

**Use case:**
Views that are only accessed from dashboards (from charts and grids) and sub-grids using the 'See all records' and 'View records' functionalities are cluttering the view selector. These views will never be accessed from the view selector, so it would make sense to hide them and declutter the view se

[2022-07-06 12:41] colesn opened #3492 "Viewing row level permissions in Dataverse"
With the updates to Dataverse, the check access option is no longer visible. Could you advise how to access it now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de11005e-a133-9ad8-52c8-5fcfc8cd1dd0
* Version Independent ID: ab774e6b-fbe3-123a-7e08-9721deca8c21
* Content: [Check your user access and permissions - Powe

[2022-07-06 13:00] bishalgoswami commented on #3492
Thanks for your comment, @colesn. This issue has been assigned to the doc author for review.

[2022-07-06 13:39] pieterh opened #3493 "Snapshot folder - growth"
The documentation is describing the snapshots. However, it doesn't describe when and how older files are removed. It looks like that there might be 5 to 8 different files for one partition in the datalake. For more 'heavy' used tables, most of the time the files for one partitition are from today or yesterday. For less frequent written tables, I see that files are available for several different d

[2022-07-06 15:00] bishalgoswami commented on #3493
Thanks for your comment, @pieterh. This issue has been assigned to the doc author for review.

[2022-07-06 22:45] mduelae commented on #3492
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, see here: https://powerapps.microsoft.com/support/

Closing this issue.

[2022-07-06 22:45] #3492 closed

[2022-07-07 22:25] Mattp123 commented on #3464
@rajyraman - No, the Mass Calculate Rollup Field job _will run 12 hours after the change_ whether you make an update to the column today, tomorrow, two months or three months from now. As the article states, when a change occurs the Mass Calculate Rollup Field job runs within 12 hours. If no change occurs, the Mass Calculate Rollup Field job won't run until about 10 years have passed.

Closing iss

[2022-07-07 22:25] #3464 closed

[2022-07-08 10:26] ritesh commented on #3485
Think you have the wrong ritesh :)

[2022-07-08 18:13] tapanm-MSFT commented on #3416
Thank you for reaching out. Documentation has been fixed.

[2022-07-08 18:13] #3416 closed

[2022-07-08 18:13] tapanm-MSFT commented on #3369
Thank you for reaching out. Documentation has been fixed.

[2022-07-08 18:13] #3369 closed

[2022-07-08 18:14] tapanm-MSFT commented on #3224
Thank you for reaching out. Documentation has been fixed.

[2022-07-08 18:14] #3224 closed

[2022-07-08 18:14] #3099 closed

[2022-07-08 18:14] tapanm-MSFT commented on #3122
Thank you for reaching out. Documentation has been fixed.

[2022-07-08 18:14] #3122 closed

[2022-07-08 18:14] tapanm-MSFT commented on #3094
Thank you for reaching out. Documentation has been fixed.

[2022-07-08 18:14] #3094 closed

[2022-07-08 20:55] flyfishMT opened #3496 "pac cli paportal deployment profile example uses same adx_sitesettingid for two records"
The .yaml example of a deployment profile uses the same adx_sitesettingid for two site settings,
adx_sitesettingid: 5ad86900-b5d7-43ac-8359-482529724979 for
Authentication/OpenAuth/Facebook/AppId and Authentication/OpenAuth/Facebook/Secret.

I thought this should be the unique identifier of the record - Is this a copy paste error or am I not understading?

Thank you

[code]

---
#### Document Deta

[2022-07-08 21:00] bishalgoswami commented on #3496
Thanks for your comment, @flyfishMT. This issue has been assigned to the doc author for review.

[2022-07-08 22:59] NHelgren commented on #3481
Hi tdutch, pagination is enabled by default for virtual tables. Each retrieval is limited to 250 records but through paging the next set of applicable records than can be retrieved. If you are using a grid or list view the pagination should function automatically. How are you planning to implement the feature?

[2022-07-08 23:25] phecke commented on #3489
@StillLearning1 We response here to documentation questions and issues. Please provide a link to the documentation article you are asking about.

[2022-07-09 00:33] phecke commented on #3485
@RamblingGeekUK Most of our complete code samples use a connection string with CrmServiceClient for authentication. There are some code snippets in the docs that still show Azure ADAL code for auth. We will eventually update all our sample snippets to use MSAL or the Dataverse SDK ServiceClient class with a connection string. ADAL is still available through the end of the year.

You should be usin

[2022-07-09 00:33] #3485 closed

[2022-07-09 00:36] phecke commented on #3484
@RamblingGeekUK You should read the referred to documentation about Azure AD app registration. The clientId and redirectUri are taken from that registration.

https://docs.microsoft.com/powerapps/developer/data-platform/walkthrough-register-app-azure-active-directory

[2022-07-09 00:36] #3484 closed

[2022-07-09 00:46] phecke commented on #3460
@MarkS2145 Good question. It means:
Using early-bound, there is in general less code to write, and the code is more readable (understandable)

Using late-bound, there is more code to write, and the code is less readable (harder to understand)

Mixing early & late-bound coding in the same app may result in very slightly less app performance.

[2022-07-09 00:59] phecke commented on #3445
@tdutch1 Not sure. For online, Sandbox would be checked. Perhaps the author used an existing image he had and did not notice the discrepancy.

@NHelgren Any comments?

[2022-07-09 01:05] phecke commented on #3415
@jrichview The sample uses a connection string with the CrmServiceClient class for authentication. While ADAL is used behind the scenes by CrmServicveClient, you should not be concerned about that. CrmServiceClient will probably be updated in the future to use MSAL, or everyone will migrate over to the new ServiceClient class which uses MSAL.

[2022-07-09 01:05] #3415 closed

[2022-07-09 01:10] phecke commented on #3378
@darshSWL I do not know. I have not tried such a thing.

Are you still wanting to know or have you figured it out by now?

[2022-07-09 01:19] phecke commented on #3375
@adedaporh You are supposed to use the continuation token to get the next chunk. We have some code that we are working on that demonstrates downloading. Have a look but know that it has not yet been tech reviewed and finalized.

https://github.com/microsoft/PowerApps-Samples/tree/FileAttributeWebApiSample/cds/webapi/%23/UploadDownloadFiles

in the FileAttributeWebApiSample working branch

[2022-07-09 01:19] #3375 closed

[2022-07-09 05:14] darshSWL commented on #3378
@phecke Would be nice to know. At the moment we are just handling the exception.

The problem with this approach is the time it takes. The request takes 0.3s - 0.4s and then just returns the exception. I've hoped that the "is there something to download"-request would be faster. Using annotations instead of the file attribute is a bit faster and takes 0.2s - 0.3s. We have to handle ~800k records a

[2022-07-09 05:36] darshSWL opened #3497 "Organization service assemblies"
The documentation references the nuget package Microsoft.CrmSdk.CoreAssemblies. We use this for plugins and our own external tools.
What about the package Microsoft.PowerPlatform.Dataverse.Client? It doesn't seem to be a replacement for the other package regarding plugins. But could this be used for external tools? This would mean we could get rid of the old .NET Framework 4.6.2 and move on to .NE

[2022-07-09 07:00] bishalgoswami commented on #3497
Thanks for your comment, @darshSWL. This issue has been assigned to the doc author for review.

[2022-07-09 12:04] RamblingGeekUK commented on #3484
@phecke Thanks for the reply.  I did read the doc and the link you provided, however I feel they are misleading/confusing as the example code has app:<guid> the document has
![image](https://user-images.githubusercontent.com/7108949/178104623-5252ac0d-71fd-428c-94df-ce6e23b40671.png)

Which isn't in the same format.  That article should explain that you need to click on app registration > Authenti

[2022-07-10 12:17] mslavoie opened #3498 "Dicrepancies in data model picture eand ensuing text"
There are some discrepancies between the current solution (as of 2022-07-09) data tables and the diagrams in the web page. The rest of the page should be updated accordingly.  For instance the first diagram as a reference to the Inscpection app (this is minor) and the ERD has tables that are not in the current data model.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-07-10 13:00] bishalgoswami commented on #3498
Thanks for your comment, @mslavoie. This issue has been assigned to the doc author for review.

[2022-07-10 18:06] tdutch1 commented on #3445
It appears that Dataverse now accepts the use of classes in assembly System.Data.SqlClient, at least for purposes of creating virtual tables. However, there are two problems with the article that I think the authors should resolve.

First, the selection of "None" for the plug-in isolation mode in the plug-in registration tool screen capture is misleading.

Second, a Power Platform MVP wrote the fo

[2022-07-10 18:25] tdutch1 commented on #3481
@NHelgren Thank you for your reply. I'm glad I have that information now, but my point was that the article does not mention pagination nor that it's necessary to provide a value for the MoreRecords and PagingCookie properties of the EntityCollection that's constructed from the results of the SQL Server query. Maybe it should be obvious that setting those properties would result in the Dataverse g

[2022-07-11 04:38] DannyK91 opened #3499 "Error"
[Enter feedback here]

Hi, I've tried editing the Employee Idea app via the Power App but the following error occurs...

microsoftteams.postmessagetochannelv3 failed: the method 'postmessagetochannelv3' has invalid value for parameter 'groupid'

Could anyone help me out?

![Screenshot 2022-07-11 142045](https://user-images.githubusercontent.com/109048131/178189551-8ac4be3c-b63c-42c7-a88b-91932d8de

[2022-07-11 05:00] bishalgoswami commented on #3499
Thanks for your comment, @DannyK91. This issue has been assigned to the doc author for review.

[2022-07-11 07:50] thusithakumara opened #3500 "most of the microsoft documentation very bad."
most of the Microsoft documentation very bad. because difficult to understand to beginner.
in below code there is a variable name svc but there is not declaration place. they have used only
// Create an ExecuteTransactionRequest object.
var requestToCreateRecords = new ExecuteTransactionRequest()
{
// Create an empty organization request collection.
Requests = new OrganizationRequestCollection(),

[2022-07-11 09:01] bishalgoswami commented on #3500
Thanks for your comment, @thusithakumara. This issue has been assigned to the doc author for review.

[2022-07-11 13:37] nickdoelman commented on #3496
Thank you for your feedback. The two GUIDs are just examples but will be unique. We have updated the example appropriately.

[2022-07-11 13:37] #3496 closed

[2022-07-11 14:48] acieslik opened #3502 "Bug/issue found in the coretools crmsvcutil.exe - 50.000 records fetchxml limit will be hit for SDK messages"
There is an issue in the crmsvcutil.exe for generating classes for SDK messages.
The tool is using a fetch query internally which will hit the 50.000 records limit if you have an instance with lots of product features activated and deployed. Developers need to implement filters to be able to reduce the amount of records.
This is why we cannot generate SDK message classes in our environments.

---

[2022-07-11 15:02] bishalgoswami commented on #3502
Thanks for your comment, @acieslik. This issue has been assigned to the doc author for review.

[2022-07-11 15:57] pieterh opened #3503 "Dataverse Synapse Link - ALM - unable to configure the destination storage account"
In the ALM section it is mentioned you can move configuration between environments (from dev, to test, to acc to prd). What I have seen for our customers, they have created an synapse workspace, storage account etc for each step in the DTAP. Sop each dataverse environment has a corresponding environment within Azure. As a result I should be possible to deploy the configuration in the next environm

[2022-07-11 21:36] phecke commented on #3339
@darshSWL Thanks for pointing that out. I will update the page.

[2022-07-11 21:36] #3339 closed

[2022-07-12 18:41] jsh121988 opened #3504 "This whole section needs to specify when to use LogicalCollectionName and LogicalName"
Throughout this section of docs there are references to 'Table Name'. These references need to be more specific to either LogicalCollectionName or LogicalName. Without this explicit reference, I was running in circles trying to figure out what I was doing wrong.

I found that any reference to permissions or enabling the WebApi in Site settings, LogicalName is used. However, when actually querying

[2022-07-12 21:15] RedsGT commented on #3504
@jsh121988 If you have the DV org already loaded in a browser, https://<org>.crm.dynamics.com/.  You can also use the existing authentication to query WebAPI info: https://<org>.crm.dynamics.com/api/data/v9.0/EntityDefinitions(LogicalName='contact')?$select=LogicalCollectionName,LogicalName

[2022-07-13 00:25] KumarVivek commented on #3460
@MarkS2145 Updated the table to the following:

<html>
<body>

Early-bound | Late-bound
-- | --
You can verify entity, attribute, and relationship names at compile time | No compile time verification of entity, attribute, and relationship names
You must generate entity classes | You don't need to generate entity classes
Better IntelliSense support | Less IntelliSense support
Less code to write; co

[2022-07-13 00:25] #3460 closed

[2022-07-13 00:27] KumarVivek commented on #193
“Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue."

[2022-07-13 00:27] #193 closed

[2022-07-13 00:28] #291 closed

[2022-07-13 00:29] KumarVivek commented on #396
“Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue."

[2022-07-13 00:29] #396 closed

[2022-07-13 04:07] hsvensson1976 commented on #2978
I opened an MS ticket on this and I was informed about a work-around. If you add the onSave event via the form designer (i.e. not by code) and include the line:

executionContext.getEventArgs().disableAsyncTimeout();

(given your execution context input parameter of your save function is called executionContext)

…at the top of your onSave function you may still get a timeout error in the console

[2022-07-13 04:31] scoobaroo commented on #2978
I don't think not showing a pop-up error to the user is good enough for our scenario. We are doing some address verification via 3rd party API, and in instances where it's not verified, we pop up a dialog. Depending on whether or not the user confirms or not, we will either continue with the save or prevent the save. (This is on a quick create form.) With a timeout error, I don't think the code af

[2022-07-13 09:01] melamriD365 commented on #2978
For me, this is a product bug. We must have the possibility to register the handler dynamically. This bug has been there since November 2021. I have done my best to get an answer...Without result.

[2022-07-13 09:08] pieterh opened #3505 "Date only fields"
The FAQ has the topic "What date and time formats can be expected in exported Dataverse tables?" that seems to be missing a specific scenario. There are also fields that contain only date (no time). In that case there is no time and no timezone information available. For example "2018-02-07T00:00:00". This looks a correct notation of a date only field in ISO_8601 format. This standard describes th

[2022-07-13 09:12] hsvensson1976 commented on #2978
Yes, absolutely a bug. Which is what MS also confirmed to me in a response within my support ticket.

Just wanted to mention the work-around, since it was useful in at least my scenario.

[2022-07-13 12:33] vseykov opened #3506 "Review Embed a Power BI report in a model-driven app main form"
[Enter feedback here]
Please remove or review the section with the parameter solutionaction=Added
 Inserting it with this parameter causes the following error: full formXml is expected to update base form : d853ef62-8602-ed11-82e5-000d3a3aab82
Tested on multiple environments and the result is the same.
If imported without this parameter it works, no matter if the table already exists or not ( e.g.

[2022-07-13 13:00] bishalgoswami commented on #3506
Thanks for your comment, @vseykov. This issue has been assigned to the doc author for review.

[2022-07-13 13:00] bishalgoswami commented on #3505
Thanks for your comment, @pieterh. This issue has been assigned to the doc author for review.

[2022-07-13 14:33] scoobaroo commented on #2978
@hsvensson1976 Thank you so much for your comment. What you say is 100% correct. Moving it to the form properties rather than programmatically fixed our issue. @melamriD365  is correct though, we should be able to register the handler dynamically.
Thanks so much for the tips!

[2022-07-13 14:42] #3414 closed

[2022-07-13 18:04] JasonHQX commented on #3503
Hi [pieterh](https://github.com/pieterh), you are right. ALM approach only applies to Dataverse setting and brings no impact on Azure side. I will update the doc accordingly

[2022-07-13 18:07] JasonHQX commented on #3505
Hey [pieterh](https://github.com/pieterh), I am working with the dev to verify:
1.  If we have only date (MM/DD/YY) info, the default format is YYYY-MM-DDT00:00:00
2. Do we do conversion based on Geo, if not, are we using UTC or local time
I will update the doc once I get confirmed from dev.

[2022-07-13 20:09] #3365 closed

[2022-07-13 20:20] Mattp123 commented on #2875
@skovlund - Thank you for your feedback. The article has been updated to remove the mention that the quick create form has to be added to your app (the second bullet in your first image). It will be published live later today.

Closing issue.

[2022-07-13 23:06] Mattp123 commented on #3323
@dewilliams704 - Thank you for your feedback. The form field properties have been added to the referenced article in this issue as follows:

Formatting | Form field height | Some columns, such as the multiline text column, let you control the height of the column by specifying the number of rows the column occupies.

Formatting | Use all available vertical space | Instead of setting the height by

[2022-07-13 23:06] #3323 closed

[2022-07-14 00:13] jsh121988 opened #3507 "$Expand needs more specific documentation for the related table"
This section related to $expand 'Retrieve related table records with a query' need to have a note or something that the destination table uses the Lookup column **SchemaName** on the source table, and the it's **case sensitive**. For some reason, the example provided works even though the proper case is PrimaryContactId. I'm assuming it has something to do with custom tables, but I'm not sure. Thi

[2022-07-14 01:00] bishalgoswami commented on #3507
Thanks for your comment, @jsh121988. This issue has been assigned to the doc author for review.

[2022-07-14 02:53] LinnZawWin opened #3509 "Suggestion to Document the Use of Xrm.WebApi without Xrm.WebApi.online or Xrm.WebApi.offline"
A lot of the developers that I know are getting confused with the use of Xrm.WebApi in an offline scenario and they are having a misconception that
1. Xrm.WebApi.retrieveMultipleRecords only works on online
2. they needed to use Xrm.Utility.getGlobalContext().client.isOffline() to call the online or offline API (e.g. Xrm.WebApi.online.retrieveMultipleRecords() or Xrm.WebApi.offline.retrieveMultipl

[2022-07-14 03:00] bishalgoswami commented on #3509
Thanks for your comment, @LinnZawWin. This issue has been assigned to the doc author for review.

[2022-07-14 05:37] adrianorth commented on #3509
@lancedMicrosoft can you review this request?

[2022-07-14 07:23] jsh121988 commented on #3504
@RedsGT That's cool, but it doesn't address the documentation issue about when to use which name of an entity.

[2022-07-14 14:25] acieslik commented on #3502
I was running an old version. With newer version there is a messagenamesfilter option to filter down the sdk messages.

[2022-07-14 14:25] #3502 closed

[2022-07-14 16:18] jsh121988 commented on #3507
Actually, I found that in the response there are the below values, and people should use @Microsoft.Dynamics.CRM.associatednavigationproperty to expand a related table.

**Example Response:**
[code]

[2022-07-14 19:11] JimDaly commented on #3509
@LinnZawWin
Thanks for your feedback.
According to the doc, `Xrm.WebApi` has two properties: `online` and `offline`.
Each of these properties expose a common set of methods: `createRecord`, `updateRecord`, etc.

The expectation I have from reading the docs is that the developer should detect whether their code is running online or offline and then access the methods via the appropriate property.

[2022-07-14 20:34] #3500 closed

[2022-07-15 01:25] JimDaly commented on #2735
@socketopp
I'm not familiar with Business Central and related plug-ins. Web API doesn't behave differently for different clients.
OData has two current versions: 4.0 and 4.01. Dataverse uses v4.0. The docs you are linking to are about building your own OData service and the OData libraries involve versions like OData Web API V5.7.

The headers should be respected as documented for Dataverse. If no

[2022-07-15 16:21] jsh121988 commented on #3507
Another thing I found is that in this section 'Retrieve related tables by expanding collection-valued navigation properties' it needs to be specified that you $expand the relationship name for 1 to many relationships, and it is case sensitive.

This works:
redacted.powerappsportals.com/_api/okr_okrintakes?$expand=**okr_KRCustomTarget_KRName_okr_OKRIntake**

![image](https://user-images.githubuserc

[2022-07-15 18:53] phecke commented on #507
@JimDaly Doc updated.

[2022-07-15 18:53] #507 closed

[2022-07-15 20:17] nickdoelman commented on #3388
Thank you for the feedback. We have updated the sample code to resolve the issues.

[2022-07-15 20:17] #3388 closed

[2022-07-15 20:18] nickdoelman commented on #3480
Thank you for the feedback. We have updated the sample code to resolve the issues.

[2022-07-15 20:18] #3480 closed

[2022-07-15 20:59] phecke commented on #967
@ugreg You can use a certificate or client secret instead of username/password. Create the client secret when registering the app in Azure AD.

See options available in the connection string: https://review.docs.microsoft.com/power-apps/developer/data-platform/xrm-tooling/use-connection-strings-xrm-tooling-connect?branch=main#connection-string-parameters

[2022-07-15 20:59] #967 closed

[2022-07-15 21:53] phecke commented on #3497
@darshSWL Plug-ins are only supported with a .NET Framework 4.6.2 build target. You can use Microsoft.PowerPlatform.Dataverse.Client instead of Microsoft.CrmSdk.CoreAssemblies. Microsoft.PowerPlatform.Dataverse.Client is newer and includes build targets for .NET Framework 4.6.2 and .NET Core (.NET 6).

[2022-07-15 21:53] #3497 closed

[2022-07-15 21:56] phecke commented on #3481
Add information about paging in context with the MoreRecords and PagingCookie properties to the article.

[2022-07-15 22:02] phecke commented on #3378
@NHelgren Do you know if a File column can be queried for file data before code tries to do a download? Perhaps if app code can check the file size, and if zero, not attempt to do a download.

[2022-07-15 22:14] phecke commented on #3348
@abpanic The page is needed to let the reader know about the deprecation and what to do about it in their code.

Thanks for the feedback.

[2022-07-15 22:14] #3348 closed

[2022-07-15 22:20] phecke commented on #3342
@josephmcmac The specified article does not seem to exist anymore. Thanks for the feedback.

[2022-07-15 22:20] #3342 closed

[2022-07-15 22:24] phecke commented on #3253
@ddobric Requires VS 2019. Not yet supported in VS 2022.

[2022-07-15 22:24] #3253 closed

[2022-07-15 22:31] phecke commented on #3170
@jahmedhitachi A VS 2022 version of the tools has not been released. VS 2019 is required for now.

See https://marketplace.visualstudio.com/items?itemName=microsoft-IsvExpTools.PowerPlatformTools

[2022-07-15 22:31] #3170 closed

[2022-07-16 20:12] tmamb opened #3510 "$microsoftdocuments/deleguatedpowerapps-documents"

[2022-07-17 20:38] kkanakas commented on #956
@DavidLHannah Did you check the latest Power Platform Build tools task. Your comment on this matter is from nearly 2 years ago.

Cc: @mikkelsen2000

[2022-07-18 11:18] nvigne opened #3512 "Manage invalid characters Html encode doesn't work with \v"
The documentation mentioned that some characters are invalid and cannot be saved in Dataverse which are verified through the `XmlConvert.VerifyXmlChars` method. It is suggested to use either one of the two methods: Html encode or strip special characters.

The first method Html encode works well with well-known html characters (<, >, &, \' and \"), however it does not cover all the special charact

[2022-07-18 16:11] JimDaly commented on #3512
@nvigne

I take your feedback to be that you feel the content would be complete if it included information about how to manage encoding and not removing the characters beyond the ones which can be HTML encoded.

Your question is:

My question to you is: Why not just remove them? What do you feel that they should be encoded as?
Are any of these characters printable/visible? If not, why keep them?

[2022-07-18 17:20] tapanm-MSFT commented on #2477
Thank you for reaching out. Documentation is updated to reference settings references and the changes will be visible soon.

[2022-07-18 17:20] #2477 closed

[2022-07-18 20:12] mscottsewell opened #3513 "Needs to be deprecated / re-directed to the new choice views in Synapse."
The new feature is far superior - and should be used instead of this - but if this needs to stay, at least put a note at the top of the page pointing to the new feature (https://docs.microsoft.com/en-us/power-apps/maker/data-platform/azure-synapse-link-choice-labels)
(I know this document refers to pulling the data with Power BI - but it includes Synapse as a pre-requisite - The instructions in th

[2022-07-18 21:00] bishalgoswami commented on #3513
Thanks for your comment, @mscottsewell. This issue has been assigned to the doc author for review.

[2022-07-19 02:10] LinnZawWin commented on #3509
@JimDaly
Your understanding is correct.
- The common methods are available directly using `Xrm.WebApi`, without accessing them directly via the `online` or `offline` properties and the platform manages automatically somehow.

I have been using the `Xrm.WebApi.retrieveMultipleRecords` and `Xrm.WebApi.retrieveRecord` API for several months in production which is used by both online and offline users

[2022-07-19 17:03] JimDaly commented on #3509
@LinnZawWin
Thanks for confirming.
There has been an internal email thread about this including @lancedMicrosoft and members of the dev team.

My understanding is that the `offline` and `online` objects are not irrelevant. It seems like they were put in place to support some capabilities that have yet to be implemented.

I'm leaving this assigned to @lancedMicrosoft who will be updated the docs to

[2022-07-19 17:57] feridunkadir opened #3516 "Incorrect information in the Contact table section and general style comments"
[Enter feedback here]

In the contact table section this bullet point is incorrect:

_A contact can be a parent to every other table except accounts and contacts._

A contact can be a parent to another contact.

Generally, the style for this article could be improved.

Here are some thoughts:

Under Account table:
- Information that is included in an account is **all relevant contact information,*

[2022-07-19 19:00] bishalgoswami commented on #3516
Thanks for your comment, @feridunkadir. This issue has been assigned to the doc author for review.

[2022-07-19 21:29] LinnZawWin commented on #3509
Thanks for the confirmation, @JimDaly. And thanks @lancedMicrosoft for updating the docs.

[2022-07-19 22:34] Mattp123 commented on #3491
@Niels-SL - Believe what you are asking for is a feature change. For product-related feedback, visit [Power Apps community ideas](https://ideas.powerapps.com).
Closing this issue.

[2022-07-19 22:34] #3491 closed

[2022-07-20 05:30] DannyK91 commented on #3499
any update on this issue?

[2022-07-20 12:43] fowl2 opened #3517 "Canvas App and Environment Variables - Updates/Visiblity/Caching/Refresh"
When the value of an environment variable changes, after how long / under what conditions will the new value be reflected in the canvas app?

It seems like even after selecting the values during the solution import the canvas app is still using the old values from the environment where the solution was exported.

Also, is it possible to see from the canvas app designer, which/if any data sources a

[2022-07-21 06:49] PranjaliShetty opened #3519 "create additional portals"
upto 50 starter portals can be created for any languages

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0f78157-6d85-d438-2dd3-deeded19612b
* Version Independent ID: 9c08bf4d-ca4f-0055-dfcb-042b26efa9cb
* Content: [Create a Dataverse starter portal - Power Apps](https://docs.microsoft.com/en-us/power-apps/maker/portal

[2022-07-21 07:00] bishalgoswami commented on #3519
Thanks for your comment, @PranjaliShetty. This issue has been assigned to the doc author for review.

[2022-07-21 13:34] Jucci16 opened #3520 "Grammatical error in first note section"
Hello,

In the first Note section of this document there is a missing word. In it's current state it reads as:

 "This is a very simple example to show how to get connected with a minimum of code. The [Enhanced quickstart](https://docs.microsoft.com/en-us/power-apps/developer/data-platform/webapi/enhanced-quick-start) will build upon this sample to apply better design patterns."

In the first sent

[2022-07-21 15:00] bishalgoswami commented on #3520
Thanks for your comment, @Jucci16. This issue has been assigned to the doc author for review.

[2022-07-22 19:24] StillLearning1 opened #3522 "There seems to be a much easier way to add the SharePoint Documents subgrid to a Main Form"
Hello, I am currently working on adding SharePoint integration for our Power Apps Environments, and I came across this document which provides a way to add a SharePoint Documents subgrid to a Main Form using FetchXML.

I don't understand why this method is provided because there seems to be a much simpler method (which has been available for close to 2 years)...

Using the Make portal, I am able t

[2022-07-22 21:00] bishalgoswami commented on #3522
Thanks for your comment, @StillLearning1. This issue has been assigned to the doc author for review.

[2022-07-23 16:02] HammedAbdulazeez opened #3523 "When it will be release?"
[Enter feedback here]
This is nice function.

When will this be release in the environment as i cant find it yet in the data type of the column

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6f7d49a-1fb0-ffba-779d-9c8b6d055d15
* Version Independent ID: d6f7d49a-1fb0-ffba-779d-9c8b6d055d15
* Content: [Work with Dataver

[2022-07-23 17:00] bishalgoswami commented on #3523
Thanks for your comment, @HammedAbdulazeez. This issue has been assigned to the doc author for review.

[2022-07-25 09:21] JackWatson-1 opened #3524 "Missing information"
[Enter feedback here]
When saying how to create a online record the documentation omits what happens when using a custom lookup column. This is causing confusion as it implies that you need to refence the logical name when using odata.bind when in fact you need to use the scheme name. I recommend changing the section:

To associate new table records to existing table records, set the value of sing

[2022-07-25 11:00] bishalgoswami commented on #3524
Thanks for your comment, @JackWatson-1. This issue has been assigned to the doc author for review.

[2022-07-25 13:50] nickdoelman commented on #3519
Thank you for your feedback. The topic has been updated.

[2022-07-25 13:50] #3519 closed

[2022-07-25 15:55] JimDaly commented on #3524
@JackWatson-1
Thanks for your feedback.

If I'm understanding correctly, it seems that your feedback is specific to use with the offline client API.

You want to change this:

To this:

This example is provided for offline:

[code]

Are you saying that you need to use something like this instead for custom lookups?

[code]

Perhaps you can provide an example of what you mean?
I think that might he

[2022-07-25 16:17] JackWatson-1 commented on #3524
Hi Jim

My feedback was for the online client API

As the examples in the documentation shows

var data =
    {
        "name": "Sample Account",
        ***@***.***": "/contacts(465b158c-541c-e511-80d3-3863bb347ba8)"
    }

With the primarycontactid being the logical name, this example works perfectly but if I was to have a custom lookup that looks up to the for-example the opportunity entity and

[2022-07-25 16:22] JimDaly commented on #3524
@JackWatson-1
Can I ask that you go to GitHub and enter your comments there rather than responding via email?
Your examples using `@odata.bind` seem to have been obfuscated to prevent including email addresses when you respond via email.

[this link](https://github.com/MicrosoftDocs/powerapps-docs/issues/3524) Should take you directly to the issue.

Thanks,

[2022-07-25 16:42] JimDaly commented on #3524
I would propose that we update the document with a note calling out something like this:

Do you think this will help?

[2022-07-25 16:54] JackWatson-1 commented on #3524
I think that change would be good to further clarify things

[2022-07-25 21:03] JimDaly commented on #3524
I've added the note. Closing.

[2022-07-25 21:03] #3524 closed

[2022-07-26 00:06] phecke commented on #956
@DavidLHannah Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-07-26 00:06] #956 closed

[2022-07-26 02:32] wizardball opened #3526 "Powerapps Visual- No Data in PowerBIIntergation.Data"
There are no data available in PowerBIIntergation.Data
Here are my steps:

1. drag a powerapps visual in Power BI

2. put some field in it

3. Navigate to the power app canvas

4.Click "generate gallery"

5. modify the "item"of gallery as "PowerBIIntegration.Data"

![image](https://user-images.githubusercontent.com/92194779/180910207-64261e04-42b2-488c-a1e9-2646f57e31bc.png)
![image](https://user-

[2022-07-26 05:28] YoshikaSuzuki opened #3527 "Please specify How alternate key and duplicate detection work during import"
The Marketing page clearly states How alternate key and duplicate detection work during import.
https://docs.microsoft.com/en-us/dynamics365/marketing/import-data#how-alternate-key-and-duplicate-detection-work-during-import

This is common not only to Marketing but also to Power Apps, so please specify it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2022-07-26 07:00] bishalgoswami commented on #3527
Thanks for your comment, @YoshikaSuzuki. This issue has been assigned to the doc author for review.

[2022-07-26 16:56] jukkan commented on #3522
I believe the remaining issue is that you need to change the view to something that is hidden in the form editor. Here's a blog post that I have been using as the reference for getting this thing to work, since using the method in the Docs page didn't give me the desired end result for some reason: https://mscrmonline.wordpress.com/2021/03/05/how-to-add-sharepoint-document-files-tab-to-a-dynamics-

[2022-07-26 17:07] jukkan commented on #3447
I'm still seeing the Export button in my Dataverse for Teams environment (runnign Teams browser client). However, if in your environment the button is missing, have you tried accessing the Maker portal and doing a solution export from there? You can access it via the Apps view and clicking on "Open in Power Apps".

You'll need to create the solution explicitly since the UX is different from the Ex

[2022-07-27 00:17] tianhliu opened #3528 "File size limit not honored"
This article says the maximum file size on a file column is 10GB, but I'm getting an error message trying to set it to 500MB.
![image](https://user-images.githubusercontent.com/110071076/181133672-ca806df6-659e-4df0-aada-ebec78d10ec6.png)

This limitation is driving us away from using the file column in our module. Since this is urgent for us, could you confirm whether the max limit has changed on

[2022-07-27 01:00] bishalgoswami commented on #3528
Thanks for your comment, @tianhliu. This issue has been assigned to the doc author for review.

[2022-07-27 10:54] LarsVonZipper opened #3529 "Using PowerShell to get data"
Hi
Is it possible to get the 'Portal Logins' and 'Portal Views' data via PowerShell?

Kind regards
Lars

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da0c29dc-c546-96c7-de16-38147edff642
* Version Independent ID: 0a8c1464-9820-9726-e47b-012bc1c5255e
* Content: [Portals capacity consumption reports - Power Apps](https:

[2022-07-27 11:00] bishalgoswami commented on #3529
Thanks for your comment, @LarsVonZipper. This issue has been assigned to the doc author for review.

[2022-07-27 12:24] nickdoelman commented on #2907
Thank you for your feedback. We have updated the topic to provide this information. https://docs.microsoft.com/en-us/power-apps/maker/portals/web-api-overview#using-entitysetname

[2022-07-27 12:24] #2907 closed

[2022-07-27 12:28] nickdoelman commented on #3504
Thank you for your feedback. We have updated the topic to provide this information. https://docs.microsoft.com/en-us/power-apps/maker/portals/web-api-overview#using-entitysetname

[2022-07-27 12:28] #3504 closed

[2022-07-27 13:28] jsh121988 commented on #3504
Thanks for adding this. I think there should be a sentence saying that this is for accessing the API endpoint, but you use logical name for permissions and settings

[2022-07-28 02:39] nicknow opened #3530 "Specify required organization version"
In the PluginRegistrationTool it appears to require the organization version to be at least 9.2.22064.00044. This should be listed in the documentation as the option to upload register a package will not be displayed until the organization is updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e36fcc6-5be1-4f03-12

[2022-07-28 03:00] bishalgoswami commented on #3530
Thanks for your comment, @nicknow. This issue has been assigned to the doc author for review.

[2022-07-28 03:07] JimDaly commented on #3530
@nicknow
Thanks for your feedback.
I have a meeting with the dev team tomorrow. I'll confirm with them and get the docs updated.

[2022-07-28 07:36] cagepeh opened #3531 "Unable to share connection for PowerApp"
I am able to share the App created in PowerApp, but the connection used by the App is not able to share.

Below is the error msg shown.

Any ways to enable sharing of connection?

Thanks.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81b711e6-1d3d-c493-437e-9bbdde8e62aa
* Version Independent ID:

[2022-07-28 09:00] bishalgoswami commented on #3531
Thanks for your comment, @cagepeh. This issue has been assigned to the doc author for review.

[2022-07-28 14:48] NPrice99 opened #3533 "Notification of which item has been deselected"
Hi
There is nothing here which tells you when an Item has been deselected.  ie DeafultSelectedItems has 3 items in it and the user then deselects an item.  OnChange is fired but it does not tell you which item has been deselected.
Regards
Nigel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bde1a13-d236-9d44-8b79-bc89

[2022-07-28 15:00] bishalgoswami commented on #3533
Thanks for your comment, @NPrice99. This issue has been assigned to the doc author for review.

[2022-07-28 19:27] tmamb opened #3534 "Microsoft Advertising | Search Engine Marketing (SEM) & more"
https://ui.ads.microsoft.com/campaigncid=251034407

[2022-07-28 20:26] JimDaly commented on #3530
@nicknow

The version you mention is currently the required Dataverse version.
The Dataverse updates roll out across regions, and the docs acknowledge this with the line:

But the version may still change. The decision was to not document the specific version. This should be sorted out within a few days as the Dataverse updates get deployed.

Sorry that this didn't give you a great first impressio

[2022-07-28 20:26] #3530 closed

[2022-07-29 16:49] Mattp123 commented on #3523
@HammedAbdulazeez - Release information is covered in the release plans for each feature. Formula columns release details are available from the link below. The feature is currently available in preview environments. GA has not been determined.
https://docs.microsoft.com/en-us/power-platform-release-plan/2022wave1/data-platform/enable-power-fx-formula-columns-inside-dataverse-tables

For informati

[2022-07-29 16:49] #3523 closed

[2022-07-29 19:34] guyrt opened #3536 "Nonsense text describing custom processing step types."
This text is nonsense:
"When the plug-in type set for this Custom API will the only logic that occurs when this operation executes."

In first row of table in Select a Custom Processing Step Type section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbd53494-e9ff-33b0-d857-bcd235233aa5
* Version Independent ID: a362d3

[2022-07-29 20:09] phecke commented on #3510
@tmamb No issue description provided, closing issue.

[2022-07-29 20:09] #3510 closed

[2022-07-29 20:11] phecke commented on #3526
@wizardball If you have a question or issue with our documentation, please provide a link to the topic in question.

[2022-07-29 20:13] phecke commented on #3534
@tmamb If you have a question or issue with our documentation, please provide a link to the topic and a brief description of the problem.

[2022-07-29 20:13] #3534 closed

[2022-07-29 21:32] Mattp123 commented on #3528
@tianhliu - Thank you for bringing this to my attention. I've confirmed that the max file size you can set is 131072 KB (131 MB) and correct in the UI when you attempt to exceed the limit. The article has been updated to reflect the correct maximum.

Closing issue.

[2022-07-29 21:32] #3528 closed

[2022-07-29 21:41] JimDaly commented on #3536
@guyrt
Tommy, thanks for your feedback.

Changing this to :

When the plug-in set for this Custom API using [CustomAPI.PluginTypeId](https://docs.microsoft.com/en-us/power-apps/developer/data-platform/reference/entities/customapi.md#BKMK_PluginTypeId) will the only logic that occurs when this operation executes.

Does this help clarify?

[2022-07-29 22:24] CynCity561 opened #3537 "Code check - Believe some of it is incorrect in document"
I believe this line of code on the page is incorrect:

Group #1: {{ group1 | join: ', ' }}
Group #2: {{ group2 | join: ', ' }}
Group #1 + Group #2: {{ group1 | concat: group2 | join: ', ' }}
**Group #1 + Leslie: {{ group1 | concat: 'Leslie' | join: ', ' }}** (incorrect use)

Concat is used to join 2 arrays together. However, it appears this is a line of text 'Leslie' vs an array. The output would

[2022-07-29 22:37] nickdoelman commented on #3504
Noted, updated. Thank you!

[2022-07-29 23:00] bishalgoswami commented on #3537
Thanks for your comment, @CynCity561. This issue has been assigned to the doc author for review.

[2022-07-29 23:06] phecke commented on #3520
@Jucci16 Thanks for the feedback, but I feel the current wording is understandable by most people.

[2022-07-29 23:06] #3520 closed

[2022-07-29 23:39] JimDaly commented on #3512
@nvigne
I'm going to close this as I haven't heard back from you.
I think the point is, these characters are not visible, so there is no known reason for preserving them.
If you have some scenario where this is important, please re-open this.

Thanks

[2022-07-29 23:39] #3512 closed

[2022-07-30 00:25] phecke commented on #3445
@tdutch1 Unless we document that you can use classes from System.Data.SqlClient in a plug-in, it is not supported - even if it works. I can see from the docs for VE, there may be an exception.

There is a new capability on the verge of being released - [Dependent assemblies support for plug-ins](https://docs.microsoft.com/power-platform-release-plan/2022wave2/data-platform/dependent-assemblies-sup

[2022-07-30 00:30] phecke commented on #3445
@NHelgren What is the support for the use of classes from System.Data.SqlClient in VE plug-ins? Is that namespace fully supported or partially?

In the figure just above this [link](https://docs.microsoft.com/power-apps/developer/data-platform/virtual-entities/sample-ve-provider-crud-operations#step-2-creating-data-provider-and-adding-plug-ins-to-the-provider), why is **None** selected during asse

[2022-07-30 00:59] phecke commented on #3378
@darshSWL You can simply check the file size = 0.

For the Dataverse SDK, the InitializeFileBlocksDownloadResponse contains a FileSizeInBytes parameter.

For the Web API, issue the GET message and look at file size:
fileSize = int.Parse(response.Headers.GetValues("x-ms-file-size").First());

Do not then call this to get the file content.
var responseContent = await response.Content.ReadAsByteArray

[2022-07-30 00:59] #3378 closed

[2022-07-30 01:39] phecke commented on #1187
Need to change the authentication code to use MSAL instead of ADAL.

[2022-07-30 16:41] bromero26 opened #3538 "Problem with SQL Query to generate Choices Table"
The SQL to create the choices table does not work for me. The URL is correctly formed.
Error: `Parse error at line: 6, column: 10: Incorrect syntax near 'OPENROWSET'`.
The  command BULK is underlined in red with the following message:
`incorrect token BULK expecting all_distinct_expression, execute_var_string, expression_list, query_expression`

---
#### Document Details

⚠ *Do not edit this secti

[2022-07-30 16:46] bromero26 commented on #3538
Problem solved. OPENROWSET doesn't word with dedicated SQL Pools

[2022-07-30 16:46] #3538 closed

[2022-08-01 17:45] tapanm-MSFT commented on #3531
Thank you for reaching out. Please create a [support ticket](https://docs.microsoft.com/power-platform/admin/get-help-support) to work with support teams for help with this problem investigation and solution.

[2022-08-01 17:45] #3531 closed

[2022-08-01 22:15] tianhliu commented on #3528
Minor correction: 131072 KB = 128 MB

[2022-08-02 01:54] tdutch1 commented on #3445
@phecke Thanks for the warning about using the potentially unsupported System.Data.SqlClient in plug-ins for Dataverse. The "[supported customizations](https://docs.microsoft.com/en-us/power-apps/developer/data-platform/supported-customizations#unsupported-customizations)" page does not indicate that the use of System.Data.SqlClient is supported and it also states that "The use of application prog

[2022-08-02 12:13] LinnZawWin opened #3543 "Missing getEventArgs method of the execution context object for PostSave Event"
The table on this page is missing the getEventArgs method of the execution context object for [PostSave Event](https://docs.microsoft.com/en-us/power-apps/developer/model-driven-apps/clientapi/reference/events/postsave?WT.mc_id=DX-MVP-5003873).
- getEntityReference
- getIsSaveSuccess
- getSaveErrorInfo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-08-02 13:00] bishalgoswami commented on #3543
Thanks for your comment, @LinnZawWin. This issue has been assigned to the doc author for review.

[2022-08-02 20:22] JimDaly commented on #3543
Discussion with dev team

[2022-08-02 20:29] mduelae commented on #3527
Thank you for the feedback. I'm going to verify this with our internal team and will update the topic if needed.

Thanks,
Mints

[2022-08-02 23:36] JimDaly commented on #3536
@guyrt
I'm going to close this. I hope the change makes this clearer.

[2022-08-02 23:36] #3536 closed

[2022-08-02 23:49] JimDaly commented on #3146
@jzbuaa
This topic was updated and now has an accurate and complete list of the properties of the Instance EntityType returned by the Global Discovery service. See [Instance EntitySet](https://docs.microsoft.com/en-us/power-apps/developer/data-platform/discovery-service#instance-entityset)

[2022-08-02 23:49] #3146 closed

[2022-08-02 23:53] JimDaly commented on #2941
Red fixed it

[2022-08-02 23:53] #2941 closed

[2022-08-03 02:45] vlele opened #3545 "Confusing code sample"
The following code appears in both code samples (under problematic patterns)

//The violation
        this.service = factory.CreateOrganizationService(this.context.UserId);

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46aca615-520e-aa4d-22a4-62a7c3c18db8
* Version Independent ID: b812c8cf-a8d4-153d-5e81-c4b83e14d637

[2022-08-03 03:00] bishalgoswami commented on #3545
Thanks for your comment, @vlele. This issue has been assigned to the doc author for review.

[2022-08-03 13:06] viacheslav-protsenko opened #3547 "Virtual Connector Provider OptionSet mapping"
Hello. I have a problem with the mapping of option sets. What type of field should be in the SQL so that the Virtual Connector Provider does not issue errors. I tried several types of int and number, the error is always the same:

Exception type: System.ServiceModel.FaultException`1[Microsoft.Xrm.Sdk.OrganizationServiceFault]
Message: Cannot access child value on Newtonsoft.Json.Linq.JValue.Detail

[2022-08-03 13:21] nickdoelman commented on #3321
Thank you for your feedback. We have updated the documents which hopefully eliminates the confusion (as well as some needed screenshot updates).
To summarize:
- the web resource to view/download file attachments in Azure Blob storage is only meant for a model-driven app. The web resource will not render on basic or advanced forms on portal webpages.
- adding the timeline control and configuring ba

[2022-08-03 13:21] #3321 closed

[2022-08-03 15:00] bishalgoswami commented on #3547
Thanks for your comment, @viacheslav-protsenko. This issue has been assigned to the doc author for review.

[2022-08-03 16:17] JimDaly commented on #3547
@NHelgren Do you have any guidance that could be added to this topic?

From my reading, the entity catalog is generated and should pick up any fields that align to columns in Dataverse. If it is valid, it should be detected and appear in the UI.

But this is a preview feature and some issues are expected. @viacheslav-protsenko, my recommendation would be to contact technical support.

[2022-08-03 19:48] NHelgren commented on #3547
@viacheslav-protsenko at this time option sets (both single select and multi-select) are not able to be supported through a virtual table. This is on our list of known issues and we are investigating a fix for this. I do not have a specific date for a solution at this time.

[2022-08-04 07:04] AnoTarai3 opened #3548 "Request for updated documentation on creating columns using LookUp"
URL : https://docs.microsoft.com/ja-jp/power-apps/maker/data-platform/data-platform-excel-addin#troubleshooting

We have confirmed that if you create a LookUp column with "_value" in the column name, the following error message will appear when editing the data in Excel.

---------------
Entity field(s) cannot be found
Details:
In source new_compe the following bound fields cannot be found or may

[2022-08-04 07:49] larhem opened #3549 "Roles needed for user in pipeline"
I suggest that you have some information about what roles the user you configure in the pipeline variable  needs to execute the tests.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 513096fe-dce9-70cc-4891-13ffdf2447ca
* Version Independent ID: 29cdb9ce-32e4-2cc5-522b-76587872d8ab
* Content: [Automate tests with Azure

[2022-08-04 09:00] bishalgoswami commented on #3549
Thanks for your comment, @larhem. This issue has been assigned to the doc author for review.

[2022-08-04 09:00] bishalgoswami commented on #3548
Thanks for your comment, @AnoTarai3. This issue has been assigned to the doc author for review.

[2022-08-04 11:49] Dealgan12 commented on #3548
Hi @bishalgoswami after review this is not a localization issue. The user is asking that a general comment be added to the page regarding using "_value".

[2022-08-04 14:10] philipverlinden opened #3550 "Menu link is broken - https://docs.microsoft.com/en-us/powerapps-docs/canvas-apps/connections-list"
The link https://docs.microsoft.com/en-us/powerapps-docs/canvas-apps/connections-list below in the menu seems to be broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ee9ae7f-1ef2-5158-40c8-205d019ca50d
* Version Independent ID: fa81251b-6a9a-d444-a212-2c7293d7b7d4
* Content: [Design a custom page for your model-d

[2022-08-04 15:23] steve-parker-by opened #3551 "Typo or extra word"
Looks like the "and" is not needed for this sentence from this page ( or something is missing after the and):

**The Get connected sample app for Microsoft Teams provides a simple way to connect _and_ with people in your organization with similar skills.**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc9f873e-6664-10

[2022-08-04 17:00] bishalgoswami commented on #3551
Thanks for your comment, @steve-parker-by. This issue has been assigned to the doc author for review.

[2022-08-04 17:31] tapanm-MSFT commented on #3551
Thank you for your feedback. Documentation has been fixed, and the changes will be visible soon.

[2022-08-04 17:31] #3551 closed

[2022-08-04 22:04] KumarVivek commented on #3089
@SteveGoodman The correct link to the sample is this: https://github.com/microsoft/PowerApps-Samples/tree/master/cds/orgsvc/C%23/InsertRecordUsingUpsert/InsertRecordUsingUpsert

This is updated in the doc as well.

[2022-08-04 22:04] #3089 closed

[2022-08-05 18:07] phecke commented on #3526
@wizardball Closing this issue due to no response. If you have a question or issue about our documentation, please file a new issue.

[2022-08-05 18:07] #3526 closed

[2022-08-05 19:34] JimDaly commented on #3441
@devlinl

I have made significant changes to this topic to provide more details on the upsert operation [Use Upsert to Create or Update a record](https://docs.microsoft.com/en-us/power-apps/developer/data-platform/use-upsert-insert-update-record?tabs=webapi) as well as changes to other topics, such as [Use an alternate key to reference a record](https://docs.microsoft.com/en-us/power-apps/develope

[2022-08-05 19:34] #3441 closed

[2022-08-06 00:33] phecke commented on #3547
Response to the customer provided, closing.

[2022-08-06 00:33] #3547 closed

[2022-08-06 00:40] phecke commented on #3545
@vlele One example sets a plug-in class field member and the other sets the class property. Yes, they are similar with those subtle changes.

[2022-08-06 00:40] #3545 closed

[2022-08-06 01:06] phecke commented on #3338
@martynlesbirel-ashtoncourt Stage 30 has been around a long time, but Custom API is new. Stage 30 is for internal use only, except it is also used for Custom API.

It looks like the intent is hide the stage when registering a plug-in using the PRT as documented here [Create a Custom API using the plug-in registration tool](https://docs.microsoft.com/power-apps/developer/data-platform/create-custom

[2022-08-06 01:06] #3338 closed

[2022-08-06 01:28] vlele commented on #3545
Sorry to bother you about @phecke  I do have a follow-on question - Is platform caching pointer to instance of the class (that is implementing the IPlugin)? Is that why it is violation to access a field or a property?

[2022-08-06 01:49] phecke commented on #3318
@tomRa1 Are you still having this issue?

[2022-08-06 02:06] phecke commented on #2128
@DanielBruckhaus You can obtain the file size using the SDK API with InitializeFileBlocksDownloadResponse.FileSizeInBytes. For the Web API, send the GET request and look at the response header. However, do not then download the body contents unless you want to.

[2022-08-06 02:06] #2128 closed

[2022-08-06 02:13] phecke commented on #2009
@Martype You may want to look at [Develop IPlugin implementations as stateless](https://docs.microsoft.com/power-apps/developer/data-platform/best-practices/business-logic/develop-iplugin-implementations-stateless).

[2022-08-06 02:13] #2009 closed

[2022-08-06 17:45] JimDaly commented on #3293
@rafek1241

Thanks for opening this issue.

The key to using Web API effectively is to understand how the service is defined via the CSDL $metadata service document. It is the ultimate source of truth for Web API.  I strongly recommend reviewing this topic [Web API types and operations](https://docs.microsoft.com/en-us/power-apps/developer/data-platform/webapi/web-api-types-operations) and all the

[2022-08-06 17:45] #3293 closed

[2022-08-08 04:52] rafek1241 commented on #3293
@JimDaly
Hi Jim, Thanks for a response. I understand the whole lookup concept. The problem is that I want to use polymorphic lookup in operations like `retrieving, filtering, inserting` to the navigation property hidden under shared name and how can I achieve that? It would be great to have a guide in the docs for that.

[2022-08-08 16:42] JimDaly commented on #3293
@rafek1241
Robert -

Thanks for providing more information.  Key challenges I've seen is that people try to guess the names of the single-valued navigation properties, so the links I included above focus on that issue. If you understand that, what specific challenges are you having?

If you are having issues with these areas, please open a _specific_ doc feedback request on these topics:

|operati

[2022-08-08 20:00] hofmanniac opened #3553 "Clarify Table Column Update PUT Operation"
The section on Table Column Updates using the PUT operation could use an example, including that you have to use the Attributes path and ID. It took a while to figure this path out:

PUT [Organization URI]/api/data/v9.0/EntityDefinitions(ENTITY_ID)/Attributes(ATT_ID]

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-08-08 21:00] bishalgoswami commented on #3553
Thanks for your comment, @hofmanniac. This issue has been assigned to the doc author for review.

[2022-08-08 23:57] JimDaly commented on #3553
@hofmanniac
Thanks for your feedback.

Agree that this needs to be made clearer, there is only a single section at the bottom of this page that mentions it [Update a column](https://docs.microsoft.com/en-us/power-apps/developer/data-platform/webapi/create-update-entity-definitions-using-web-api#update-a-column). Very easy to miss and as you say, no example.

I added an example to create a boolean

[2022-08-08 23:57] #3553 closed

[2022-08-09 01:59] aledoy commented on #3523
able to create a preview environment but it doesn't allow database to be created, how can we test this column preview if a database cant be created?

[2022-08-09 02:28] Dlutchy opened #3554 "Add Save and Close instruction"
Under section **Defining relationships in virtual tables** After number 8 add instruction to Save and Close Relationship definition.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5490be6b-9f4c-6425-d232-e89e542e40dd
* Version Independent ID: 5490be6b-9f4c-6425-d232-e89e542e40dd
* Content: [Create

[2022-08-09 03:00] bishalgoswami commented on #3554
Thanks for your comment, @Dlutchy. This issue has been assigned to the doc author for review.

[2022-08-09 03:31] cameron-interactive opened #3555 "UNPIVOT listed as not supported"
I've been studying this document to figure out what functionality is and isn't supported in the TDS endpoint, UNPIVOT is listed as unsupported, but in reality it works. Would be good to get this document updated with the actual supported functionality so we know what we can use in our migration from DES.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2022-08-09 03:37] cameron-interactive opened #3556 "Still recommending using DES"
This document still recommends using DES to export data from the dataverse. This is being decommissioned in November this year, it would be ill advised to use it, and certainly not recommended. This document should be updated to list replacement technologies for exporting to SQL server.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2022-08-09 05:00] bishalgoswami commented on #3555
Thanks for your comment, @cameron-interactive. This issue has been assigned to the doc author for review.

[2022-08-09 05:42] aledoy opened #3557 "database creations not available to preview environment"
able to create a preview environment but it doesn't allow database to be created, how can we test powerfx in column preview if a database cant be created?

[2022-08-09 15:14] anbhar opened #3558 "Incorrect Example"
The example for the "The Entity name area" uses "App name" in the below paragraph as an example.

Please update with a proper, valid example for "Entity name". How will customers reading this page find out what to enter in the "Entity Name" field?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d72044c0-7486-

[2022-08-09 16:09] NHelgren commented on #3554
Thank you @Dlutchy   I have added the save and close step, it should be published soon.

[2022-08-09 16:56] #3554 closed

[2022-08-09 17:00] bishalgoswami commented on #3558
Thanks for your comment, @anbhar. This issue has been assigned to the doc author for review.

[2022-08-09 18:28] phecke commented on #3555
@cameron-interactive Checking with the feature PM about new command support.

[2022-08-10 00:30] badger-barhead opened #3559 "Directions for removing command libraries are inaccurate"
Hi there,

I am attempting to remove a command component library per the instructions in this doc; specifically:

(I note that instructions appear to refer to an older version of the Power Platform maker portal UI — there is no 'Data' tab anymore).

When attempting to edit the table via the maker portal UI (Dataverse > Tables > Model-driven app element > Edit > Edit), the user is notified that the

[2022-08-10 07:50] DREWLFE opened #3560 "Missing oData Snippet"
[Enter feedback here]
The last consideration on the page says "following sample ODATA snippet" but there isn't an oData snippet following that item, just a link to give feedback

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94615c16-c84d-0308-171f-d09f3deaaa3b
* Version Independent ID: 94615c16-c84d-0308-171f-d09f3dea

[2022-08-10 09:25] SusanneWindfeldPedersen opened #3561 "Alternate keys on virtual tables"
Hello,

Would it make sense to create a note in this topic that alternate keys are not supported on virtual tables? We've gotten the request to add this to our documentation on a product (Business Central) integrating with Dataverse. I think it makes sense to add it here instead of in all integration documentation. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-08-10 13:00] bishalgoswami commented on #3561
Thanks for your comment, @SusanneWindfeldPedersen. This issue has been assigned to the doc author for review.

[2022-08-10 13:00] bishalgoswami commented on #3560
Thanks for your comment, @DREWLFE. This issue has been assigned to the doc author for review.

[2022-08-10 13:00] bishalgoswami commented on #3559
Thanks for your comment, @badger-barhead. This issue has been assigned to the doc author for review.

[2022-08-10 13:03] FixRM opened #3562 "Are Ad notes (annotations/attacments) supported?"
Hello! It looks like adx_ad record attachments such as pictures are not downloaded or uploaded with CLI. At the same time it works with annotations to adx_webfile. Is it a product defect or documentation defect?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39fffb76-5378-fe8a-62fc-0c82a6d03d6d
* Version Independent ID

[2022-08-10 15:00] bishalgoswami commented on #3562
Thanks for your comment, @FixRM. This issue has been assigned to the doc author for review.

[2022-08-10 16:17] tapanm-MSFT commented on #3560
Thank you for reaching out. Documentation has been updated, and the changes will be reflected soon.

[2022-08-10 16:17] #3560 closed

[2022-08-11 04:35] youritorchalski opened #3564 "Question/remark regarding table structure changes"
Hi,

I have questions about the following FAQ topics. Can you enrich the answers based on my questions? In my opinion this essential information is missing from the answers.

1. [What happens when I add a column?](https://docs.microsoft.com/en-us/power-apps/maker/data-platform/export-data-lake-faq#what-happens-when-i-add-a-column)
   - What happens to the CDM related model.json file for the update

[2022-08-11 05:00] bishalgoswami commented on #3564
Thanks for your comment, @youritorchalski. This issue has been assigned to the doc author for review.

[2022-08-11 05:02] youritorchalski commented on #3564
Thanks a lot @bishalgoswami.

[2022-08-11 14:41] Tupape123 opened #3565 "Question Regarding visualization: Is there limitations to the examples in how to visualize the barcode results,could it work on a sharepoint?"

[2022-08-12 15:46] jdivis opened #3568 "Documentation for editing CSS out of date"
It seems like this documentation might be out of date, as I don't have a palette on the left hand side of the screen, and see a "themes" drop down instead in the top menu bar while editing the app. It is not apparent where I can go to edit the css of the app though.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8bc121

[2022-08-12 17:00] bishalgoswami commented on #3568
Thanks for your comment, @jdivis. This issue has been assigned to the doc author for review.

[2022-08-12 20:51] nickdoelman commented on #3568
Can you provide a screen shot of what you are seeing?

[2022-08-12 21:43] phecke commented on #3561
@SusanneWindfeldPedersen  Checking with PM to verify.

[2022-08-12 22:58] phecke commented on #3561
@SusanneWindfeldPedersen  A topic update will be published later today.
[Work with alternate keys](https://docs.microsoft.com/power-apps/developer/data-platform/define-alternate-keys-entity#:~:text=Alternate%20keys%20are%20not%20supported%20in%20virtual%20tables)

The change is already in the main branch.

[2022-08-12 22:58] #3561 closed

[2022-08-12 23:44] phecke commented on #3318
@tomRa1 Closing this issue - no response. If you are still having trouble, I would recommend you open a support ticket.

[2022-08-12 23:44] #3318 closed

[2022-08-12 23:45] #3247 closed

[2022-08-13 00:05] phecke commented on #1471
@soutchilin The developer topic has been changed to show how to query for the tables and columns that can be audited.

[Detect which tables are enabled for auditing](https://docs.microsoft.com/power-apps/developer/data-platform/auditing/configure?tabs=webapi#detect-which-tables-are-enabled-for-auditing)

[2022-08-13 00:05] #1471 closed

[2022-08-13 00:07] phecke commented on #1497
@bthompson-365 If this is still a problem, file a new issue. The topic has been updated since you filed this issue.

[2022-08-13 00:07] #1497 closed

[2022-08-13 00:46] phecke commented on #1908
@mores  In the Power Apps portal, you can [View your user information](https://docs.microsoft.com/power-apps/user/view-your-user-profile) to find your security role.

You can also find your role by writing code. If you want information about how to do that, file a new issue.

[2022-08-13 00:46] #1908 closed

[2022-08-13 00:48] phecke commented on #1912
@Naitik-Xpertladr  Since you filed this issue, the topic has been updated to use MSAL instead of ADAL for authentication. Take a look.

[2022-08-13 00:48] #1912 closed

[2022-08-13 00:51] phecke commented on #1922
@ugreg  Yes, they are the same. Deprecated.

[2022-08-13 00:51] #1922 closed

[2022-08-13 00:52] phecke commented on #1926
@vaclavrozsypal  Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-08-13 00:52] #1926 closed

[2022-08-13 00:55] #1957 closed

[2022-08-13 00:57] phecke commented on #1984
@lokijota Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-08-13 00:57] #1984 closed

[2022-08-13 00:59] phecke commented on #1993
@Zerglrisk Closing this issue as it has been answered. If you are still having trouble finding an answer in our documentation, file a new issue.

[2022-08-13 00:59] #1993 closed

[2022-08-13 01:34] phecke commented on #3565
@Tupape123  Please provide a link to the product documentation that you are referring to.

[2022-08-13 01:36] phecke commented on #3557
@aledoy  Please provide a link to the related documentation so that we can assign the appropriate writer to answer.

[2022-08-13 18:25] tmamb opened #3569 "#Linkedin posts F Mame B Tamba"
https://www.linkedin.com/posts/f-mame-b-tamba-6a5895246_title-activity-6964280517047263233-DOmx

[2022-08-14 05:42] tmamb opened #3570 "Azure Database pour MySQL - Série Débutants | Microsoft Docs/Se familiariser au concept clé débutant 1ere création"
"Azure Database pour MySQL - Série Débutants | Microsoft Docs" https://docs.microsoft.com/fr-fr/shows/azure-database-for-mysql-beginners-series/

[2022-08-14 08:25] tmamb opened #3571 "Public Money, Public Code"
https://publiccode.eu/

[2022-08-15 01:49] aledoy commented on #3557
@phecke , sorry about that, this [one](https://docs.microsoft.com/en-us/power-apps/maker/data-platform/formula-columns)

[2022-08-15 17:07] robdawsoncranhillinsight opened #3572 "custom connectors CAN now be added to solutions"
[Enter feedback here]
Please confirm that my testing is correct. Custom Connectors can now be added to Dataverse solutions. IF so, please update this limitation article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba673f56-d0c1-6795-c028-5e121fe3cfeb
* Version Independent ID: bb0c60db-d75b-c470-81f9-3414e9b863d5
* C

[2022-08-15 19:00] bishalgoswami commented on #3572
Thanks for your comment, @robdawsoncranhillinsight. This issue has been assigned to the doc author for review.

[2022-08-15 19:06] phecke commented on #3555
@cameron-interactive Still waiting on PM. He is looking into it.

[2022-08-15 19:25] darshSWL opened #3573 "Associate multiple records with one request?"
Is it possible to associate multiple records with one request for a many-to-many relationship?

Similar to the RelatedEntities of the AssociateRequest:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.xrm.sdk.messages.associaterequest.relatedentities?view=dataverse-sdk-latest#microsoft-xrm-sdk-messages-associaterequest-relatedentities

I'm not thinking about the batch operations:
https://docs

[2022-08-15 21:00] bishalgoswami commented on #3573
Thanks for your comment, @darshSWL. This issue has been assigned to the doc author for review.

[2022-08-15 21:24] JimDaly commented on #3573
Interesting question.
It doesn't seem to be possible.

OData spec says [11.4.6.1 Add a Reference to a Collection-Valued Navigation Property](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_Create_a_New)

But I tried this anyway:

**Request**
[code]

**Response**

[code]
Many-to-Many or One-to-Many operations shoul

[2022-08-15 21:24] #3573 closed

[2022-08-16 04:36] dora-taco opened #3574 "The Power Fxs written over this document have typos .."
https://docs.microsoft.com/en-us/power-apps/teams/localizing-sample-apps

The Power Fxs written over here have typos, please fix the document accordingly.

### Issue no.1

https://docs.microsoft.com/en-us/power-apps/teams/localizing-sample-apps#adding-a-new-language-to-your-app

- “ru-RU” should be "ru-RU".
- and might be here to remove. because there is no mention of 'staticLocalizationsNewMessag

[2022-08-16 05:00] bishalgoswami commented on #3574
Thanks for your comment, @dora-taco. This issue has been assigned to the doc author for review.

[2022-08-16 13:49] Tupape123 commented on #3565
Hello @phecke yes its [https://github.com/MicrosoftDocs/powerapps-docs/blob/main/powerapps-docs/maker/canvas-apps/controls/control-new-barcode-scanner.md](url) in the visual alternatives section

[2022-08-16 16:14] #3298 closed

[2022-08-16 16:15] craig-lund commented on #3298
Resubmitting after testing lates tool version and to code repo, not doc repo.

[2022-08-16 17:10] logandersen opened #3577 "DisableFormCommandbar Code example is missing "Form" in the flag"
DisableFormCommandbar Code example is missing "Form" in the flag

current example shows &flags=DisableCommandbar=true

I had to use &flags=DisableFormCommandbar=true

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 262039c0-f604-e17c-04e0-22d2de423637
* Version Independent ID: 371d5907-0b52-33e1-dabb-b8210fea68fa
* Conte

[2022-08-16 20:16] JimDaly commented on #3577
@logandersen
Thank you for your feedback.

It seems reasonable that the example should follow the naming convention.
I've applied this change depending on the assertion of @logandersen

@HemantGaur or @caburk
Please advise if you feel this is not correct.

[2022-08-16 20:16] #3577 closed

[2022-08-17 00:42] tapanm-MSFT commented on #3574
Thank you for reaching out and your feedback. Documentation has been fixed. The changes will be reflected soon.

[2022-08-17 00:42] #3574 closed

[2022-08-17 01:26] indikaa opened #3578 "Schema changes"
Hi There,
Could you please help me to understand how this temple can handle the schema/metadata changes?
i.e: adding or removing a field from an entity ?

[2022-08-17 01:33] indikaa commented on #3578
Hi this is related to this article: https://docs.microsoft.com/en-us/power-apps/maker/data-platform/azure-synapse-link-copy-sql

[2022-08-17 02:30] iChrisJ opened #3579 "Power BI Dashboard and Report with RLS in Portal"
Is Power BI Dashboard and Report with Row Level Security (RLS) fully supported in Portal? If yes, may I know whether we have any samples to show how it is supported in Portal? If not, what does it mean of the highlight?
![image](https://user-images.githubusercontent.com/6956871/185021118-86772f0b-dcc9-4faf-b53a-2515b02de3a3.png)

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2022-08-17 03:00] bishalgoswami commented on #3579
Thanks for your comment, @iChrisJ. This issue has been assigned to the doc author for review.

[2022-08-17 06:23] THamamatsu opened #3580 "Unable to upload this solution file."
[Enter feedback here]
Hi,

Can you help check if this solution file "NorthwindTraders_1_0_0_6.zip" is compatible with Power Apps Version 0.7 came with Teams?

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5475653-e112-f407-b0de-ecad06bac5bf
* Version Independent ID: 9f109131-06e3-5f88-1205-233d2b6c4bf0
* Cont

[2022-08-17 06:31] THamamatsu commented on #3580
After download the solution file again, it worked.

[2022-08-17 06:31] #3580 closed

[2022-08-17 10:29] AVAagerosa opened #3581 "Use PowerApps Portal Web API authentication settings"
Hello,

I'm reaching you as I would like more information regarding how to authenticate on the PowerApps Portal Web API, the official documentation only mention that the presence of CSRF token is required (https://docs.microsoft.com/en-us/power-apps/maker/portals/web-api-overview#authenticating-portals-web-api-requests) but this is not true.

It seems the web api requires some cookies to be presen

[2022-08-18 06:36] AVAagerosa commented on #3579
Hey @iChrisJ you can achieve this, is you user within your AD with a Power BI license or not ?
If not, you could generate a Power BI embed token through an Azure function and passing a custom parameter, this custom parameter would then be passed to RLS. Then you can apply your RLS rules based on your custom parameters.

[2022-08-19 03:41] usenameW opened #3582 "when Git is used to manage projects, some items of combobox cannot be synchronized into the warehouse after being changed. Could you please solve this problem? Thank you"
Hello, when Git is used to manage projects, some items of combobox cannot be synchronized into the warehouse after being changed. Could you please solve this problem? Thank you

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 3bde1a13-d236-9d44-8b79-bc8916c8b537
* Version Independent ID: 7e41ba3e-befb-f016-ad5d-0a7ce4971333
* Content: [Power Apps 中的 Combo box 控件 - Pow

[2022-08-19 05:00] bishalgoswami commented on #3582
Thanks for your comment, @usenameW. This issue has been assigned to the doc author for review.

[2022-08-19 05:58] tapanm-MSFT commented on #3582
Thank you for reaching out. Please submit a [support request](https://docs.microsoft.com/power-platform/admin/get-help-support) for help with the problem investigation with the support team.

[2022-08-19 05:58] #3582 closed

[2022-08-19 18:35] bri-ne opened #3584 "More Info needed about permisson settings for data sources"
**There needs to be more information included about permisson settings for data sources.** What level of access does a user need to be able to see the data in the app, to be able to push through edits, etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9d3b377-2f9f-67b0-4d7a-87776c96e2ea
* Version Independent ID: 9ba

[2022-08-19 19:00] bishalgoswami commented on #3584
Thanks for your comment, @bri-ne. This issue has been assigned to the doc author for review.

[2022-08-19 20:58] phecke commented on #3571
@tmamb Not actionable on our end. Closing.

[2022-08-19 20:58] #3571 closed

[2022-08-19 20:59] phecke commented on #3570
@tmamb Sorry, but please state your documentation issue in English, state your question or issue, and provide a link to the article in question. Thanks

[2022-08-19 20:59] #3570 closed

[2022-08-19 21:00] phecke commented on #3569
@tmamb Please state your documentation question or issue and provide a link to the article in question.

[2022-08-19 21:00] #3569 closed

[2022-08-22 11:28] Dealgan12 commented on #3038
Fixing in latest published files.

[2022-08-22 11:28] #3038 closed

[2022-08-22 13:47] PowerDashDash opened #3587 "Not able to access an existing code component"
Hi,

I used a code component in my app, which worked just fine until a couple of days ago.
Now I face issues:
-  I cannot find this component under the "code" section in my canvas apps anymore
-  I cannot access existing apps that already had this code component implemented

**Link to the used code component:**
https://github.com/OOlashyn/PCF-RangeSliderControl/releases
See also my post about the

[2022-08-22 18:34] tapanm-MSFT commented on #3549
Thank you for your feedback. Ensure this user has the ability to run the app and connect to any data sources the app might connect to. Documentation is updated and the changes will be reflected soon.

[2022-08-22 18:34] #3549 closed

[2022-08-22 21:00] sahu0365 commented on #281
Navigate([@screenname],cover)

[2022-08-23 14:06] youritorchalski commented on #3564
Hi @sabinn-msft,

Can you already share an update on these questions?

Thanks.

Kind regards,

Youri

[2022-08-23 14:54] femo1de opened #3588 "Could use Dataverse Connector instead of Dataverse OData API?"
This article describes how to connect to the Dataverse OData API. I think this can be accomplished more easily by using the Dataverse Connector for Dataflow. This would simplify the process because users wouldnt have to get the odata endpoint first

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f2f8a4d-5b76-0fed-c0cb-

[2022-08-23 15:00] bishalgoswami commented on #3588
Thanks for your comment, @femo1de. This issue has been assigned to the doc author for review.

[2022-08-23 15:23] TechsUK opened #3589 "add other colour coding/formatting for formula bar (Eg. italics)"
[Enter feedback here]
Thanks for the info on the colour coding in the formula bar.
what do italics mean?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89cc191d-b193-c888-8d4f-04c7d01ca3d5
* Version Independent ID: 45635f6f-78a1-581b-f895-bb83b86e18f2
* Content: [Get started with formulas in canvas apps - Power Apps](h

[2022-08-23 17:00] bishalgoswami commented on #3589
Thanks for your comment, @TechsUK. This issue has been assigned to the doc author for review.

[2022-08-24 01:20] Brice235i opened #3590 "Instructions out-of-date"
[Enter feedback here]

Hi, would be great if this page would be updated, as the instructions don't work for V2.  More details here - https://powerusers.microsoft.com/t5/Building-Power-Apps/Microsoft-Translator-V2/td-p/308147
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2526861-bd4c-39e7-b3c4-01edc6cd2fe4
* Version In

[2022-08-24 01:36] daniel-alifano opened #3591 "Delete duplicate default command library"
In the docs it suggests:
Data > Tables, select the Model-driven app element table, select the Data tab, select the record, and then select Delete record on the command bar. Wait a few minutes for the deletion to propagate.

However the table is now read-only

The resulting issue is that there are two default component libraries in model driven apps not allowing me to add additional buttons to the

[2022-08-24 03:00] bishalgoswami commented on #3590
Thanks for your comment, @Brice235i. This issue has been assigned to the doc author for review.

[2022-08-24 04:55] dubeyneeraj22 opened #3592 "Spelling Mistake"
The datetimeOffset is typed as "dataTimeoffset"

![image](https://user-images.githubusercontent.com/53667390/186332074-0e72a4f8-f495-4a75-b663-e05b18cf5d1e.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd9eb58e-fa75-d6ad-e1d6-a3c4242b1157
* Version Independent ID: c103e157-e34a-b636-8132-52c760f67e75
* Content: [

[2022-08-24 05:00] bishalgoswami commented on #3592
Thanks for your comment, @dubeyneeraj22. This issue has been assigned to the doc author for review.

[2022-08-24 10:43] tmamb opened #3593 "LoginMicrosoft365"
"AADSTS900561"
 https://login.microsoftonline.com/common/login#:~:text=pour%20vous%20connecter.-,AADSTS900561,-%3A%20The%20endpoint%20only

[2022-08-24 17:06] tmamb opened #3594 "#Microsoft Power Platform Registration Conference Août-septembre 2022"
https://powerplatformconf.com/#!/register

[2022-08-24 22:14] CynCity561 opened #3596 "Custom Certificate tab breaks portal that had code pushed from earlier portal versions"
[Hello, letting you know we came across an issue with using custom certificates. The page indicates to use the "Custom Certificate" tab, but anytime a certificate was uploaded here the portal would break. Instead we used a self-signed certificate and uploaded to "SSL Certificate" tab and it worked for enabling OAuth 2.0 to make client-side calls to our customer APIs.

The portal that would break w

[2022-08-24 22:21] CynCity561 opened #3597 "Page needs to be updated with correct information"
[Hi there,
The public keys for power apps portals are no longer available for newly created portals. The deprecation of them happened in June and here is that article link - https://powerpages.microsoft.com/en-gb/blog/upcoming-deprecations-in-power-apps-portals/.

Old portals that rely on public keys to make client-side APIs call will cease to work sometime soon (not sure what their timeline is fo

[2022-08-24 23:00] bishalgoswami commented on #3597
Thanks for your comment, @CynCity561. This issue has been assigned to the doc author for review.

[2022-08-24 23:00] bishalgoswami commented on #3596
Thanks for your comment, @CynCity561. This issue has been assigned to the doc author for review.

[2022-08-24 23:01] JasonHQX commented on #3564
1.That is right: entity related model.json file is updated after each table structure change.
2. The partitioned table is a snapshot of the near real time data so partitioned table does not read from Dataverse directly: https://docs.microsoft.com/en-us/power-apps/maker/data-platform/azure-synapse-link-synapse#access-near-real-time-data-and-read-only-snapshot-data-preview
3. More information about

[2022-08-25 01:58] youritorchalski commented on #3564
Hi @JasonHQX,

Thanks for the reply. This doesn't answer my questions though. I read extensively about the functionality multiple times and I would not ask these questions if the documentation would supply the answers to them.

Will you provide more detailed answers to questions 1 and 2 based on what I am actually asking or leave it like this? I had hoped you could contact MS Azure Synapse Link de

[2022-08-25 10:52] Hisol-mlund opened #3598 "Incorrect plugin link in "Rich text editor properties" section"
"Rich text editor properties" section

References extensibility through plugins, presumable meaning CKEditor plugins, but link points to Dataverse plugins article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33ecdffd-f6c2-4fc2-2d74-94d16c18108c
* Version Independent ID: cb939451-df9d-23b2-5e98-e2519c3b90db
* Content

[2022-08-25 11:00] bishalgoswami commented on #3598
Thanks for your comment, @Hisol-mlund. This issue has been assigned to the doc author for review.

[2022-08-25 15:21] tmamb opened #3599 "#NouveauContratdeServiceMicrosoft effet 15Août 2022"
https://www.microsoft.com/fr-fr/servicesagreement/faq.aspx

[2022-08-25 15:24] tmamb opened #3600 "#Contrat de Services Microsoft"
https://www.microsoft.com/fr-fr/servicesagreement/#serviceslist

[2022-08-25 15:43] tmamb opened #3601 "Hub for SharePoint"
Hub for SharePoint https://apps.microsoft.com/store/detail/hub-for-sharepoint/9NBLGGH5QKC8

[2022-08-25 15:53] tmamb opened #3602 "#Microsoft Dynamics 365"
Microsoft Dynamics 365 https://apps.microsoft.com/store/detail/microsoft-dynamics-365/9NBLGGH4RFQP

[2022-08-25 15:57] tmamb opened #3603 "#Dynamics NAV"
Dynamics NAV https://apps.microsoft.com/store/detail/dynamics-nav/9WZDNCRFJBDS

[2022-08-25 15:59] tmamb opened #3604 "#Microsoft Dynamics Business Analyzer"
Microsoft Dynamics Business Analyzer https://apps.microsoft.com/store/detail/microsoft-dynamics-business-analyzer/9WZDNCRFJBPG

[2022-08-25 16:12] tmamb opened #3605 "#Avepoint Pipeline for Microsoft® Dynamics CRM"
Avepoint Pipeline for Microsoft® Dynamics CRM https://apps.microsoft.com/store/detail/avepoint-pipeline-for-microsoft%C2%AE-dynamics-crm/9WZDNCRDGF1K

[2022-08-25 16:19] tmamb opened #3606 "#BI Office(bureau affaire intelligent)with analytics sophisticated depth"
BI Office https://apps.microsoft.com/store/detail/bi-office/9WZDNCRDQW99

[2022-08-25 16:24] tmamb opened #3607 "#Applications Microsoft – Professionnel(Marketing place)"
https://apps.microsoft.com/store/category/Business

[2022-08-25 20:07] nickdoelman commented on #3507
Thank you for your feedback. We have updated the documentation to include information on determining the [lookup associated navigation property](https://docs.microsoft.com/en-us/power-apps/maker/portals/read-operations#lookup-associated-navigation-property) to better explain what is required for the $expand property.

[2022-08-25 20:07] #3507 closed

[2022-08-26 05:55] patwardhanrohitr opened #3608 "Hello,"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d93af67a-9f3c-97fd-2899-2045c9f7e349
* Version Independent ID: 1cb12077-eec7-45cd-fe7e-fb10fa5c1936
* Content: [Analyze telemetry of a canvas app using Application Insights - Power Apps](https://docs.microsoft.com/en-us/power-apps/maker/canvas-apps/ap

[2022-08-26 05:57] patwardhanrohitr opened #3609 "Hello, It works only with classic Azure App insights. I tried with workspace based App insights but it never never shows any data. Any configuration/permissions required on Log Analytics workspace?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d93af67a-9f3c-97fd-2899-2045c9f7e349
* Version Independent ID: 1cb12077-eec7-45cd-fe7e-fb10fa5c1936
* Content: [Analyze telemetry of a canvas app using Application Insights - Power Apps](https://docs.microsoft.com/en-us/power-apps/maker/canvas-apps/ap

[2022-08-26 06:12] #3608 closed

[2022-08-26 07:00] bishalgoswami commented on #3609
Thanks for your comment, @patwardhanrohitr. This issue has been assigned to the doc author for review.

[2022-08-26 15:12] Mattp123 commented on #3598
@Hisol-mlund - Thank you for your feedback. You're correct and the article has been updated to send readers to the CKEditor list of available plugins (add-ons).

Closing issue.

[2022-08-26 15:12] #3598 closed

[2022-08-26 15:15] Mattp123 commented on #3592
@dubeyneeraj22 - Thank you for your feedback. The article has been updated to reflect the correct data type syntax.

Closing issue.

[2022-08-26 15:15] #3592 closed

[2022-08-26 15:49] Mattp123 commented on #3594
@tmamb - Please indicate which article this issue is in reference to by pasting a link in a comment for this issue.

[2022-08-26 20:05] BossBabyIrish opened #3611 "The instructions are wrong here"
Using these instructions exactly and they simply result in a pipeline failure every time. The instructions for the trigger say to put /model.json but doing so returns nothing. When you put model.json it finds the files in the trickle feed service that end in that but can't find the model.json file because it doesn't exist there, it exists one folder up and there doesn't appear any way to get to th

[2022-08-26 20:08] tapanm-MSFT commented on #3609
Thank you for the feedback. Please create a [support request](https://docs.microsoft.com/power-platform/admin/get-help-support) with support teams to help out with the problem investigation and resolution.

[2022-08-26 20:08] #3609 closed

[2022-08-26 21:00] bishalgoswami commented on #3611
Thanks for your comment, @BossBabyIrish. This issue has been assigned to the doc author for review.

[2022-08-27 00:42] phecke commented on #3607
@tmamb Closing. Open a new issue and describe the question or problem you are having with our product documentation, and include a link to the doc page.

[2022-08-27 00:42] phecke commented on #3606
@tmamb Closing. Open a new issue and describe the question or problem you are having with our product documentation, and include a link to the doc page.

[2022-08-27 00:42] #3606 closed

[2022-08-27 00:43] phecke commented on #3605
@tmamb Closing. Open a new issue and describe the question or problem you are having with our product documentation, and include a link to the doc page.

[2022-08-27 00:43] #3605 closed

[2022-08-27 00:43] phecke commented on #3604
@tmamb Closing. Open a new issue and describe the question or problem you are having with our product documentation, and include a link to the doc page.

[2022-08-27 00:43] #3604 closed

[2022-08-27 00:44] phecke commented on #3602
@tmamb Closing. Open a new issue and describe the question or problem you are having with our product documentation, and include a link to the doc page.

[2022-08-27 00:44] #3602 closed

[2022-08-27 00:44] phecke commented on #3601
@tmamb Closing. Open a new issue and describe the question or problem you are having with our product documentation, and include a link to the doc page.

[2022-08-27 00:44] #3601 closed

[2022-08-27 00:45] phecke commented on #3600
@tmamb Closing. Open a new issue and describe the question or problem you are having with our product documentation, and include a link to the doc page.

[2022-08-27 00:45] #3600 closed

[2022-08-27 00:45] phecke commented on #3599
@tmamb Closing. Open a new issue and describe the question or problem you are having with our product documentation, and include a link to the doc page.

[2022-08-27 00:45] #3599 closed

[2022-08-27 00:45] phecke commented on #3594
@tmamb Closing. Open a new issue and describe the question or problem you are having with our product documentation, and include a link to the doc page.

[2022-08-27 00:46] phecke commented on #3593
@tmamb Closing. Open a new issue and describe the question or problem you are having with our product documentation, and include a link to the doc page.

[2022-08-27 00:46] #3593 closed

[2022-08-27 00:47] phecke commented on #3591
@daniel-alifano Please provide a link to the documentation page that you are talking about. Thanks

[2022-08-27 00:49] phecke commented on #3587
@PowerDashDash If you have a question or issue with our documentation, please provide a link to the doc page.

[2022-08-28 11:04] daniel-alifano commented on #3591
https://github.com/MicrosoftDocs/powerapps-docs/blob/main/powerapps-docs/maker/model-driven-apps/command-designer-limitations.md
7th point down

However i fixed the issue using this guide:
https://taerimhan.com/quick-fix-cant-delete-command-library-component/

no idea how a second default command library got created

[2022-08-28 16:14] iChrisJ commented on #3579
Portal doesn't support Power BI with Row Level Security as the behaviors in Power BI client, but Role-Based security.

[2022-08-28 16:14] #3579 closed

[2022-08-28 21:44] LinnZawWin opened #3612 "Many-to-Many (N:N) relationships for an activity"
Would it be possible to add a note in this article or this one [this one](https://docs.microsoft.com/en-us/power-apps/maker/data-platform/create-edit-nn-relationships) that Many-to-Many (N:N) relationship cannot be created for an activity?

I cannot seem to find that limitation in any of the articles under docs.microsoft.com.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-08-28 23:00] bishalgoswami commented on #3612
Thanks for your comment, @LinnZawWin. This issue has been assigned to the doc author for review.

[2022-08-29 05:59] rajyraman opened #3613 "Manually create a Dataverse application user shows obsolete information"
The screenshot shows the legacy form when it should be showing this screen from Power Platform Admin Portal -> Environment -> S2S Apps -> New app user

![image](https://user-images.githubusercontent.com/5035266/187132832-04772574-3c88-49ad-a132-929abc26f7be.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7f57df6-5

[2022-08-29 07:00] bishalgoswami commented on #3613
Thanks for your comment, @rajyraman. This issue has been assigned to the doc author for review.

[2022-08-29 12:29] ChrisAt2at opened #3614 "As of 14 August Pre Create Step is not working anymore"
We have a process in place where we create a mail from a template containing a placeholder (e.g. [link]).
Next to that we have a Pre Create operation on the email entity that will replace that placeholder text with actual values (e.g. <a href="link">Text</a>).
It has always worked, but somewhere between 10:06 CET and 22:06 CET on the 14th of august it does not work anymore.

We've enabled the audi

[2022-08-29 20:25] mikecaterino opened #3615 "Anonymous access to Basic/Advanced forms and Lists is outdated"
The section Anonymous access to Basic/Advanced forms and Lists references how to **not** enforce table permissions has been deprecated since July of 2021. Can we get this section updated or move the note on how to correctly do this above the section.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-08-29 20:55] skfd opened #3616 "Link to example file is broken (missing branch)"
Link to example file [SimpleActivities.cs](https://github.com/microsoft/PowerApps-Samples/blob/master/cds/orgsvc/C%23/WorkflowActivities/WorkflowActivities/SimpleActivities.cs) is broken (missing git branch)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1653ada3-4097-2ed2-cc2f-00fc3e6a88ef
* Version Independent ID: df

[2022-08-29 21:00] bishalgoswami commented on #3616
Thanks for your comment, @skfd. This issue has been assigned to the doc author for review.

[2022-08-29 21:00] bishalgoswami commented on #3615
Thanks for your comment, @mikecaterino. This issue has been assigned to the doc author for review.

[2022-08-30 00:42] VerificationUser opened #3617 "記載に誤りがある"
このプロパティは存在しないので、記述を削除するべきです。

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 3bde1a13-d236-9d44-8b79-bc8916c8b537
* Version Independent ID: 7e41ba3e-befb-f016-ad5d-0a7ce4971333
* Content: [Power Apps での Combo box コントロール - Power Apps](https://docs.microsoft.com/ja-jp/power-apps/maker/canvas-apps/controls/control-combo-box)
* Content Source: [powerapps-

[2022-08-30 01:00] bishalgoswami commented on #3617
Thanks for your comment, @VerificationUser. This issue has been assigned to the doc author for review.

[2022-08-30 15:47] Mattp123 commented on #2059
@josbur - Multiplexing is a type of usage that has licensing implications beyond the scope of the restricted tables article. Information about multiplexing with Microsoft Dataverse can be found here: [Multiplexing - Overview](https://download.microsoft.com/download/3/D/4/3D42BDC2-6725-4B29-B75A-A5B04179958B/Licensing_Brief_PLT_Multiplexing.pdf)

Closing issue.

[2022-08-30 15:47] #2059 closed

[2022-08-30 16:22] EricBos opened #3618 "Not working for existing records"
Why does this not work on existing records, just like in any other database?

Who comes up with these solutions?

(sorry, extremely frustrated with dataverse)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a3df80b-f571-21e7-b622-33ebc6926c7d
* Version Independent ID: bee61c6a-753e-09f8-31c6-5c8dd0cec95f
* Content: [Au

[2022-08-30 18:37] Mattp123 commented on #3367
@Dlutchy - I've updated the article and addressed some of your feedback. I made a few other changes to the table and added a screenshot of a whole number column using the duration format. Below is the text that will be published shortly.

A number value presented as a drop-down list that contains time intervals. A user can select a pre-defined value from the list or type an integer value using the

[2022-08-30 18:37] #3367 closed

[2022-08-30 18:43] Mattp123 commented on #3618
@EricBos - What you're asking for is a feature request that can't be addressed in the Power Apps documentation. You can submit a new feature request or vote for an existing one here: [Power Apps community ideas](https://ideas.powerapps.microsoft.com)

Closing issue.

[2022-08-30 18:43] #3618 closed

[2022-08-30 19:08] Mattp123 commented on #3611
@BossBabyIrish - The article has recently had significant changes to it. Make sure you are using the latest version and let me know if you still experience an issue by reopening this issue.

[2022-08-30 19:08] #3611 closed

[2022-08-30 19:47] Mattp123 commented on #3572
@robdawsoncranhillinsight - Thank you for your feedback. You're correct. The article has been revised to remove that limitation.

Closing issue.

[2022-08-30 19:47] #3572 closed

[2022-08-30 20:01] Mattp123 commented on #3556
@cameron-interactive - Thank you for your feedback. The article has been revised to replace the mention of data export service with Azure Synapse Analytics for Dataverse. The image will be updated shortly to also reflect the current service to use for data export with Dataverse.

Closing issue.

[2022-08-30 20:01] #3556 closed

[2022-08-31 02:23] WPelserDatacom commented on #3611
I experienced the same issue as @BossBabyIrish - but managed to pick up the model.json file when I set the "Blob path begins with" and "Blob path ends with" to model.json
![image](https://user-images.githubusercontent.com/107005677/187578479-507d81bc-ee1f-4940-a394-3938f1583dd8.png)
![image](https://user-images.githubusercontent.com/107005677/187578686-8c590d3c-0040-4b8d-b8f2-97addf20afe6.png)

"

[2022-08-31 07:49] youritorchalski commented on #3564
Hi @JasonHQX. Hope you can get back to my question if it stops here or you will do additional investigation and come back with more input based on my questions?

Thank you.

Kind regards,

Youri

[2022-08-31 15:05] acieslik opened #3619 "OptionSetMetadata is missing"
Its nice to have this new feature, but what is completely missing with incremental folder option is the extraction of the Global/OptionSetMetadata or State and StatusMetadata.

Is there a workaround for that? Or this this part really completely skipped in this export method?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2022-08-31 15:34] elfohl opened #3620 "Power Apps Portals - Embedding Power BI Reports - Should include both Azure Capacity (A SKU) and Premium Capacity (P SKU)"
The documentation references that Power BI Embedded (Azure Capacity - A SKU) are required when embedding Power BI Reports in Power Apps Portals.  This is not true.  Embedding requires capacity.  This capacity can be Azure Capacity or Premium Capacity.

This doc outlines when to use which SKU:  https://docs.microsoft.com/en-us/power-bi/developer/embedded/embedded-capacity?tabs=gen2#which-sku-should

[2022-08-31 16:30] JasonHQX commented on #3619
Hi @acieslik, we are currently working on supporting reading option set data through ADF template to replace numerical number with text label before exporting to Azure SQL

[2022-08-31 17:00] bishalgoswami commented on #3620
Thanks for your comment, @elfohl. This issue has been assigned to the doc author for review.

[2022-08-31 17:00] bishalgoswami commented on #3619
Thanks for your comment, @acieslik. This issue has been assigned to the doc author for review.

[2022-08-31 20:35] Mattp123 commented on #3558
@anbhar - Thank you for your feedback. The article has been updated to reflect the correct properties for the example and will be published live shortly.

Closing issue.

[2022-08-31 20:35] #3558 closed

[2022-08-31 20:40] Mattp123 commented on #2360
@mgoto-git - The article was updated some time ago to remove the limit and point to this article section for information about [API request limits](
https://docs.microsoft.com/en-us/power-platform/admin/api-request-limits-allocations#request-limits-based-on-user-licenses)

Closing issue.

[2022-08-31 20:40] #2360 closed

[2022-08-31 22:25] Mattp123 commented on #3346
@Dlutchy - Thank you for your feedback. The form designer screenshot has been updated to use the modern form designer and will be published live shortly.

Closing issue.

[2022-08-31 23:16] Mattp123 commented on #3351
@KylieKiser - Thank you for your feedback. The prerelease indicator has been removed and the article will be published shortly.

Closing issue.

[2022-08-31 23:16] #3351 closed

[2022-09-02 10:31] thalluripk commented on #373
Eagerly waiting for the VS support for PCF projects

[2022-09-02 11:39] AVAagerosa commented on #3581
@nickdoelman and @neerajnandwana-msft any news on this ?

[2022-09-02 13:28] FixRM opened #3621 "Are Forwarded or X-Forwarded headers supported?"
Hello,

My company uses Api Managment system to control API access for D365 but it looks like any combination of `Forwarded` headers is ignored. As the result all links that are returned by API are referring to original org address, not to API Manager address.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c228177-ace

[2022-09-02 15:00] bishalgoswami commented on #3621
Thanks for your comment, @FixRM. This issue has been assigned to the doc author for review.

[2022-09-02 15:50] JimDaly commented on #3621
@FixRM
This seems like a feature request ask.

We don't document any behavior about [Forwarded headers](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Forwarded), and you should not expect any special behavior for them.

We also don't have any documentation that speaks to using API Management with Dataverse Web API at all.  I'm not clear on the use case. Can you speak to why this would

[2022-09-02 15:51] JimDaly commented on #3621
Accidentally closed, waiting for response from @FixRM.

[2022-09-02 18:43] Mattp123 commented on #3429
@IDJordash - Thank you for your feedback. The plan is to have text field support regular expression (regex) as part of ongoing work with fluent UI controls, but that has been pushed out to early next year. Expect the "retired" text in the input mask control name to be removed soon in the interim.

[Modern Fluent UI controls in Power Apps (preview)](https://powerapps.microsoft.com/fr-be/blog/modern

[2022-09-02 18:43] #3429 closed

[2022-09-02 21:53] allandecastro opened #3622 "Not Working as expected for Asynchronous logics"
Hello,

According to the documentation, "Asynchronous logic is not bypassed" but it's not the case.
I opened a MS Support ticket, and they reproduced the bug.

Regard

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6a47f7d-d05b-f22c-bb31-d27ea0675128
* Version Independent ID: ad3a29a3-7e39-693a-7e9f-8fe313433bcd
* Cont

[2022-09-02 23:00] bishalgoswami commented on #3622
Thanks for your comment, @allandecastro. This issue has been assigned to the doc author for review.

[2022-09-02 23:20] JimDaly commented on #3622
@allandecastro
Thanks for your feedback.
I'll reach out to you via email to get details.

[2022-09-02 23:20] #3622 closed

[2022-09-03 02:39] carlosandrews opened #3623 "ADA/Section 508 issue for combo box when multiple selections turned "on""
If a combo box has multiple selections turned on, after selecting the multiple items, when you press tab on a keyboard, it doesn't move to the next field, the only way to exit is pressing escape. If you're in PowerApps studio in "play mode," hitting escape takes you back to design mode. If you go to the app via the "play.apps.xxx" URL for the actual app and hit escape to close the combo box, then

[2022-09-03 03:00] bishalgoswami commented on #3623
Thanks for your comment, @carlosandrews. This issue has been assigned to the doc author for review.

[2022-09-03 10:40] mehr81 opened #3624 "Guest users cant see videos"
Hi there,
What's the best method to embed videos in Powerapp?
We have external users. Have already in Azure AD and the appropriate group but still can't access videos that we have placed in our app.

Any help would be appreciated.
Thanks,
Andrew

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76ad

[2022-09-03 11:00] bishalgoswami commented on #3624
Thanks for your comment, @mehr81. This issue has been assigned to the doc author for review.

[2022-09-03 11:51] WPelserDatacom opened #3625 "DataverseToSQL Template issue - Lookup size exceeded"
Hi.
Following this documentation: https://docs.microsoft.com/en-us/power-apps/maker/data-platform/azure-synapse-link-pipelines
There is an error on the Lookup activity (LookupModelJson) when I run the Pipeline. The error reads:
**Operation on target LookupModelJson failed: ErrorCode=UserErrorComputePluginFailure,'Type=Microsoft.DataTransfer.Common.Shared.HybridDeliveryException,Message=The size of

[2022-09-03 16:08] biterbit opened #3626 "Typos of 'Screnarios' instead of 'Scenarios'"
There are two instances of this typo on the page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7dd6b9d7-4668-e08b-3796-2241351d80ff
* Version Independent ID: 7dd6b9d7-4668-e08b-3796-2241351d80ff
* Content: [Understand Power Apps Studio - Power Apps](https://docs.microsoft.com/en-us/power-apps/maker/canvas-apps/power-a

[2022-09-03 17:00] bishalgoswami commented on #3626
Thanks for your comment, @biterbit. This issue has been assigned to the doc author for review.

[2022-09-04 03:32] m-bae opened #3627 "Correct terminology used?"
Hi. I've read the page (linked below), and in the following section. Should it state "ROW" as well? as I don't think the whole table would be deleted if a row in the parent is deleted.

e.g. (I've inserted where I think a reference to rows might need to be inserted....)

1. "prevent deleting the ROW in the primary table, so that the related table rows can be....." and
2. "Allow the related table R

[2022-09-04 05:00] bishalgoswami commented on #3627
Thanks for your comment, @m-bae. This issue has been assigned to the doc author for review.

[2022-09-04 06:54] MahdiSheikhi opened #3628 "Improvement needed"
In Note box

**System Customer security role**
need to update with
**System Customizer security role**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a00b4a6-c147-cffa-92c9-5cb183c4ea67
* Version Independent ID: 83d7d42c-71f3-1138-318f-5bd252a2ab3b
* Content: [Import solutions - Power Apps](https://docs.microsoft.com/

[2022-09-04 07:00] bishalgoswami commented on #3628
Thanks for your comment, @MahdiSheikhi. This issue has been assigned to the doc author for review.

[2022-09-04 11:01] mehr81 opened #3629 "Guest users can't see videos"
Hi there,
What's the best method to embed videos in Powerapps?
We have external /guest users. Have already added them as users in Azure AD and the appropriate group but still can't access videos that we have placed in our app.

Any help would be appreciated.
Thanks,
Andrew

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-09-04 13:00] bishalgoswami commented on #3629
Thanks for your comment, @mehr81. This issue has been assigned to the doc author for review.

[2022-09-04 16:19] Dev-TT opened #3630 "Page should inform that, in order to create a EV data source, the sharepoint List cannot be hidden"
[Enter feedback here]
Issue: Following the steps did not produce successful creation of EV for data sources.
Root Causes:
- I had my lists hidden
- The tool does not recognize the lists by Name

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba670cf8-5810-79c4-7a2a-101099ffe1d7
* Version Independent ID: 69b7e1fb-9f56-8c

[2022-09-04 17:00] bishalgoswami commented on #3630
Thanks for your comment, @Dev-TT. This issue has been assigned to the doc author for review.

[2022-09-05 02:13] rajyraman opened #3631 "Missing tables - limitation"
There are some tables that are not available

| # | LogicalName | IsPrivate | DataProviderId | IntroducedVersion | IsChildEntity | IsCustomEntity | IsIntersect | IsManaged | IsValidForAdvancedFind |
| - | - | - | - | - | - | - | - | - | - |
| 1 | aaduser | false | 54629ed7-0cd3-4c85-9b6c-ea5f8548a9aa | 9.1.0.0 | false | true | false | true | true |
| 2 | aciviewmapper | false | null | 8.2.0.0 | fa

[2022-09-05 03:00] bishalgoswami commented on #3631
Thanks for your comment, @rajyraman. This issue has been assigned to the doc author for review.

[2022-09-05 08:09] FixRM commented on #3621
Hi @JimDaly, thanks for the answer. It does matter because OData use absolute URLs in results. For example:

json
[code]
Same problem with some headers like `location`. We want to hide API address behind proxy, but API disclose it's real address itself.

[2022-09-05 18:24] JimDaly commented on #3621
Hmm...

I must admit I don't know much about API management, but I think the idea is that it allows you to manage any number of APIs you create or use so that can control who can access them.

Dataverse already has a mechanism to control who can access the APIs. I'm not aware of any documentation or guidance we provide that recommends using Dataverse APIs with API Management.  If we are sending a

[2022-09-05 18:24] #3621 closed

[2022-09-06 03:10] tmamb opened #3632 "#Azure dockers containers( Learning)1"
https://github.com/WP-API/docs/edit/master/index.md

[2022-09-06 09:11] tmamb opened #3633 "Deprecating weak cryptographic standards (TLS 1.0 and 1.1) in #Azure DevOps Services - Azure DevOps Blog"
https://devblogs.microsoft.com/devops/deprecating-weak-cryptographic-standards-tls-1-0-and-1-1-in-azure-devops-services/

[2022-09-06 23:32] HemantGaur commented on #3453
Currently the method to collect the URL parameters is not exposed (and hence supported). With the converged app and custom pages we expect a more mature PowerFx based model to be utilized for these use cases.

[2022-09-07 00:22] #3453 closed

[2022-09-07 08:04] jon-mcc opened #3634 "Error with Folder Parameter"
Hi,

Having fixed setting the Blob begins with and end with to model.json.

![image](https://user-images.githubusercontent.com/112934998/188824373-91adf05e-7173-444a-8ed2-84c00f0b2c4e.png)

I get the following error on the trigger: 'The template language expression 'split(item()?.pipelineParameters?.folderPath,'/')[1]' cannot be evaluated because array index '1' is outside bounds (0, 0) of array.

[2022-09-07 09:00] bishalgoswami commented on #3634
Thanks for your comment, @jon-mcc. This issue has been assigned to the doc author for review.

[2022-09-07 12:59] FixRM commented on #3621
Thanks

[2022-09-07 17:22] Mattp123 commented on #3628
@MahdiSheikhi - Thank you for your feedback. The article has been revised to reflect the correct security role name and will be published live in a couple of hours.

Closing issue.

[2022-09-07 17:22] #3628 closed

[2022-09-07 18:30] Mattp123 commented on #3633
@tmamb - What Docs article is your issue related to? Please add a link to it in this issue.

[2022-09-08 04:58] RedsGT commented on #3621
I think we might just be able to use the APIM here to do what you need with a [Mask URLs in content](https://docs.microsoft.com/en-us/azure/api-management/api-management-transformation-policies#MaskURLSContent) transformation policy.

If you've been in the Dataverse world a bit, you might see that example 4 has API versions that look very familiar for some reason:

![image](https://user-images.git

[2022-09-08 05:48] FixRM commented on #3621
Thanks @RedsGT. I've been in CRM/D365/Dataflex/Dataverse world for more than ten years. Customer use other API management solution with similar option but they are not happy with that due to some performance reasons.

[2022-09-08 08:30] braverbug opened #3636 "WAF Guidance Makes No mention that submitted form data may not be sent via your WAF at all (e.g. calls to svc.dynamics.com)"
Hi There,

We have noticed that some calls do not traverse the WAF at all e.g. (registration pages interacting with svc.dynamics.com). There should be warnings of cases where event registrations do not traverse the WAF.

Thanks!

Dan

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6210e47a-bd42-41

[2022-09-08 09:00] bishalgoswami commented on #3636
Thanks for your comment, @braverbug. This issue has been assigned to the doc author for review.

[2022-09-08 10:49] EricBos opened #3637 "Static value is too long (the forms property cannot be more than 100 characters)"
comment can be deleted
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 385e47fe-5e1a-edb0-6932-408621881a80
* Version Independent ID: 0f3d2630-2e3e-e194-de9f-b4314e444694
* Content: [Edit table records directly from another table’s main form - Power Apps](https://docs.microsoft.com/en-us/power-apps/maker/model-driven-app

[2022-09-08 11:02] bishalgoswami commented on #3637
Thanks for your comment, @EricBos. This issue has been assigned to the doc author for review.

[2022-09-08 14:54] xairrick opened #3638 "Needs reference for "the app form also has a setting of UTC or Local""
The document continually states "_the app form also has a setting of UTC or Local_" but there are no links to where to get more information about this.  And as far as I know (12 years of working with CRM/Dynamics 365 CE/Power Apps), I'm unaware of any form setting like this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2022-09-08 15:00] bishalgoswami commented on #3638
Thanks for your comment, @xairrick. This issue has been assigned to the doc author for review.

[2022-09-08 15:40] JimDaly commented on #3622
@allandecastro
This was escalated to the dev team and they have taken an action item to fix the behavior to align with the design which was documented.

[2022-09-08 21:30] aprilspeight opened #3640 "Incorrect steps for accessing Setting > Features"
In the section **Enable the Power Apps component framework feature**, it states that after you select the environment, to then select **Feature** on the **Products** tab. The current UI does not reflect this. Instead, I followed the following to access **Features**.

1. Sign in to PowerApps
2. Select **Settings** and then select **Admin Center**
3. On the left plane, select **Environments**
4. Cli

[2022-09-08 23:00] bishalgoswami commented on #3640
Thanks for your comment, @aprilspeight. This issue has been assigned to the doc author for review.

[2022-09-08 23:03] KumarVivek commented on #3640
As discussed, the docs are correct.

[2022-09-08 23:03] #3640 closed

[2022-09-09 07:00] SkippingAdi opened #3641 "Inaccurate and misleading description regarding sharing a model-driven app"
The description, regarding sharing a model-driven app, is inaccurate and misleading. The article does not distinguish precisely enough between model-driven app and canvas app.
For sharing model-driven apps, only the predefined security roles Basic User, System Customizer, and System Administrator are available. Custom roles cannot be selected. If they are, the article is not clear about this eithe

[2022-09-09 09:00] bishalgoswami commented on #3641
Thanks for your comment, @SkippingAdi. This issue has been assigned to the doc author for review.

[2022-09-09 17:24] phecke commented on #3614
@ChrisAt2at Sorry to hear about your troubles. The platform does get periodic updates, but we have no way to know when that happens or what has changed.

If you need help, you should contact Microsoft Support.

We handle documentation questions and issues here.

[2022-09-09 17:24] #3614 closed

[2022-09-09 17:28] phecke commented on #3633
@tmamb We respond to Power Apps documentation questions and issues here. We do not handle Azure DevOps questions or issues unless it is related to Power Apps.

[2022-09-09 17:29] phecke commented on #3632
@tmamb We respond to Power Apps documentation questions and issues here. We do not handle Azure questions or issues unless it is related to Power Apps.

[2022-09-09 17:29] #3632 closed

[2022-09-09 17:29] #3633 closed

[2022-09-09 20:39] phecke commented on #3631
@rajyraman  Asking PM for clarification.

[2022-09-09 20:43] phecke commented on #3616
@skfd Try again. We had renamed the parent folder and that may have caused temporary problems. Seems to work for me.

[2022-09-09 20:43] #3616 closed

[2022-09-09 21:02] phecke commented on #3613
@rajyraman Thanks for pointing this out. I will review and update the screenshot as needed.

[2022-09-09 21:28] phecke commented on #3631
@rajyraman
Here is text from the SQL [topic](https://docs.microsoft.com/power-apps/developer/data-platform/dataverse-sql-query#supported-operations-and-data-types):

_The following Dataverse datatypes are not supported with the SQL connection: binary, image, sql_variant, varbinary, virtual, HierarchyId, managedproperty, file, xml, partylist, timestamp, choices. In addition, tables types '**virtual

[2022-09-09 21:31] phecke commented on #3555
@cameron-interactive PIVOT and UNPIVOT are supported. Will update the doc soon. Thanks for pointing this out :)

[2022-09-09 21:31] #3555 closed

[2022-09-09 23:00] JimDaly commented on #3588
@femo1de
Thanks for your feedback.

Looks like this topic was originally written a couple of years ago. Perhaps the Dataverse Connector didn't exist at that time?
I will reach out to the Dataverse Connector for Dataflow team to ask that they provide some documentation showing how to use their connector.

[2022-09-09 23:00] #3588 closed

[2022-09-11 14:48] tmamb opened #3642 "Get Started with Microsoft Advertising"
"Get Started with Microsoft Advertising" https://help.ads.microsoft.com#apex/ads/en/56873/-1

[2022-09-12 08:47] pk5280 opened #3643 "Associated dynamics crm table rows through API Many-Many Missing PATCH Request"
**Taken from powerapps-docs/developer/data-platform/webapi/associate-disassociate-entities-using-web-api.md**
I noticed there is information of how to POST and DELETE but no PATCH or Update Request. Was this intentionally left out because it is not a capability?

---

The following example shows how to add a <xref:Microsoft.Dynamics.CRM.role?text=role> record to the <xref:Microsoft.Dynamics.CRM.sy