[2022-09-12 12:55] nickdoelman commented on #3581
Thank you for your feedback but using the Portal Web API to communicate from one portal to another is not supported. You can log this as an idea on https://aka.ms/mpp_ideas

[2022-09-12 12:55] #3581 closed

[2022-09-12 15:58] JimDaly commented on #2893
This topic area was re-written and the referenced topic now redirects to [Retrieve the history of audited data changes](https://docs.microsoft.com/power-apps/developer/data-platform/auditing/retrieve-audit-data).

I believe the part which was contributing to the confusion here was remove. Please re-open if this is not the case.

[2022-09-12 15:58] #2893 closed

[2022-09-12 19:16] allandecastro commented on #3622
@JimDaly : Thanks a lot ! :)
I think maybe we can reopen this as a bug to make sure other people are aware of this problem.

[2022-09-12 19:44] nickdoelman commented on #3636
Thank you for your comment. Can you let us know what portal template you are using?

[2022-09-13 08:15] rezanid opened #3644 "There's a Markdown typo in the page"
There's a Markdown typo in the page. Look for "![Command bar on main grid](media/commanddesigner-home-grid-locatioaccount record s" and you'll find it. I'm not sure if it was supposed to be a link, an image or something else.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f8d225a-cb8f-865c-3165-83d9d988a1dd
* Version

[2022-09-13 09:00] bishalgoswami commented on #3644
Thanks for your comment, @rezanid. This issue has been assigned to the doc author for review.

[2022-09-13 10:13] daniellapZ commented on #967
Hello,
@ugreg We encountered the same problem you described. Can you share how you solved it eventually?
@phecke I can't access the link you provided, can you paste as a comment the explanation? Also, we already tried to authenticate through a client secret as we want to access those APIs without a signed-in user.

[2022-09-13 13:00] nickdoelman commented on #3596
Thank you for this feedback. The team is aware of the issue and working on a resolution. In the meantime, continue to work with the support team to update the custom certificate for your site.

[2022-09-13 13:00] #3596 closed

[2022-09-13 16:59] sshinn opened #3645 "Outdated App Registration Terminology "Keys section on the Settings page""
Under the [Register your app](https://docs.microsoft.com/en-us/power-apps/developer/data-platform/authenticate-oauth#register-your-app) heading of the [Use OAuth authentication with Microsoft Dataverse](https://docs.microsoft.com/en-us/power-apps/developer/data-platform/authenticate-oauth) page, it describes adding a certificate or password "while registering the app [by] select the **Keys** secti

[2022-09-13 17:00] bishalgoswami commented on #3645
Thanks for your comment, @sshinn. This issue has been assigned to the doc author for review.

[2022-09-13 18:32] InformDyn365 opened #3646 "Screen shots and steps need updating"
Screen shots and steps on this page need to be updated to reflect the changes in the latest make.powerapps.com tool.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecd626b7-e922-eecd-983c-3823afff4e04
* Version Independent ID: 376d0fc1-294a-660a-ea09-7de12f6dbe18
* Content: [Tutorial: Write your first client script in

[2022-09-13 21:00] bishalgoswami commented on #3646
Thanks for your comment, @InformDyn365. This issue has been assigned to the doc author for review.

[2022-09-13 21:23] JimDaly commented on #3646
@InformDyn365
Thanks for your feedback.
I've created a workitem to review this topic.

[2022-09-13 21:23] #3646 closed

[2022-09-13 23:00] mduelae commented on #3626
Thank you for the feedback. I fixed the typos and republished the topic. You should see the changes in about an hour.

Thanks,
Mints

[2022-09-13 23:00] #3626 closed

[2022-09-14 08:28] Thibaut303 opened #3647 "erreur dans le descriptif one to many"
[Tapez vos commentaires ici]
Bonjour Microsoft,
dans le descriptif one to many ( début de la page),
Vous écrivez:
Une-à-plusieurs – Dans ce type de relation, chaque ligne dans la table B peut correspondre à plus d'une ligne dans la table B, mais chaque ligne dans la table B peut correspondre à une seule ligne dans la table B. Par exemple, une classe a une salle de classe unique.
Or c'est
Une-à-plu

[2022-09-14 13:00] bishalgoswami commented on #3647
Thanks for your comment, @Thibaut303. This issue has been assigned to the doc author for review.

[2022-09-14 19:16] galactic-plane opened #3648 "Article Title Misleading"
I never comment on this type of stuff, but the article title had my hopes up until I read the article and realized this wasn't setting the default view for the model-driven app.  I have two model-driven apps that share the same table and its in the sitemap for each app, and I wanted a different default view for each app, but that's not possible.  The title should be "Specify a Dataverse table defa

[2022-09-14 20:00] mkalinovTC opened #3649 "Impossible to get the whole metadata file"
[Enter feedback here]

Browser cannot hold the amount metadata especially if Field Service or portals were installed. Tool is needed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15baa123-c721-bea7-aa8e-15b9d8abe7be
* Version Independent ID: 15baa123-c721-bea7-aa8e-15b9d8abe7be
* Content: [Web API Service Documents (M

[2022-09-14 21:00] bishalgoswami commented on #3649
Thanks for your comment, @mkalinovTC. This issue has been assigned to the doc author for review.

[2022-09-14 21:00] bishalgoswami commented on #3648
Thanks for your comment, @galactic-plane. This issue has been assigned to the doc author for review.

[2022-09-14 21:35] JimDaly commented on #3649
@mkalinovTC
The CSDL can get quite large. I've not encountered the situation where the browser can't render it all yet, but I certainly believe that is possible. But there isn't much that can be done about it. No answers to this question on Stack Overflow for example: [How can I view large XML files in Chrome?](https://stackoverflow.com/questions/8519584/how-can-i-view-large-xml-files-in-chrome).

[2022-09-14 21:35] #3649 closed

[2022-09-14 22:47] Deb3000 opened #3650 "Deceiving Title"
The title, Transform your InfoPath form to Power Apps is very deceiving. You cannot "Transform" your InfoPath form to Power Apps. You need to recreate it. InfoPath was very good at what it did. I agree the experience for mobile devices is lacking, but using Power Apps, is nowhere near being able to quickly build and deploy the same type of form.
I have a dynamic InfoPath form that has been WONDERF

[2022-09-14 23:00] bishalgoswami commented on #3650
Thanks for your comment, @Deb3000. This issue has been assigned to the doc author for review.

[2022-09-14 23:08] tapanm-MSFT commented on #3650
Thank you for reaching out. This article explains the benefits of using Power Apps to achieve capabilities of InfoPath form conceptually and explains how an InfoPath form can be transformed into multiple apps. To share your product feedback and ideas for new features, please visit [Power Apps Ideas forum](https://powerusers.microsoft.com/t5/Power-Apps-Ideas/idb-p/PowerAppsIdeas).

[2022-09-14 23:08] #3650 closed

[2022-09-15 00:43] JimDaly commented on #3543
Updated topic

[2022-09-15 00:43] #3543 closed

[2022-09-15 01:21] GitSheva opened #3651 "Dataverse to SQL pipeline error"
Hi,

this file:

https://github.com/MicrosoftDocs/powerapps-docs/blob/main/powerapps-docs/maker/data-platform/azure-synapse-link-pipelines.md

in section 10 it has parameters for Container and Folder when configuring the Trigger

[code]

when we run the pipeline we got this error:

Operation on target LookupModelJson failed: ErrorCode=AdlsGen2OperationFailed,'Type=Microsoft.DataTransfer.Common.Sha

[2022-09-15 08:30] AndrewTheWild opened #3652 "Work with Microsoft.Xrm.Sdk.Data.Expressions"
Hello guys, could you provide few examples , how we can use class FilterExpressionTransform for transforming FilterExpression or for other classes?

Thanks for attention!

[2022-09-15 14:17] FrancisRoberts1 opened #3653 "Why manually create lists"
[Enter feedback here]

Why manually create lists when you can simply import the excel document and select the right data types.
![2022-09-15 10_16_19-Window](https://user-images.githubusercontent.com/16158033/190427649-e61a9ad3-bdee-43fb-a46e-bc2a75dd5dff.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d58efad-c07

[2022-09-15 20:47] joel-cooptimize opened #3654 "Article Needs Clarity Around Power BI Desktop vs Service"
In step 1, the article talks about Power BI Desktop. Then in step 2 the article says you won't get anywhere starting in Power BI Desktop. This fatal flaw needs to be called out immediately and obviously.

My advice is to reorganize this article and explain how to create a new app (via a published report in the service) and how to then integrate a working app into Power BI Desktop (cannot establish

[2022-09-15 21:00] bishalgoswami commented on #3654
Thanks for your comment, @joel-cooptimize. This issue has been assigned to the doc author for review.

[2022-09-15 21:20] JimDaly commented on #3385
Looks like the (Preview) markers in the topic were removed but this issue wasn't closed.

[2022-09-15 21:20] #3385 closed

[2022-09-15 21:28] JimDaly commented on #3374
@xairrick
Sorry for the long delay in getting back to this.
I guess I'm still not clear on exactly what we ought to be documenting about the OnRecordSelect function.
Please feel free to reopen.

[2022-09-15 21:42] #3372 closed

[2022-09-15 22:02] JimDaly commented on #3255
@dmognaschi
This seems to be a feature request rather than feedback about the documentation.
You can submit ideas to https://powerusers.microsoft.com/t5/Power-Apps-Ideas/idb-p/PowerAppsIdeas

[2022-09-15 22:02] #3255 closed

[2022-09-15 22:11] JimDaly commented on #3211
@pavansarma93
I didn't hear back from you so I'm going to close this.

[2022-09-15 22:11] #3211 closed

[2022-09-15 22:49] xairrick commented on #3374
@JimDaly I don't think I have the ability to re-open.

My suggestion was for the limitation be documented for example:

[2022-09-15 23:18] JimDaly commented on #3166
@ADPerkin

Sorry for the delay in responding to this.
I looked through the linting rules included in the solution checker.

In this case, you are saying that we shouldn't use console.log in our sample code because it doesn't meet the standards for production code.

I think our sample code, particularly sample code that is included in-line with the content should, focus on helping people understand

[2022-09-15 23:18] #3166 closed

[2022-09-15 23:44] JimDaly commented on #2881
@jkanschik
Sorry for the delay in responding.
We expect people to use the tooling provided to set the data for the ServiceEndpoint rather than try to do it with code.
This is why we don't include code samples for this. This is by design.

Thanks

[2022-09-15 23:44] #2881 closed

[2022-09-16 05:49] Dedme opened #3655 "Sample Path for Plugins no longer valid"
[Enter feedback here]
Samples path is no longer valid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6569655b-b25e-856d-de2d-20d48438024f
* Version Independent ID: 523e9955-043e-a219-8ee4-dc6c21b41d43
* Content: [Sample: Create a basic plug-in (Microsoft Dataverse) - Power Apps](https://docs.microsoft.com/en-us/power-

[2022-09-16 07:00] bishalgoswami commented on #3655
Thanks for your comment, @Dedme. This issue has been assigned to the doc author for review.

[2022-09-16 12:21] krihvi opened #3656 "createdFromEntity type error i EntityFormOptions"
The openForm method do not take a standard EntityFormOptions as input in createFromEntity.
https://docs.microsoft.com/en-us/power-apps/developer/component-framework/reference/entityformoptions

"createFromEntity" is an EntityReference (https://docs.microsoft.com/en-us/power-apps/developer/component-framework/reference/entityreference), while openForm expect it to be a LookupValue(entityType, id, a

[2022-09-16 13:00] bishalgoswami commented on #3656
Thanks for your comment, @krihvi. This issue has been assigned to the doc author for review.

[2022-09-16 16:49] JimDaly commented on #3656
Paraphrasing and expanding here to make sure I understand.

The [context.navigation.openForm(options, parameters) method](https://docs.microsoft.com/en-us/power-apps/developer/component-framework/reference/navigation/openform) has an `options` parameter that is of type `EntityFormOptions`.

From a documentation point of view, I note that the description for this type is in-line within the table, n

[2022-09-16 17:52] JimDaly commented on #3655
@Dedme
Thank you for your feedback. I've fixed this.
The link to the sample in the doc works. We changed the path from `master\cds\orgsvc\C#\FollowupPlugin` to `master\dataverse\orgsvc\C#\FollowupPlugin`

[2022-09-16 17:52] #3655 closed

[2022-09-16 18:12] JimDaly commented on #3115
@boletus151
Thanks for your feedback. Sorry for the delay in responding.
There was a .NET 6 version of the sample, but the topic wasn't highlighting it.
Will update this topic.

[2022-09-16 18:12] #3115 closed

[2022-09-16 18:30] galactic-plane commented on #3648
Ok, I was able to figure out how to do this in the new edit model driven application experience.  You click pages, add a table based view and form and then you can select the view and explicitly add the view you want the model driven application to use.  If no views have been explicitly selected, all views will be available by default.

Maybe this approach can be added to the article.

[2022-09-16 19:27] JimDaly commented on #2832
I think this was addressed in [#3453](https://github.com/MicrosoftDocs/powerapps-docs/issues/3453)
No documentation about this because it isn't supported.

[2022-09-16 19:27] #2832 closed

[2022-09-16 19:41] JimDaly commented on #2827
@fowl2
Sorry for the long delay in responding to this.
Thank you for your feedback.

The descriptions for the Form Onload event seem to have changed since you created this.
The current descriptions is:

[Form OnLoad event](https://docs.microsoft.com/en-us/power-apps/developer/model-driven-apps/clientapi/reference/events/form-onload)

It appears that the description now describes that Form Onload o

[2022-09-16 19:41] #2827 closed

[2022-09-16 19:49] JimDaly commented on #2792
@tacklers
The CDSWebAPIService samples were retired and replaced with a new helper library. See [WebAPIService class library](https://docs.microsoft.com/en-us/power-apps/developer/data-platform/webapi/samples/webapiservice). This now uses .NET 6, MSAL and more current methods to manage an HttpClient.

This is a helper library designed to demonstrate best practices and support Web API sample develo

[2022-09-16 19:49] #2792 closed

[2022-09-16 19:56] JimDaly commented on #2726
@stevenfayers
Thank you for your feedback and sorry for the delay in responding.
Since you have added this feedback we have added more content related to understanding the service documents which are the actual source of truth regarding the names used by the Web API.

These topics should be considered 'required reading' before moving on to actually performing the operation with Web API. See [Web A

[2022-09-16 19:56] #2726 closed

[2022-09-16 20:02] JimDaly commented on #2720
@trucbinh
Thank you for your feedback. Sorry for the delay in responding.
At the time you submitted your feedback, the ability to disassociate with PATCH by setting the null value to a single-valued navigation property should have been available to you.

We have examples here: [Disassociate with a single-valued navigation property](https://docs.microsoft.com/en-us/power-apps/developer/data-platfor

[2022-09-16 20:02] #2720 closed

[2022-09-16 21:00] Bernadette2022 commented on #3647
Investigating feedback

[2022-09-16 22:18] JimDaly commented on #2609
I updated the topic to mention EntityName fields and added a note about how File columns require a special set of messages to upload or download the file.

Don't think any new file types have been added recently.

[2022-09-16 22:18] #2609 closed

[2022-09-16 22:25] JimDaly commented on #2539
@noazarur-microsoft
I'm reviewing old issues that haven't been addressed.
Agree with @fowl2  that the description of the workaround is not clear.
Afraid I don't know what kind of column isn't bound to a table either.
If we don't have details to provide, recommend we remove description of the workaround that is ambiguous.

[2022-09-16 22:28] JimDaly commented on #2453
@chrispiasecki
Thanks for your feedback. Sorry for the long delay in responding.
I like your suggestion and will forward it to PM owners for the area. But it isn't something actionable for the documentation.
Might be best to submit this to the ideas site.

[2022-09-16 22:28] #2453 closed

[2022-09-16 22:36] JimDaly commented on #2432
@arunvinoth
Sorry for the delay in responding.
As noted in the SO response, I expect this is possible, but I haven't tested it.
If you test it and get an error, please advise.

[2022-09-16 22:36] #2432 closed

[2022-09-16 22:38] JimDaly commented on #1666
doc was updated

[2022-09-16 22:38] #1666 closed

[2022-09-16 22:43] JimDaly commented on #1423
Quite a lot of content was added to address this since this issue was opened.
See

- [Upsert a table row](https://docs.microsoft.com/en-us/power-apps/developer/data-platform/webapi/update-delete-entities-using-web-api?source=docs#upsert-a-table-row)
- [Use Upsert to Create or Update a record](https://docs.microsoft.com/en-us/power-apps/developer/data-platform/use-upsert-insert-update-record?tabs=w

[2022-09-16 22:43] #1423 closed

[2022-09-16 22:48] JimDaly commented on #952
This sample was removed.

[2022-09-16 22:48] #952 closed

[2022-09-16 23:40] JimDaly commented on #2412
@user0604
Thanks for your feedback. I'll keep it in mind for future updates.

[2022-09-16 23:40] #2412 closed

[2022-09-16 23:44] JimDaly commented on #2139
@algattik
Thanks for your feedback. I've added your note to a workitem to refresh this topic.

[2022-09-16 23:44] #2139 closed

[2022-09-16 23:52] JimDaly commented on #2000
“Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue."

[2022-09-16 23:52] #2000 closed

[2022-09-16 23:52] #2116 closed

[2022-09-16 23:58] JimDaly commented on #2984
Thanks for your feedback.
We needed to have all the content related to web api in a separate TOC so that the reference content could be presented with it.
That reference content wasn't being included when you opened this issue, which probably contributed to it being bewildering. But it has been brought back. It was a trade-off, but we feel having the reference content appear together with the rela

[2022-09-16 23:58] #2984 closed

[2022-09-17 00:05] phecke commented on #3642
@tmamb Closing, due to lack of information.

[2022-09-17 00:05] #3642 closed

[2022-09-17 00:19] mduelae commented on #3527
Hi Yoshika,

Lets work on this internally to verify the information. Closing this for now.

[2022-09-17 00:19] #3527 closed

[2022-09-17 00:30] phecke commented on #3652
@AndrewTheWild I have never used that API. What are you trying to do?

[2022-09-17 00:43] phecke commented on #3645
@sshinn The Azure team updates their UI periodically, and we usually don't know about it until someone says something. I labeled your issue as the doc needs updating.

You can find more info here:
[Quickstart: Register an application with the Microsoft identity platform](https://learn.microsoft.com/en-us/azure/active-directory/develop/quickstart-register-app)
[Tutorial: Register an app with Azure

[2022-09-17 00:45] phecke commented on #3631
@rajyraman That is all I have to provide on this subject. I did let the PM know.

[2022-09-17 00:45] #3631 closed

[2022-09-17 00:48] JimDaly commented on #3643
@pk5280
As mentioned in [Using collection-valued navigation properties](https://learn.microsoft.com/en-us/power-apps/developer/data-platform/webapi/associate-disassociate-entities-using-web-api#using-collection-valued-navigation-properties),

When working with existing records, you can add (POST) or remove (DELETE) items from the collection. With the version of OData that we are using, there is cu

[2022-09-17 11:52] tmamb opened #3657 "Site non sécurisé"
https://account.microsoft.com/profile

[2022-09-17 11:52] #3657 closed

[2022-09-17 21:27] danosagi commented on #1209
I know this is old but the current working URL is:
[https://learn.microsoft.com/en-us/power-apps/developer/model-driven-apps/override-default-open-behavior-grids](https://learn.microsoft.com/en-us/power-apps/developer/model-driven-apps/override-default-open-behavior-grids)

[2022-09-17 21:41] danosagi opened #3658 "Entity Name & Grid name need modification but not highlighted"
**Location="Mscrm.**SubGrid**.**contact**.MainTab.Management.Controls._children"**

Above "contact" & "SubGrid" need to be updated if on different entity or different control.  This should be highlighted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55cb1b78-70a4-a97a-c1d3-48ab8efd6c32
* Version Independent ID: cdd45

[2022-09-17 22:14] JimDaly commented on #2016
Actually, since this is a topic specifically describing a sample, I don't think it needs a link the make.powerapps.com topics.

[2022-09-17 22:14] #2016 closed

[2022-09-17 23:00] bishalgoswami commented on #3658
Thanks for your comment, @danosagi. This issue has been assigned to the doc author for review.

[2022-09-18 12:28] rolf-stifter opened #3659 "Incorrect path-based imports for ChoiceGroup"
The path-based imports of the ChoiceGroup are not correct.

`import { ChoiceGroup } from "@fluentui/react/lib/components/ChoiceGroup/ChoiceGroup";
import { IChoiceGroupOption } from "@fluentui/react/lib/components/ChoiceGroup/ChoiceGroup.types";`

should be changed to

`import { ChoiceGroup } from '@fluentui/react/lib/ChoiceGroup';
import { IChoiceGroupOption } from '@fluentui/react/lib/components

[2022-09-18 13:00] bishalgoswami commented on #3659
Thanks for your comment, @rolf-stifter. This issue has been assigned to the doc author for review.

[2022-09-19 12:40] AndrewTheWild commented on #3652
@phecke  According to this article ,this library helps with transformation QuerryExpression. I am working with Virual Entity.
https://github.com/MicrosoftDocs/powerapps-docs/blob/main/powerapps-docs/developer/data-platform/virtual-entities/custom-ve-data-providers.md

[2022-09-19 18:14] JimDaly commented on #3659
@rolf-stifter
Thanks for you feedback.

Notes:
- This applies to the code in the section titled [Choices picker Fluent UI React component](https://learn.microsoft.com/en-us/power-apps/developer/component-framework/tutorial-create-model-driven-field-component#choices-picker-fluent-ui-react-component)
- This Tutorial points to this sample [PowerApps-Samples/component-framework/ChoicesPickerControl/C

[2022-09-19 20:43] CarstenMS opened #3662 "Documented Roles alone may not be sufficient - CE license needed to renew portal authentication key"
Customer feedback:

It was only possible to renew the portal authentication key after giving the user a CRM / CE license.

If the license is a requirement, this should also be documented here

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff0331e6-6c2b-4728-4c3b-3e141c285dc7
* Version Independent ID: 936bdd2f-3b1e-45d9

[2022-09-19 21:00] bishalgoswami commented on #3662
Thanks for your comment, @CarstenMS. This issue has been assigned to the doc author for review.

[2022-09-19 23:49] rajyraman commented on #3652
@AndrewTheWild - I have never used this library before, but I found a blog post that explains how to use this https://gaborg.dev/dataverse-virtual-entities-queryexpressions-to-linq-expressions/

[2022-09-20 07:14] rentianxiang opened #3663 "Portals Lifecycle Document Production vs Sandbox Environment?"
Document reference:  https://learn.microsoft.com/en-us/power-apps/maker/portals/admin/portal-lifecycle

Hi team, in this document, the highlighted sentence below creates confusion to me and I need clarifications regarding it.

**When converting a portal from trial to production, you must ensure that the environment is also a production environment.**

From the testing, not only production type env

[2022-09-20 07:25] rentianxiang opened #3664 "Portals Lifecycle Document: 1GB of unused storage?"
Document reference: https://learn.microsoft.com/en-us/power-apps/maker/portals/admin/portal-lifecycle

Hi team, in this document, the highlighted sentence below creates confusion to me and I need clarifications regarding it.

**The first portal is free to be created in an environment in a tenant. If you need to create more than one portal, you must have 1 GB of unused storage space in the tenant.*

[2022-09-20 08:58] CarstenMS opened #3665 "Please clarify what exact role is needed - we don't have a Portal Administrator one, and portal owner can't access"
regarding
"You need to be a portal administrator to enable Content Delivery Network."

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a40721fb-181c-12a7-4db6-196ed6e30290
* Version Independent ID: a40721fb-181c-12a7-4db6-196ed6e30290
* Content: [Configure a site with Content Delivery Network (preview) - Power Apps](htt

[2022-09-20 09:00] bishalgoswami commented on #3665
Thanks for your comment, @CarstenMS. This issue has been assigned to the doc author for review.

[2022-09-20 09:00] bishalgoswami commented on #3664
Thanks for your comment, @rentianxiang. This issue has been assigned to the doc author for review.

[2022-09-20 09:00] bishalgoswami commented on #3663
Thanks for your comment, @rentianxiang. This issue has been assigned to the doc author for review.

[2022-09-21 00:19] davins-msft opened #3667 "Web API URL and versioning"
In the section https://learn.microsoft.com/en-us/power-apps/maker/portals/web-api-http-requests-handle-errors#web-api-url-and-versioning, it mentions that the "Name of the table you want to use" is referenced in building the URL, however it is the entityset name, which is typically in the format <logical_name> suffixed with s, so for e.g. for the OOB case entity it will be incident**s**.

<html>
<

[2022-09-21 00:44] anasufovic opened #3668 "Managing security for notifications issue"
For the section Managing security for notifications

It says "Basic: Read privilege on the app notification table." This also should say delete, because when a user presses the X button on an individual notification it tries to delete it from the system. This should also be updated in the other rows in this table as appropriate.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2022-09-21 01:00] bishalgoswami commented on #3668
Thanks for your comment, @anasufovic. This issue has been assigned to the doc author for review.

[2022-09-21 03:57] kosukehara opened #3669 "Information of maximum size of dataverse is not correct in Japanese docs"
[フィードバックをこちらに入力してください]
In the Japanese Docs, the maximum size of dataverse is mentioned as "4 GB or more", which totally differs from the information
in the English docs. (English docs is mentioned as "4TB or more")
Please kindly correct the Japanese information.

https://learn.microsoft.com/ja-jp/power-apps/teams/data-platform-compare#environments

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.

[2022-09-21 05:00] bishalgoswami commented on #3669
Thanks for your comment, @kosukehara. This issue has been assigned to the doc author for review.

[2022-09-21 05:32] fowl2 commented on #3517
It seems that having "Background operations" disabled - ie. the default in Administration mode after a restore or copy operation - can also prevent environment variable updates from taking effect.

https://learn.microsoft.com/en-us/power-platform/admin/admin-mode#known-issues

[2022-09-21 08:41] anskanth opened #3670 "Is this page valid?"
Is this page still valid, now that component fields are not part of the UCI ?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 311625ab-808d-b022-28c4-303f52511e8b
* Version Independent ID: c75c36f4-17b2-f75e-d4a9-708cfc007836
* Content: [Composite columns in model-driven apps in model-driven apps - Power Apps](https://

[2022-09-21 09:00] bishalgoswami commented on #3670
Thanks for your comment, @anskanth. This issue has been assigned to the doc author for review.

[2022-09-21 12:38] swisscoder opened #3672 "CrmSvcUtil.exe for .net core?"
Hi, it would be great to learn about how/when to replace the CrmSvcUtil.exe, which can currently be used in .net Framework projects, for entity and client generation.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2cb475b1-b064-170c-6301-dfd002a4566f
* Version Independent ID: 2cb475b1-b064-170c-6301-dfd002a4566f
* Con

[2022-09-21 13:00] bishalgoswami commented on #3672
Thanks for your comment, @swisscoder. This issue has been assigned to the doc author for review.

[2022-09-21 15:55] anjaredbit commented on #3564
We recently ran into a scenario where a roll-up field was attempted to be added to an entity that already had 10 roll-up fields. The solution gave an error saying "you cannot add any more roll-up fields" so we exited out of the field creation process, and to our knowledge, the field never was added to the solution or published. It does not appear anywhere in the entity, not can it be found via the

[2022-09-21 21:21] jonathh21 opened #3674 "Where is the navigate button?"
[Enter feedback here]

It states "With the arrow still selected, select the Action tab, and then select Navigate."

I don't go an action tab.

Loads of guides and material talk about it but I don't see it so presumably this has changed and all the material is out of date?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-09-21 21:25] jonathh21 commented on #3674
If I turn off "enable modern menu control" then action returns and 'navigate' is actually possible..

[2022-09-21 23:00] bishalgoswami commented on #3674
Thanks for your comment, @jonathh21. This issue has been assigned to the doc author for review.

[2022-09-22 00:00] JimDaly commented on #3670
@anskanth
Can you elaborate a bit more? I'm not clear on what 'component fields' are.
Is it related to anything returned in these search results? [Search documentation for "component fields"](https://learn.microsoft.com/en-us/search/?scope=Power%20Apps&terms=%22component%20fields%22)

[2022-09-22 07:56] Kunter-Bunt opened #3675 "addOnPostSave in wrong hierarchy"
addOnPostSave is entered under Controls, but based on its namespace `formContext.data.entity.addOnPostSave(myFunction);` it belongs to formContext.data.entity right along the `formContext.data.entity.addOnSave(myFunction);` function.
addOnPostSave:
![image](https://user-images.githubusercontent.com/9168648/191689784-bb796e27-50b4-4ecf-a498-1fa6233e4d0c.png)
addOnSave:
![image](https://user-images.

[2022-09-22 08:07] anskanth commented on #3670
Sorry, did I mention component fields? My bad then, I mean to composit
fields. In the new UCI world, there won't be any composite field (like
showing it as a one field and pop-up box to edit the field values), right?

Clients are looking into this article and are under impression that
something wrong with their setup causing the first name and last name are
not showing as one.

Thanks
-Srikanth

O

[2022-09-22 09:00] bishalgoswami commented on #3675
Thanks for your comment, @Kunter-Bunt. This issue has been assigned to the doc author for review.

[2022-09-22 09:57] Dealgan12 commented on #3669
@Bernadette2022 can you follow up with the supplier on this. It looks to be a typo in Japanese. The other languages look to have it correct.

[2022-09-22 14:00] ElijahMansur opened #3676 "407 Error when using who am I function"
Hello, I was testing out this link: https://learn.microsoft.com/en-us/power-apps/developer/data-platform/webapi/use-postman-web-api. My goal is to use the REST API for Dataverse to be able to update and manage tables. Whenever I make a WhoAmI call in postman, I get a 407 error. The error is as follows
<img width="872" alt="image" src="https://user-images.githubusercontent.com/76127050/191767055-71

[2022-09-22 14:00] kerski opened #3677 "Feedback - Preview Feature"
I’ve only reviewed this new feature for the past couple of days, but here are my initial thoughts:
1) When solutions are deleted, Power BI reports and datasets remain in the dedicated workspace. They should be removed.
2) Multiple solutions share the same Power BI workspace.  For example, if I have Solution A with Power BI Report X and Alice has the Power Platform Viewer role and I have Solution B

[2022-09-22 14:20] paulinbar commented on #3677
Hi John, this is great feedback and I'll pass it on to my product manager (I'm the tech writer). I think they are working on the first point. As for the other two points (and all the points for that matter), I'll refer you to the PM, and perhaps we can put more info and make things more clear in the docs. Again, great feedback and thanks for taking the time to give it!
@kerski
@teddyberco

[2022-09-22 14:52] ElijahMansur opened #3678 "'svc.CurrentAccessToken' threw an exception of type 'System.NullReferenceException'"
I am following the tutorial at the link https://learn.microsoft.com/en-us/power-apps/developer/data-platform/org-service/quick-start-org-service-console-app.

I am trying to use the WhoAmI function to get my userId following the tutorial. I found a null reference error at line 37 when I ran the code with the credentials so I debugged the program and found the below error for the svc vairable of ty

[2022-09-22 15:00] bishalgoswami commented on #3678
Thanks for your comment, @ElijahMansur. This issue has been assigned to the doc author for review.

[2022-09-22 15:00] bishalgoswami commented on #3677
Thanks for your comment, @kerski. This issue has been assigned to the doc author for review.

[2022-09-22 15:00] bishalgoswami commented on #3676
Thanks for your comment, @ElijahMansur. This issue has been assigned to the doc author for review.

[2022-09-22 16:03] kerski commented on #3677
You're welcome.  If any clarification is needed, just let me know.

[2022-09-22 16:14] JimDaly commented on #3678
@ElijahMansur
Thanks for reporting this. I can't help but wonder if this is somehow connected to the issue you experienced using Postman #3676

That issue seems to be related to network proxy configuration and I hope you can address it by changing settings in Postman. Please let us know.

But you don't have the same settings with CrmServiceClient.

@phecke  I know we have content to configure trac

[2022-09-22 16:32] GitWesDone opened #3679 "Note that it is not in GCC"
In the known limitations section this should note that Test Studio is not in Power Apps GCC and other Power Apps instances.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: bb6392fe-8157-6760-00e7-b9ca3dc3b51d
* Version Independent ID: a2eb8009-1c13-1eb6-b716-f5afea70de60
* Content: [Test Studio - Power Apps](https://le

[2022-09-22 16:40] ElijahMansur commented on #3676
@JimDaly the stack exchange didn't work when I tried it. Maybe my computer has a network restriction that causes this error? I'm not entirely sure. What else should I check?

[2022-09-22 16:44] JimDaly commented on #3675
@Kunter-Bunt
This makes perfect sense to me.
I created a workitem to change this.

2932135

[2022-09-22 16:48] JimDaly commented on #3670
@anskanth
No worries. I figure out what you meant.

I'm waiting for some input from @HemantGaur or @adrianorth  about what should change.

[2022-09-22 16:52] JimDaly commented on #3676
You should be able to send the GET request via your browser and it should work. Have you tried that?

I'm not a network security expert, but the error seems to be coming from a proxy server managed by honda.com. Is that your domain? You may want to check with your network administrator to understand if this is intentionally added to control access.

[2022-09-22 16:55] ElijahMansur commented on #3678
Okay, great! I did that and I get a lot of exceptions, one of which was a 407 exception. Here is what it says on the screen. I know I am using a company laptop for the company I work at. Are there any possibilities that a network restriction could cause the 407 issues?

`'Dataverse Web API project.exe' (CLR v4.0.30319: DefaultDomain): Loaded 'C:\WINDOWS\Microsoft.Net\assembly\GAC_32\mscorlib\v4.0_

[2022-09-22 16:59] ElijahMansur commented on #3676
Yeah, when I try using the generic get request by using the browser, I get this window.

[2022-09-22 17:00] bishalgoswami commented on #3679
Thanks for your comment, @GitWesDone. This issue has been assigned to the doc author for review.

[2022-09-22 17:12] phecke commented on #3678
@ElijahMansur Seems there is something wrong with your login credentials or endpoint URL. The WhoAmI sample is short and sweet showing minimum code. In general, it is better to check that svc.IsReady is true before executing message requests.

What URL are you using? https://org040c6598.api.crm.dynamics.com?

The error indicates that the call cannot connect/login to the service. Verify you are usi

[2022-09-22 17:18] phecke commented on #3678
@ElijahMansur Try https://org040c6598.api.crm.dynamics.com/ for the URL.

[2022-09-22 17:47] ElijahMansur commented on #3678
Hello, I got it work. When I ran my computer on my personal network, the code ran with any issues. Thus, the bug isn't with this code but the network I was on before. Thank you so much for the help!

[2022-09-22 17:47] #3678 closed

[2022-09-22 17:50] JimDaly commented on #3676
@ElijahMansur
I'm going to assume that this works on your personal network like #3678

[2022-09-22 17:50] #3676 closed

[2022-09-22 18:41] mattgon commented on #3679
@ChrisBal-MSFT FYI

[2022-09-22 19:14] ElijahMansur opened #3680 "Multi Factor Authentication using Microsoft Authenicator in Code"
Hello,

I ran the Enhanced Quick Start Sample and since my organization requires Two factor auth using microsoft authenicator, this error occured. Is there any code that automatically contacts microsoft authenticator to ask for permission to log in and call the REST API?

![image](https://user-images.githubusercontent.com/76127050/191831846-5803ede2-a640-4f55-9b26-ac2bddce8c49.png)

[Enter feedbac

[2022-09-22 21:00] bishalgoswami commented on #3680
Thanks for your comment, @ElijahMansur. This issue has been assigned to the doc author for review.

[2022-09-22 21:03] phecke commented on #3652
@AndrewTheWild I can pass your request for documentation/code on to the PM.

[2022-09-22 21:25] phecke commented on #3652
@AndrewTheWild I sent an email to the PM including your request for sample code and the online article. If I do get any info on the API, I can work on getting it published.

[2022-09-22 21:46] JimDaly commented on #3680
@ElijahMansur
This example uses the `authBuilder.AcquireTokenInteractive(scopes)` method that should display a prompt to allow interactively working with the dialog so that you can complete the MFA flow.

Does the dialog open?

[2022-09-23 03:18] gimpexe opened #3681 "'Add the PowerFX Expression' step has an error"
hello,

when i do the step 'Add the PowerFX Expression' there is an error message "Invalid argument type. Cannot use Text values in this context."

![image](https://user-images.githubusercontent.com/33363197/191885617-2af49fa5-2b6c-4f93-84a6-3762b00e4379.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 223a0c37-a1f

[2022-09-23 03:39] gimpexe opened #3682 "Test the Card "Error Key description with type String/String is not supported yet""
when doing the 'Test the Card' step,
the card fails with an error when you select the Update Description button

error message "Patch(account, LookUp(account, 'Account Name' = enteredAccountName), { Description: textInput2 }) - Error Key description with type String/String is not supported yet."

![image](https://user-images.githubusercontent.com/33363197/191887815-fedaef6d-ab34-496b-869b-d35cb755

[2022-09-23 04:37] frogkoby opened #3683 "アイコンを変更する際に選ぶVisual Stuido Codeのメニューが違っていました。"
[フィードバックをこちらに入力してください]

アイコンを変更する際に選ぶVisual Stuido Codeのメニューが違っていました。
ただしくは
ファイル→ユーザー設定→ファイル アイコンのテーマ
となっています。
---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 learn.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 086e066b-b038-5d2d-a20e-788302c2b2ad
* Version Independent ID: 43af4068-2c32-6575-61cb-ab52d2bda192
* Content: [Visual Studio Code 拡張機能を使用する - Power Apps](https://learn.microsoft.com/ja-jp/power

[2022-09-23 05:00] bishalgoswami commented on #3683
Thanks for your comment, @frogkoby. This issue has been assigned to the doc author for review.

[2022-09-23 05:00] bishalgoswami commented on #3682
Thanks for your comment, @gimpexe. This issue has been assigned to the doc author for review.

[2022-09-23 05:00] bishalgoswami commented on #3681
Thanks for your comment, @gimpexe. This issue has been assigned to the doc author for review.

[2022-09-23 08:45] ChrisAt2at opened #3684 "Please also add requirement to add Data Factory resource provider to subscription"
The document states with the Prerequisites that the Microsoft.EventGrid provider needs to be registered, but when following the steps you get an error when publishing all items in the Synapse Analytics workspace that a certain client "does not have authorization to perform action 'Microsoft.EventGrid/eventSubscriptions/write'".
When looking at the documentation on https://learn.microsoft.com/en-us

[2022-09-23 09:56] youritorchalski commented on #3564
Thank you @anjaredbit for your support. Let's hope we get more answers soon.

@JasonHQX can you follow up on this ticket and come back on the questions I asked. As you can see more companies are running into the same issues as there is still much unclarity around it.

Thank you.

Kind regards,
Youri

[2022-09-23 14:15] AliceSinisi opened #3685 "Radio"
[Immetti qui i commenti]

---
#### Dettagli del documento

⚠ *Non modificare questa sezione. È necessaria per i collegamenti relativi ai problemi tra learn.microsoft.com ➟ GitHub.*

* ID: 9fd39bd4-8dd1-802f-fcca-de68dfec943c
* Version Independent ID: 733c4273-459d-fe73-288e-f31f0d536a60
* Content: [Controllo Radio in Power Apps - Power Apps](https://learn.microsoft.com/it-it/power-apps/maker/canva

[2022-09-23 15:00] bishalgoswami commented on #3685
Thanks for your comment, @AliceSinisi. This issue has been assigned to the doc author for review.

[2022-09-23 16:32] darshSWL opened #3686 "Error message: Unable to persist the profile."
I've installed the plugin profiler, started profiling and while executing the plugin, I got the exception "Unable to persist the profile".
The exception details didn't contain any specific details. The exeception was thrown while the profiled plugin was executed.

Any idea how this can be solved?

During the plugin execution, there is also a synchronous workflow starting and the plugin is triggere

[2022-09-23 17:00] bishalgoswami commented on #3686
Thanks for your comment, @darshSWL. This issue has been assigned to the doc author for review.

[2022-09-23 21:09] #3652 closed

[2022-09-23 21:12] ProfessorKendrick commented on #3665
@CarstenMS, thank you for raising this issue.  The content has been updated and it will be LIVE shortly.

[2022-09-23 21:12] #3665 closed

[2022-09-23 22:38] phecke commented on #3684
@ChrisAt2at Please provide a link to the documentation page you are talking about so that I can assigned the correct writer to assist.

[2022-09-23 22:55] andresgd7 commented on #733
try changing the external name of variable in power automate desktop, that helped me

[2022-09-23 23:14] phecke commented on #3686
@darshSWL The profiler persists the profiling data to an entity row in Dataverse. Is the plug-in registered in an environment that has an associated database? I am asking because it is possible to create an environment without a database.

Also, are you profiling when logged into a system user account with a System Customizer role?

[2022-09-23 23:52] darshSWL commented on #3686
@phecke There is a database for this environment. I'm logged in with a user account which has the system administrator security role assigned. I think I'll open a support ticket about this next week.

I'm trying to debug a plugin which runs in a "create" pipeline with several other plugins. The plugin tries to retrieve a record, which was created in this pipeline earlier, but fails with with "reco

[2022-09-24 00:19] phecke commented on #3612
@LinnZawWin For the developer documentation, the relationships that a table/entity supports is called out in the Table/Entity reference documentation. For example, the [Task ](https://learn.microsoft.com/power-apps/developer/data-platform/reference/entities/task) reference page only documents 1:N and N:1 relationships, therefor N:N is not supported.

In the maker UI, you cannot create an N:N relat

[2022-09-24 00:19] #3612 closed

[2022-09-24 00:29] phecke commented on #3686
@darshSWL The retrieve plug-in is registered to run after the core operation (stage 30), right?

[2022-09-24 01:41] darshSWL commented on #3686
@phecke Yes. It runs in stage 40.
The plugin has no problems to retrieve the record while it is executed in Dataverse. The problem with the missing record only pops up in the replay using the debugger.

[2022-09-24 02:08] phecke commented on #3246
@PranjaliShetty I added a note to the annotation-note-entity.md topic. Thanks for the feedback.

[2022-09-24 02:08] #3246 closed

[2022-09-26 02:54] LinnZawWin commented on #3612
@phecke Table/Entity reference is generated from the web service metadata which documents existing relationships but it does not specify whether N:N is supported or not. E.g. the [Account ](https://learn.microsoft.com/en-nz/power-apps/developer/data-platform/reference/entities/account) reference page documents 1:N and N:1 relationships but there is no N:N relationship either (even though N:N is su

[2022-09-26 06:46] Customery opened #3687 "What the heck are phases?"
The guidance offered here is an example of an outdated linear, sequential approach to building business apps in phases.

This isn't 1984 any more.

We're agile now. We don't have phases. We concurrently analyse, design, develop, test and deploy our application in increments that we frequently inspect and adapt.

I hope your documentation can keep up.

[Enter feedback here]

---
#### Document Detai

[2022-09-26 06:57] bthompson-365 commented on #3687
I have to agree with Neil here because what is written here doesn't reflect any of the diagrams on https://github.com/MicrosoftDocs/powerapps-docs/blob/main/powerapps-docs/guidance/planning/app-development-approaches.md which this page links to.

Personally the whole point of developing power apps is because it allows you to bypass the Conceptial / prototype phase and instead build a simple MVP  (

[2022-09-26 07:00] bishalgoswami commented on #3687
Thanks for your comment, @Customery. This issue has been assigned to the doc author for review.

[2022-09-26 08:24] ChrisAt2at commented on #3684
Hi @phecke,

Sorry, I thought that was automatically added.
The documentation where the pre-req is not mentioned is at https://learn.microsoft.com/en-us/power-apps/maker/data-platform/azure-synapse-link-pipelines#use-the-solution-template-in-synapse-workspace

[2022-09-26 08:27] ChrisAt2at commented on #3634
So I just realized that I did not 'Create an Azure Synapse Link for Dataverse with the **_incremental folder update enabled_**' as described in the Prerequisites #3.
Recreating the synapse link using the description as can be found in the link provided with the pre-req made it work as a charm

[2022-09-26 13:58] feridunkadir opened #3688 "Duplicate content"
[Enter feedback here]

Under the heading, Get started with creating apps in Teams, there are two paragraphs that both start with:

"When you create an app in Teams with the Power Apps app for the first time, or ....."

Although the paragraphs are not identical, the content appears to be a duplicate.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ G

[2022-09-26 15:00] bishalgoswami commented on #3688
Thanks for your comment, @feridunkadir. This issue has been assigned to the doc author for review.

[2022-09-26 20:09] xairrick commented on #3009
You can get the **names** using this -> https://<YourEnvironmentNameHere>.crm.dynamics.com/api/data/v9.2/canvasapps?$select=displayname,name

[2022-09-27 00:48] adambu opened #3689 "OnSelect for selecting an item in the AssignManager Gallery doesn't work to either select or execute the TemplateFill statement."
The OnSelect function Navigate(SelectTask, Fade) doesn't work on the Assign Manager Gallery.  It doesn't change the TemplateFill color and it doesn't seem to select the item either.

I went over and over this to make sure I was doing EXACTLY what the tutorial says.  I also wasn't able to find much about the "SelectTask" as a 1st argument to this function.

---
#### Document Details

⚠ *Do not edit

[2022-09-27 01:00] bishalgoswami commented on #3689
Thanks for your comment, @adambu. This issue has been assigned to the doc author for review.

[2022-09-27 07:01] Niels-SL opened #3690 "PowerFx based commands within the Dynamics 365 app for Teams"
Are PowerFx based commands supported within the Dynamics 365 app for Teams?

It is not working for me, but it is not listed under the limitations.
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c6ddb0f9-5f1e-021a-d12c-31500ef38ce7
* Version Independent ID: f3761398-40ab-b089-856a-3bdb81296869
* Content: [Command bar cu

[2022-09-27 07:52] Daisuke84 opened #3691 "Power Apps Studio modern command bar"
A new modern command bar has been added in preview to Power Apps Studio, I want to continue to use the old command bar in the future, and I want you to keep the settings so that you can switch between them in the future.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 learn.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 7dd6b9d7-4668-e08b-3796-2241351d80ff
* Version Independent ID: 7dd6b9d7-4668-e08b-3

[2022-09-27 09:00] bishalgoswami commented on #3691
Thanks for your comment, @Daisuke84. This issue has been assigned to the doc author for review.

[2022-09-27 09:00] bishalgoswami commented on #3690
Thanks for your comment, @Niels-SL. This issue has been assigned to the doc author for review.

[2022-09-27 10:02] darshSWL opened #3692 "More recommendations regarding the OperationStatus?"
The documention mentions the possibility to retry failed asynch operations. To do this, the InvalidPluginExecutionException should be thrown with the OperationStatus Retry.

I've never used the OperationStatus and I'm not sure what exactly the consequences and use-cases are.

Is the OperationStatus also usable for synchronous plugins?
Why should I throw an exception with OperationStatus Succeeded

[2022-09-27 11:00] bishalgoswami commented on #3692
Thanks for your comment, @darshSWL. This issue has been assigned to the doc author for review.

[2022-09-27 12:53] xuehzhu opened #3693 "Canvas app sharing between public cloud and China cloud"
[Enter feedback here]
Customer is query about the cross tenant app sharing, between pulic cloud and China cloud.
Scenario: The canvas app is published in China cloud, but shared to user in pulic cloud.
Finding: This seems by design according to PG‘s update on ICM 336442980
Ask: Please help clarify the limitation in the document

---
#### Document Details

⚠ *Do not edit this section. It is require

[2022-09-27 13:00] bishalgoswami commented on #3693
Thanks for your comment, @xuehzhu. This issue has been assigned to the doc author for review.

[2022-09-27 16:17] JimDaly commented on #3692
@darshSWL

Thank you for your feedback.

The content you are asking about is this:

Your questions are:

Use cases are calling an external resource. As stated, "...due to a network error or some other re-triable error". Perhaps you get throttled by the other service?

No. As stated, this is for asynchronous plugins.

You shouldn't. As stated, to retry you must use the `Retry` value only.

This con

[2022-09-27 17:51] darshSWL commented on #3692
Since this page is about handling exceptions in plugins, I didn't realize that "retry an asynch plugin" is the _only_ scenario where this enum is actually useful (and supported?). I've never seen the OperationStatus used in any example or anywhere else in the documentation. Maybe this documentation exists and I didn't find it? I'm not thinking about the exception constructor or the enum documentat

[2022-09-27 18:11] JimDaly commented on #3692
I'm not aware of any other use case for OperationStatus enum. It appears to be a sub-set of the [AsyncOperation.StatusCode](https://learn.microsoft.com/en-us/power-apps/developer/data-platform/reference/entities/asyncoperation#BKMK_StatusCode) options that are valid while the operation is running.

Plug-in Profiler is taking the serialized execution context and allowing you to debug your code loca

[2022-09-27 18:12] mduelae commented on #3691
@Daisuke84 The modern command bar is on by default. The only way to turn it back on is through the settings in the canvas apps studio.

I will pass your feedback to our product team.

Thanks,
Mints

[2022-09-27 18:12] #3691 closed

[2022-09-27 18:56] darshSWL commented on #3692
Yes, this makes sense.

We have an open support ticket about the Plug-In Profiler. I think I will ask the support team on that ticket why it throws the exception with "Suspended" (the plugin is not running async). Maybe that's the reason why the pipeline goes crazy after the exception.

I think I learned everything I wanted to know. Thanks a lot.

[2022-09-27 18:57] #3692 closed

[2022-09-28 08:47] Ludoscrewdo opened #3696 "Get Campaign"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 620aee88-efbc-394f-0cbb-79be3f4a6bd2
* Version Independent ID: 632dd319-a22f-a4b7-a2da-f60538b1e4e6
* Content: [How to export Ideas data for reporting (contains video) - Power Apps](https://learn.microsoft.com/en-us/power-apps/teams/export-employee-i

[2022-09-28 08:51] Ludoscrewdo commented on #3696
New to PowerAutomate and following the online tutorial. I've got to the section where I'm asked to add a Metaverse **Get Campaign** action, but it is not listed. Does anyone know how I can get around this?

[2022-09-28 09:00] bishalgoswami commented on #3696
Thanks for your comment, @Ludoscrewdo. This issue has been assigned to the doc author for review.

[2022-09-28 09:49] sora1inr26 opened #3697 "A function to call when the user cancels the lookup dialog or the operation fails."
[Enter feedback here]
`                    //define data for lookupOptions
                    var lookupOptions =
                    {
                        defaultEntityType: "msdyn_workorderservicetask",
                        entityTypes: ["msdyn_workorderservicetask"],
                        allowMultiSelect: false
                    };

                    // Get account records based

[2022-09-28 10:47] MattyBearBytes opened #3698 "More information regarding the certificate"
Lots of folks are coming here now for the OAuth Implicit Grant.

Whilst the specifics of the certificate are great - what type of certificate does it need to be?
If its pre-production, and there is no custom URL, and we are still using Microsoft's URL:  how do we create that certificate?

For example, can it be the same certificate uploaded in the SSL section of the Portal Admin?
There is an error

[2022-09-28 11:00] bishalgoswami commented on #3698
Thanks for your comment, @MattyBearBytes. This issue has been assigned to the doc author for review.

[2022-09-28 11:00] bishalgoswami commented on #3697
Thanks for your comment, @sora1inr26. This issue has been assigned to the doc author for review.

[2022-09-28 16:09] JimDaly commented on #3697
@sora1inr26

Issues in this repo are for the documentation.

I'm looking for what part of the documentation could be improved to help unblock you?

If you are looking for technical support, or want to report a bug, please contact technical support [Get Help + Support](https://learn.microsoft.com/en-us/power-platform/admin/get-help-support).

From what you have explained, you use the `lookupObjects

[2022-09-29 02:16] sora1inr26 commented on #3697
![image](https://user-images.githubusercontent.com/26737473/192923054-f8555ed8-9f30-44a2-a0fc-80135ad30dfc.png)

I clicked the cancel button ,then console shows the wrong result

[2022-09-29 03:49] ranistar commented on #3697
@sora1inr26  I think uploading the console log with screenshots would be more helpful.

[2022-09-29 08:19] sora1inr26 commented on #3697
![1664438164852](https://user-images.githubusercontent.com/26737473/192974135-6be52c26-c1bd-4655-a225-01e4416c7ba8.png)
![1664438212293](https://user-images.githubusercontent.com/26737473/192974149-ba12e865-c7b1-43de-b61f-8d2fc5fd4c32.png)

These two pictures above is the situation 1 , I select 1 record and click the confirm button. The success object have value.

![1664438476728](https://user-ima

[2022-09-29 14:10] McrStefan opened #3700 "OpenID Connect provider with custom URL parameters"
I am not able to find a way to add custom URL parameters to the OpenID Connect provider request made from the Power Portal.
I would like to add a connection URL parameter so that I get redirected to a different page when executing the login flow.
Is there any way to add custom ones instead of the default ones provided in the configuration like scope, response_mode, response_type etc ?
Thank you.

[2022-09-29 15:40] Diego1135 opened #3701 "Power Apps Cards Tutorial"
Hello!
This comments are in reference to https://learn.microsoft.com/en-us/power-apps/cards/tutorials/simple-shopping-list
Following the instructions things didn't work for me as expected. If I do Collect(myGroceryList, theNewItem), I get an error that Text is not allowed. And it seems logical for me.
I used this instead: Collect(myGroceryList, {'Item': TheNewItem})
But before that, I have to writ

[2022-09-29 17:00] bishalgoswami commented on #3701
Thanks for your comment, @Diego1135. This issue has been assigned to the doc author for review.

[2022-09-29 18:35] JimDaly commented on #3697
@sora1inr26
Thanks for the explanation.

Based on the docs, this method provides the ability to open a lookup control.
User has options:
 - Select records using the lookup (situation 1 above).
    - In this case the **successCallback** should provide you with information about the selected record(s).
 - Select no records but click the confirm button (situation 2 above)
    - I'm not clear why the

[2022-09-29 22:45] nyoung30 commented on #3701
Thanks for the additional info @Diego1135.

To get the tutorial to work on my end I had to ensure that variable **Title** was also included. This is different from the variable Name. Code snippet below, see **title**.

"variables": {
    "myGroceryList": {
      "type": "array",
      "title": "myGroceryList",
      "description": "",
      "default": [
        {
          "Item": ""
        }

[2022-09-30 00:49] daryllabar opened #3703 "Alternate Keys aren't supported in the Target of a Pre-Validation/Operation Plugin"
It should probably called out that attempting to set a lookup attribute to an EntityReference for the target in the Pre-Operation or Pre-Validation of a plugin is not supported.  It will error in the Pre-Validation, and create a reference to 00000000-0000-0000-0000-000000000000 in the Pre-Operation

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ Gi

[2022-09-30 02:57] ranistar opened #3704 "Missing ** after disableAsyncTimeout"
I think you want disableAsyncTimeout to show as bold format but missing ** after it.

as-is:
When the **disableAsyncTimeout is set, the timeout for that handler will not be applied. It will continue to wait for that handler's promise to be fulfilled.
![image](https://user-images.githubusercontent.com/14199700/193180399-d2c5d0d0-8021-4c82-9685-cd35e029fa02.png)
to-be:
When the **disableAsyncTimeout

[2022-09-30 13:00] bishalgoswami commented on #3704
Thanks for your comment, @ranistar. This issue has been assigned to the doc author for review.

[2022-09-30 13:00] bishalgoswami commented on #3703
Thanks for your comment, @daryllabar. This issue has been assigned to the doc author for review.

[2022-09-30 16:20] #3704 closed

[2022-09-30 20:36] StevenRasmussen opened #3705 "Can you please update the document to specify whether File Columns are supported or not"
I'm looking to understand if File Columns are supported in PCF controls.  This would be good to have in the documentation.  Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b3b2e635-6c60-0efc-d894-e43216dca90e
* Version Independent ID: 9828125d-c061-465e-d486-b4ea609190e1
* Content: [Property Element - Power Apps

[2022-09-30 21:00] bishalgoswami commented on #3705
Thanks for your comment, @StevenRasmussen. This issue has been assigned to the doc author for review.

[2022-09-30 21:53] JimDaly commented on #3705
@StevenRasmussen
Thanks for your feedback.

@noazarur-microsoft

In the Remarks for this topic we have a list of `of-type` properties that are supported.

We also have a table with a list of `of-type`  [Value elements that are not supported](https://learn.microsoft.com/en-us/power-apps/developer/component-framework/manifest-schema-reference/property#value-elements-that-are-not-supported)

But File

[2022-10-01 16:36] JimDaly commented on #3703
@daryllabar
This seems like issue that needs to be examined by the dev team.
I see you have opened a support case. Let's see how that gets resolved and whether we need to add a note to it in the docs.
Closing this.

[2022-10-01 16:36] #3703 closed

[2022-10-01 16:37] VeeRochet opened #3706 "Overview missing 7 in screenshot"
In the overview section the 7. Fit to screen is not indicated on the screenshot.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e3e180de-c847-fdbf-8f42-818d2e1f3a5c
* Version Independent ID: 7b74f600-eee6-e337-a0e1-b8fc676fd001
* Content: [Overview of the model-driven app designer - Power Apps](https://learn.microsoft

[2022-10-01 17:00] bishalgoswami commented on #3706
Thanks for your comment, @VeeRochet. This issue has been assigned to the doc author for review.

[2022-10-02 12:05] vikramhn opened #3707 "Can you specify if the SharePoint access will work for end users/customers outside the organization to upload/download from cases view when the portal is configured with the Azure Active Directory B2C provider"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: fd70bb46-8651-365b-7a25-215b921f55b6
* Version Independent ID: f628a69a-04c8-901a-832f-b867aff68603
* Content: [Manage SharePoint documents - Power Apps](https://learn.microsoft.com/en-us/power-apps/maker/portals/manage-sharepoint-documents?source=re

[2022-10-02 12:08] vikramhn commented on #3707
Can you specify if the SharePoint access will work for end users/customers outside the organization to upload/download from cases view when the portal is configured with the Azure Active Directory B2C program ?
https://learn.microsoft.com/en-us/power-apps/maker/portals/configure/configure-azure-ad-b2c-provider

[2022-10-02 13:00] bishalgoswami commented on #3707
Thanks for your comment, @vikramhn. This issue has been assigned to the doc author for review.

[2022-10-03 13:46] VeeRochet opened #3709 "Where is the Offline Status page"
[Enter feedback here]
Hi,
I cannot find the offline status page. Can you specify how to navigate to it?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7f2b1a47-81ee-dc70-77d9-cf6ccf3f8d6b
* Version Independent ID: 7f2b1a47-81ee-dc70-77d9-cf6ccf3f8d6b
* Content: [Offline profile guidelines - Power Apps](https://learn.m

[2022-10-03 15:00] bishalgoswami commented on #3709
Thanks for your comment, @VeeRochet. This issue has been assigned to the doc author for review.

[2022-10-03 15:27] #3200 closed

[2022-10-03 17:56] iozm commented on #2255
Can someone please fix the documentation? Its misleading to use images for controls that are now deprecated. @Mattp123 This is not resolved. We had to go through an endless troubleshooting only to find out this feature has been deprecated for a year but documentation does not reflect it.

[2022-10-03 17:59] iozm opened #3710 "Document is misleading, showing deprecated controls as examples to follow."
Document needs to be updated to reflect actual active controls, the guide shows the usage of deprecated controls no longer available. We follow these steps believing they are up to date and end up wasting time and effort troubleshooting for something that has already been deprecated.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.

[2022-10-03 19:00] bishalgoswami commented on #3710
Thanks for your comment, @iozm. This issue has been assigned to the doc author for review.

[2022-10-04 04:48] nbrandl commented on #1457
Hello,
We have came across with the same situation recently. It seems that the code that reads the content from the CRM column and feeds the filter values converts the string content to a number when the content is an actual number. The result we get on the Power BI filter is the same you would get if instead of feeding the PBI filter with a string column, you use a number column.
Interestingly, a

[2022-10-04 15:47] dcastell1 opened #3711 "Odd behavior of security roles privileges "Append" and "Append to" when using Multi-table lookups"
I think this article needs to cover some issues that my team is experiencing related to security roles and privileges "Append" and "Append to" with tables that have a Multi-table lookup. It seems that these privileges only work properly in the first table included in the lookup, but do not work for the next ones. I have conducted some tests and users do not have access to related records of a self

[2022-10-04 17:00] bishalgoswami commented on #3711
Thanks for your comment, @dcastell1. This issue has been assigned to the doc author for review.

[2022-10-04 17:10] NHelgren commented on #3711
Thank you @dcastell1, I will review this behavior.

[2022-10-04 20:55] pvanroos opened #3712 "Update instructions"
The following section needs to be updated for the recent version of Blazor Server:

https://learn.microsoft.com/en-us/power-apps/developer/data-platform/webapi/quick-start-blazor-server-app#prepare-the-app-to-use-azure-ad-tokens

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 4db187af-a897-e8df-f587-4b9763e0bf27
* Vers

[2022-10-04 21:00] bishalgoswami commented on #3712
Thanks for your comment, @pvanroos. This issue has been assigned to the doc author for review.

[2022-10-05 00:27] phecke commented on #3445
@tdutch1 Now that dependent assemblies are supported for plug-ins, you can use System.Data.SqlClient if you upload a plug-in package containing its assembly. See [Dependent Assembly plug-ins](https://learn.microsoft.com/power-apps/developer/data-platform/dependent-assembly-plugins).

[2022-10-05 00:27] #3445 closed

[2022-10-05 06:52] MattyBearBytes opened #3713 "Sites being created Private but no way to make them Public yet"
This announcement for the Power Pages new Site Visibility is frustrating.
We have new sites that are being created and in the default state of "Private"

However, the Power Pages UI for the site, under the Setup menu, does not have the Visibility option.  Our users are D365/Power Platform Administrators.

What do we do when we are in this state of limbo?
Site Visibility defaults to PRIVATE for new

[2022-10-05 08:17] CarstenMS opened #3714 "Mime type restrictions need to be made on the "Basic Form Metadata", not on Additional Settings of the Form"
[Enter feedback here]
This is regarding the "Accept	The accept attribute specifies the MIME types of files that the server accepts through file upload. To specify more than one value, separate the values with a comma (e.g. audio/,video/,image/*)."
information.

it turns out that this needs to be set in the
"Basic Form Metadata" to become effective,
NOT in the "Additional Settings" of the basic for

[2022-10-05 09:00] bishalgoswami commented on #3714
Thanks for your comment, @CarstenMS. This issue has been assigned to the doc author for review.

[2022-10-05 09:15] AndrewTheWild opened #3715 "Additional information about restrictions of OData v4 Data Provider"
Hello, could you give information about type of field which support provider for VE.
For example work with:
- polymorphic lookup
- party list
- option set
and etc.

Thanks for attention!

[2022-10-05 09:18] AshokG9888 opened #3716 "Override Column Attributes does not support for Multilanguage"
Hi Team,

Is there any possibility for providing multi language support for override column attribute names in the EntityList in Power apps portals.

Currently it is taking only one value for all languages.

![image](https://user-images.githubusercontent.com/46023343/194025996-4a8fb195-84e3-46c5-bb9d-caed4c8d37c1.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for lear

[2022-10-05 11:00] bishalgoswami commented on #3716
Thanks for your comment, @AshokG9888. This issue has been assigned to the doc author for review.

[2022-10-05 12:41] nickdoelman commented on #3636
Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-10-05 12:41] #3636 closed

[2022-10-05 12:50] nickdoelman commented on #3568
Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-10-05 12:50] #3568 closed

[2022-10-05 19:32] Sirgoodman1234 opened #3717 "Microsoft Personal Account identity provider documentation"
Need a screen shot in the doc to make it clear what option is need for success. there are two option that mention "personal"

![image](https://user-images.githubusercontent.com/61255271/194146528-d03f0f2f-28ee-4ba3-9dd4-b9ae8d56389c.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 975beece-88e5-4564-5c5f-0d9df65b28

[2022-10-05 21:00] bishalgoswami commented on #3717
Thanks for your comment, @Sirgoodman1234. This issue has been assigned to the doc author for review.

[2022-10-06 07:17] irah2008 opened #3718 "Any Documentation on showBarcodeScanner property?"
There is no details on how to use the showBarcodeScanner and which fields will the scan search for. This would help us on implementing this feature for customers who are asking for such feature.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5ec38d57-dbf5-8547-fe4d-2f05351f728e
* Version Independent ID: 474145c5-988a-

[2022-10-06 09:00] bishalgoswami commented on #3718
Thanks for your comment, @irah2008. This issue has been assigned to the doc author for review.

[2022-10-06 19:20] nickdoelman commented on #3716
Thanks for your feedback. For product-related feedback, visit [https://aka.ms/MPP_ideas](https://aka.ms/MPP_ideas)

Closing this issue.

[2022-10-06 19:20] #3716 closed

[2022-10-07 11:07] khoait opened #3721 "Wildcard search is not working in 2022 Release Wave 2"
Hi,

Wildcard search stops working after updating to 2022 Release Wave 2.

<img width="161" alt="image" src="https://user-images.githubusercontent.com/8686497/194537990-32ef0cc7-33aa-4140-b6d1-f6ada1d275c8.png">

This feature is helpful and is widely used by users. I'm not sure if the issue is a bug or a change but it's causing a lot of frustration after updating to Release Wave 2.

Is there a way

[2022-10-07 13:00] bishalgoswami commented on #3721
Thanks for your comment, @khoait. This issue has been assigned to the doc author for review.

[2022-10-07 13:53] yang-jiayi opened #3722 "規定ではなく、既定を修正してください"
https://learn.microsoft.com/ja-jp/power-apps/maker/data-platform/export-data-lake-faq#-----------------dataverse--------
こちらの日本語の表記を修正してください。
「規定」ではなくて、「既定」です。

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 learn.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: cd9eb58e-fa75-d6ad-e1d6-a3c4242b1157
* Version Independent ID: c103e157-e34a-b636-8132-52c760f67e75
* Content: [Microsoft Dataverse テーブル データを Az

[2022-10-07 14:53] Hjaf opened #3723 "Sharing component libraries differs from canvas apps."
This issue has been reported but closed before: https://github.com/MicrosoftDocs/powerapps-docs/issues/1455

The section [Compoent library permissions](https://learn.microsoft.com/en-us/power-apps/maker/canvas-apps/component-library#component-library-permissions) says that it can be shared like other apps, but it appears that it is not possible to share it with everyone or groups. It seems to only

[2022-10-07 15:00] bishalgoswami commented on #3723
Thanks for your comment, @Hjaf. This issue has been assigned to the doc author for review.

[2022-10-07 15:00] bishalgoswami commented on #3722
Thanks for your comment, @yang-jiayi. This issue has been assigned to the doc author for review.

[2022-10-07 15:48] mct8638Get opened #3724 "Issue Reporting - application to be configure with task"
Issue reporting is not loading, see screen shot error below

<img width="893" alt="Screenshot 2022-10-07 083922_IssueReporting" src="https://user-images.githubusercontent.com/115269459/194594924-c63f663c-b233-41c4-93cb-d621fb828bd8.png">

[2022-10-07 21:45] eduardorivas9 opened #3725 "Power Platform Explorer does not show Plugin Packages"
I tried to deploy a plug-in packages with Power Platform Tools (VS Extension) but I was not able to see the plug-in packages deployed in the Power Platform Explorer (version 1.0.0.3) neither in PRT (version 9.1.0.155). However if I was able to see in the customization portal into solution.

![image](https://user-images.githubusercontent.com/889409/194664178-5c9315e6-2213-4175-86d1-384213c55c62.png

[2022-10-07 23:00] bishalgoswami commented on #3725
Thanks for your comment, @eduardorivas9. This issue has been assigned to the doc author for review.

[2022-10-07 23:09] phecke commented on #3724
@mct8638Get Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, see here: https://powerapps.microsoft.com/support.

Closing this issue.

[2022-10-07 23:09] #3724 closed

[2022-10-08 00:28] JimDaly commented on #3725
@eduardorivas9
I've forwarded what you have reported to the Power Platform Tools dev team. Let's see what they say.

[2022-10-08 01:25] phecke commented on #3686
@darshSWL Sorry I could not be of help, but Support is the way to go.

[2022-10-08 01:25] #3686 closed

[2022-10-08 19:53] GitSheva commented on #3651
Hi, any updates on this documentation? I see that I'm not the only one following this documentation getting errors with the pipeline. Thanks.

[2022-10-09 05:43] malaker opened #3727 "Adding resource to the plugin package is not fully documented"
Hey I walkthroughed this documentation and I tried to add resource file to plugin package but after following all the steps here resource file has not been added to the nuget package. I try other options and after configuring build action to content then resource file has been added to the package.

Another question is how to load in runtime this file. I tried to get location of the executing asse

[2022-10-09 06:11] sora1inr26 commented on #3697
Thanks, your understand is right, i also think that select no records and shows the confirm buttom at the same time is wrong.I will contract technical team to report the issue.

[2022-10-09 07:00] bishalgoswami commented on #3727
Thanks for your comment, @malaker. This issue has been assigned to the doc author for review.

[2022-10-09 21:14] JimDaly commented on #3727
@malaker
Thanks for your feedback.

Are you saying that the steps describe here for PAC CLI: [Add a file resource](https://learn.microsoft.com/en-us/power-apps/developer/data-platform/dependent-assembly-plugins#add-a-file-resource)

Or here using Power Platform tools: [Add a file resource with Power Platform Tools](https://learn.microsoft.com/en-us/power-apps/developer/data-platform/dependent-asse

[2022-10-09 21:28] JimDaly commented on #3712
@pvanroos
Thanks for your feedback.

Can you be more specific about what needs to change?
We also accept pull requests if you want to apply the changes you feel are needed.

[2022-10-09 22:57] hermit99 opened #3729 "Link broken: 404"
[Enter feedback here]
More information: [Developer documentation: Choices columns](https://learn.microsoft.com/en-us/developer/data-platform/multi-select-picklist).
The above link returns 404
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 44b550ae-be95-2d7d-669b-009cf0fe2bf6
* Version Independent ID: cd0f7c13-290a-d9c3

[2022-10-09 23:00] bishalgoswami commented on #3729
Thanks for your comment, @hermit99. This issue has been assigned to the doc author for review.

[2022-10-10 05:32] malaker commented on #3727
- I see this in documentation however after doing this file is not included to the nuget package

[2022-10-10 05:40] malaker commented on #3727
I tried to include different file than JSON. For testing this feature I had idea to develop plugin that produces pdf documents and it has built in some custom fonts. I wanted to include some ttf files but this below does not work in that case.

<ItemGroup>
  <None Update="someFont.ttf">
    <CopyToOutputDirectory>PreserveNewest</CopyToOutputDirectory>
  </None>
</ItemGroup>

[2022-10-10 05:47] malaker commented on #3727
I gave couple of shots and I managed to include ttf file to nuget package by doing this

i)
![image](https://user-images.githubusercontent.com/1746427/194804756-41d2886d-d867-4ebc-ad60-ec75f7010e48.png)
II)
![image](https://user-images.githubusercontent.com/1746427/194804820-3ed50de2-d0cd-416f-9933-1b7e3d1efb52.png)
III)
![image](https://user-images.githubusercontent.com/1746427/194804858-5de70252

[2022-10-10 07:33] Pankaj-Thakur commented on #3725
@eduardorivas9 Is the Plugin Package enabled as below?
![image](https://user-images.githubusercontent.com/20115956/194817363-06b8f931-15b3-40c1-824d-618869c0d2d0.png)

[2022-10-10 08:52] khoait commented on #3721
I found the problem. Looks like when enabling Dataverse Search, it doesn't respect the current value of "Prevent slow keyword filter for quick find terms on view pages" which is off.

I needed to turn it on and Save settings, then turn it off and Save settings for it to allow wildcard search.

![image](https://user-images.githubusercontent.com/8686497/194829425-a0600263-52fa-4547-99af-8debdc827e2f

[2022-10-10 08:52] #3721 closed

[2022-10-10 14:53] shammyowens opened #3730 "Dataverse search not supported"
Hi Team

We have a support call open 2208170030000831 where we cannot get dataverse search working in Power Apps Portals and the support team have told us that this is by design.  This is very strange as it renders this page completely incorrect.  Can someone come back to me and tell me if this is supported or not.

Thanks
Sam

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-10-10 15:00] bishalgoswami commented on #3730
Thanks for your comment, @shammyowens. This issue has been assigned to the doc author for review.

[2022-10-10 16:05] KumarVivek commented on #833
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, visit <https://powerapps.microsoft.com/support/>.

Closing this issue.

[2022-10-10 16:06] KumarVivek commented on #1439
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, visit <https://powerapps.microsoft.com/support/>.

Closing this issue.

[2022-10-10 16:06] #1439 closed

[2022-10-10 16:07] KumarVivek commented on #924
This API is no longer available, closing the issue

[2022-10-10 16:07] #924 closed

[2022-10-10 16:09] KumarVivek commented on #843
@JimDaly Can you pls review and update the doc if required. Thanks.

[2022-10-10 16:09] KumarVivek commented on #1259
Thanks for your feedback. For product-related feedback, visit <https://ideas.powerapps.com>.

Closing this issue.

[2022-10-10 16:12] KumarVivek commented on #431
Fixed

[2022-10-10 16:12] #431 closed

[2022-10-10 16:13] JimDaly commented on #1830
@almaszaurbekov
Thanks for your feedback.
I found this issue was open for a very long time. If this is still an issue for you, please update this issue and we can reopen it.

Jim

[2022-10-10 16:13] #1830 closed

[2022-10-10 16:13] KumarVivek commented on #3036
Fixed!

[2022-10-10 16:13] #3036 closed

[2022-10-10 16:14] #1308 closed

[2022-10-10 16:16] KumarVivek commented on #726
The article is up-to-date; closing the issue.

[2022-10-10 16:16] #726 closed

[2022-10-10 16:17] #2802 closed

[2022-10-10 16:17] KumarVivek commented on #2105
Thanks for your feedback. For product-related feedback, visit <https://ideas.powerapps.com>.

Closing this issue.

[2022-10-10 16:17] #2105 closed

[2022-10-10 16:18] KumarVivek commented on #844
@JimDaly Can you pls look at this.

[2022-10-10 16:22] KumarVivek commented on #3587
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, visit <https://powerapps.microsoft.com/support/>.

Closing this issue.

[2022-10-10 16:22] #3587 closed

[2022-10-10 16:30] JimDaly commented on #843
@Tim-Townsend
This issue has been open for a long time. I note that there have been a number of issues raised for the documentation of this control over the years. I'm reaching out to the dev team to review all of them.

[2022-10-10 16:30] #843 closed

[2022-10-10 16:49] JimDaly commented on #2640
I reached out to @noazarur-microsoft about this via email.

[2022-10-10 16:56] KumarVivek commented on #3729
Fixed; should be live shortly.

[2022-10-10 16:56] #3729 closed

[2022-10-10 17:14] #844 closed

[2022-10-10 19:05] iaanw commented on #3701
We've updated the documentation with this information, thanks all.

[2022-10-10 19:05] #3701 closed

[2022-10-10 20:10] JimDaly commented on #3727
@malaker

Can you try using `Path.GetDirectoryName(Assembly.GetExecutingAssembly().Location)` which should provide the root location for the files?

[2022-10-10 23:35] VitalyMCT opened #3732 "Delay in provisioning the development environment"
There is apparently a delay (sometimes in double-digit minutes) between requesting the development environment and having it appear in the list of environments.

This important aspect does not appear to be mentioned in neither the UI nor in this documentation page. It thus appears to many users that the development environment provisioning process is broken.

Can the documentation please be update

[2022-10-10 23:42] lalexms commented on #2933
Hi @mathiabl, were you able to provide details? If this issue is not resolved, please let us know. Thanks!

[2022-10-10 23:51] collisb commented on #3634
Thanks @jon-mcc.

Was getting same error and had to modify both the trigger and pipeline parameters to properly process path. SQL tables finally created and synchronizing with Dataverse every hour. Has been working for us for 20+ successful trigger and pipeline runs.

YMMV and likely this workaround likely will not work once the template configuration process and documentation have been updated to

[2022-10-11 00:39] Bernadette2022 commented on #3647
The feedback has been addressed

[2022-10-11 01:00] bishalgoswami commented on #3732
Thanks for your comment, @VitalyMCT. This issue has been assigned to the doc author for review.

[2022-10-11 01:54] lalexms commented on #2911
Hi @MarcTrot @JonnGreaves - I'm working with the product team to try to understand the issue and they would like to know if you're talking about the status tags on the card layout form. Thanks for any additional details you can provide.

[2022-10-11 08:45] caburk commented on #3018
@Shan ***@***.***> @Sameer ***@***.***> - can you please help here.

Casey Burke
Senior Program Manager, PowerApps ALM | ***@***.******@***.***>

From: Yaroslav Zghurovskyi ***@***.***>
Sent: Wednesday, May 4, 2022 5:29 AM
To: MicrosoftDocs/powerapps-docs ***@***.***>
Cc: Casey Burke ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/powerapps-docs] Environment variable secrets with ke

[2022-10-11 09:06] caburk commented on #3222
@Chris ***@***.***> - can you pls take a look.

Casey Burke
Senior Program Manager, PowerApps ALM | ***@***.******@***.***>

From: Bishal Goswami ***@***.***>
Sent: Friday, March 25, 2022 5:01 AM
To: MicrosoftDocs/powerapps-docs ***@***.***>
Cc: Casey Burke ***@***.***>; Assign ***@***.***>
Subject: Re: [MicrosoftDocs/powerapps-docs] Environment Variables don't show up in trigger action when trigg

[2022-10-11 09:44] Swappy opened #3733 "Incorrect Step 5 to Enable/Disable CDN on Portal"
The Step 5 asks to click on Manage, but Manage takes us to Portal Admin page.
Instead We should click on ths portal link on the grid which takes us to the screen showed on step 6.
![image](https://user-images.githubusercontent.com/1185336/195056277-8fd5d278-fd8d-40f9-9d9f-5fb0032b9544.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issu

[2022-10-11 10:24] cookyrag opened #3734 "Import from Solution not working - "Nothing to Display" message shown"
Has anyone managed to get the Import from Solution working , I have created my Data Lake Config , added it to a solution , exported the solution.

But every time i click on "Import from Solution" i just get "Nothing to Display"

[2022-10-11 10:29] cookyrag commented on #3734
An FYI , using Dev Tools I can see the JS is retreiving my configs

https://xxx.crm4.dynamics.com/api/data/v9.0/msdyn_exporttodatalakeconfigs

{
    "@odata.context": "https://xxx.crm4.dynamics.com/api/data/v9.0/$metadata#msdyn_exporttodatalakeconfigs",
    "value": [
        {
            "@odata.etag": "W/\"434435730\"",
            "overwritetime": "1900-01-01T00:00:00Z",
            "ismanaged

[2022-10-11 10:50] cookyrag opened #3735 ""Import from Solution" not working - Nothing to Display"
Has anyone got "Import from Solution" working , all I get is "nothing to display".

1. Data Lake Sync created
2. Added to Solution
3. Published and Exported Solution
4. Import Solution into New Environment
5. Import from Solution - "Nothing to Display"

:(

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5eaf46c4-e66c-9

[2022-10-11 10:50] arajawat opened #3736 "Cosmos DB Paritioning explanation in Dataverse"
The Document tree & all related pages talk about Dataverse Web APIs but suddenly this page talks about Cosmos partitioning. This is not a right place and creates confusion if we can create partition key in dataverse or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 06a71082-a3db-214d-d66d-9e32f95ed992
* Version I

[2022-10-11 11:00] bishalgoswami commented on #3736
Thanks for your comment, @arajawat. This issue has been assigned to the doc author for review.

[2022-10-11 11:00] bishalgoswami commented on #3735
Thanks for your comment, @cookyrag. This issue has been assigned to the doc author for review.

[2022-10-11 11:00] bishalgoswami commented on #3733
Thanks for your comment, @Swappy. This issue has been assigned to the doc author for review.

[2022-10-11 11:06] #3734 closed

[2022-10-11 11:06] cookyrag commented on #3734
Sorry , logged incorrectly

[2022-10-11 11:08] cookyrag commented on #3735
FYI , checked Dev Tools and can see that the page/script is retrieving the configs (have removed name and scheme from this text)

https://xxx.crm4.dynamics.com/api/data/v9.0/msdyn_exporttodatalakeconfigs

{
"@odata.context": "https://xxx.crm4.dynamics.com/api/data/v9.0/$metadata#msdyn_exporttodatalakeconfigs",
"value": [
{
"@odata.etag": "W/"434435730"",
"overwritetime": "1900-01-01T00:00:00Z",
"i

[2022-10-11 14:15] nickdoelman commented on #3713
Can you please indicate if you are still experiencing this issue, and what region your portal/site is located in?

[2022-10-11 14:23] MattyBearBytes commented on #3713
Many thanks

It seems to have resolved itself after the last updates for Power Pages late last week. The screen appears now to make it public.

This was in Australia region

-M

On 11 Oct 2022, at 10:15 pm, nickdoelman ***@***.***> wrote:

﻿

Can you please indicate if you are still experiencing this issue, and what region your portal/site is located in?

—
Reply to this email directly, view it on

[2022-10-11 14:54] managedcoder opened #3738 "False advertising"
This doc page is titled "How do I find and run apps?" but it only speaks to how to run model-driven apps.  Nowhere does it speak to finding those apps.  I should be renamed to "How to run apps?" or add content that specifically addresses finding app (or whatever was originally meant by the term "find").

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com

[2022-10-11 15:00] bishalgoswami commented on #3738
Thanks for your comment, @managedcoder. This issue has been assigned to the doc author for review.

[2022-10-11 15:59] eduardorivas9 commented on #3725
Yes I have enabled it

![image](https://user-images.githubusercontent.com/889409/195141728-da0648db-597a-402e-8361-7272328efdc1.png)

[2022-10-11 16:48] v-aangie commented on #3647
Localization updated by Bernadette Pinpin.

[2022-10-11 16:48] #3647 closed

[2022-10-11 16:50] nickdoelman commented on #3713
Thank you for confirming the issue is resolved. If it happens again, please raise a [support ticket](https://learn.microsoft.com/power-platform/admin/get-help-support). Thank you also for your feedback.

Closing the issue.

[2022-10-11 16:50] #3713 closed

[2022-10-11 23:11] tapanm-MSFT commented on #3732
Thank you for reaching out and your feedback. Documentation has been updated and will reflect the changes soon.

[2022-10-11 23:11] #3732 closed

[2022-10-11 23:18] tapanm-MSFT commented on #3723
Thank you for reaching out and your feedback. Documentation has been updated, and will reflect the changes soon.

[2022-10-11 23:18] #3723 closed

[2022-10-12 05:48] malaker commented on #3727
@JimDaly  Thanks, it works. Finally in sandbox plugin we can load some additional resources.

[2022-10-12 08:58] chris-burton-rnli commented on #3222
The issue is not being able to use an environment variable in a trigger, it's just that you need to create a blank flow (i.e. skip selecting the trigger action when you create the flow) and then create the trigger action to be able to select the environment variable.

If you select a SharePoint trigger at point of creation (e.g. When an item is created) then the environment variables don't show up

[2022-10-12 12:33] nickdoelman commented on #3730
Thank you for your feedback. Our understanding is the issue was related to intelligent search not working when a complex Lucene syntax is used. The resolution is to clear the value in Search/Query site setting to resolve the issue. We have updated the documentation. Closing the issue.

[2022-10-12 12:33] #3730 closed

[2022-10-12 12:43] shammyowens commented on #3730
Thank you for the quick response.

[2022-10-12 13:11] xguitoux opened #3739 "Typo in french"
est appeler ==> est appelé

---
#### Détails du document

⚠ *Ne pas modifier cette section. Elle est requise pour learn.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: d2fd3427-3ef2-8c97-6126-63ebb0c6b961
* Version Independent ID: 8aa107b0-eeea-c907-d232-7bd0c330922b
* Content: [Créer un composant de jeu de données d′application canevas dans Microsoft Dataverse - Power Apps](https://learn.mi

[2022-10-12 15:00] bishalgoswami commented on #3739
Thanks for your comment, @xguitoux. This issue has been assigned to the doc author for review.

[2022-10-12 16:04] JimDaly commented on #3727
@malaker
Thanks for confirming. Working with dev team on guidance for use in the doc. Should know more this week if this will be our guidance or there is some other recommendation.

[2022-10-13 08:41] jordyatvalcon opened #3740 "Test Studio: This test didn't save properly. Please try again."
I am having the following issue:
When trying to save a test scenario, I get the following error message:
_This test didn't save properly. Please try again._

![image](https://user-images.githubusercontent.com/115697678/195547353-5327593c-322b-459f-af42-4aa39fb5537e.png)

Additional information: Formula level error experimental feature is on. Also, git version control is on.
It also happens when sa

[2022-10-13 09:53] JMCA2 opened #3741 "CDN out of preview?"
The page is still showing "(preview)".

However, preview tags are now removed on the UI.

PowerPages (including CDN) is now GA, if I understood correctly from Ignite announcements yesterday.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a40721fb-181c-12a7-4db6-196ed6e30290
* Version Independent ID: a40721fb-181c-12a7

[2022-10-13 11:00] bishalgoswami commented on #3741
Thanks for your comment, @JMCA2. This issue has been assigned to the doc author for review.

[2022-10-13 12:08] samirelassal commented on #1992
Why has this issue been closed? Nearly two years passed and those properties are still not available in the Teams version of Power Apps.

[2022-10-13 13:32] nickdoelman commented on #3741
Thank you for catching that! We have updated the documentation. Closing the issue.

[2022-10-13 13:32] #3741 closed

[2022-10-13 13:53] justgivemeanumber opened #3742 "dataverse table: change data types after column creation"
why isn't it possible to change data types after the column was created? such a nuisance -.-

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 933ab4a6-2cf0-a627-5443-55c590b3ea7c
* Version Independent ID: 2e01f1bc-3f57-deae-4588-4017173fe3df
* Content: [Create and edit columns in Dataverse using Power Apps - Power Apps]

[2022-10-13 13:54] chmoncay commented on #1992
Hi there, I'm in the teams version and I see those properties.

![image](https://user-images.githubusercontent.com/22963239/195616428-71d9fca2-d3d2-44d8-872c-6cab4a3d02b0.png)

Here is a close up

![image](https://user-images.githubusercontent.com/22963239/195616514-22388864-c0ec-40a2-911d-c7d9ed285298.png)

Please advise.

[2022-10-13 14:30] ziron999 opened #3743 "InitialState is null"
Documentation followed 100%
Here is the code with the issue:

_Host.cshtml:
@namespace DataverseAPI.Pages

@using DataverseAPI.Data
@using Microsoft.AspNetCore.Authentication

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
<component type="typeof(App)" render-mode="ServerPrerendered" />

@{
    var token = new TokenProvider
            {
                AccessTok

[2022-10-13 15:00] bishalgoswami commented on #3743
Thanks for your comment, @ziron999. This issue has been assigned to the doc author for review.

[2022-10-13 17:40] MateRadz opened #3744 "Please mention somewhere in the docs that POST operations are only permissible within Change Set"
[Enter feedback here]

.... or maybe it is a bug in product not a feature. The truth is that batch without change set can only execute GET commands.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6db53047-327d-6eec-e6a8-4d9dae98f362
* Version Independent ID: 31b3ebbd-9070-db30-cc4e-cec4b41373b8
* Content: [Execute bat

[2022-10-13 18:31] samadane opened #3745 "Permissions or Security Role needed to create tests"
What security roles or permissions are needed for creating and running Test Studio?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b15deb16-02e4-9005-2dbd-917f8308b47d
* Version Independent ID: 51cc413b-0fd1-5a63-ddfa-16b3fb4c9e88
* Content: [Working with Test Studio (contains video) - Power Apps](https://learn.micros

[2022-10-13 19:00] bishalgoswami commented on #3745
Thanks for your comment, @samadane. This issue has been assigned to the doc author for review.

[2022-10-13 19:00] bishalgoswami commented on #3744
Thanks for your comment, @MateRadz. This issue has been assigned to the doc author for review.

[2022-10-13 20:02] JimDaly commented on #3744
@MateRadz
Thanks for your feedback.

You are saying:

This isn't true.

You can't use a `GET` request inside of a changeset, but you can send `POST`, `PATCH`, `DELETE`, and `PUT` requests outside of a changeset.

Here is an example:

**Request**
[code]

**Response**
[code]

[2022-10-13 20:56] JimDaly commented on #3727
@malaker

The dev team discussed this today and the decision was to remove support for including additional files with the assembly.
I will update the docs to remove the existing instructions and add content about this change.

The guidance going forward is to include such items as resources. I think this topic will be our guidance going forward: [Create resource files for .NET apps](https://learn

[2022-10-13 21:39] melody-universe commented on #3503
Hoping the product group can improved this functionality. In the meantime, my team has created a CLI tool that you can install in your pipelines / workflows to configure environment-level settings prior to importing a solution:

https://github.com/oops-i-git-it-again/dsyn-cli

[2022-10-13 22:15] tychotic opened #3746 "Intro should touch on card *sending* in Teams and Outlook"
First paragraph (intro) mentions cards as content but does not mention that they can be sent in Teams (and eventually Outlook) and hosted anywhere adaptive cards can be hosted (mobile, etc.)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9a7b6a60-0d8c-b0cb-1b50-a06d86290fa2
* Version Independent ID: 9a7b6a60-0d8c-b0cb

[2022-10-13 23:00] bishalgoswami commented on #3746
Thanks for your comment, @tychotic. This issue has been assigned to the doc author for review.

[2022-10-14 06:06] malaker commented on #3727
@JimDaly I think still it would be good to have possibility to embed some file as resource into assembly. Initially I thought you would extend IPluginExecution Interface so there will be some dictionary of resources or something like that. Showing people loading resource from Assembly may create confusion since many operation on assembly in the past are/were protected by code access security.

[2022-10-14 15:42] melody-universe opened #3747 "How to handle updates through solution deployments"
This documentation outlines the steps to import Synapse Link configurations from a solution. However, from our observations, if you deploy a new version of that solution with changes to the Synapse Link configuration component, regardless of whether the deployment is managed or unmanaged, those changes are not made to the Synapse Link configuration. The only way we've been able to get the configur

[2022-10-14 16:06] JimDaly commented on #3727
@malaker

I agree. We have to remove support for this until we can guarantee it will be a good solution or if we need to provide something else.

Your scenario is having access to .tff files to support a custom font for PDF generation. Will you be able to achieve this using the strategy described in [https://learn.microsoft.com/en-us/dotnet/core/extensions/resources](https://learn.microsoft.com/en

[2022-10-14 16:10] temmyraharjo opened #3748 "Question regarding "success" or "failure""
Hey Team, I'm testing below scenario:

1. Create Javascript and add event on the formOnLoad to call method formContext.data.entity.addOnPostSave(callDemoApi)
2. Create a Plugin that will always throw error

The callDemoApi will not triggered. Only if I disabled the plugin it will go there (there is no error happening). While the definition on the page is "Adds an event handler to be called after t

[2022-10-14 16:41] malaker commented on #3727
@JimDaly yes it works as well

[2022-10-14 17:00] bishalgoswami commented on #3748
Thanks for your comment, @temmyraharjo. This issue has been assigned to the doc author for review.

[2022-10-14 17:00] bishalgoswami commented on #3747
Thanks for your comment, @melody-universe. This issue has been assigned to the doc author for review.

[2022-10-14 17:32] StevenRasmussen opened #3749 "Please document how to specify 'minimum', 'maximum' and 'precision' for appropriate data types"
In the documentation it states that you can specify 'minimum', 'maximum' and 'precision' for several of the different types.  I don't see this documented anywhere and I have no idea how to do this. Are you able to document this for the future but in the meantime, how is this accomplished?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue

[2022-10-14 19:00] bishalgoswami commented on #3749
Thanks for your comment, @StevenRasmussen. This issue has been assigned to the doc author for review.

[2022-10-14 19:03] malaker commented on #3727
@JimDaly you know in my case I could have ttf file loaded in dataverse in file column and my plugin could retrieve it. My purpose by raising this ticket was to check out this previev feature.

Embedding resource into assembly sometimes makes sense to gain some miliseconds in processing but nowadays in many corporates heavy Logic is offloaded and people use az functions.

I wanted build ligtweight

[2022-10-14 19:12] JimDaly commented on #3727
OK . Thanks.
I'm going to close this issue.

[2022-10-14 19:12] #3727 closed

[2022-10-14 19:27] JimDaly commented on #3749
@StevenRasmussen
Thanks for your feedback.

I believe you are referring to the descriptions in the [Remarks](https://learn.microsoft.com/en-us/power-apps/developer/component-framework/manifest-schema-reference/property#remarks) section of this doc where the following can be found:

|Value|Description|
|---|---|
|Decimal|Up to 10 decimal points of precision can be used for values between -100,000,0

[2022-10-15 00:29] phecke commented on #3740
@jordyatvalcon Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, see here: https://powerapps.microsoft.com/support/

If you have a question about our documentation, please provide a link to the related article. Closing this issue.

[2022-10-15 00:29] #3740 closed

[2022-10-15 07:39] JMCA2 opened #3750 "Co-presence out of preview"
This page describes co-presense has the preview tag.

Co-presence it's GA since September for Dynamics apps.
Source:
https://learn.microsoft.com/en-us/dynamics365-release-plan/2022wave1/sales/dynamics365-sales/start-linked-chat-co-presence-record

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3483fba6-5fd9-b14c-07ad-b

[2022-10-15 07:39] JMCA2 commented on #3750
@alejaraz

[2022-10-15 09:00] bishalgoswami commented on #3750
Thanks for your comment, @JMCA2. This issue has been assigned to the doc author for review.

[2022-10-15 19:43] JimDaly commented on #3227
@ddevine-msft
Thank you for reporting this. Sorry for the delay in responding.
I've updated the topic to fix the issue.

[2022-10-15 19:43] #3227 closed

[2022-10-15 20:03] JimDaly commented on #3305
@JeremyVyska
Thank you for your feedback. Sorry for the delay in responding.
I've updated the topic to include a link to the instructions in the /maker content which were added due to the feedback you provided on that topic.

[2022-10-15 20:03] #3305 closed

[2022-10-15 20:37] JimDaly commented on #3736
@arajawat
Thanks for your feedback.

Web API is my area of expertise. Not so much about Cosmos partitioning. Perhaps @Peakerbl can speak to this.

From a Web API perspective, this topic describes a dynamic process in which partitions are created while performing a POST (Create) operation on a record. Afterwards, you can use this `partitionId` when performing GET, PATCH, or DELETE operations.

I al

[2022-10-16 10:48] filcole opened #3751 "getOutputs() documentation is sparse."
Please can the contents/shape of the dictionary output by getOutputs() be documented?  From my testing it appears that the output is a dictionary of objects.

[code]

e.g.

![image](https://user-images.githubusercontent.com/6078398/196031008-5a1b9c56-1c4c-4fb7-b48c-094dee50edef.png)

It would be good to document the structure of the keys for the dictionary, and also the elements/fields within each

[2022-10-16 10:54] MateRadz commented on #3744
Nope it is not working. I just tried to replicate:

POST /api/data/v9.1/$batch HTTP/1.1
Host: andupmidsb.crm4.dynamics.com
Authorization: Bearer ******
OData-MaxVersion: 4.0
OData-Version: 4.0
If-None-Match: null
Content-Length: 556

--batch_04fb0926-918b-4fbb-aadc-4105e4e02803
Content-Type: application/http
Content-Transfer-Encoding: binary

POST https://andupmidsb.crm4.dynamics.com/api/data/v9.2

[2022-10-16 11:00] bishalgoswami commented on #3751
Thanks for your comment, @filcole. This issue has been assigned to the doc author for review.

[2022-10-16 11:11] MateRadz commented on #3744
Thanks. Indeed. It works. Maybe this is obvious but it would not hurt to stress in the documentation that POST Requests inside the batch do not require [organization URI] after "POST" and before "/api/data/v9.2/accounts HTTP/1.1".

[2022-10-16 11:11] #3744 closed

[2022-10-16 13:09] filcole commented on #3751
The reason for asking is to improve/clarify the [@types/xrm](https://www.npmjs.com/package/@types/xrm) type definitions:
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/62749

[2022-10-16 17:21] JimDaly commented on #3744
@MateRadz
Thanks for letting us know.
Refreshing this content is on my TODO list.

Do you think that adding a link to the OData specification at [11.7 Batch Requests](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_Toc453752313) might help? Ultimately, this is where all the information comes from.

Do you mind if

[2022-10-16 18:17] MateRadz commented on #3744
Yes. It would definitely help. After your suggestion I also checked that. I use Node.js in Azure Functions. For the call I am using client_credentials to connect to D365.

[2022-10-17 14:34] jeffangama opened #3752 "Is Power Apps supported on mobile browser ?"
Hi,

Is running power apps from mobile browser supported ?

Thank you,
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6fdf0872-929b-e44a-dedd-eb6a759915f2
* Version Independent ID: 0b65b025-62f8-fc2a-0026-3cb96b7b4554
* Content: [Power Apps system requirements and limits - Power Apps](https://learn.microsoft.com/en-us/

[2022-10-17 18:47] beyro opened #3753 "control.getAttribute returns array of attributes for Form Component control"
Steps to reproduce:
* Add the Form Component to a lookup control on a form
* Call `formContext.getControl('lookupControlName').getAttribute()` on the lookup control.

Expected outcome:
* Per docs at: https://github.com/MicrosoftDocs/powerapps-docs/blob/main/powerapps-docs/developer/model-driven-apps/clientapi/reference/controls/getAttribute.md
    * getAttribute should return an attribute object.

[2022-10-18 07:24] nbrandl commented on #3211
@JimDaly while your solution is the only one available, it's a really tedious one. For custom activities you could live with it, as you only had to select the right version on the workflow designer, but for plug-ins, we need to recreate all steps and images.

Ideal scenario would be the platform to allow removing the plug-in class from the assembly using a managed solution. The steps required woul

[2022-10-18 13:24] MaciejPokrzywinski opened #3755 "Outdated terminology in the paragraph: "Dataverse"."
In the paragraph Dataverse appears: "Common Data Service" instead of: "Dataverse". This can be confusing for users who have not worked with older versions of Dataverse, or are not familiar with the history of terminology changes

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2adb9b7d-1922-2d8f-11db-eaa4e6b22547
* Vers

[2022-10-18 15:00] bishalgoswami commented on #3755
Thanks for your comment, @MaciejPokrzywinski. This issue has been assigned to the doc author for review.

[2022-10-18 16:09] JimDaly commented on #3211
@nbrandl
Thanks for your feedback.

This documentation feedback issue is about whether to document the set of steps we know are required to delete a plug-in type with a managed solution upgrade. This question comes up again and again.

We have a strategy that seems to work, but it is tedious. I'd love to get some validation that it is effective in real world scenarios before we document it as "the

[2022-10-18 17:21] nbrandl commented on #3211
Thanks @JimDaly. You are absolutely right! I would love to see a section dedicated to detail what is the appropriate way of updating a plug-in assembly using managed solutions when you remove a plug-in class, i.e., what you have detailed previously.

To make my case as feature request, in case you have dev access to the TEST/PROD environments, you can just use PRT and remove the plug-in, however t

[2022-10-18 17:26] rezanid opened #3757 "Inaccurate / incomplete documentation - Embedding Power BI reports in model-driven apps requires more steps."
If one follows the steps of adding the Power BI report to a tab, what happens is the report might be displayed in a very narrow height (1.3rem if I remember well). When adding other types of components (e.g. IFrame) there's a property called "Component height" which defines the height of component in number of rows (e.g. "4 rows"). The Power BI report component does not display this property.

It

[2022-10-18 18:03] JimDaly commented on #2966
@bobbykemp
Thanks for your feedback.

Topic has been refreshed and reviewed.

[2022-10-18 18:03] #2966 closed

[2022-10-18 18:57] ryanwga opened #3758 "Personal Views"
How do you add personal views after the 2022 Wave 2 update with Dataverse search enabled?  The advanced find is removed and the view dropdown doesn't appear to have the option to add a new personal view anymore either.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: fd37c514-610f-6c2b-be8e-80aff48dac6b
* Version Indepe

[2022-10-18 19:00] bishalgoswami commented on #3758
Thanks for your comment, @ryanwga. This issue has been assigned to the doc author for review.

[2022-10-18 19:00] bishalgoswami commented on #3757
Thanks for your comment, @rezanid. This issue has been assigned to the doc author for review.

[2022-10-18 22:06] mduelae commented on #3758
Follow these step to save a view: https://learn.microsoft.com/en-us/power-apps/user/grid-filters-advanced#save-changes-to-views-in-modern-advanced-find

Thanks,
Mints

[2022-10-18 22:06] #3758 closed

[2022-10-19 10:26] anique9999 opened #3759 "Changing PowerApps CLI installation directory"
Hi,

I'm trying change the installation directory of Microsoft PowerApps CLI from %APPDATA%\Microsoft\PowerAppsCLI to C:\ProgramFiles or C:\ProgramsFiles(x86).

I'm using ` /INSTALLDIR` command-line to change the directory but the application is still installing in %APPDATA%.

Can you please tell me how can I change the installation directory via command-line?

Thanks,
Anique

[2022-10-19 12:42] samadane commented on #3745
Any update on this one?  Is it looking for named security role or the privileges underneath?

[2022-10-19 12:51] ryanwga commented on #3758
Hi Manjinder,

I'm not sure why you closed the case.  It isn't resolved.  I don't have the option to add personal views anymore after 2022 wave 2 update, see screenshots below.

With "Modern advanced find in model-driven apps" set to ON:

***@***.***

With "Modern advanced find in model-driven apps" set to OFF:

***@***.***

Advanced Find ***@***.*** missing from top ribbon:

***@***.***

How do w

[2022-10-19 12:58] ryanwga commented on #3758
With Modern advanced find.... option set to off, we have a work around by using the Advanced Find pop-up. I'd like to know how to create personal views with it turned on. Or is Microsoft removing the personal views option moving forward?

With "Modern advanced find in model-driven apps" set to OFF:

***@***.***

***@***.***

Thanks,
Ryan

From: Manjinder (Mints) ***@***.***>
Sent: Tuesday, October

[2022-10-19 13:29] ryanwga commented on #3758
Regarding "Modern advanced find in model-driven apps": Seems to be an odd way to handle this, but after further digging, it appears that you have to edit an existing view first, then in the views dropdown I get the "Save as new view" option.  Why not add a "Create new view" option?

Where is the "Create new view" option????

***@***.***

After editing an existing view:

***@***.***

Thanks,
Ryan

[2022-10-20 03:45] sriharibs-msft commented on #3757
Thank you @rezanid. We have a new Power BI PCF control available in the Form Designer that allows you set the height :) The PCF control is visible when you have one or more solution-aware Power BI reports in the environment. For more details see https://powerbi.microsoft.com/en-us/blog/announcing-power-bi-report-and-dataset-management-in-power-apps-solutions/

[2022-10-20 08:57] rezanid commented on #3757
@sriharibs-msft that's great! I was thinking about building a PCF control. I'm going to give it a try. What about full-height without having to specify the exact height. When playing with the styles, I discovered by removing a CSS class that is (apparently) imposed by Power Platform, the height of Power BI's iframe grows to fill the entire available space.

Either way I still think that the offici

[2022-10-20 10:35] rezanid opened #3760 "The link "Cross-geo operations" is broken"
The "[Cross-geo operations](https://learn.microsoft.com/en-us/power-bi/collaborate-share/power-bi/collaborate-share/power-apps-power-bi-integration-considerations#cross-geo-operations)" link is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5ee54c44-ed0c-87b5-c9dd-88976667517f
* Version Independent ID: 5ee54c44

[2022-10-20 11:00] bishalgoswami commented on #3760
Thanks for your comment, @rezanid. This issue has been assigned to the doc author for review.

[2022-10-20 13:14] paulinbar commented on #3760
Thanks for pointing this out @rezanid. I have made a correction and hopefully it will be online soon.

[2022-10-20 14:07] jdballard opened #3761 "Suggestions for clight adjustments to the instructions"
I'm learning, or maybe I missed a step, but I noticed several things:

In Step 5 under "Creating a new component project", it says "the above command also runs the npm install command for you..." It did not automatically run it, but there was output after the first command that said "Be sure to run npm install or equivalent in this directory to install project dependencies." So that was easy to fi

[2022-10-20 16:29] JimDaly commented on #3761
@jdballard
Thank you for your feedback.
I'm glad you were able to complete the steps despite some of the distractions.

I have a workitem to review this content to catch these things. I hope to get to it soon.

[2022-10-20 16:29] #3761 closed

[2022-10-20 20:34] Mattp123 commented on #3760
@rezanid - Thank you for your feedback. Link has been fixed and will be published shortly.
Closing issue.

[2022-10-20 20:34] #3760 closed

[2022-10-20 20:47] Mattp123 commented on #3755
@MaciejPokrzywinski - Thank you for your feedback. The article has been updated to reflect the correct platform name.
Closing issue.

[2022-10-20 20:47] #3755 closed

[2022-10-20 20:52] Mattp123 commented on #3742
@justgivemeanumber - You've reached the Power Platform documentation team. For feature requests, visit the [Power Apps ideas page](https://powerusers.microsoft.com/t5/Power-Apps-Ideas/idb-p/PowerAppsIdeas) to submit or vote on an existing feature idea.

Closing issue.

[2022-10-20 20:52] #3742 closed

[2022-10-20 21:17] kswaffield opened #3763 "Issue with Column Widths when Power App grid controls enabled"
Our organization was very excited about the possibility of infinite scrolling using the new Power Apps grid control.  However, when we turned it on in your D365 Sandbox environment we found that when it was enabled for an entity all the columns become squished over to the left side of all that entity's views.  This leaves a big white space on the right side of the view and the content in the colum

[2022-10-20 21:44] ChrisBal-MSFT commented on #3745
Hello, the rights to create and edit tests with Test Studio are equal to the rights needed to edit and update the app itself.  So, as long as the maker has the ability to open an app for editing, then they will also have all the rights necessary to use Test Studio.

[2022-10-20 22:55] tapanm-MSFT commented on #3745
Documentation will be updated soon to reflect this information.

[2022-10-20 22:55] #3745 closed

[2022-10-20 23:00] bishalgoswami commented on #3763
Thanks for your comment, @kswaffield. This issue has been assigned to the doc author for review.

[2022-10-21 13:26] hedmon opened #3764 "'Download the Northwind Traders Solution File' button doesn't work"
Hello,
'Download the Northwind Traders Solution File' button doesn't work. There is an error:
<Error>
<Code>PublicAccessNotPermitted</Code>
<Message>Public access is not permitted on this storage account. RequestId:417c39ab-601e-0008-7950-e5eb95000000 Time:2022-10-21T13:23:45.5912698Z</Message>
</Error>

thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.mi

[2022-10-21 15:00] bishalgoswami commented on #3764
Thanks for your comment, @hedmon. This issue has been assigned to the doc author for review.

[2022-10-21 16:32] georgesalmon commented on #2952
Has there been any update on this? Code still comes up with errors and won't pull through

[2022-10-21 16:42] dmognaschi opened #3765 "Async plugin steps fail"
[Enter feedback here]
Dear,
I have to report an issue about the new (great!) feature:
on version 1710 (9.2.22092.190) online,  each async plugin steps of plugintypes belonging to pluginassembly of a pluginpackage fails with this exception:

System.ServiceModel.FaultException`1[Microsoft.Xrm.Sdk.OrganizationServiceFault]: Expected non-empty Guid. (Fault Detail is equal to Exception details:
ErrorCo

[2022-10-21 16:43] dmognaschi opened #3766 "Custom Workflow Activities not being registered"
Dear,
registering a package, all assemblies that expose at least one plugin type are correctly registered;
all public types that implement IPlugin are also correctly registered;
however, any custom workflow activities exposed by the assembly are not registered.

If it is a desired behavior (to push the adoption of the most modern CustomAPI) perhaps it would be better to explain it.

Ty,
Davide

[2022-10-21 16:50] dmognaschi opened #3767 "Custom Workflow Activities not being registered"
[Enter feedback here]
Dear,
registering a package, all assemblies that expose at least one plugin type are correctly registered;
all public types that implement IPlugin are also correctly registered;
however, any custom workflow activities exposed by the assembly are not registered.

If it is a desired behavior (to push the adoption of the most modern CustomAPI) perhaps it would be better to expla

[2022-10-21 16:51] dmognaschi commented on #3766
Duplicate of #3767

[2022-10-21 17:00] bishalgoswami commented on #3767
Thanks for your comment, @dmognaschi. This issue has been assigned to the doc author for review.

[2022-10-21 17:00] bishalgoswami commented on #3765
Thanks for your comment, @dmognaschi. This issue has been assigned to the doc author for review.

[2022-10-21 17:17] JimDaly commented on #3765
@dmognaschi
This looks like one of the current known issues:
See [Asynchronous plug-in steps do not work](https://learn.microsoft.com/en-us/power-apps/developer/data-platform/dependent-assembly-plugins?source=docs#asynchronous-plug-in-steps-do-not-work)

If this is something different, please update this issue.

[2022-10-21 17:17] #3765 closed

[2022-10-21 17:39] JasonHQX commented on #3380
@Mattp123 Can you help close this issue? It is not related to documentation. User should submit support ticket for this.

[2022-10-21 17:40] JasonHQX commented on #3458
@Mattp123, can you help close this issue? The doc was updated 3 months ago.

[2022-10-21 17:42] JasonHQX commented on #3476
Duplicate issue:
![image](https://user-images.githubusercontent.com/102614732/197256614-bd53b7e6-f76d-44df-9b0b-f8dc28698572.png)
The doc has been updated

[2022-10-21 17:43] JasonHQX commented on #3503
We are planning to do ALM enhancement around Apr 23 to allow user update Azure side configuration before importing solution. Thanks

[2022-10-21 17:48] JasonHQX commented on #3564
Hi @youritorchalski, can you send the email with questions to SynapseLinkforDataverse@service.microsoft.com? We can loop dev team in through email thread.

[2022-10-21 17:52] JasonHQX commented on #3578
@indikaa This ADF template reads Model.json file which capture all data schema change. (Not applied to datatype change since it is required to recreate the synapse link if there is a data type change). For more information: You can check this overview blog: https://community.dynamics.com/365/dynamics-365-fasttrack/b/dynamics-365-fasttrack-blog/posts/adf-template-to-copy-dataverse-data-to-azure-sql

[2022-10-21 17:53] JasonHQX commented on #3619
Hi @acieslik, it should be supported now. Optionset metadata should be under one of the timestamp folders. Besides that, the workaround is: https://learn.microsoft.com/en-us/power-apps/maker/data-platform/azure-synapse-link-choices-adf

[2022-10-21 17:59] JasonHQX commented on #3625
Hi @WPelserDatacom

Large model.json can cause failure [https://docs.microsoft.com/en-us/azure/data-factory/control-flow-lookup-activity#supported-capabilities](https://docs.microsoft.com/en-us/azure/data-factory/control-flow-lookup-activity)
 **Work around:**
1. Use separate Synapse Links for different set of entities/tables. ADF pipelines should point to same destination Azure SQL DB.
2. Copy mo

[2022-10-21 18:03] JasonHQX commented on #3634
@collisb Please make sure you meet the prerequisite #3. Otherwise, it will cause read the entire dataset every single time and possibly cause unnecessary charges

[2022-10-21 18:14] JasonHQX commented on #3684
Hi @ChrisAt2at
Thanks for pointing this out: We have updated the doc accordingly: https://github.com/MicrosoftDocs/powerapps-docs-pr/pull/7186

[2022-10-21 18:16] JasonHQX commented on #3747
We are planning to do ALM enhancement around Apr 23 to allow user update Azure side configuration before importing solution. Thanks

[2022-10-21 18:19] JasonHQX commented on #3735
Hi @cookyrag Can you double check if you meet the prerequisite #2?: Azure Synapse Link for Dataverse Advanced Configuration Options enabled.

[2022-10-21 19:43] Mattp123 commented on #3380
Closing issue.

[2022-10-21 19:43] #3380 closed

[2022-10-21 19:43] Mattp123 commented on #3458
Closing issue.

[2022-10-21 19:43] #3458 closed

[2022-10-21 19:44] Mattp123 commented on #3476
Closing issue.

[2022-10-21 19:44] #3476 closed

[2022-10-21 19:45] Mattp123 commented on #3503
Closing issue.

[2022-10-21 19:45] #3503 closed

[2022-10-21 19:46] Mattp123 commented on #3564
Closing issue.

[2022-10-21 19:46] #3564 closed

[2022-10-21 19:47] Mattp123 commented on #3578
Closing issue.

[2022-10-21 19:47] #3578 closed

[2022-10-21 19:48] Mattp123 commented on #3619
Closing issue.

[2022-10-21 19:48] #3619 closed

[2022-10-21 20:07] Mattp123 commented on #3684
Pull request merged. Closing issue.

[2022-10-21 20:07] #3684 closed

[2022-10-21 20:08] Mattp123 commented on #3747
Closing issue.

[2022-10-21 20:08] #3747 closed

[2022-10-21 22:53] mduelae commented on #3764
@hedmon Thank you for your feedback. I have fixed the download link. It's working now.

Thanks,
Mints

[2022-10-21 22:53] #3764 closed

[2022-10-21 23:53] JimDaly commented on #3753
@beyro
Thanks for your feedback.

The feedback mechanism works best when you start from the published topic, rather than the source code in GitHub. This way the feedback gets routed to the owner based on the topic metadata and we can respond faster.

This topic: [control.getAttribute (Client API reference)](https://learn.microsoft.com/en-us/power-apps/developer/model-driven-apps/clientapi/referenc

[2022-10-21 23:58] JimDaly commented on #3759
@anique9999
Thanks for your feedback.

The documentation about installing PAC CLI is here: [Install Microsoft Power Platform CLI](https://learn.microsoft.com/en-us/power-platform/developer/cli/introduction#install-microsoft-power-platform-cli).

I don't see that `INSTALLDIR` is mentioned anywhere in that topic, or any content that describes how the location of the installation can be modified.

So

[2022-10-22 00:38] phecke commented on #3766
Duplicate of #3767

[2022-10-22 00:38] #3766 closed

[2022-10-22 00:47] phecke commented on #3767
@dmognaschi Let me see if I understand the issue.

You created a plug-in package composed of assemblies that contain types derived from IPlugin and CodeActivity. Only the types derived from IPlugin are registered. Is that correct?

[2022-10-22 01:24] phecke commented on #3767
@dmognaschi According to the [documentation](https://learn.microsoft.com/power-apps/developer/data-platform/dependent-assembly-plugins#limitations):

The following limitations apply to dependent assembly plug-ins.

A plugin package is limited to 16 MB in size or 50 assemblies.
**Workflow extensions, also known as workflow assemblies, workflow activities or custom workflow activities are not suppor

[2022-10-22 01:24] #3767 closed

[2022-10-22 01:28] phecke commented on #671
@JimDaly This is documented.

[2022-10-22 01:28] #671 closed

[2022-10-22 01:41] phecke commented on #847
@MarkMpn I can only publish the schema that I am given by the product team. I checked a newer version of the schema, and it is the same as the published version.

[2022-10-22 01:41] #847 closed

[2022-10-22 01:44] #858 closed

[2022-10-22 01:45] phecke commented on #863
@ChrisGrohHS Fixed.

[2022-10-22 01:45] #863 closed

[2022-10-22 01:50] phecke commented on #908
@bguidinger That page is being updated in a few days. We are no longer pointing people to the NuGet packages for tools. Rather, the Power Platform CLI tool will be used to install the tools going forward and for creating packages.

[2022-10-22 01:50] #908 closed

[2022-10-22 01:53] phecke commented on #1117
@steverhall Thanks for pointing it out. Fixing now.

[2022-10-22 01:53] #1117 closed

[2022-10-22 12:47] collisb commented on #3634
@JasonHQX: Possibly is an understatement.  Thank you

[2022-10-22 18:25] rezanid commented on #3757
@sriharibs-msft I have been trying the new PCF control. The implementation of the whole integration (reports, datasets, and the control, etc.) is really well done, but I have to say there are some rough edges.  For example the property "Bind to table column" is cryptic. No matter what I try, but I could not make it work in the life of me :)
<img width="251" alt="image" src="https://user-images.git

[2022-10-22 20:59] beyro commented on #3753
@JimDaly Thanks for the reply and your patience with my roundabout way of getting this feedback to you... I see now I should use the Feedback button at the bottom of the topic page - will use that next time!

This could be either a bug or a missed use case in the docs so I guess I'm looking for clarification of expected behavior.

When I say "Form Component Control", I mean the Form Component PCF

[2022-10-23 14:21] dawid-md opened #3770 "Weak translation"
Weak translation to polish

[2022-10-24 11:27] youritorchalski commented on #3564
Hej @JasonHQX,

Thanks for the reply! Awesome that we can continue with this with the support of Dev team, thanks a lot, I highly appreciate it! I will send the information somewhere this week!

Kind regards,

Youri

[2022-10-24 12:04] JannyM85 opened #3771 "DdateTime format in json"
Hello, can ask you about date time format in json? Example value  "OperationCreatedOn": "\/Date(1506409448000-0700)\/". Thansk a lot.
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c6a3364c-df99-19a8-ecfe-cc209eab50f2
* Version Independent ID: 61fd6597-0d6b-e2f0-01c6-fc8659621062
* Content: [Use Webhooks to create exte

[2022-10-24 13:00] bishalgoswami commented on #3771
Thanks for your comment, @JannyM85. This issue has been assigned to the doc author for review.

[2022-10-24 13:54] dansmithmsft opened #3772 "License required for Power Apps Developer Plan?"
Is there a specific license (trial or otherwise) required to utilize premium connectors in a developer plan environment? It is not mentioned in the documentation.

After completing the steps on this page:
https://learn.microsoft.com/en-us/power-apps/maker/developer-plan

When adding a new Flow in the newly created developer plan environment, and adding a premium connector I am prompted with the fo

[2022-10-24 16:32] yosoyx opened #3773 "Access to the comment feature"
I assume that one does make those who can comment, co-owners of the app.  If this is the case, it would help to so specify at the beginning of the document

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d8fb9993-5a6f-b624-75df-3be9ae44d969
* Version Independent ID: d8fb9993-5a6f-b624-75df-3be9ae44d969
* Content: [Add

[2022-10-24 17:01] bishalgoswami commented on #3773
Thanks for your comment, @yosoyx. This issue has been assigned to the doc author for review.

[2022-10-24 23:02] JimDaly commented on #3753
@beyro
Thanks for the explanation. I wasn't aware of the form component control.
That definitely doesn't seem like expected behavior.

The docs say: [Edit related table records directly from another table’s main form > Client API](https://learn.microsoft.com/en-us/power-apps/maker/model-driven-apps/form-component-control#client-api)

If I'm understanding you correctly, your code running on the mai

[2022-10-24 23:42] #3770 closed

[2022-10-25 03:10] beyro commented on #3753
@JimDaly
Yes, I am waiting for `isLoaded` but I am not getting the control via `formContext.ui.quickForms.get` like in the example.
I am getting it while iterating through the controls of a section something like the example below. This script is running on a Case form and the Form Component control is linked to the Work Order Service Task main form:
[code]
Interestingly, while the Form Component

[2022-10-25 06:58] m3ngi3 opened #3774 "Broken link: Learn about working with variables in Power Apps"
Link at "There are various ways to use variables in cards. [Learn about working with variables in Power Apps](https://learn.microsoft.com/en-us/powerapps-docs/maker/canvas-apps/working-with-variables.md)." goes to:

![image](https://user-images.githubusercontent.com/47530580/197703918-0358837d-c69a-44f9-b1b2-32a965dff4fa.png)
Link of https://learn.microsoft.com/en-us/powerapps-docs/maker/canvas-ap

[2022-10-25 07:00] bishalgoswami commented on #3774
Thanks for your comment, @m3ngi3. This issue has been assigned to the doc author for review.

[2022-10-25 07:34] DavidPaf opened #3775 "CanvasGrid Sorting/filtering not working"
Hi team,

I use the complete code to implement CanvasGrid PCF but the sorting/filtering function does not work

[2022-10-25 09:14] jondoesflow opened #3776 "Change wording"
Hi,

In this section - https://learn.microsoft.com/en-us/power-apps/maker/data-platform/create-virtual-tables-using-connectors?tabs=sql#create-the-data-source at Step 5, the field referred to in the screenshot is Data source, I thiunk the wording should be more explicit and it should say "Dataset value"?

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.mic

[2022-10-25 11:00] bishalgoswami commented on #3776
Thanks for your comment, @jondoesflow. This issue has been assigned to the doc author for review.

[2022-10-25 13:23] vikramhn commented on #3707
Any update on this?

[2022-10-25 15:30] NHelgren commented on #3776
Thanks for the feedback @jondoesflow, I updated the sections in step 5 to reverence the Dataset Value field where appropriate.

[2022-10-25 15:56] #3776 closed

[2022-10-25 16:06] thrkll opened #3777 ""Further customize your form" - misleading link"
Under the subheading _Further customize your form_ there is a link to documentation on how to _make the form wider_. This link takes you to documentation on how to configure a canvas app where you have access to more settings than when configuring a custom Sharepoint form.

When making a **blank canvas app directly from make.powerapps.com** you have access to the following display-settings:
- Orie

[2022-10-25 16:32] JimDaly commented on #3753
@beyro
I've assigned this to @adrianorth because he is the author of [control.getAttribute (Client API reference)](https://learn.microsoft.com/en-us/power-apps/developer/model-driven-apps/clientapi/reference/controls/getattribute)

[2022-10-25 17:00] bishalgoswami commented on #3777
Thanks for your comment, @thrkll. This issue has been assigned to the doc author for review.

[2022-10-25 17:08] nickdoelman commented on #3707
Thank you for your feedback! I am waiting on confirmation from our product team, but this should be a supported scenario (Power Pages SharePoint integration and using Azure B2C identity provider). If you are having issues, please open a support ticket at https://admin.powerplatform.microsoft.com/support

[2022-10-25 20:45] JimDaly commented on #3753
@beyro

Have had a thread with the dev team and this is what we have so far:

1. A control can be associated with more than one attribute, so it seems it is possible for this method to return multiple attribute references. The control would have multiple attributes in the manifest. So we should update this topic to reflect that.

2. The Form Component control you are using is bound to a single loo

[2022-10-26 07:43] skuntze commented on #3282
@JimDaly @adrianorth @bishalgoswami @Nkrb Any updates? 🙂

[2022-10-26 09:24] piotrgardynski opened #3778 "Power Apps read-only grid control on Dashboards"
We have following issue when using the Power Apps read-only grid control on Dashboards.
**Situation**:
I have a dashboard on which I addeda view. On that view 'Power Apps read-only grid' control is selected.
- Label of the dashboard component is used and set as 'Display lable on the Dashboard'
- In View Selector option 'Show Selected Views' is selected

**Issues that occur in the above described s

[2022-10-26 11:00] bishalgoswami commented on #3778
Thanks for your comment, @piotrgardynski. This issue has been assigned to the doc author for review.

[2022-10-26 13:16] Markus-Hanisch opened #3779 "Please rephrase paragraph Completing Solution Upgrade"
I am currently studying the update solutions documentation. One paragraph is quite a heavy lifting for my brain because it mentions `solutions` quite often and with varying syntax, e.g.:
- original solution
- new solution
- same solution (name)
- base solution suffixed with _Upgrade
- base solution
- solution list
- _Upgrade solution

Is it possible to rephrase this paragraph or illustrate it in a

[2022-10-26 14:11] DavidPaf opened #3780 "CanvasGrid does not work on sorting or filtering"
[Enter feedback here]
I used the completed code to build a solution and the sorting/filtering funciton does not work.
https://github.com/MicrosoftDocs/powerapps-docs/issues/3775
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d2fd3427-3ef2-8c97-6126-63ebb0c6b961
* Version Independent ID: 8aa107b0-eeea-c907-d232-7bd0c330

[2022-10-26 15:00] bishalgoswami commented on #3780
Thanks for your comment, @DavidPaf. This issue has been assigned to the doc author for review.

[2022-10-26 15:00] bishalgoswami commented on #3779
Thanks for your comment, @Markus-Hanisch. This issue has been assigned to the doc author for review.

[2022-10-26 15:34] #3775 closed

[2022-10-26 15:47] JimDaly commented on #3780
@DavidPaf
Can you take a look at the completed sample here [PowerApps-Samples](https://github.com/microsoft/PowerApps-Samples)/[component-framework](https://github.com/microsoft/PowerApps-Samples/tree/master/component-framework)/CanvasGridControl/

Does this work for you?

[2022-10-27 04:08] Erica0214 opened #3781 "https://learn.microsoft.com/en-us/power-apps/maker/common/wrap/code-sign-android"
There is a documentation error in page https://learn.microsoft.com/en-us/power-apps/maker/common/wrap/code-sign-android

The example of generate keys, text and the code doesn't match

<img width="654" alt="image" src="https://user-images.githubusercontent.com/63276075/198189026-95ee2d1d-b92d-463c-acad-02eae39ad56f.png">

[2022-10-27 04:26] Erica0214 opened #3782 "In example of generate keys, text and the code doesn't match"
<img width="350" alt="image" src="https://user-images.githubusercontent.com/63276075/198191357-8ea31399-6318-4f39-b6f4-5036575e9065.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 54afc67b-546e-0024-4c28-9068d6a6dc2b
* Version Independent ID: 54afc67b-546e-0024-4c28-9068d6a6dc2b
* Content: [Code sign for Android

[2022-10-27 05:00] bishalgoswami commented on #3782
Thanks for your comment, @Erica0214. This issue has been assigned to the doc author for review.

[2022-10-27 07:20] s1m0nj commented on #3036
Thank you, as solution authors copy the countries into their App Source packages. More and more App Source solutions can be deployed for tenants registered in Jersey and Guernsey.

[2022-10-27 08:40] DavidPaf commented on #3780
Hi @JimDaly ,

If I just use the Dataverse without filtering function in Canvas app, for example: Account, then it works fine. If I use something like collection or filtered records: Filter(Account, name="David")

Then the sorting or filtering does not work.

[2022-10-27 12:48] youritorchalski commented on #3564
@JasonHQX: Email sent just now at 20221027 at 14:46 CEST.

[2022-10-27 13:31] ProfessorKendrick commented on #3733
Thank you for your feedback.
We've been unable to replicate this issue.  If these steps are not working in your solution, please create a support ticket. To contact Support, see here: https://admin.powerplatform.microsoft.com/support.  Closing this issue.

[2022-10-27 13:31] #3733 closed

[2022-10-27 16:05] melody-universe commented on #3747
@JasonHQX This is a separate issue from #3503 and is unrelated to configuration in Azure. This is a problem with solution deployments on the Dataverse side. Steps are as follows:

1. Set up Synapse Link configuration in a development environment.
2. Add the Synapse Link configuration to a solution in the development environment.
3. Export the solution from the development environment.
4. Import th

[2022-10-27 18:46] JimDaly commented on #3780
@DavidPaf
If I understand correctly, you are saying:

 - When you use PowerFx to apply filtering to the grid control, the sorting and filtering doesn't work, otherwise the control works fine.
- You get the same results when following the instructions in the documentation and when using the completed sample from GitHub.

I'm not well versed on canvas apps, but it seems to be your expectation that y

[2022-10-27 19:43] DavidPaf commented on #3780
Hi @JimDaly ,

Yes, to specific, in Datasource property of the canvasgrid component, if I just use entity/table in Dataverse, then it works.

If I use PowerFX function within Datasource property of the component, for example: Filter(Accounts, !IsBlank(Name))

Then the sorting, fitering function of Canvasgrid component does not work

[2022-10-27 22:09] Regal92 opened #3783 "JavaScript Icons on CRM Dashboard"
Good Day and thank for the article.

We are looking to implement this in CRM Dashboards which is where majority of the business users interact with CRM. Is the script tested and extendable for CRM Dashboards, or is it pretty much limited to the main CRM View?

Best,
Arslan

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID

[2022-10-27 23:01] bishalgoswami commented on #3783
Thanks for your comment, @Regal92. This issue has been assigned to the doc author for review.

[2022-10-28 12:28] nickdoelman commented on #3707
I have confirmation. Irrespective of the auth provider the SharePoint functionality works as documented. Security is provided to users as per our documentation [here](https://learn.microsoft.com/power-apps/maker/portals/manage-sharepoint-documents#step-5-create-appropriate-table-permission-and-assign-it-to-the-appropriate-web-role). Closing this issue.

[2022-10-28 12:28] #3707 closed

[2022-10-28 12:41] dmognaschi commented on #3767
Thank you @phecke , I missed the limitations!

[2022-10-28 14:03] Regal92 opened #3784 "Grid Control Renders Dashboard Buttons Dysfunctional"
Good day and thank you for the article.

We have a business requirement where we want to display the colors of option sets in CRM Dashboards, which the grid control is able to do, but it is also causing the ribbon buttons on the Dashboard List component to disappear which are essential to business users when interacting with CRM. So for configuration, I edit a Dashboard, and edit the components to

[2022-10-28 15:00] bishalgoswami commented on #3784
Thanks for your comment, @Regal92. This issue has been assigned to the doc author for review.

[2022-10-28 15:02] Regal92 commented on #3784
Thank you Bishal.

Looking forward to the update
________________________________
From: Bishal Goswami ***@***.***>
Sent: Friday, October 28, 2022 11:00 AM
To: MicrosoftDocs/powerapps-docs ***@***.***>
Cc: Arif, Arslan ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/powerapps-docs] Grid Control Renders Dashboard Buttons Dysfunctional (Issue #3784)

*CAUTION* External email. Confirm

[2022-10-28 23:31] Sinha-Abhisek opened #3785 "Make Tabs addressable"
It has been an ask for a long time to make Tabs addressable, like:

https://myorg.crm.dynamics.com/main.aspx?etn=account&pagetype=entityrecord&id=%7B91330924-802A-4B0D-A900-34FD9D790829%7D#Details

should take the user to the **Details** Tab within the Account record directly and not on the first tab. This will help with sharing URLs to external apps and also enhance the experience as we bring in

[2022-10-29 01:01] bishalgoswami commented on #3785
Thanks for your comment, @Sinha-Abhisek. This issue has been assigned to the doc author for review.

[2022-10-29 07:08] full-devfun opened #3786 "It's very hard to find doc what I need. Very poor and not-organized document"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b341204a-75e0-2439-f4fa-b62d2e64fee9
* Version Independent ID: 82b48d34-c96d-6508-36fe-7bcb5870b52f
* Content: [Impersonate another user using the Web API (Microsoft Dataverse) - Power Apps](https://learn.microsoft.com/en-us/power-apps/developer/data

[2022-10-29 09:00] bishalgoswami commented on #3786
Thanks for your comment, @full-devfun. This issue has been assigned to the doc author for review.

[2022-10-29 22:56] jdhaywd opened #3787 "Clarifications on signing process on iOS"
- Specify that using the XCode GUI to sign will not work - the script must be used. This should also be added to your troubleshooting as if using XCode you will successfully sign the app but it won't allow users to sign in and provides error 1001.
- Clarify that you can use development certificates as well as ad-hoc by editing the Distribution-exportOptions.plist 'method' between 'ad-hoc', 'develo

[2022-10-29 23:00] bishalgoswami commented on #3787
Thanks for your comment, @jdhaywd. This issue has been assigned to the doc author for review.

[2022-10-29 23:34] JimDaly commented on #3786
@full-devfun
Thanks for your feedback.
Sorry to hear that this content isn't meeting your expectations.

Is your feedback about the Web API content in general or this specific topic?
Can you provide any specific items that you feel would help?

[2022-10-29 23:44] JimDaly commented on #3785
@Sinha-Abhisek
Thanks for your feedback.

Issues created here are to provide feedback about the documentation. Your suggestion is a feature request. Recommend that you offer it here [Power Apps Ideas](https://powerusers.microsoft.com/t5/Power-Apps-Ideas/idb-p/PowerAppsIdeas)

If the feature becomes available, you should find documentation about it.

Best regards

[2022-10-29 23:44] #3785 closed

[2022-10-30 19:22] zkirby commented on #2970
Screenshots don't need updating - ensure you're on the right page (app registration).

[2022-10-30 19:38] zkirby commented on #2067
I cannot stress how important it is we get this added to the docs - I spent a solid 2 days debugging, flipping, toggling, and toying with this entire process trying to get it to work. I was on my hands and knees begging to every notable deity to no avail. I stumbled onto this comment out of sheer desperation, clicking every link I could find on the docs.

I've set up CRM integrations for a variety

[2022-10-31 02:39] fumi11 opened #3788 "Power BI tag with "isMobile=true" parameter"
Hi team,

We can display the mobile layout of Power BI with  Power BI tag + "isMobile=true" parameter.
Is this a "supported" way to achieve the requirement of responsive design?
(By "supported" I mean long term support)

We can find this solution in the below post of the community,

https://powerusers.microsoft.com/t5/Power-Apps-Portals/Mobile-View-For-Embedded-Power-BI-Reports-on-the-Portal/td-p/

[2022-10-31 03:00] bishalgoswami commented on #3788
Thanks for your comment, @fumi11. This issue has been assigned to the doc author for review.

[2022-10-31 13:19] doublesupercool opened #3789 "Format as table - what about tables with calculations?"
[Enter feedback here]
By all accounts, Powerapps can't open Excel files with tables that have calculations in them. There should be some very clear instructions in huge red letters stating the exact formats that are acceptable, because "format your data as a table" is drastically insufficient advice.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟

[2022-11-01 02:20] JandosHk opened #3791 "Does this work for .NET Core? If not, why?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 61e6ca03-5e73-39aa-c2f0-2df8aa19cad9
* Version Independent ID: 4e6eb61b-e550-a1cb-6862-2ba4e9e07702
* Content: [Quick Start: Web API sample (C#) (Microsoft Dataverse) - Power Apps](https://learn.microsoft.com/en-us/power-apps/developer/data-platform/

[2022-11-01 03:00] bishalgoswami commented on #3791
Thanks for your comment, @JandosHk. This issue has been assigned to the doc author for review.

[2022-11-01 15:24] JimDaly commented on #3791
@JandosHk
Thanks for your feedback.

This sample is written for .NET Framework.

As mentioned in this topic, we have a version of this sample written for .NET 6.0 here: [https://github.com/microsoft/PowerApps-Samples/tree/master/dataverse/webapi/C%23-NETx/QuickStart](https://github.com/microsoft/PowerApps-Samples/tree/master/dataverse/webapi/C%23-NETx/QuickStart).

We have more complex samples for

[2022-11-01 15:39] kkaarel opened #3792 "Patch request v. 9.2"
[Enter feedback here]

Trying to use patch with http and update data in dataverse, but get an error that Patch is not allowed

{"error":{"code":"","message":"The requested resource does not support http method 'PATCH'."}}

The documentation is for version 9.0, but we have 9.2

With post the request works but not with PATCH

script

`import http.client
import json

conn = http.client.HTTPSConnectio

[2022-11-01 17:00] bishalgoswami commented on #3792
Thanks for your comment, @kkaarel. This issue has been assigned to the doc author for review.

[2022-11-02 00:09] JandosHk commented on #3791
Thank you for the reply. I mainly use .NET Core nowadays. Browser search landed me to classic .NET sample, so I was wondering whether .NET Core support was there or not. Having both samples on the same page (or having cross links) would have helped, which will be the case, I guess, once you update the instructions.

[2022-11-02 12:56] jameswiseman76 opened #3793 "Out of date template picture for ADF pipeline"
I'm writing this, because I assume the recent pipeline has been enhanced?

This what I see when I select the pipeline template in ADF:
![image](https://user-images.githubusercontent.com/3989536/199494995-a69f0d3f-ca43-42b0-8238-07703f1c1efd.png)

Does this doc need to be updated with this information?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟

[2022-11-02 13:00] bishalgoswami commented on #3793
Thanks for your comment, @jameswiseman76. This issue has been assigned to the doc author for review.

[2022-11-02 15:54] JimDaly commented on #3792
@kkaarel
The code you have posted isn't in any library I know of. It isn't .NET using HttpClient or JavaScript XmlHttpRequest or Fetch.
What is this?

`conn.request("PATCH", "/api/data/v9.2/?If-None-Match=null&OData-MaxVersion=4.0&OData-Version=4.0&Content-Type=application/json&If-Match=*&MSCRM.SuppressDuplicateDetection=false&Accept=application/json", payload, headers)`

My guess is that it is a

[2022-11-02 15:54] #3792 closed

[2022-11-02 18:59] JimDaly commented on #3791
Closing since workitem 3013846 exists to update this topic.

[2022-11-02 18:59] #3791 closed

[2022-11-03 10:44] Miesjh opened #3795 "Move info on the behaviour please"
Please give us more info about the behavior of this tool:

- What happens when a row is created in dataverse.
- What happens when a row is updated in dataverse.
- What happens when a row is deleted in dataverse.
- What happens when a column is added in dataverse.
- What happens when a column is removed in dataverse.
- Sync time of data (not consistent within 5 min)
- Sync time of model.json (Hint,

[2022-11-03 17:05] mduelae commented on #3773
@yosoyx Thank you for the feedback. I added the following line in the first paragraph:

**To allow other makers to add comments, make sure to share the app with them.**

Thanks,
Mints

[2022-11-03 17:05] #3773 closed

[2022-11-03 17:09] mduelae commented on #3782
@Erica0214 Thank you for the feedback. I'm verifying this information with our internal team. Once I hear back from them I will send you an update.

Thanks,
Mints

[2022-11-03 21:34] rezanid opened #3799 "One important limitation is not mentioned"
One important limitation is not mentioned in the limitation section. Dataflows do not support state and status fields. Lack of support for these two very important columns will render dataflow useless for majority of data migration/ integrations and better be mentioned here in this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue

[2022-11-03 23:00] bishalgoswami commented on #3799
Thanks for your comment, @rezanid. This issue has been assigned to the doc author for review.

[2022-11-03 23:25] JimDaly commented on #3799
@rezanid
Thanks for your feedback.

I expect that you are referring to this [Field mapping considerations for standard dataflows > Known Limitations](https://learn.microsoft.com/en-us/power-query/dataflows/get-best-of-standard-dataflows#known-limitations)

There are several other limitations also included there.

@denisem-msft
Will you update this topic with the limitations?

[2022-11-04 00:42] oiluis commented on #2187
Were you able to solve this? If so, can you explain how? I am using OData to query a virtual entity and I am facing the same blocker

[2022-11-04 09:50] shammyowens opened #3800 "Options and screenshot has changed"
The settings button is now "properties" and the fly out menu screenshot is different e.g. enable connections is now "Can have connections" in the "Rows in this table" section.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 366b3b87-1b29-ddef-5060-ea189a480bda
* Version Independent ID: fd970513-3ef5-7fd8-fa20-f02ca7c76

[2022-11-04 11:00] bishalgoswami commented on #3800
Thanks for your comment, @shammyowens. This issue has been assigned to the doc author for review.

[2022-11-04 14:30] CDSSYW opened #3801 "Component Library Governance Across Environments"
Hi all,
after checking all MS available docs, including https://learn.microsoft.com/en-us/power-apps/maker/canvas-apps/component-library-alm, I still don't see the details to answer my questions:

I have a main requirement: using same basic unified components for entire company.

Therefore, I made some research and tests on component library, and still have following doubts:

1.How can we update s

[2022-11-04 16:04] BillyCottrell opened #3802 "In app notification with other features"
Hi,

So I am currently building a power automate flow and was wondering if it is possible to create model driven in-app notification that holds approvals or adaptive cards. Just to make things clear, I don't mean making an approval/adaptive card and add a reference to it in the in-app notification, but rather have an approval/adaptive card inside the notification itself. Also, when an in-app notif

[2022-11-04 17:00] bishalgoswami commented on #3802
Thanks for your comment, @BillyCottrell. This issue has been assigned to the doc author for review.

[2022-11-04 18:11] JimDaly commented on #3802
@BillyCottrell
The scope of issues for this Github repository is feedback on the documentation.

The topic [Send in-app notifications within model-driven apps](https://learn.microsoft.com/en-us/power-apps/developer/model-driven-apps/clientapi/send-in-app-notifications?tabs=sdk) describes how to programmatically send in-app notifications. The scope of this topic is pretty specific.

You say:

In ap

[2022-11-04 18:11] #3802 closed

[2022-11-04 19:49] jrichview opened #3803 "Mention using TDS endpoint from other apps created with tools such as C# and ADO.NET"
This page REALLY needs to say something about making SQL queries from a non-power platform application such as C# and ADO.NET or whatever else.  Can it be done? If so, link to explanation? If not, clearly state that it's NOT supported.  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3ead09d9-3e51-04ce-dc6e-ac9

[2022-11-04 21:00] bishalgoswami commented on #3803
Thanks for your comment, @jrichview. This issue has been assigned to the doc author for review.

[2022-11-06 13:15] ToshiakiKa opened #3804 "sharing account / opportunity?"
[Enter feedback here]

![image](https://user-images.githubusercontent.com/92855459/200172730-c158f6e4-8451-4e1a-a0fd-a1c48b4f9e41.png)

For example, in an organization that gives salespeople Basic read and write access to accounts, **a salesperson can share an opportunity** with another salesperson so that they can both track the progress of an important sale.

It is an account instead of opportun

[2022-11-06 19:14] akankshagupta28 opened #3805 "Spelling error: "to" is spelled as "tor""
Hi,

There is a spelling mistake: "to" is spelled as "tor" in
"Collaborate – Allows end users to see all records and create new records. But they can only edit or delete their own records. An example for when you want to use collaborate is "up votes" in the Ideas the Perspectives app. You want each user of the app to view the up-votes of other users. But they shouldn't be able **tor** change the v

[2022-11-06 23:15] CalvinQuark opened #3806 "Calendar V2 not listed in the Add Control dialog. Now what?"
On my system, I don't have the Calendar V2 control listed. I do, however, have the Calendar control. I presume that is a different control. Is that correct? If so, since the Calendar V2 control is present in the list, how does one add it to the system? Is it license-SKU dependent? I am subscribed to Dynamics 365 Sales Premium. This article could perhaps be enhanced to point the uninitiated/confuse

[2022-11-07 08:08] BillyCottrell commented on #3802
@JimDaly well I didn't intend as a feature request, but instead I was just inquiring what the limits are of in-app notifications and whether it is possible to simulate something similar to adaptive cards or approvals to the point that it's possible to be used in flow the same way approvals are used.

[2022-11-07 13:08] nickdoelman commented on #3717
Thanks for your feedback. You can pick either option to allow personal Microsoft accounts depending on your requirements. The last option will only allow personal accounts (not accounts from your work or school) and option selected in your screen shot will allow both personal accounts and accounts from your work or school. For more information, please see [https://learn.microsoft.com/azure/active-

[2022-11-07 13:08] #3717 closed

[2022-11-07 13:17] Kunter-Bunt commented on #3698
Just to support the claim: We have experienced the same behavior that the admin portal denies the certificate not matching the requirements although uploading it to a development instance worked fine in investigation.
It also has worked previously with that certificate when uploading it as SSL Certificate which has the same requirements. Investigation showed that you need 2 different certificates

[2022-11-07 13:31] jfremmegaard opened #3807 "Error in documentation "Tutorial: Create an ASP.NET Core Blazor WebAssembly app using Microsoft Dataverse""
If you follow the documentation you get error when you try to log on via AAD. The guide shows how to create an app registration with web type, but I had to change this to SPA in Azure AD to get it working.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7bf9c66a-0722-7548-84d4-8d1e6771c8b7
* Version Independent ID: c66

[2022-11-07 21:53] JimDaly commented on #3802
@BillyCottrell
Thanks, but please advise how the documentation could be changed to address your question.

The feature involves creating records where you can set an icon or use markdown in the body to customize the appearance and content. Several examples are provided.

I think this is pretty subjective:

What are the properties of adaptive cards or approvals that you want to simulate?
Can you cr

[2022-11-07 23:32] cfharp opened #3808 "Table scoped instruction incorrect"
Just as I stated in the subject, the instructions for table scoped command do not work. After re-importing and publishing, it's still only visible in the original app. If I export the solution again it shows the appmoduleid node that I just removed.

I did find that exporting the command and following the instructions but deleting the command directly from D365 before re-importing seems to work.

[2022-11-08 00:02] KumarVivek commented on #1228
As discussed earlier, it isn't. Closing the issue.

[2022-11-08 00:02] #1228 closed

[2022-11-08 00:07] KumarVivek commented on #1415
Closing as this has been addressed.

[2022-11-08 00:07] #1415 closed

[2022-11-08 00:10] KumarVivek commented on #1233
Closing the issue.

[2022-11-08 00:10] #1233 closed

[2022-11-08 00:13] KumarVivek commented on #1031
Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-11-08 00:13] #1031 closed

[2022-11-08 00:17] KumarVivek commented on #1463
This is fixed now; closing the issue.

[2022-11-08 00:17] #1463 closed

[2022-11-08 00:19] KumarVivek commented on #1007
This issue is too old. Please see Power Pages licensing for the latest info: https://learn.microsoft.com/en-us/power-pages/go-live/assign-licensing

[2022-11-08 00:19] #1007 closed

[2022-11-08 00:21] KumarVivek commented on #1427
Closing the issue.

[2022-11-08 00:21] #1427 closed

[2022-11-08 00:21] KumarVivek commented on #1579
This is resolved so closing the issue.

[2022-11-08 00:21] #1579 closed

[2022-11-08 00:26] KumarVivek commented on #3805
This is fixed now.

[2022-11-08 00:26] #3805 closed

[2022-11-08 10:50] Papa-Cho opened #3809 "Get Distribution List in AAD user table"
AAD user table is not showing groups and especially Distribution Lists. There is no mention of this limitation in the documentation.
Is it an upcoming feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: bc2e3627-c28e-9baa-61f6-6353b52f81a4
* Version Independent ID: bc2e3627-c28e-9baa-61f6-6353b52f81a4
* Content: [

[2022-11-08 14:00] bishalgoswami commented on #3809
Thanks for your comment, @Papa-Cho. This issue has been assigned to the doc author for review.

[2022-11-08 14:00] bishalgoswami commented on #3808
Thanks for your comment, @cfharp. This issue has been assigned to the doc author for review.

[2022-11-08 14:00] bishalgoswami commented on #3807
Thanks for your comment, @jfremmegaard. This issue has been assigned to the doc author for review.

[2022-11-08 14:00] bishalgoswami commented on #3806
Thanks for your comment, @CalvinQuark. This issue has been assigned to the doc author for review.

[2022-11-08 14:00] bishalgoswami commented on #3804
Thanks for your comment, @ToshiakiKa. This issue has been assigned to the doc author for review.

[2022-11-08 14:08] nickdoelman commented on #3562
Thank you for your feedback. Image file attachments to ad records are not downloaded using the [Power Platform CLI](https://learn.microsoft.com/power-apps/maker/portals/power-apps-cli). As a workaround, use the Image URL field, or by adding an HTML reference in the Copy field to a [web file](https://learn.microsoft.com/web-files.md) record containing an image file. Documentation has been updated.

[2022-11-08 14:08] #3562 closed

[2022-11-08 16:38] xtofs opened #3810 "performance penalty in using Upsert versus using Create."
the phrase "There is a performance penalty in using Upsert versus using Create. If you are sure the record doesn't exist, use Create." is misleading because for client code to know that a resource exist, it need to send a GET request first. Therefore the fair comparison should be between a GET+POST for insert vs a POST for update. That comparison will most likely show that the single POST is cheap

[2022-11-08 18:03] bishalgoswami commented on #3810
Thanks for your comment, @xtofs. This issue has been assigned to the doc author for review.

[2022-11-08 19:25] lalexms commented on #2911
Hi @MarcTrot @JonnGreaves I've not received a reply from either of you so I'm closing this issue. Please reopen if you'd like to continue the discussion and provide more details. Thanks.

[2022-11-08 19:25] #2911 closed

[2022-11-08 20:03] Mattp123 commented on #3387
@polks71 - Thank you for your feedback. You are correct that the sentence contradicts the timeout limit so that sentence has been removed from the article. Closing issue.

[2022-11-08 20:03] #3387 closed

[2022-11-08 21:43] JimDaly commented on #3810
@xtofs
Thanks for your feedback.
The fact remains that there is a performance penalty in using Upsert versus using Create.
You say that it is misleading and that the perf impact is the same suggests that the only way to test that the record exists is to test each one individually with a GET.  The results could be achieved with a single query that returns multiple records.

I think the statement st

[2022-11-08 21:43] #3810 closed

[2022-11-08 21:50] xtofs commented on #3810
The sentiment to encourage users of the API to think about it is great. Fully support that .

But I stand by the statement that the way is depicted is not fair comparison. You are not considering the cost (both on client and service side) how the client can know that  _the record doesn't exist_  if you leave that out in the comparison you are not considering half the work that an Upsert has to do.

[2022-11-08 22:13] JimDaly commented on #3810
OK.

The whole point of providing Upsert is exactly as you say. This is highlighted here [Data Synchronization > Upsert](https://learn.microsoft.com/en-us/power-apps/developer/data-platform/data-synchronization#upsert). It isn't like we don't want people to use it. But if they **know** they are creating a new record (_without getting into how they know_) then they should use Create rather than Ups

[2022-11-08 22:44] Mattp123 commented on #3447
@mfahsold - This works in my basic testing from the Power Apps teams app. Make sure you have one or more components selected to trigger the commands otherwise they don't appear.
![image](https://user-images.githubusercontent.com/21203819/200692105-649f04a0-a9df-4673-afe8-635e42f06f46.png)

[2022-11-08 22:44] #3447 closed

[2022-11-08 22:47] Mattp123 commented on #3550
Closing issue.

[2022-11-08 22:47] #3550 closed

[2022-11-08 23:09] Mattp123 commented on #3557
@aledoy - According to this article: https://learn.microsoft.com/en-us/power-platform/admin/regions-overview#who-can-create-environments-in-these-regions

you can't create a database in the US preview regions. If you want to preview try using the make.preview.powerapps.com URL.

Closing issue.

[2022-11-08 23:09] #3557 closed

[2022-11-08 23:14] Mattp123 commented on #3591
@daniel-alifano - The article has been updated with new instructions for removing the command component library.
To delete command component libraries, you must delete the app. Alternatively, you can delete the associated record within the model-driven app element table, then delete the component library. The model-driven app element record exists in Dataverse but isn't exposed in solutions. More

[2022-11-08 23:14] #3591 closed

[2022-11-08 23:15] Mattp123 commented on #3637
Closing issue.

[2022-11-08 23:15] #3637 closed

[2022-11-08 23:26] Mattp123 commented on #3641
@SkippingAdi - Most security roles can be assigned to a model-driven app including custom roles. Both the pet schedulers and copy of basic user are custom security roles that can be assigned to the model-driven app in this screenshot. Closing issue.
![image](https://user-images.githubusercontent.com/21203819/200697702-74eef466-4070-4fd0-a9e9-792e05a41e02.png)

[2022-11-08 23:26] #3641 closed

[2022-11-08 23:52] Mattp123 commented on #3648
@galactic-plane - Thanks for your feedback. The article has been updated to both change the title and also to add a link for the method to manage views via the model-driven app designer. Closing issue.

[2022-11-08 23:52] #3648 closed

[2022-11-09 06:54] ondrejspilka327 opened #3813 "Please improve documentation."
Hello,

this method deserves more detailed description.
- What is a scope of a variable
- What is a lifespan of a variable
- Examples of usage in forms, PCFs
- restrictions and limitations if any

Generally, client API documentation is very sparse and not very helpful in many cases.
Examples are mostly missing, mechanisms behind are not explained to big depth.

---
#### Document Details

⚠ *Do not

[2022-11-09 11:05] DiogoAlex opened #3814 "Have a way to get Schema Name of a field"
To use the Odata.bind we need to use the schema name of the field. I'm trying to clone a record and create it with some children records and I can't get this to work because of the schema name of some lookups.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 75f70840-ac77-de34-b797-233a4ff56d37
* Version Independent ID:

[2022-11-09 13:59] FixRM commented on #3562
I know that they don't. Is it a bug?

[2022-11-09 14:00] bishalgoswami commented on #3813
Thanks for your comment, @ondrejspilka327. This issue has been assigned to the doc author for review.

[2022-11-09 16:36] mgowing opened #3815 "Incorrect image for column edit page."
This page has incorrect screenshots for how the new column editing experience looks for calculated fields.

![image](https://user-images.githubusercontent.com/68403079/200887636-1c6e2c54-cfb4-4c66-92e1-c19f56e78c1b.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3f212137-6b88-c06c-025d-c05e6b74c10f
* Version Indep

[2022-11-09 17:17] Mattp123 commented on #3412
@kolyapnl - Please see above comment from the Power Platform engineering team.
Closing issue.

[2022-11-09 17:17] #3412 closed

[2022-11-09 17:27] JimDaly commented on #3813
@ondrejspilka327
Thanks for your feedback.

Agree that this reference documentation is sparse. It seems to expect that the related conceptual topics have been read. Did you find these?

One actionable item we can make in this topic is to include a link to the conceptual topic: [Client API execution context](https://learn.microsoft.com/en-us/power-apps/developer/model-driven-apps/clientapi/clientap

[2022-11-09 17:46] Mattp123 commented on #3710
@iozm - Thank you for your feedback. An alert has been added at the top with links to articles that cover the modern form designer and modern controls list.
Closing issue.

[2022-11-09 17:46] #3710 closed

[2022-11-09 18:00] bishalgoswami commented on #3815
Thanks for your comment, @mgowing. This issue has been assigned to the doc author for review.

[2022-11-09 18:02] Mattp123 commented on #2880
@thijskuipers - There's a new feature, formula columns, that is in preview and supports UTCNow as well as many other well documented functions. More information: [Work with formula columns](https://learn.microsoft.com/en-us/power-apps/maker/data-platform/formula-columns)

Closing issue.

[2022-11-09 18:02] #2880 closed

[2022-11-09 18:11] JimDaly commented on #3814
@DiogoAlex
Thank you for your feedback.

The first thing to address is that you don't want the `SchemaName` of the field. You want the name of the _single-valued navigation property_, not the schema name of anything. This isn't stored anywhere in the metadata for the field/property/attribute, this is in the metadata of the relationship that supports the lookup.

Keep in mind that some lookup field

[2022-11-09 19:54] Mattp123 commented on #3651
@GitSheva - Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Microsoft Customer Support, go to: https://powerapps.microsoft.com/support/

Closing this issue.

[2022-11-09 19:54] #3651 closed

[2022-11-09 19:55] Mattp123 commented on #3625
Closing issue.

[2022-11-09 19:55] #3625 closed

[2022-11-09 22:24] Mattp123 commented on #3706
@VeeRochet - Thank you for your feedback. The diagram in the article has been updated to include the number 7 fit to screen command.

Closing issue.

[2022-11-09 22:24] #3706 closed

[2022-11-10 10:37] ondrejspilka327 opened #3816 "Diverse information on usage of KeyVault secrets with Env Vars"
Hello,

the documentation states that KeyVault secrets+EnvVars can only be used in PA Flows and custom connectors.
![image](https://user-images.githubusercontent.com/107033882/201068566-ea5cf36b-77fa-42fc-8a20-692deebe0b98.png)

However, this article https://itmustbecode.com/azure-key-vault-secrets-in-dataverse/ describes usage on client as well as in plugins.

For us in IC+S/CPG it is viable scen

[2022-11-10 10:39] BillyCottrell commented on #3802
@JimDaly well, mainly whether it is possible to simulate the same response behaviour that approvals have in flows.
Since you have actions in the in-app notification, I thought it would be possible to listen to which action was used on that notification the same way flow listens to the response of the approval request.

I guess to give an example, it would be something like:

You are trying to do s

[2022-11-10 15:19] amadse opened #3817 "The Dynamics 365 Talnet name does exist anymore"
https://dynamics.microsoft.com/en-us/talent-to-human-resources/

And now it is also migrated into the Dynamics 365 Finance, which is not using dataverse, so this article needs to be updated with this information. https://learn.microsoft.com/en-us/dynamics365/human-resources/hr-infrastructure-merge

[2022-11-10 15:31] 2ATCaroline opened #3818 "I can't get the timeline to show appointments and task for a custom entity in Power Pages (not Portal)"
Hi,

I have changed the setting 'CustomerSupport/DisplayAllUserActivitiesOnTimeline' to true.
I have changed the view 'Portal Timeline' on Activities to include Tasks and Appointments.

I have created a listview and form to view appointments in powerpages and there I see the appointment where my custom entity is set as regarding and the power page contact (with a username and password) as the requ

[2022-11-10 17:01] JimDaly commented on #3802
@BillyCottrell
App notifications allow you to compose a notification experience with links. When the user clicks the link, it sends a GET request to the URL of the link. There appears to be no capability to send requests using POST, PATCH or any other Http method.

You say:

It may be possible, but it isn't part of this feature. Imagine that you have a web service that processes GET requests and i

[2022-11-11 00:52] skfd opened #3819 "HTTP Header settings for Power Pages does not explain where exactly are the settings."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 443edf18-65c5-7984-1ff5-172b15462980
* Version Independent ID: df150eb3-67ca-b3cb-37ab-7be1a3823cc0
* Content: [Set up HTTP headers in portals - Power Apps](https://learn.microsoft.com/en-us/power-apps/maker/portals/configure/cors-support)
* Content

[2022-11-11 02:00] bishalgoswami commented on #3819
Thanks for your comment, @skfd. This issue has been assigned to the doc author for review.

[2022-11-11 02:22] Toxumuharu opened #3820 "Pointing out typo: "からから" -> "から""
The sentence below includes the word "からから", but it should be "から".

↓

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 learn.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 7444d166-6678-7ecc-2c33-4c54d4d67ac3
* Version Independent ID: a815c5f8-3ab4-d30a-5098-0d865947bdbb
* Content: [Power Apps ポータルのライフサイクル - Power Apps](https://learn.microsoft.com/ja-jp/power-apps/maker/portals/admin/portal-lifecycle)

[2022-11-11 04:00] bishalgoswami commented on #3820
Thanks for your comment, @Toxumuharu. This issue has been assigned to the doc author for review.

[2022-11-11 13:25] nickdoelman commented on #3537
Thank you for your feedback. We have confirmed the issue and removed the line from the sample code to remove confusion.

[2022-11-11 13:25] #3537 closed

[2022-11-11 13:46] nickdoelman commented on #3819
Thank you for your feedback. The Http headers are configured by using [site settings](https://learn.microsoft.com/power-apps/maker/portals/configure/configure-site-settings).

[2022-11-11 13:46] #3819 closed

[2022-11-11 16:23] Mattp123 commented on #3783
@Regal92 - Since you can add views to personal dashboards in either model-driven apps or Dynamics 365 customer engagement apps, the dashboard should be able to display the icons on the dashboard when the view is added to it.

Closing issue.

[2022-11-11 16:23] #3783 closed

[2022-11-11 16:37] Mattp123 commented on #3715
@AndrewTheWild - For choices (multi-select optionset) see the https://learn.microsoft.com/en-us/power-apps/maker/data-platform/create-edit-virtual-entities
Lookup column information can be found here: https://learn.microsoft.com/en-us/power-apps/developer/data-platform/virtual-entities/get-started-ve#limitations-of-virtual-tables

Closing issue.

[2022-11-11 20:31] marcelbf commented on #3772
@dansmithmsft what connector are you trying to use?
developer plan does not include [RPA](https://learn.microsoft.com/en-us/power-apps/maker/developer-plan#does-the-power-apps-developer-plan-include-power-automate-rpa-use-rights) or [AI builder](https://learn.microsoft.com/en-us/power-apps/maker/developer-plan#does-the-power-apps-developer-plan-include-ai-builder-use-rights) at this time.

[2022-11-11 22:02] Mattp123 commented on #3638
@xairrick - Thanks for your feedback. Apparently this conflict occurs in canvas app forms not model-driven app forms. I've revised the article to state this.
Closing issue.

[2022-11-11 22:02] #3638 closed

[2022-11-14 05:20] YoshikaSuzuki opened #3822 "Please make it clear in your documentation that snapshots are deleted every 5 generations."
[Enter feedback here]
Snapshots are deleted every 5th generation.
This is by design.
Information about snapshots is an important behavior for customers.
Customers were unaware of this behavior and were working on the deletion themselves.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6fa0f7a3-459a-a376-d073-69a24fbfdb

[2022-11-14 06:00] bishalgoswami commented on #3822
Thanks for your comment, @YoshikaSuzuki. This issue has been assigned to the doc author for review.

[2022-11-14 06:04] sabinn-msft commented on #3822
@JasonHQX

[2022-11-14 10:34] JasonHQX commented on #3822
@YoshikaSuzuki and @sabinn-msft
Thanks for the feedback. Pull in review
https://github.com/MicrosoftDocs/powerapps-docs-pr/pull/7298

[2022-11-14 17:23] LozzieDuff opened #3823 "The "Create your first component" -> "Implementing manifest" documentation section is incomplete"
In the "Create your first component" documentation -> "Implementing manifest" section ...

https://learn.microsoft.com/en-us/power-apps/developer/component-framework/implementing-controls-using-typescript#implementing-manifest

The steps do not describe that you must add the type-group element ...

      <type-group name="numbers">
         <type>Whole.None</type>
         <type>Currency</type>

[2022-11-14 18:00] bishalgoswami commented on #3823
Thanks for your comment, @LozzieDuff. This issue has been assigned to the doc author for review.

[2022-11-14 21:41] JimDaly commented on #3823
@LozzieDuff
Thanks for the specific, actionable feedback.
I've created a workitem to review this topic with an eye on the specific issue you raised.

If you wish, we do accept contributions to the repo.

Workitem: 3034672

[2022-11-14 21:41] #3823 closed

[2022-11-15 00:31] caburk commented on #3808
@cfharp thank you very much for flagging this issue. An important step was missing in this documentation. You also need to change the value of the "appaction uniquename" property within the XML prior to re-importing the solution. Any small edit is sufficient. This will also prevent the 2nd issue you experienced (issue editing using command designer after re-importing the solution).
I'm updating th

[2022-11-15 07:54] BillyCottrell commented on #3802
@JimDaly
In that case, I understand that adaptive cards or approval like capabilities are not meant to be part of the in-app notification experience and that the notifications are only about delivering a message and not allowing users to directly update or interact with other features but rather sending a reference to that feature or process.

Thank you for clarifying this!

[2022-11-15 16:52] 2ATCaroline commented on #3818
Aha, in classic mode the timeline control has tab: webclient properties
There you have an option: Default tab
If I change that to Activities I see the activities on the power page from the custom entity.
However, then I don't see the Notes anymore... nor the uploaded attachments.
Is there any way to see both?
I tried adding a second timeline control (which is only possible in the modern view, but

[2022-11-16 00:44] Bernadette2022 commented on #3669
The feedback is shared with localization supplier to resolve

[2022-11-16 23:41] mduelae commented on #3781
Closing. Duplicate issue of - https://github.com/MicrosoftDocs/powerapps-docs/issues/3782.

[2022-11-16 23:41] #3781 closed

[2022-11-16 23:43] mduelae commented on #3782
@Erica0214 I fixed the error. You should see the updates publish to our site by 6pm PST.

[2022-11-16 23:43] #3782 closed

[2022-11-17 01:18] SpikerAustralia opened #3832 "URL's incorrect"
A number of links have .md at the end which is causing the link to create a 404 error.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 280091f4-274b-32f9-eaac-d526c8851404
* Version Independent ID: f55d8425-89dd-ea1b-e556-f17ded9acd56
* Content: [Edit form and Display form controls in Power Apps - Power Apps](https://l

[2022-11-17 02:00] bishalgoswami commented on #3832
Thanks for your comment, @SpikerAustralia. This issue has been assigned to the doc author for review.

[2022-11-17 02:06] ThreeTen22 opened #3833 "addOnPostSave not being added to the navigation menu"
Mainly just:
[addOnPostSave](https://learn.microsoft.com/en-us/power-apps/developer/model-driven-apps/clientapi/reference/events/postsave)

does not appear under the formContext.data.entity dropdown:
![image](https://user-images.githubusercontent.com/10577809/202336502-43dee8ed-c4ae-4199-a81e-63729a03cfdf.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.micros

[2022-11-17 04:00] bishalgoswami commented on #3833
Thanks for your comment, @ThreeTen22. This issue has been assigned to the doc author for review.

[2022-11-17 17:44] JimDaly commented on #3833
@ThreeTen22
Thanks for your feedback.
I've fixed this. removeOnPostSave was also not included.
Change should go live after noon PST.

Note: PR 7330

[2022-11-17 17:44] #3833 closed

[2022-11-18 03:30] jonnowan opened #3836 "Examples and Issues"
The document shows literal steps for changing settings.

It would be appropriate and beneficial to add examples, and discuss how to control canvas expansion within the model driven form.
There are instances where turning off aspect ratio preservation, and enabling resize; can result in the canvas attempting to expand to over 100% of the forms view.

In some instances this results in a very large c

[2022-11-18 04:00] bishalgoswami commented on #3836
Thanks for your comment, @jonnowan. This issue has been assigned to the doc author for review.

[2022-11-18 11:29] SilvioVicentini opened #3838 "Soluzione NorthWind Error"
![Cattura](https://user-images.githubusercontent.com/118532282/202695315-b491a0f4-a77c-4df3-948b-23cc9331954a.JPG)
La soluzione mi da questo errore
Sono molto interessato per provarla

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c5475653-e112-f407-b0de-ecad06bac5bf
* Version Independent ID: 9f

[2022-11-18 12:00] bishalgoswami commented on #3838
Thanks for your comment, @SilvioVicentini. This issue has been assigned to the doc author for review.

[2022-11-18 13:11] nickdoelman commented on #3698
Thank you for your feedback and the details. We are aware of the issue and have updated the documentation advising that the same certificate cannot be used for both custom domain names and implicit grant flow.

[2022-11-18 13:11] #3698 closed

[2022-11-18 15:33] beyro commented on #3753
@JimDaly @adrianorth
Sorry for the delay in getting back to you on this.

It seems that getting the Form Component control via `formContext.getControl` is returning the formContext of the main form  referenced by the Form Component control.

If you call `formContext.getAttribute()` with no arguments from any main form, it also returns an array of all attributes on the form similar to how `formCont

[2022-11-18 17:21] nickdoelman commented on #3662
Thanks for your feedback. There is no licensing requirement for an administrator to renew the portal authentication key. It might be possible there may be some unique circumstances/custom policies where an administrator does not have automatic access to Microsoft Dataverse and is blocked from renewing the portal authentication key unless a license is assigned as a workaround.

[2022-11-18 17:21] #3662 closed

[2022-11-18 23:16] nickjgill commented on #3018
I am facing this struggle with two enterprise customers I am working with. This seems short sided to simply not support this and certainly does not align with Microsofts one cloud ecosystem story. Many enterprises do not want to expose their Key Vaults to the public net. Whitelisting the Power Platform IP addresses is not practical as it is a long list that changes regularly. We should be able to

[2022-11-22 12:59] 2ATCaroline commented on #3818
Also if I give rights on the acitvity pointer as a subright from my custom entity I see all related activities, even if I didn't give permissions for appointments (for example) specifically. Plus I also see the appointments where the external user is not an activity party. If I give rights to the activity pointer as a subright of activity parties related to the external user I don't see anything i

[2022-11-22 16:00] lmastin opened #3841 ".getVisible() and .setVisible method pages are titled incorrectly; documentation should be improved re: visibility behavior"
Hi there!

1. The page title is "formContext.getVisible"; which implies that that the .getVisible() method belongs to the formContext object. This is inaccurate; the method belongs to the Control object. (Other method pages in the "Control" section are simply titled with the name of method; in this case, it would be "getVisible".)

2. The page title for the corresponding .setVisible() method is al

[2022-11-22 16:19] lmastin opened #3842 "Calling .setNotification() on a hidden control"
Hi there!

There is a lack of intuitive behavior on the part of the .setNotification() method; which should be documented. Specifically:

If you call .setNotification() on a Control that is itself visible, but is the child of a Section or Tab that isn't visible, then the call will succeed. If this occurs while saving, it will result in a situation where a message will be shown at the top of the fo

[2022-11-22 16:33] lmastin opened #3843 "Title reads "formContext.ui Tab Sections", when object is named "Section""
Hi there!

The title of this page is somewhat confusing - the subject is the Section object (or 'sectionObj'); but the title refers to these as "Tab Sections". (Additionally, other pages are titled using namespace format; so in this case, it should read "formContext.ui.sections".)

Thanks and kind regards,
Lauren

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.mic

[2022-11-22 16:33] sympmarc opened #3844 "Save/publish actions not where this article describes"
This page no longer seems to represent what's going on in the UI. I finally found the save/publish actions in the upper right of the page:
![image](https://user-images.githubusercontent.com/1295627/203369465-0e44bcd9-81cd-4512-845b-8a12e7fef825.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a1580f2c-28f4-b295-df7

[2022-11-22 18:00] bishalgoswami commented on #3844
Thanks for your comment, @sympmarc. This issue has been assigned to the doc author for review.

[2022-11-22 18:00] bishalgoswami commented on #3843
Thanks for your comment, @lmastin. This issue has been assigned to the doc author for review.

[2022-11-23 07:15] darshSWL opened #3845 "Token not valid for 90 days and throws an exception instead of returning all records"
The documentation mentions "Changes will be returned if the last token is within a default value of 90 days. If it is more than 90 days, the system will return all the records."

In one of my latest projects I needed to use this feature and it is not working according to this documentation.

If the token is older than 30 days the request responds with an OrganizationServiceFault with the message "

[2022-11-23 08:00] bishalgoswami commented on #3845
Thanks for your comment, @darshSWL. This issue has been assigned to the doc author for review.

[2022-11-23 15:37] vijendraIntrop commented on #2735
Hi Team,
I am trying batch API with "Prefer: odata.continue-on-error" header but its not working as expected for neither v8.2 nor v9.2. Could you please mention which version has support for "odata.continue-on-error". Any error that occurs in the batch it stopping the processing of the remainder of the batch.

[2022-11-23 18:34] JimDaly commented on #2735
@vijendraIntrop
The version is irrelevant.
It should work for you. We don't have any sample dedicated to $batch, but it is used in some of our C# samples via the WebApiService class library See [Batch](https://learn.microsoft.com/en-us/power-apps/developer/data-platform/webapi/samples/webapiservice#batch) for details.

What language are you using?
Can you capture the HTTP traffic and post examples

[2022-11-23 19:33] kriede opened #3846 "Office365Users.UserProfile expects id (not email)"
From my experience, Office365Users.UserProfile expects the id of the use in Azure AD and not the email address.

Here the documented seems wrong about that fact:
https://github.com/MicrosoftDocs/powerapps-docs/blob/main/powerapps-docs/maker/canvas-apps/connections/connection-office365-users.md?plain=1#L69

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.c

[2022-11-23 20:00] bishalgoswami commented on #3846
Thanks for your comment, @kriede. This issue has been assigned to the doc author for review.

[2022-11-23 20:16] vijendraIntrop commented on #2735
Hi @JimDaly,
thanks for quick reply.

Here is the example, used "**_Prefer: odata.continue-on-error_**" request header.
Error occurred for a request within a batch, the error for that request returned for the batch request **and stopped the processing of the remainder of the batch.**

As used continue-on-error it should process remaining changesets but it didnt and retuned only single failed chang

[2022-11-23 22:05] LindaCicero opened #3847 "Typo"
[Enter feedback here]
There is a typo in this sentence (I've bolded it below):
"Code components can be **including into** a solution..."
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 709f9e54-c965-5dc4-b64f-3d90037626be
* Version Independent ID: 45011eec-04a4-01b4-2ab8-70677e910f3b
* Content: [What are code components

[2022-11-24 00:00] bishalgoswami commented on #3847
Thanks for your comment, @LindaCicero. This issue has been assigned to the doc author for review.

[2022-11-24 08:40] yanoh0010 opened #3849 "The Web Template seems not correct."
When update "Faceted Search - Results" Template as document mentioned, the portal search will doesn't finish.
Please review the template again. At least the " doesn't exist with some id and class  name.
![image](https://user-images.githubusercontent.com/117965405/203733457-baeb01d4-1f4c-4c41-921e-34d47fe4e0aa.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.mi

[2022-11-24 10:00] bishalgoswami commented on #3849
Thanks for your comment, @yanoh0010. This issue has been assigned to the doc author for review.

[2022-11-24 10:16] pakos47 opened #3850 "Please mark as Preview, when not officially (/fully) ready to use yet."
How come this Feature is not marked as "Preview", when the requirement of incremental update still is still in preview?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7a8d324c-cc14-c8f9-8adf-4b9af10f55ce
* Version Independent ID: 7a8d324c-cc14-c8f9-8adf-4b9af10f55ce
* Content: [Copy Dataverse data into Azure SQL - Pow

[2022-11-24 12:00] bishalgoswami commented on #3850
Thanks for your comment, @pakos47. This issue has been assigned to the doc author for review.

[2022-11-24 14:39] nickdoelman commented on #3849
Thank you for your feedback. We are currently investigating this. If this is having an impact on business, we recommend that you open support ticket at https://admin.powerplatform.microsoft.com/support for a faster response.

[2022-11-24 20:35] matthew25187 opened #3851 "Wrong screenshot"
Under the section "Create the Power Automate Flow," the same screenshot has been used for both steps 2 & 3.  Step 2 mentions "select Power Apps as the trigger" yet the screenshot doesn't show anything about selecting a trigger.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2c6ca5a1-19a8-d7dc-7f40-7ac8abfe8ca3
* Versi

[2022-11-24 22:00] bishalgoswami commented on #3851
Thanks for your comment, @matthew25187. This issue has been assigned to the doc author for review.

[2022-11-25 05:05] yokoshima-ms opened #3852 "Please mention adding Power BI component into solution as Prerequisites"
I have received a query from customer that customer cannot use this feature because they have not added Power BI components into a solution.
https://learn.microsoft.com/en-us/power-apps/maker/model-driven-apps/powerbi-control

Could you please mention following article in Prerequisites?
This article is located in a different section, so customer sometimes does not notice this.
https://learn.micros

[2022-11-25 06:00] bishalgoswami commented on #3852
Thanks for your comment, @yokoshima-ms. This issue has been assigned to the doc author for review.

[2022-11-25 06:20] microsoft-github-policy-service[bot] opened #3854 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-11-26 17:54] jslitzkerttcu commented on #3434
Just adding a +1 to this fix.  I also ran into the same issue and correcting the fetchxml fixed the issue.

[2022-11-27 19:41] nickdoelman commented on #3818
Thank you for your feedback. The ability to show both notes and activities on the same form for a custom table is currently not supported with configuration. Please log this as an idea on https://aka.ms/MPP_ideas
Also note that security is applied to the activity table, and not to the activity types themselves. See https://learn.microsoft.com/power-apps/developer/data-platform/activity-entities fo

[2022-11-27 19:41] #3818 closed

[2022-11-27 21:44] JimDaly commented on #3847
@LindaCicero
Thanks for your feedback. I've fixed the sentence.

[2022-11-27 21:44] #3847 closed

[2022-11-27 22:13] JimDaly commented on #3842
@lmastin
Thanks for your feedback.
We are making changes to address this.

[2022-11-27 23:30] JimDaly commented on #3841
@adrianorth  & @HemantGaur
Based on @lmastin testing report, I've added a note to call out:

I think this is correct. Can you confirm?

[2022-11-28 00:39] JimDaly commented on #2735
@vijendraIntrop
Sorry for the delay in responding. Thanksgiving holiday here in the US.

Please see the attached [batch-continue-on-error-test.txt](https://github.com/MicrosoftDocs/powerapps-docs/files/10099526/batch-continue-on-error-test.txt) showing the result of this code using the [WebAPIService BatchRequest class](https://github.com/microsoft/PowerApps-Samples/blob/master/dataverse/webapi/C%

[2022-11-28 00:54] JimDaly commented on #3845
@darshSWL
Thanks for your feedback.
@Peakerbl
We don't mention that the organization `expirechangetrackingindays` value is what controls this, but I can confirm it is set to 30 in my test environments. This seems to be the setting. Can you confirm and we can update this?

[2022-11-28 01:01] JimDaly commented on #3843
@lmastin
Thanks for your feedback. Discussing this with the dev team.

[2022-11-28 13:56] jh-sigmadx opened #3857 "Missing Items Limit"
The Documentation makes NO mention of the fact that the ListBox Control has a HARD limit of 500 Rows in the Items Collection.

This has caught me out - I did 3 months of work for a client only to discover this hard limit during testing.
The hard limit meant that the solution is NOT fit for the Client, and we lost the job (and the 3 months of time was lost, to the tune of about £35,000)

MSFT - PLE

[2022-11-28 14:00] bishalgoswami commented on #3857
Thanks for your comment, @jh-sigmadx. This issue has been assigned to the doc author for review.

[2022-11-28 14:23] lmastin commented on #3842
@JimDaly - You're welcome! Thanks for looking into this.

Obviously this is outside of the purview of documentation; but if you talk to the dev team directly, you might want to bring up with them that the core behavior here (that parent objects may be hidden; that this defacto hides child objects; but .getVisible() can still return 'true' for said child objects) is both unintuitive, and requires c

[2022-11-28 14:29] lmastin commented on #3841
@JimDaly - at least from my testing, it might be more accurate to say: