[2020-04-08 16:38] KumarVivek commented on #1194
@Miesjh This is addressed now. Closing the issue.

[2020-04-08 16:38] #1194 closed

[2020-04-08 23:18] josiahvinson opened #1239 "Formatting errors"
There are apostrophe characters all over this page and in the code sample that break the formatting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16e7478f-bfd9-607d-c5fa-2e9af28302ab
* Version Independent ID: d8e1b97b-301d-9353-b279-a72354ffa8f2
* Content: [Global Discovery Service Sample (C#) (Common Data Service) -

[2020-04-09 05:58] Nandeep94 opened #1240 "pie chart"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da79f77c-99a2-2f45-027f-5460b64f6545
* Version Independent ID: af5b7158-a1e1-3f78-2bb4-6b2571452334
* Content: [Create a chart in a canvas app - Power Apps](https://docs.microsoft.com/en-us/powerapps/maker/canvas-apps/use-line-pie-bar-chart)
* Content

[2020-04-09 06:00] Nandeep94 commented on #1240
how to add rows  for columns chart

[2020-04-09 08:27] Flex-Xuan opened #1241 "How make $batch execute continue on errors"
Hi there,

How make $batch to execute continue when error occurred?
for example.
I want to use $batch to get 2 account and 3 contact  in one request.
so I built the requests in turn. e.g.

_account-1
account-2
contact-1
contact-2
contact-3_

 if all records exists in environment, it works perfect. but if there is one record does not exist, let's say contact-1 does not exist. then I only got 3 resp

[2020-04-09 08:37] bthompson-365 commented on #1241
@Flex-Xuan If you want a quick answer would be better asking your question in the community forums at https://community.dynamics.com/crm/f/microsoft-dynamics-crm-forum .

[2020-04-09 08:39] Flex-Xuan commented on #1241
@bthompson-365  Okay, thank you.

[2020-04-09 08:58] Flex-Xuan commented on #1241
I found the answer at https://docs.microsoft.com/en-us/odata/webapi/batch
close this.

[2020-04-09 12:33] Miesjh commented on #1194
Thanks. The createFromEntity and data attributes are handy for prefilling the form.

[2020-04-09 12:35] Miesjh commented on #1193
In issue 1194 I asked for more info for the pageType entityrecord. Now this is added, I can see how to prefill a form. The createFromEntity and data attributes can now be used.

[2020-04-09 15:21] akaskela opened #1242 "Incorrect details on availability"
The Note section is incorrect.

The form selector methods (like formContext.ui.formSelector.getCurrentItem() ) do work on the Dynamics 365 App for phone. However, it does not work on quick create forms (Web or Phone) even if there are multiple QC forms.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 669dbde5-7411-0527-

[2020-04-09 15:40] JimDaly commented on #1241
Re-opening this because people should be able to find this information here.

[2020-04-09 17:29] jimholtz commented on #1136
@nickp85
Sorry for the delay. Can you let us know which topic you're referring to? Thanks.

[2020-04-10 00:39] arunvinoth opened #1243 "Same code in UCI resulting different ReadableStream body instead of result.responseText JSON like classic web UI"
When Xrm.WebApi.online.execute is used to execute a custom action in classic UI, we used to get result.responseText JSON.

But the same code break in UCI. Because the responseText is no more, instead we are getting ReadableStream body.

Is this expected?

Read more - https://www.thrives.be/dynamics-365-ce/javascript-callback-not-working-after-uci-upgrade/

[2020-04-10 08:51] Arghyadeep2412 opened #1244 "Spelling error"
[Enter feedback here]
Please correct the spelling of "offline"
![image](https://user-images.githubusercontent.com/58265542/78977746-4425cd80-7b36-11ea-9171-8519b0df3b18.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 736633bc-d0f6-0665-c487-dab6c36a677f
* Version Independent ID: b83eba0e-908d-a1bc-5e81-a642afb9276c

[2020-04-10 16:25] Nkrb commented on #1226
@bthompson-365 Thanks for the feedback. We have updated the docs with the correct information and pushed to live. Closing the issue.

[2020-04-10 16:25] #1226 closed

[2020-04-10 16:25] Nkrb commented on #1230
@luoyong0201 Thanks for the feedback. We have updated the docs with the correct information and pushed to live. Closing the issue.

[2020-04-10 16:25] #1230 closed

[2020-04-10 19:14] mduelae commented on #1130
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, see here: https://powerapps.microsoft.com/support/

Closing this issue

[2020-04-10 19:14] #1130 closed

[2020-04-10 19:32] mduelae commented on #1195
@tpmeredith Apologize for delayed replay. I have forwarded your question to my internal PM contact.

Thanks,
Mints

[2020-04-10 19:51] JimDaly opened #1245 "Need to add a section on assigning records"
This appears to be a common area of confusion.
See the notes  here https://github.com/simple-odata-client/Simple.OData.Client/issues/625

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08356781-8ff5-8696-0072-89fb392acc7a
* Version Independent ID: 80f74dc0-cb69-3ee7-0990-fc656e1c66ed
* Content: [Update and delete entiti

[2020-04-10 20:28] makarandkeer opened #1246 "Where to add this JS Code ?"
Can you please give details as where should this JS code added in Dynamics 365?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b93a524-63ec-8b9c-cabf-042e38ccf5bd
* Version Independent ID: 5a3b40cc-8c0a-2a25-1ec6-cec49f7f8f69
* Content: [addGlobalNotification (Client API reference) in model-driven apps - Power Apps](h

[2020-04-10 20:52] salvoroni opened #1247 "Fix typo"
In the "SQL User name and password authentication" section. Update OF to OR.
Change:
Your users cannot see the user name of password,

To:
Your users cannot see the user name or password,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df61b9fd-18b0-49c7-03f3-8b97aa67a601
* Version Independent ID: cc848247-8142-08bc-08c

[2020-04-10 20:55] bthompson-365 commented on #1246
Surely it's the same as any other piece of Javascript within Dynamics 365 / Power Apps - within a webresource script triggered on pageload / page save as appropriate. See the client-side events listed in https://docs.microsoft.com/en-us/powerapps/developer/model-driven-apps/clientapi/reference

[2020-04-10 21:01] makarandkeer commented on #1246
@bthompson I our App, Dashboard is default page and we wanted to show Global Notification when default page is loaded. As far I know we cannot have JS injected on Dashboard page load or for that matter same is the case for views like Account View, Case View etc.

[2020-04-10 21:12] bthompson-365 commented on #1246
If you look at all the images shown they all from an entity detail page

[2020-04-10 21:42] tapanm-MSFT commented on #1067
Thank you for your feedback. Content is updated. Please allow some time for changes to reflect.

[2020-04-10 21:42] #1067 closed

[2020-04-10 21:42] tapanm-MSFT commented on #1013
Thank you for your feedback. Content is updated. Please allow some time for changes to reflect.

[2020-04-10 21:42] #1013 closed

[2020-04-10 21:42] tapanm-MSFT commented on #1020
Thank you for your feedback. Content is updated. Please allow some time for changes to reflect.

[2020-04-10 21:42] #1020 closed

[2020-04-10 21:51] tapanm-MSFT commented on #1162
Thank you for your feedback. Content is being updated. Please allow some time for changes to reflect.

[2020-04-10 21:51] #1162 closed

[2020-04-10 22:02] tapanm-MSFT commented on #1180
Thank you for reaching out. Please review flow export/import to move across environments - https://flow.microsoft.com/en-us/blog/import-export-bap-packages/. Once the flow is available in environment with canvas app, you can add it to the app.

[2020-04-10 22:02] #1180 closed

[2020-04-10 22:08] tapanm-MSFT commented on #1098
Thank you for reaching out. This is listed in step 2:

You can choose an existing app or create one, but the report must be published to the Power BI service and opened in Microsoft Edge or Google Chrome.

[2020-04-10 22:08] #1098 closed

[2020-04-10 23:34] mduelae commented on #1195
@tpmeredith does this help: https://powerapps.microsoft.com/en-us/blog/create-personal-views-in-unified-interface-through-advanced-filtering-for-grids/

Thanks,
Mints

[2020-04-11 00:45] gregli-msft commented on #1216
The SaveData and LoadData functions do work in the Windows client.   The Windows client has not been updated for a while, so it is lacking some of the performance and reliability improvements we have made for iOS and Android, but the basic functionality is there.

I'm sorry about the behavior with the `.` in the name.  We're looking into it.  If that character can't be supported we should be throw

[2020-04-11 03:32] VFXpro commented on #505
How do you manage you backlogs?  3 years ago, select multiple rows, etc... are still not completed :(

Not yet available
Customize the styling of individual columns.
Add a Data table control in a form control.
Change the height of all rows.
Show images in a Data table control.
Show fields from related entities.
Use built-in functionality to filter and sort data by column heading.
Add a Data table

[2020-04-11 14:10] mdhruv1 opened #1248 "There is no example and full working details"
Will be great if we can a full details showing step by step. This does not have enough details .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edbd7c88-66b5-0776-251e-49293324b930
* Version Independent ID: 4364fe0e-c13d-afaa-a0b3-1e5803e1d9e8
* Content: [Download, Launch, and Param functions - Power Apps](https://docs

[2020-04-12 16:32] aianta commented on #1216
Thanks, it makes sense, I'm guessing the Android and iOS clients have a significantly larger userbase, I apologize for the negative tone of my initial posting, it was a very long day.

If there are logs or anything else I can provide to help please let me know!

[2020-04-13 10:21] robertoilidio opened #1249 "Plug-in registration tool is showing NOT valid messages"
Regarding this statement: "The Plug-in registration tool will filter this information to only show valid messages.". Using Plug-in Registration Tool version 9.0.0.9517 32 bits ( which I guess it is the current latest public version , please correct if I am wrong),  I am not verifying this behavior. The Plug-in registration tool is showing valid and not valid messages.

For example, PRT is showing

[2020-04-13 15:07] tpmeredith commented on #1195
Thanks this is awesome!

[2020-04-13 16:35] JimDaly commented on #1249
@robertoilidio
Thanks for reporting this.  I can confirm what you see and am following up with the PRT owners to see if this is expected.

[2020-04-13 18:35] tapanm-MSFT commented on #505
Thank you for reaching out with your feedback and feature asks. Please review the feature updates and release plans at https://docs.microsoft.com/dynamics365/release-plans/. For feature ideas, please submit or vote for feature asks at https://powerusers.microsoft.com/t5/Power-Apps-Ideas/idb-p/PowerAppsIdeas.

[2020-04-13 18:35] #505 closed

[2020-04-13 21:15] Nkrb commented on #856
@AbdulWahabWarind Can you please let us know which type of controls are not working for you. For now component framework controls will not be supported.

[2020-04-13 22:11] tapanm-MSFT commented on #272
Thank you for reaching out and updates. Pop-up blocker needs to be disabled or allow the pop-up temporarily for launch() to work from within iFrame. And as you mentioned, it continues to work in app when using app directly. Content will be updated accordingly.

[2020-04-13 22:11] #272 closed

[2020-04-13 22:17] tapanm-MSFT commented on #285
Thank you for your feedback on overall documentation. As the discussion addresses primary concern, closing this issue and considering the documentation improvement feedback for overall enhancement.

[2020-04-13 22:17] #285 closed

[2020-04-13 23:18] #493 closed

[2020-04-13 23:35] tapanm-MSFT commented on #497
@Arefu Thank you for reaching out for help and apologies for delayed response. When *OneDrive document link* is used with **Download()** function, the document by default opens in the Word online. Hence, the file opens in a new tab. To get a link for download, use the **Details** option in OneDrive for the given Word document and then from **Details** pane, copy/use the **Path** link. **Path** lin

[2020-04-13 23:35] #497 closed

[2020-04-13 23:57] eschrader commented on #889
Thanks, sounds like Power Apps Included w/ Office covers guest users.

[2020-04-14 00:33] SeaDude commented on #1184
My guess is Guest Users will not see the app if its embedded in Teams

[2020-04-14 07:27] shaurya58 opened #1250 "Failure of POST requests"
I tried the POST request for creating an incident with the following JSON body:

{
        "caseorigincode": "2",
	"casetypecode": "1",
	"createdon": "2020-04-09",
	"customercontacted": true,
	"customersatisfactioncode": "5",
	"description": "test incident",
	"emailaddress": "abc@xyz.com",
	"followupby": "2020-04-10",
	"incidentid": "8aa021b9-c8e3-4138-8d87-e28ce9bd7526",
	"incidentstagecode": "1"

[2020-04-14 12:10] scottdurow commented on #542
getEntityMetadata does seem to return only a subset of the metadata that is returned via the raw WebApi request. In particular, it does not return the Attributes collection. Can this behaviour be documented?

[2020-04-14 14:51] brodiekrause opened #1251 "Needs updated"
I noticed a property for this control, AutoDisableOnSelect, and came here to read up on it, but this documentation is not current.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42d62420-0871-9ee5-ec03-df09c17dde3e
* Version Independent ID: 4a97f73f-221c-2a74-d70f-b95b8f6d2acd
* Content: [Shape controls and icon contro

[2020-04-14 15:09] danielftk opened #1253 "Error on hreference link"
on the Quick form control Methods table the "getcontrol" and "getcontroltype" has the same hreference link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba409176-ddca-d985-291a-35782fa66e21
* Version Independent ID: c3719607-83fc-78cf-559e-ab2eb09b2ce7
* Content: [formContext.ui.quickForms (Client API reference) in m

[2020-04-14 15:09] chmoncay commented on #523
Hi there, sorry for the late reply.  What are you trying to do?

[2020-04-14 15:09] danielftk commented on #1253
![image](https://user-images.githubusercontent.com/3487413/79241001-12fc1480-7e38-11ea-863c-ac3be58e300f.png)

[2020-04-14 15:10] chmoncay commented on #427
Hi there, the image control outputs a base64 blob, which is a jpg.

[2020-04-14 15:17] chmoncay commented on #522
Hi there, Duration is required.  The maximum duration time is 24 hours (expressed as ms).  The default is 60s.

[2020-04-14 15:34] chmoncay commented on #1220
Hi there, can you elaborate more what you were trying?

[2020-04-14 15:44] chmoncay commented on #1082
Hi there, when I set OnStop of the microphone to:
`Set(AudioJSON, JSON(Microphone1.Audio, IncludeBinaryData))`

And then display this this as the value of a label, it works for me.

![image](https://user-images.githubusercontent.com/22963239/79244694-311c4180-7e45-11ea-9f17-d26ab8df837b.png)

Hope this helps.

[2020-04-14 16:02] chmoncay commented on #329
Updated in documentation

[2020-04-14 16:07] Nkrb commented on #609
@gilmeyer Thanks for the feedback. We have updated the docs with the correct information and pushed to live. Closing the issue.

[2020-04-14 16:07] #609 closed

[2020-04-14 17:19] #522 closed

[2020-04-14 17:20] #427 closed

[2020-04-14 17:21] #1082 closed

[2020-04-14 17:21] #329 closed

[2020-04-14 19:21] Nkrb commented on #1250
@shaurya58 Can you try by not setting the **createdon** and other system values and see if you can run the code.

[2020-04-14 22:27] YangHongshen commented on #1220
@chmoncay Hi, the issue was
If add an media-import button in Canvas app, and coincidentally clicked during web editing, this button breaks. only fix is delete and re-add.

[2020-04-14 22:27] #1220 closed

[2020-04-14 22:28] nik-gloy opened #1257 "telemetry?"
What does the telemetry function do? I can see that I can enable and disable it, but what effect does it have? When/where is telemetry collected, and where is it being sent to?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46d11001-a078-60f0-19d9-357f9397c7a7
* Version Independent ID: 395e7245-8c1d-d168-ee6e-cc18b79bd

[2020-04-14 23:53] rajyraman commented on #1209
I wasn't aware about this feature until I read Andrew's blog today. This is the only official documentation I could find (apart from PCF's tsds) https://github.com/MicrosoftDocs/testing-preset/blob/cb24f458d94f5ae28ef0158fdaaa949a50c31cc2/samplefiles/get-started/whats-new/customer-engagement/new-in-version-9-for-developers.md#override-the-default-open-behavior-of-data-rows-in-an-entity-bound-grid

[2020-04-15 09:20] imranakram opened #1258 "Default case since `arg` is optional"
What happens when `arg` is not provided in this case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9e183d1-17d6-0879-f8bd-eda1cadfebbf
* Version Independent ID: 2b99142b-a211-fe10-e16d-e68c818fe45f
* Content: [getControl (Client API reference) in model-driven apps - Power Apps](https://docs.microsoft.com/en-us/power

[2020-04-15 09:45] tacklers opened #1259 "CDS does not build with Sample / Demo templates option"
I submitted a delete for my original Developer environment hoping to be able to establish the CDS with the demo template solutions but it doesn't.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d27942c-51fc-c2dc-9857-bcbfbadba145
* Version Independent ID: 832089db-9a05-9d52-7529-429e3a6648f8
* Content: [Power Apps Com

[2020-04-15 14:07] hkmamun commented on #732
Refresh function is not working for "Collection" type data source, it only works for managed connections.

[2020-04-15 16:33] Nkrb commented on #1244
@Arghyadeep2412 Thanks for the feedback. We have updated the docs with the correct information and pushed to live. Closing the issue.

[2020-04-15 16:33] #1244 closed

[2020-04-15 16:33] Nkrb commented on #1253
@danielftk Thanks for the feedback. We have updated the docs with the correct information and pushed to live. Closing the issue.

[2020-04-15 16:33] #1253 closed

[2020-04-15 18:30] iangpgh commented on #680
@robdawsoncranhillinsight Correction: the list of restricted entities was not updated in this article. We are working on updating these soon.

[2020-04-15 18:32] iangpgh commented on #689
@popujol Correction: the list of restricted entities was not updated in this article. We are working on updating these soon.

[2020-04-15 18:36] iangpgh commented on #849
@thomassandsor Correction: the list of restricted entities was not updated in this article. We are working on updating these soon.

[2020-04-15 18:40] iangpgh commented on #1221
@stunc20 Correction: the list of restricted entities was not updated in this article. We are working on updating these soon.

[2020-04-15 19:43] KittyDreadful commented on #899
You should just put make.powerapps.com in the instructions then.

[2020-04-15 22:50] tapanm-MSFT commented on #1134
@birchenall thank you for reaching out. Can you please elaborate on the scenario? Is the form wider? Can [further customization](https://docs.microsoft.com/powerapps/maker/canvas-apps/customize-list-form#further-customize-your-form) help?

[2020-04-15 23:48] tapanm-MSFT commented on #957
Thank you for reaching out. Container control is an experimental feature and doesn't work with components or forms. Currently we do not have authoring groups documentation though you can read [FAQ](https://docs.microsoft.com/powerapps/maker/canvas-apps/controls/control-container#frequently-asked-questions) about container and group for more details.

[2020-04-15 23:48] #957 closed

[2020-04-16 02:22] alexchx opened #1262 "img node in ControlManifest.Input.xml cause PCF component fail to import to PowerApps"
We added few img tags in ControlManifest.Input.xml in our PCF component, but after that, the component fail to import to PowerApps, this is the error message in the JSON response `Sequence contains no matching element`.

The img tags are added in this way.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 177968b6-

[2020-04-16 02:35] alexchx opened #1263 "Valid file path shouldn't be restricted in resources"
Some valid file paths are restricted in PCF component because of the error below, but characters @-
_ might occur in third-party packages, with this limitation we'll have to create duplicate file copies with different file path/name or using CDN path which appears unreasonable, so is that possible to accept all characters valid in a file path?

An example which will repro the error above.
[code]

[2020-04-16 02:41] alexchx opened #1264 "Register an external .js file (not .ts file) in “ControlManifest.Input.xml”"
Is that possible to register an external .js file (not .ts file) in “ControlManifest.Input.xml”? In some scenarios, we might need to load a .JS file separately (e.g. third-party libraries like code snippet below), but the [code](https://docs.microsoft.com/en-us/powerapps/developer/component-framework/manifest-schema-reference/code) config accepts .ts file only, any advice?

[code]
Also the example

[2020-04-16 06:52] luoyong0201 opened #1265 "Entity record cannot opened in a dialog?"
The documents says it can be opened in a dialog, but I tried, it opened inline. why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c917fb9-84c8-2676-9c6a-f33f03ba5da7
* Version Independent ID: 057dd7ac-8383-1650-ceb5-cbea3995180c
* Content: [navigateTo (Client API reference) in model-driven apps - Power Apps](https:/

[2020-04-16 07:39] bthompson-365 commented on #1264
This would be a question better asked on the power platform forum at https://powerusers.microsoft.com/t5/Power-Apps-Pro-Dev-ISV/bd-p/pa_component_framework

The quick answer is that the content manifest only documents what files should be included in the component as a whole when it is deployed. For a Javascript script / library to be included within the bundle.js file you need to import it within

[2020-04-16 10:26] rohannevrikar opened #1266 "Editing and publishing a canvas app in managed solution"
According to the documentation's (link below) limitations, "If a canvas app is packaged in a managed solution, it can't be edited and re-published in the target environment. Use unmanaged solutions if the apps require editing in the target environment".
I have imported a managed solution in my target environment. I can see that edit button is disabled in this screen.
![image](https://user-images.g

[2020-04-16 14:17] schneika commented on #544
Is it not planned to make SharePoint Forms Canvas Apps Responsive. There are no Screen-Properties für SharePoint Canvas Apps?

[2020-04-16 15:59] willdrobins opened #1267 "Incorrect information about gateways and environments"
This was changed in late Oct. 2019.  "Gateways and on-premises connections can only be created and used in the user's default environment."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 042aa853-3571-5081-a83b-25235a4949fa
* Version Independent ID: d4049a41-6d7e-0ebd-8c17-68223a8e327b
* Content: [Manage an on-premises

[2020-04-16 16:34] bthompson-365 commented on #1265
I blogged about this yesterday - you may find https://www.processpower.dev/opening-entity-records-with-xrm-navigation-navigateto/ helpful.

By the sounds of it you need to ensure that your navigationOptions object is vaild. Something like {target:2, width:{value:500, unit:"px"}} should work

[2020-04-16 17:57] dhawal16 opened #1268 "PowerApps Portals admin center accesible without having access on Auzre AD App"
Please see the steps below to reproduce the issue, so not sure if this is an issue or need to change the documentation.

1) Created a new environment "Env-1" for Power Apps Portal using ID XYZ
2) Tried to create Power Apps Portal with ID XYZ, but failed as XYZ does not have rights for App Registration on Azure AD
3) Created the Power Apps Portal on "Env-1" using my Global Tenant Admin ID ABC
4)Pow

[2020-04-16 18:28] dhawal16 opened #1269 "Don't see the option for custom domain name"
I am testing this on the tenant as Tenant Admin but i don't see this option. Is this option not available for Trial Enviornment [Not Production]?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce8c6740-12c2-5a24-9c67-55f8485fe957
* Version Independent ID: 1225db21-8bd8-ba23-ccb6-e659d92bf40b
* Content: [Add a custom do

[2020-04-16 19:38] ghurlman opened #1270 "Overloading of the "context variable" term in Power Apps"
In the section labeled ["Use context from Teams"](https://docs.microsoft.com/en-us/powerapps/maker/canvas-apps/embed-teams-app#use-context-from-teams), there are references to a term "context variables" but then refers to incoming parameters from Teams, even showing using the Params() function to retrieve the values.

In Power Apps, "context variables" already refers to screen-local variables, and

[2020-04-16 22:10] Nkrb commented on #1263
@alexchx Thanks for the feedback. Please raise the issue in the [community forum](https://powerusers.microsoft.com/t5/PowerApps-Component-Framework/bd-p/pa_component_framework). Our developers will help you resolve the issue. Closing the issue.

[2020-04-16 22:10] #1263 closed

[2020-04-16 22:11] Nkrb commented on #1262
@alexchx Thanks for the feedback. Please raise the issue in the [community forum](https://powerusers.microsoft.com/t5/PowerApps-Component-Framework/bd-p/pa_component_framework). Our developers will help you resolve the issue. Closing the issue.

[2020-04-16 22:11] #1262 closed

[2020-04-16 22:15] jgarciacam1 opened #1271 "Error en el flujo"
Send_an_HTTP_request_to_SharePoint_Logo_Library
Detalles del error: BadGateway

[2020-04-17 08:32] rohannevrikar commented on #1266
Update: Seems like this is the knowledge that I was missing:

1. Owners of resources can edit flow and powerapps in managed solution.
2. If a user has access to the environment but that user is not an owner of resources of a solution, then the user can edit flow, but not PowerApps.

Can someone please confirm if I got this right? Also, some of the limitations are working for me. For example: I'm a

[2020-04-17 09:42] fvandillen commented on #1042
I would like to know the same. We have a relational on-prem database and would like to load records into a custom entity that has a relationship with the Account entity. In the on-prem database, we have a FK that does this. How should we map the lookup field?

[2020-04-17 09:45] bthompson-365 commented on #1042
I'm not Microsoft so take this as just my advice.

Download Kingswaysoft and use that to create an SSIS integration to perform the upload.

[2020-04-17 14:26] m3ngi3 opened #1272 "How about environments and solutions?"
Any info on adding Components to an unmanaged solution and then moving the solution as a managed solution to another environment?

I have created two environments:
**Environment A** has two unmanaged solutions:
Solution 1 containing a Component Library.
Solution 2 containing a Power App using a component from the Component Library in Solution 1.
In this environment everything behaves as expected.

[2020-04-17 14:49] NPrice99 opened #1273 "Missing PowerShell Step"
Hi
I cannot find instructions for the step Create JSON File with Test URLs - have I missed something ?
Regards
Nigel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 513096fe-dce9-70cc-4891-13ffdf2447ca
* Version Independent ID: 29cdb9ce-32e4-2cc5-522b-76587872d8ab
* Content: [Automate tests with Azure Pipeline using cla

[2020-04-17 15:48] joseabadg opened #1274 "Invoke SELECT with button control EXPORT"
When invoke SELECT button control EXPORT the windows for save doesnt appear at all, its suppossed that all controls have hadlers ONSELECT can support all functionalities.

[2020-04-17 17:37] JimDaly commented on #1249
This is a bug in the PRT. Owners of that app are aware of the issue and should fix it soon.

[2020-04-17 17:37] #1249 closed

[2020-04-17 17:51] tapanm-MSFT commented on #1273
Thank you for reaching out. Please see the prerequisites, and particularly the [step 2](https://docs.microsoft.com/powerapps/maker/canvas-apps/test-studio-classic-pipeline-editor#step-2---create-test-url-json-file).

[2020-04-17 17:51] #1273 closed

[2020-04-17 19:26] NPrice99 commented on #1273
Hi step 2 you reference us not a powershell script.  How do I include the powershell script ?

[2020-04-17 19:50] tapanm-MSFT commented on #1273
PowerShell script related step is [here](https://docs.microsoft.com/powerapps/maker/canvas-apps/test-studio-classic-pipeline-editor#step-1---configure-screen-resolution-using-powershell).

[2020-04-17 19:57] NPrice99 commented on #1273
If you look at the screenshots there is a PowerShell script called “create Json file with...”

It is not documented in the list of instructions.  So either the screenshots are wrong or the instructions are wrong.

Regards

Nigel

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Tapan Maniar <notifications@github.com>
Sent: Friday, April 17, 2020 8:51 pm
To: Microso

[2020-04-17 20:41] #1151 closed

[2020-04-17 22:22] phecke commented on #1274
@joseabadg This GitHub repo is for issues related to the product documentation. If there is an issue with the documentation for a product feature that you are using, please provide the related documentation link so that I can assign the issue to a appropriate writer.

[2020-04-17 22:24] phecke commented on #1271
@jgarciacam1 This GitHub repo is for issues related to the product documentation. If there is an issue with the documentation for a product feature that you are using, please provide the related documentation link so that I can assign the issue to a appropriate writer.

[2020-04-18 10:42] joseabadg commented on #1274
there it is: [](https://docs.microsoft.com/es-es/powerapps/maker/canvas-apps/functions/function-select )   thank you

[2020-04-19 07:16] m3ngi3 commented on #1087
Up until now:
1) it seems we cannot export / import a Component Library App on itself because there is no Export button
2) when we create a Component Library App from scratch in a brand new Solution, we can export the Solution as unmanaged. However after importing the unmanaged Solution, the Component Library App cannot be changed and saved in the imported unmanaged solution:

Session ID: 9926bac9

[2020-04-19 08:42] LinnZawWin commented on #691
@iangpgh  Apologies for the late reply. I've just tested and the issue has been resolved in the new form designer.

[2020-04-19 08:42] #691 closed

[2020-04-19 11:09] #585 closed

[2020-04-19 11:20] shebeerahammed123 commented on #282
how to add the sharepoint list?

[2020-04-19 11:43] aengusheaney commented on #1273
Thanks Nigel for spotting the mistake. The “create Json file with...” is not required and i will update the screenshots asap to remove the confusion.

thanks!
Aengus

[2020-04-19 11:45] NPrice99 commented on #1273
- Thanks Aengus

[2020-04-19 23:37] charrington2 opened #1275 "Size cannot be changed?"
Hi, changing size (step 3) is not available, even though I am using a tablet App. I don't see custom. Is the doc outdated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43398b6a-6bc2-0f39-f78b-59f9997d77a6
* Version Independent ID: 138f2ed6-bb71-eccc-8446-22262ecba72c
* Content: [Change screen size and orientation of

[2020-04-19 23:49] JimDaly commented on #1004
@timrobinson33 , @osekodk , and @hazbark
This topic has been totally re-written to be (hopefully) clearer, more specific, and offer samples to demonstrate how to achieve the recommendations.

It no longer refers to 'connections'.
I'm going to close this, but welcome any questions you may have.

[2020-04-19 23:49] #1004 closed

[2020-04-20 04:05] pavansarma93 opened #1276 "Don't see any specific value at current implementation"
The reason we use Environment specific values is that application should automatically detect the current environment and take the appropriate values. If these are just configuration values which in general all developers use, I don't see any value addon

I Suggest since multiple values are possible for a variable ; A Environment record (OrgName) should be created and against it the values should

[2020-04-20 07:51] sohailrazarizvi opened #1277 "Number of docs shown in the SharePoint"
Hi,
Why only document is shown in the subgrid.

Under Portal Management Model-Driven App --&gt; Entity --&gt; Form --&gt; Subgrid configuration; it is set 4 documents but in portal it is only shown one document

Please advise

admin@bhmconsultings.com.au

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd70bb46-8651-365b

[2020-04-20 11:47] DennisGaida opened #1278 "Power Apps Data Integrations doesn't exist"
"**Specifiy the data source**

- Step 2. is wrong. You can't tap on "Data Integrations" since it doesn't exist. You need to tap on **Entities > Get Data**.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48e6f1eb-1ed8-c4f0-6a8f-3e252e65f499
* Version Independent ID: 82b18731-40b0-bc10-6d7c-9ebe5c07b726
* Content: [Add d

[2020-04-20 18:14] Nkrb commented on #1264
Thanks for the feedback. Please raise the issue in the [community forum](https://powerusers.microsoft.com/t5/PowerApps-Component-Framework/bd-p/pa_component_framework). Our developers will help you resolve the issue. Closing the issue.

[2020-04-20 18:14] #1264 closed

[2020-04-20 18:49] Nkrb commented on #1258
@imranakram When you don't pass any value to the formContext.getControl(), it returns an array of all controls in the form.

[2020-04-20 18:51] Nkrb commented on #856
Thanks for contacting us. As we haven’t heard back from you, I am closing this issue. If you need further help, please reopen the issue or open a new issue.

[2020-04-21 04:10] AbdulWahabWarind commented on #856
Why you need to early response? I forgot what was the issue because of the late response from your side. Give me a week so that I am able to remember it again.

[2020-04-21 05:10] debajdu commented on #690
Same here. I am getting this question every now and then I really could not understand how the relationship parameter works. Don't know whether my assumption is right but I think this is used in  combination with createFromEntity parameter.

Request to please put an example of make the documentation with more explanation to understand better. Will wait for it.

Cheers!
Debajit

[2020-04-21 12:14] marolmat opened #1280 "Where does it appear the logo on Logo URL Admin Setting"
I have fill the Logo URL app setting in the admin app with a desired URL for the image, but I do not see that logo anywhere neither in the admin app nor the user app.
What else should been done in order to see the logo in the app?

[2020-04-21 16:46] imranakram commented on #1258
@Nkrb The point was that the documentation is not provided for the default behavior

[2020-04-21 16:56] Nkrb commented on #1257
@nik-gloy If you enable telemetry option, it allows you to send logs and error information to Microsoft to help improve the product. If choose to disable telemetry, then you won't send any information to Microsoft. Status tells you whether you have enabled or disabled the telemetry.

[2020-04-21 16:57] Nkrb commented on #1258
@imranakram Sure, will add it to the documentation. Thanks for the feedback. Closing the issue.

[2020-04-21 16:57] #1258 closed

[2020-04-21 19:09] dga205 opened #1282 "Html WebResource in form, is reloades randomly when ejecute Xrm.Navigation.navigateTo"
Hi.
I have this problem.

I have a Html WebResource in an entity form.
It has a button, that execute Xrm.Navigation.navigateTo to open another html webresource in a modal.

var datos = {
                ClientId: 123,
                ProductId: 123
            };

            var jsonString = JSON.stringify(datos);
            var pageInput = {
                pageType: "webresource",

[2020-04-21 19:14] dga205 opened #1283 "Html WebResource is reloades when execute Xrm.Navigation.navigateTo"
Hi.
I have this problem.

I have a Html WebResource in an entity form.
It has a button, that execute Xrm.Navigation.navigateTo to open another html webresource in a modal.

var datos = {
                ClientId: 123,
                ProductId: 123
            };

            var jsonString = JSON.stringify(datos);
            var pageInput = {
                pageType: "webresource",

[2020-04-21 19:17] dga205 commented on #1283
I have duplicated the issue

[2020-04-21 19:17] #1283 closed

[2020-04-21 21:50] paul-way opened #1284 "Inconsistent to Licensing Guide"
Comparing this to the official licensing guide, there are inconsistencies.
https://go.microsoft.com/fwlink/p/?linkid=2085130

For example, the "Complex Entities" are included in the Power Apps per App & per User plans (pages 4 & 5).  Another example is that restricted entities are read-only within the Power Apps license; however, the examples do not distinguish between Read and full CRUD operation

[2020-04-21 22:30] yifwang commented on #1087
Update libraries allow makers to publish changes to libraries in the environment. Moving to different environment scenarios is coming where dependency can remain after exporting to new environment. The wording causes confusion.  Adding @alaug to share the feedback.

[2020-04-22 01:40] APDKarl opened #1285 "Not working for me"
"Result" was not a choice in the Parent drop down so I chose ID - Didn't work. I have a feeling it is something to do with my simple data being in the one Sharepoint List. It would be great if there was a link that elaborated more on the second paragraph on this page about why two seperate sets of data is better. All I am trying to do is have the user select their name from a dropdown and for the

[2020-04-22 08:34] Flex-Xuan opened #1287 "Does all EntitySetName in lower case? Wrong EntitySetName may returned."
I don't know if it is the right place or not to report this issue.

When I using

to retrieve all EntitySetName and then using the EntitySetName to retrieve records. I found there are two entities which EntitySetName returned are wrong!

they are : knowledgearticlescategories  which EntitySetName returned is 'KnowledgeArticleCategories' and   ribbonmetadatatoprocess which returned is 'RibbonMetada

[2020-04-22 08:54] pedalocam commented on #524
I am having a similar problem, getting this error message when using the PowerApps Tool Installer:
##[error]Exception calling "ShouldContinue" with "2" argument(s): "Windows PowerShell is in NonInteractive mode. Read and Prompt functionality is not available."

Is there a way to force the step?

[2020-04-22 10:50] DuckySpud opened #1288 "Working but not saving Child data"
I have a "Locations" list which has columns for "Building" and "Room".  I then have another list where this data needs to be added.

I followed this guide and the tips in the previous closed questions and thought I had this working, the options in the drop downs seem to filter as they should and there are no errors on PowerApps.

However, after saving the new list item, the "All Items" view of the

[2020-04-22 12:42] Oztrea opened #1289 "This method doesn't seem to work when the control is in another tab on the form..."
I never enter in the then callback function.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f4c796e-ad9f-1929-f530-f088462522f9
* Version Independent ID: 40e67735-ac26-30a4-3191-0a86fd7b4b50
* Content: [getContentWindow (Client API reference) in model-driven apps - Power Apps](https://docs.microsoft.com/en-us/powerapp

[2020-04-22 16:27] Nkrb commented on #1250
Thanks for contacting us. As we haven’t heard back from you, I am closing this issue. If you need further help, please reopen the issue or open a new issue.

[2020-04-22 16:27] #1250 closed

[2020-04-22 16:33] Nkrb commented on #999
@abdelaziz-benelfakir This issue is fixed, can you verify and let us know if this is still happening with you.

[2020-04-22 17:35] JoshuaOkafor opened #1290 "MicrosoftTranslator.Translate(Source.Text, TargetLang.Selected.Value) doesn't work, what works is MicrosoftTranslator.Translate(Source.Text, TargetLang.Selected.Code)"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 470d67f4-13bc-a313-b03b-1c5c0976a2f2
* Version Independent ID: b49ad3de-6331-c439-b28a-ebe0f83523dd
* Content: [Overview of the Microsoft Translator connection - Power Apps](https://docs.microsoft.com/en-us/powerapps/maker/canvas-apps/connections/conn

[2020-04-22 18:04] Nkrb commented on #935
@kishored4 Did you change the height and width options of the dialog and see if you can still see the issue. We don't see any buttons covered with the scrollbar.

[2020-04-22 19:27] jdearaujo opened #1292 "Example of Patch or Collect inside a ForAll function not available."
At the time of writing, I see no example of using Patch or Collect with the ForAll function. It is mentioned very early in the page with no guidance as to how it will behave inside the ForAll formula section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cec09a3-057a-a581-fdb8-50d8039d5643
* Version Independent ID: 9

[2020-04-22 22:55] tapanm-MSFT commented on #1288
Thank you for reaching out. Please raise a [support service request](https://powerapps.microsoft.com/support/pro/) to investigate the issue in detail.

[2020-04-22 22:55] #1288 closed

[2020-04-22 23:11] tapanm-MSFT commented on #1285
Thank you for reaching out. There are 2 benefits of the documented approach - (1) If you take this approach, you can use the same parent and child data in more than one app, (2) and you can update that data without republishing the app or apps that use them. However, if you have any issues, please reach out with a [support service request](https://powerapps.microsoft.com/support/pro/) for detailed

[2020-04-22 23:11] #1285 closed

[2020-04-22 23:13] #955 closed

[2020-04-22 23:13] #1134 closed

[2020-04-22 23:14] tapanm-MSFT commented on #940
Thank you for reaching out. The documentation is being updated with changes.

[2020-04-22 23:14] #940 closed

[2020-04-23 00:19] tapanm-MSFT commented on #903
Thank you for reaching out. Please use *ChooseProduct.Selected* instead. Will update documentation.

[2020-04-23 00:19] #903 closed

[2020-04-23 00:28] #818 closed

[2020-04-23 00:37] tapanm-MSFT commented on #672
Thank you for your feedback. Content is being updated.

[2020-04-23 00:37] #672 closed

[2020-04-23 00:38] j0hnnyma opened #1294 "Flow isnt working for Helpdesk"
When i load the flow in there is a
ID eq get items_filter under the get items in sharepoint step and it seems to need an odata filter query in order to be run ?

i got the app to work and it loads the issues into the sharepoint list.

just not getting any emails for new cases because of the flow
can someone help ? thanks

[2020-04-23 00:39] j0hnnyma commented on #1294
![flow (1)](https://user-images.githubusercontent.com/64175872/80046693-2f472380-84c0-11ea-9373-e63ff2077571.PNG)

[2020-04-23 00:39] tapanm-MSFT commented on #660
Thank you for reaching out. Description of *LoadingSpinner* property is available. Can you please elaborate on any additional detail needed?

[2020-04-23 02:42] nhayduk opened #1295 "fetchxml Documentation Location"
Great to see that the fetchxml tag is documented, but wouldn't it make more sense to put it on the Common Data Service entity tags page (https://docs.microsoft.com/en-us/powerapps/maker/portals/liquid/portals-entity-tags)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0220f6a2-1624-e4fa-3ae9-783bc33125c8
* Version Ind

[2020-04-23 02:57] jhewetson opened #1296 "CRM Team Blog: Thread Safety in Plug-ins link - 404 page not found"
https://blogs.msdn.com/b/crm/archive/2008/11/18/member-static-variable-and-thread-safety-in-plug-in-for-crm-4-0.aspx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c1e71b1-7a82-b4b8-27ad-d1bbb78e3814
* Version Independent ID: 7c28f677-aba1-bd0d-173e-eaf187bf32e9
* Content: [Develop IPlugin implementations as stateless

[2020-04-23 04:57] HairyDrumroll commented on #660
Yes, I see the documentation for LoadingSpinner was [added](https://github.com/MicrosoftDocs/powerapps-docs/commit/c7a7de0a18779e7c498d0b962c727754b7ff254a#diff-40a2e1408a07f4a9e7248ecf0f32b602) just over two weeks ago. Thanks @chmoncay.

[2020-04-23 04:57] #660 closed

[2020-04-23 06:44] tapanm-MSFT commented on #1295
Thank you for reaching out. This article documents template tags and Common Data Service entity tags are also linked in the *See also* section.

[2020-04-23 06:44] #1295 closed

[2020-04-23 10:19] dipushrestha opened #1298 "addOnSave not working as expected"
Description for addOnSave function states that:
Adds a function to be called when the record is saved. However, from my experience it seems that function added to addOnSave is invoked before record is saved on save event.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d248d63-09eb-6744-cb2c-89f147521d3f
* Version Inde

[2020-04-23 11:22] serifogluseren commented on #983
No, definitely not working in our region. The topic has additionally reported to the support and they accepted as a bug. They said **"newly identified bug"** but it is fact that we have reported this in January! We have never heard anything from @KumarVivek !

[2020-04-23 12:28] pavansarma93 opened #1299 "Unable to overwrite isdefault"
We are creating our own addcustomview to override the OOB filtered lookup ; But the view is available now in the lookup but it is not overriding isdefault (Our view is not being set as default even though specified)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 900de2ab-7892-7c8c-014e-9acacfba265d
* Version Independen

[2020-04-23 15:52] drinklikachamp opened #1300 "More Clarification on Limitations"
The following statement is too general and thus misleading: "Flows that connect to SharePoint are not available in solutions." This no longer seems to be the case except for the trigger "SharePoint - For A Selected Item". I have verified that you can import flows with SharePoint triggers created outside of solutions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-04-23 16:22] Nkrb commented on #1193
@Miesjh Thanks for the feedback. I hope you got the issue resolved. Closing the issue. Please re-open the issue if you need to have any information on this.

[2020-04-23 16:22] #1193 closed

[2020-04-23 20:05] tapanm-MSFT commented on #1247
Thank you for the feedback. The content is being updated.

[2020-04-23 20:05] #1247 closed

[2020-04-23 20:12] TashasEv opened #1301 "All Connectors link on this page should point to a different page"
Hi there - I found this recently updated beautiful page (https://docs.microsoft.com/en-us/connectors/connector-reference/ ) and I think this updated page best represents what a docs user would expect to see if they clicked on the "All Connectors" link above.
Right now the link takes you to the Connector documentation home.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-04-23 20:19] tapanm-MSFT commented on #1294
@j0hnnyma can you please share the link for the content page that this feedback is for?

[2020-04-23 20:26] tapanm-MSFT commented on #1301
Thank you for the feedback. The content is being updated.

[2020-04-23 20:26] #1301 closed

[2020-04-23 21:06] j0hnnyma commented on #1294
https://docs.microsoft.com/en-us/powerapps/maker/canvas-apps/help-desk-install

[2020-04-23 21:12] j0hnnyma commented on #1294
I see the sharepoint list i created logging the issues. The case not started email doesnt send due to the flow being broken.

[2020-04-23 23:16] eflamm opened #1302 "Another example for countdown using Timer.Duration"
It might be appropriate to include/replace the Countdown example with
[code]Text(Time(0, 0, (Timer1.Duration-Timer1.Value)/1000), "hh:mm:ss")[/code]
since it makes use of the Duration property rather than the "magic number" 10 in the example provided.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b11a9f1d-da5c-f25b-2b

[2020-04-24 00:52] KumarVivek commented on #1024
Closing this issues as this works in Unified Interface.

[2020-04-24 00:52] #1024 closed

[2020-04-24 00:55] KumarVivek commented on #1271
Closing the issue.

[2020-04-24 00:55] #1271 closed

[2020-04-24 01:04] KumarVivek commented on #1265
@luoyong0201 It works fine as documented. For example, I used example 3, and it open a blank form in a dialog:

![image](https://user-images.githubusercontent.com/1670116/80163946-86b2c580-858c-11ea-86b1-7a3d52967f66.png)

If you are using example 2, make sure you replace the ID in the **entityId** parameter as per your environement:

`entityId: "5a57f2c3-5672-ea11-a812-000d3a339706" //replace wit

[2020-04-24 01:04] #1265 closed

[2020-04-24 04:31] tapanm-MSFT commented on #1302
Thank you for your feedback. The examples are starter and easy to use. Once understood, can certainly be manipulated and used with additional functions. In given example, the formula with Duration value ends up counting from 10 to lower, giving an easy to use and visualize example. Will certainly consider for additions in future content updates.

[2020-04-24 04:31] #1302 closed

[2020-04-24 09:57] m3ngi3 opened #1304 "Microsoft Teams Connector limitation: Out of call volume quota"
Great work guys: it would be wise to mention the Microsoft Teams Connector limitation?
It only allows 100 calls in 60 secs so if the communication method is Teams for new News Posts --&gt; the flow will fail with: Out of call volume quota. Quota will be replenished in 00:40:11.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-04-24 10:41] pavansarma93 commented on #1299
This is actually because the OOB script is triggering after our custom triggers (even though configured otherwise ) . Though this is an issue but is not related to the method.

Thanks for looking into it

[2020-04-24 10:41] #1299 closed

[2020-04-24 15:56] Nkrb commented on #1029
@KK1674 @adamweeg Thanks for the feedback. This issue is fixed. Can you guys confirm if it has got resolved from your end.

[2020-04-24 17:53] j0hnnyma commented on #1294
any insights to this? the powerapp is supposed to work without much configuration. should be import and slight changes but flow isnt working for me.  when i try to run the flow it prompts me to input the get_item filter query.

[2020-04-24 18:14] Mattp123 commented on #1276
@pavansarma93 - Thanks for your feedback. For product-related feedback, visit https://ideas.powerapps.com. Closing this issue.

[2020-04-24 18:14] #1276 closed

[2020-04-24 20:57] Ben-Fishin opened #1306 "Add HttpClient"
Suggest adding examples for HttpClient patterns and anti-patterns as in...

https://docs.microsoft.com/en-us/powerapps/developer/common-data-service/best-practices/business-logic/set-timeout-for-external-calls-from-plug-ins

using (HttpClient client = new HttpClient())
{
  client.Timeout = TimeSpan.FromMilliseconds(15000); //15 seconds
  client.DefaultRequestHeaders.ConnectionClose = true; //Set K

[2020-04-24 22:17] iangpgh commented on #1212
@NunezJr  Thanks for your feedback. For product-related feedback, visit https://experience.dynamics.com/ideas/.
I have forwarded this issue to product management as a suggestion for documenting the behavior.  Closing this issue.

[2020-04-25 02:37] Min-Rao opened #1307 "Examples result may be wrong, please check."
In docs, following example's result is indicate as "1"
 IfError( 1/0, Notify( "There was an internal problem", NotificationType.Error ) )
but when I try following in onselect of button , it prompt up "0" to me.
 Notify(Text(IfError(1/0, Notify("test", NotificationType.Error))), NotificationType.Error)
which means result of the above example should be 0?

---
#### Document Details

⚠ *Do not edit t

[2020-04-25 09:29] RobertRybaric opened #1308 "Authentication does not work."
The authentication in this example does not work. I get following error:

AADSTS7000218: The request body must contain the following parameter: 'client_assertion' or 'client_secret'. ....

The app is registered in AAD, given API permission to Dynamics CRM, even modified the manifest to set allowPublicClient to true as well as oauth2AllowImplicitFlow to true. Still the same error.

---
#### Documen

[2020-04-26 12:10] noorrocks commented on #387
This won't be an issue if instructions are followed properly

[2020-04-27 17:37] kgnzlz opened #1310 "Xrm.Navigation.navigateTo not working in v9 on-premise"
I was wondering if this functionality was supported in Dynamics v9 On-Premise or if it only works for online version. Been following multiple tutorials and forums but it isn't working for me. My Dynamics current version is 9.0.15.9 . It is an issue with my version? with been on-premise?

[2020-04-27 20:08] dzoech opened #1311 "Collection was modified; enumeration operation may not execute."
I'm implementing `IPlugin` and strictly following your example here:

[code]

But `organizationService.Execute(request)` throws the following exception:

[code]

I don't manipulate any iterator or IEnumerable myself. Can you reproduce this issue or could you please tell me what I'm missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-04-27 20:24] JimDaly commented on #1311
Does it work if you are not using Plug-in Profiler?

[2020-04-27 20:37] dzoech commented on #1311
Thanks for the quick reply @JimDaly

Yes, it seems like it works when I disable the profiling.

[2020-04-27 21:26] dzoech commented on #1311
Might it be possible to work around this issue by using fetch XML instead of query expressions?

[2020-04-27 21:51] JimDaly commented on #1311
IDK, you shouldn't have to do that.

If you haven't updated the Plug-in Registration tool recently, I would suggest you get the latest version.
You may also need to uninstall and re-install the plug-in profiler solution.
If neither of these work, it looks like an issue with the plug-in profiler.

Let me know what you find out.

[2020-04-27 21:52] MattB-msft commented on #1021
Yes, this can be done,
In the login control you need to add your own AppID and Redirect URI for it to work.
if you used the samples.
For example:
            // Client ID to use for oAuth.  ID: 51f81489-12ee-4a9e-aaae-a2591f45987d is a sample ID that should be replaced by a ID created for your use.
            mgr.ClientId = "51f81489-12ee-4a9e-aaae-a2591f45987d";
            // Redirect URI requi

[2020-04-27 22:01] dzoech commented on #1311
I just installed the plugin registration tool about 10 days ago from the latest nuget package. I will have a look tomorrow if there is an update available.

I think I can't follow you here. What does the 'profiler solution' refere to? Do you mean to unregister and re-register the custom plugin assembly using the tool? I don't have a profiler.sln...

[2020-04-27 22:08] JimDaly commented on #1311
You may want to reinstall even so... There have been reports of some issues recently.
There is a row of commands in the tab. When profiler is installed, there will be an **Uninstall Profiler** option between View and Debug.
If it isn't installed, it will say **Install Profiler**

You don't need the solution file, the PRT will do it for you.

[2020-04-27 23:30] tapanm-MSFT commented on #1197
Thank you for reaching out. This is resolved in latest version. Please download latest Power App mobile from the store.

[2020-04-27 23:30] #1197 closed

[2020-04-27 23:35] tapanm-MSFT commented on #1191
Thank you for reaching out. This is fixed in latest app. For any additional issues, please feel free to reach out using [issues](https://aka.ms/crisis-communication-issues) link.

[2020-04-27 23:35] #1191 closed

[2020-04-27 23:37] tapanm-MSFT commented on #1188
Thank you for reaching out. This issue has been resolved in the latest app. Please feel free to reach out using the [issues link](https://aka.ms/crisis-communication-issues) for any additional issues.

[2020-04-27 23:37] #1188 closed

[2020-04-27 23:39] tapanm-MSFT commented on #1185
It's possible the browser may not share location with the app. Can you please try using Chrome browser and check again?

[2020-04-27 23:41] tapanm-MSFT commented on #1184
Thank you for reaching out. The answer is Yes.

[2020-04-27 23:41] #1184 closed

[2020-04-27 23:44] tapanm-MSFT commented on #1171
Thank you for reaching out. In this case, they'll only receive emails.

[2020-04-27 23:44] #1171 closed

[2020-04-27 23:50] tapanm-MSFT commented on #1169
Thank you for reaching out. Can you please elaborate on which photo? Is it the app logo? Please refer to [set app name and icon](https://docs.microsoft.com/powerapps/maker/canvas-apps/set-name-tile) if it helps.

[2020-04-27 23:51] tapanm-MSFT commented on #1142
Thank you for reaching out. This issue has been resolved in the latest app. Please feel free to reach out using the [issues link](https://aka.ms/crisis-communication-issues) for any additional issues.

[2020-04-27 23:51] #1142 closed

[2020-04-27 23:52] tapanm-MSFT commented on #1124
Thank you for reaching out. This issue has been resolved in the latest app. Please feel free to reach out using the [issues link](https://aka.ms/crisis-communication-issues) for any additional issues.

[2020-04-27 23:52] #1124 closed

[2020-04-28 00:20] tapanm-MSFT commented on #1107
Thank you for reaching out. The content is updated. Please allow some time for changes to reflect.

[2020-04-28 00:20] #1107 closed

[2020-04-28 00:35] tapanm-MSFT commented on #1092
Thank you for reaching out. It doesn't apply to component libraries as libraries aren't meant to be used as the apps that you can play. The component libraries are used for reusing components.

[2020-04-28 00:35] #1092 closed

[2020-04-28 06:54] FixRM opened #1312 "Distributing DMT assemblies with own tools"
Hello, given license for Configuration Migration Utility say: "you must comply with any technical limitations in the software that only allow you to use it in certain ways" and "You may not work around any technical limitations in the software". Does it mean that I can't directly use Microsoft.Xrm.Tooling.Dmt.ExportProcessor.dll to build CLI compatible version of the tool?

---
#### Document Detai

[2020-04-28 06:59] radevic opened #1313 "Not synchronous?"
This doesn't seem to be synchronous. I have a pre-stage plugin which is throwing an exception, but this operation succeeds. I would expect to be able to catch the exception.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3feace00-c6c9-b19a-fa69-9a04cf4ade0e
* Version Independent ID: ede57b39-3180-7ff3-dfe2-4b5eb86439bb

[2020-04-28 08:19] dzoech commented on #1311
So, I now reinstalled the Plugin Registration tool as described in your [docs](https://docs.microsoft.com/en-us/dynamics365/customerengagement/on-premises/developer/download-tools-nuget#download-tools-using-powershell). Before, I uninstalled the Profiler and now re-installed it.

This didn't fix the problem. The exception didn't change and it is still working without the profiler.

[2020-04-28 10:25] DavidPaf opened #1314 "Should update the extension time is 30 days"
If the trial license is expired, you can request to extend your license once for 30 days while logging in https://make.powerapps.com.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07696f43-bd37-8ca2-0953-f08de447e316
* Version Independent ID: 231dbc1c-899b-b0ac-4ae2-ecf58a6c6b58
* Content: [Explore Power Apps for free

[2020-04-28 10:26] wilsonsilva80 opened #1315 "Link doesn't exist"
"Replace the Main method with the following code. The supported values for AuthType are listed in Connection string paramters."
Connection string parameters is wrongly written and is linked to a uri that doesn't exist anymore, apparently.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa0f3c47-59e9-8adf-3df1-307b4916b4

[2020-04-28 11:49] t0642k8 commented on #1185
Unfortunately I cannot get Chrome loaded on my workstation, Government regulations etc.  I have successfully installed this at home on my home PC.  Was there a workaround or a list of
Manually steps?

From: Tapan Maniar <notifications@github.com>
Sent: Monday, April 27, 2020 7:40 PM
To: MicrosoftDocs/powerapps-docs <powerapps-docs@noreply.github.com>
Cc: Flaherty, James A <James.Flaherty@fletc.dhs

[2020-04-28 13:22] rappen commented on #632
@mikkelsen2000 I think an update to this question would be appreciated :)

[2020-04-28 15:34] snowburnt opened #1317 "What exactly does choices return?"
I'm using choices to create a collection from a sharepoint choice column, and it appears to create an object that looks like this:
[ { '@odata.type':"#Microsoft.Azure.Connectors.SharePoint.SPListExpandedReference",
Id:IdOfOption,Value:ValueOfOption}]
However, when I use this in a ForAll functions, and I try to insert the Id field I get an error, identifier not found.

---
#### Document Details

⚠

[2020-04-28 16:04] mikkelsen2000 commented on #632
Thanks for help getting my attention on this - much appreciated! S2S based auth didn't make it into the release earlier this year. Is slated for June 1

[2020-04-28 16:24] j0hnnyma commented on #622
im having the same issue but it seems that the flow isnt running right. Under advanced settings for sharepoint  get items there is an id eq "get items" and that is asking for a query in order to run. Anyone have any insight ?

[2020-04-28 17:05] Nkrb commented on #1310
@kgnzlz Thanks for the feedback. The navigateTo method should work for on-premises orgs too. Please update your org to the latest version and see if you can use this method.

[2020-04-28 17:06] Nkrb commented on #1257
@nik-gloy Thanks for contacting us. As we haven’t heard back from you, I am closing this issue. If you need further help, please reopen the issue or open a new issue.

[2020-04-28 17:06] #1257 closed

[2020-04-28 17:10] Nkrb commented on #1246
@makarandkeer Thanks for the feedback. Currently we do not support adding JavaScript actions on Dashboards and charts.

[2020-04-28 17:10] JimDaly commented on #1311
Thanks for trying. I'm going to send this to the team that owns the plug-in profiler as an issue they should look into. They may have a workaround or can identify what needs to be changed.

[2020-04-28 17:27] Nkrb commented on #1243
@arunvinoth Thanks for  the feedback. Yes, this is expected behavior in UCI.

[2020-04-28 17:32] bthompson-365 commented on #1246
In which case could you modify all the examples to use pages on which you can run Javascript.

[2020-04-28 17:33] Nkrb commented on #542
@imranakram Thanks for the feedback. The description field should return the text as it does with the web API request. When tested, we got the text from the description field. The icon fields are not supported in UCI.

[2020-04-28 19:08] mmcguinness commented on #1246
This is great, but how do we send user-specific global notifications (i.e. User A and User B need to globally see their "Working Year", which is different.

[2020-04-28 19:11] scottdurow opened #1318 "Can support be added for formatInfoCultureName?"
There is a property called formatInfoCultureName which contains the current culture name  (e.g. en-GB) which can be useful for localisation instead of using the LanuageID  - it saves looking the code from the languagelocale entity.

Can this property be documented?

[2020-04-28 19:34] tapanm-MSFT commented on #1185
Please try the following steps:

1)	Open the flow
2)	Delete the trigger
3)	Add it the trigger back

If the issue persists, please report it using the [issues link](https://aka.ms/crisis-communication-issues) since this may need additional resources to investigate or research.

[2020-04-28 19:34] #1185 closed

[2020-04-28 20:48] dzoech commented on #1311
Thank you. Is there a way to follow the issue or receive an update once its fixed?

[2020-04-28 22:19] mmcguinness opened #1319 "property is a child of control, not manifest"
The property element is a child of the control element, not the manifest element

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3b2e635-6c60-0efc-d894-e43216dca90e
* Version Independent ID: 9828125d-c061-465e-d486-b4ea609190e1
* Content: [Property Element - Power Apps](https://docs.microsoft.com/en-us/powerapps/develo

[2020-04-29 08:26] MaTeMaTuK commented on #1289
I updated CRM to 2020 wave 1 and It works for me.

[2020-04-29 13:12] imranakram opened #1320 "Unified Interface transition date confusion"
In another post the transition date is said to be December 1, 2020 as in:
"We're locked to move away from the legacy web client by December 1, 2020"

https://docs.microsoft.com/en-us/powerapps/maker/model-driven-apps/faqs-transition-unified-interface

But here it mentions October 1, 2020 still, could you please update this document and put the correct date (whichever is applicable)

---
#### Docum

[2020-04-29 13:58] imranakram commented on #542
@Nkrb Thanks for the update. Do you have something to add regarding the comment by @scottdurow?

[2020-04-29 15:49] Nkrb commented on #1289
@MaTeMaTuK Thanks for the update. Closing the issue.

[2020-04-29 15:49] #1289 closed

[2020-04-29 17:02] NK-debug opened #1322 "Excel Connector deprecated?"
There is no Excel Connector for PowerApps.
There is an Excel Online (OneDrive) Connector for PowerApps, but the Excel file has to be on OneDrive, not SharePoint.
The Excel Online (Business) connector which works with SharePoint is only available in Microsoft Flow/Automate, not PowerApps (4/2020).
Please indicate that in the docs here so that people don't keep looking for it.
Better yet, make it av

[2020-04-29 17:05] NK-debug opened #1323 "SharePoint cloud?"
Will Microsoft SharePoint Cloud (sp-cloud) be included for the cloud storage connections?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff364788-3a3b-9e31-8100-2768aa6faac8
* Version Independent ID: 01897422-f8c7-1138-7cd6-9eefd69e606f
* Content: [Overview of the cloud-storage connection - Power Apps](https://docs.mic

[2020-04-29 17:07] NK-debug opened #1324 "Can't connect to Excel files in SharePoint?"
A PowerApp can only connect to Excel files on OneDrive. (4/2020)
When can we have an ability for a PowerApp to connect to an Excel file on SharePoint?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57f32ea1-9e25-c4db-b8c8-df8194517bee
* Version Independent ID: c040bfac-c0df-e1d9-70da-39be48c79209
* Content: [Overview o

[2020-04-29 18:06] henry-royan opened #1325 "Incomplete Documentation (April 2020)"
This documentation is incomplete. It leaves out a lot of properties/attributes that are unique to the Combo Box. However, it acknowledges that they exist under the "Color contrast" subheading under "Accessibility". It makes it hard to make this accessible, when most of the properties required to do so, are left off this page, or aren't explained. Please update.

---
#### Document Details

⚠ *Do no

[2020-04-29 19:03] kgnzlz commented on #1310
@Nkrb Thanks to you! Do you now the number of the latest version? Because the one mentioned in the first comment appears as the latest 'Cumulative' update for my organization. Can you tell me the update version I should have for it to work?

[2020-04-29 21:42] #404 closed

[2020-04-29 22:47] #1294 closed

[2020-04-29 22:48] j0hnnyma commented on #1294
please update template it doesnt work.
Had to replace the update button in the app with the following code:

original

SubmitForm(EditTicketForm);HelpDeskFlow.Run("'" & SelectedTicket.ID & "'"); ResetForm(EditTicketForm); Navigate(MyTicketsScreen,None)

revised:

SubmitForm(EditTicketForm);HelpDeskFlow.Run(SelectedTicket.ID); ResetForm(EditTicketForm); Navigate(MyTicketsScreen,None)

[2020-04-30 05:33] Papithasekar opened #1326 "Remove time value from date field"
Hi,
Date value is getting updated along with time in excel data source and that makes some other issue with calculation. I want only date not with time. Is there any possibility to remove hours and minutes ?
Note:¨
I have made visibility to false for hours and minutes field and set default value as 00, after submitting the form it takes 22:00 automatically and that leads to display selected date +

[2020-04-30 12:43] TuomasNummelin commented on #1265
I just encountered this same behaviour, it seems to open inline only if the environment is still running the 2019 release wave 2. In other environment with 2020 release wave 1, opening in dialog worked as documented.

[2020-04-30 13:14] filcole opened #1327 "Deprecated."
https://docs.microsoft.com/en-us/power-platform/important-changes-coming#some-client-apis-are-deprecated mentions that:

"formContext.data.entity.save" has been deprecated,
and that "formContext.data.save" should be used.

This page does not state that this method has been deprecated.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-04-30 13:42] t0642k8 commented on #1185
Hey Jim,

It sounds like another reason for there not being anything in the drop down could be because you may have to update the SharePoint list connections. Try this step-by-step https://docs.microsoft.com/en-us/powerapps/maker/canvas-apps/sample-crisis-communication-app#update-the-sharepoint-connections to update SharePoint connections, it says to do this for the main app and admin app.

Let me

[2020-04-30 15:21] MitchMilam opened #1328 "Setting the label of the timelinewall control does not seem to work"
This should work:
            formContext.getControl("attachments").setLabel("ATTACHMENTS");

But it still appears at Timeline in the UI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d0b4de1-1a28-4998-9055-e354e64d2cca
* Version Independent ID: edb9da16-8b79-18ff-239e-f3af444ff31f
* Content: [setLabel (Client API re

[2020-04-30 15:31] sebastiensapet commented on #1168
Hello all, We get same probleme with 9.0.14 On-Premise.
Do you find a fix ?

Thanks,
Sebastien.

[2020-04-30 16:23] Nkrb commented on #1319
@mmcguinness Thanks for the feedback. We have updated the docs with the correct information and pushed to live. Closing the issue.

[2020-04-30 16:23] #1319 closed

[2020-04-30 16:24] Nkrb commented on #1315
@wilsonsilva80 Thanks for the feedback. We have updated the docs with the correct information and pushed to live. Closing the issue.

[2020-04-30 16:24] #1315 closed

[2020-04-30 18:21] mmcguinness opened #1329 "property usage=bound doesn't seem to work when control is a dataset"
property usage=bound doesn't seem to work when control is a dataset. Control will not show up at all in the form editor unless all properties have usage=input. This is an issue when a dataset needs to pass updated bound field values back to the form.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3b2e635-6c60-0efc-d89

[2020-04-30 19:33] tapanm-MSFT commented on #544
Thank you for reaching out. Scale to fit and Size property are not yet available for SharePoint forms using canvas app. For future updates, refer to [What's new in Power Apps](https://docs.microsoft.com/powerapps/whats-new) that includes weekly releases and release notes. You can also submit and vote for feature ideas at [Power Apps Ideas](https://powerusers.microsoft.com/t5/Power-Apps-Ideas/idb-p

[2020-04-30 19:33] #544 closed

[2020-04-30 19:35] tapanm-MSFT commented on #449
Thank you for your feedback, and glad to know this was helpful.

[2020-04-30 19:35] #449 closed

[2020-04-30 20:00] tapanm-MSFT commented on #369
Thank you for your feedback. Content is being updated, please allow some time to reflect the change.

[2020-04-30 20:00] #369 closed

[2020-04-30 20:00] tapanm-MSFT commented on #338
Thank you for your feedback. Content is being updated, please allow some time to reflect the change.

[2020-04-30 20:00] #338 closed

[2020-04-30 20:21] tapanm-MSFT commented on #1121
Thank you for reaching out. These are default and minimum styles required for portal to function. You can edit CSS to suite your needs as described in this article using the code editor. <br> The workaround with removing link mentioned on this issue above is not supported.

[2020-04-30 20:21] #1121 closed

[2020-04-30 20:52] makarandkeer opened #1330 "Problem with Xrm.Utility.getGlobalContext().userSettings.roles when User is member of Team"
If User is member of any non-default team and that team has Security Role assigned to it, then Team level Security Role name is coming as empty/undefined. Following is how it looks in Developer Tool

14f05073-428e-4f7e-97cf-68ec53f3d1e6: {id: "14f05073-428e-4f7e-97cf-68ec53f3d1e6", name: undefined}
81b32792-2837-e811-a950-000d3a3101b9: {id: "81b32792-2837-e811-a950-000d3a3101b9", name: "Test Read-

[2020-04-30 22:49] dynamicscode opened #1331 "isLoaded() returns false on the create form"
When is the data binding complete on _create_ forms? I waited more than a minute and it still returns _false_. But, it works fine on _edit_ forms.

[2020-05-01 02:42] M-SGFx opened #1332 "Able to Update the App and Flows Imported through Managed Solution"
On the doc, it is mentioned "You cannot edit the components of a managed solution" - However, I have been successfully able to update the PowerApps and PowerAutomate components in TEST environment. This solution was exported from DEV as Managed solution and imported to TEST. Am I missing something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-05-01 18:08] Nkrb commented on #1310
@kgnzlz It is difficult  to say exactly which method is released with the version, because different methods within the navigteTo method are released in different client versions.

[2020-05-01 23:38] phecke commented on #1331
@dynamicscode Are you talking about the maker experience, model-driven or canvass apps?

[2020-05-01 23:43] phecke commented on #1326
@Papithasekar Can you please provide more details about what you are doing. Are we talking about the maker experience, model-driven or canvas apps? It would be very helpful if you provided a link to the documentation that you were following.

[2020-05-01 23:55] tapanm-MSFT commented on #1167
Thank you for your feedback. The content is updated. Please allow some time for changes to reflect.

[2020-05-01 23:55] #1167 closed

[2020-05-01 23:58] tapanm-MSFT commented on #1275
Thank you for reaching out. The content is current but also recently updated to reflect updates in the UI. If the issue persists, please feel free to reach out with a [support service request](https://docs.microsoft.com/power-platform/admin/get-help-support) for deeper investigation.

[2020-05-01 23:58] #1275 closed

[2020-05-02 00:11] phecke commented on #1318
@scottdurow Is this a developer question? Are you looking at the Web API or SDK assemblies and see this property which is not public? I do not have enough information.

[2020-05-02 20:08] JimDaly commented on #117
I discovered this open issue and know that the docs were updated since then.

See

[Unicode characters in key value](https://docs.microsoft.com/en-us/powerapps/maker/common-data-service/define-alternate-keys-reference-records#unicode-characters-in-key-value)
If the data within a field that is used in an alternate key will contain one of the following characters <,>,*,%,&,:,/,\\ then patch or upser

[2020-05-02 20:08] #117 closed

[2020-05-02 20:23] gregli-msft commented on #1307
In order for this to work properly, you need to turn on the experimental feature **Formula-level error management** under the File menu, Settings, Advanced settings:

![image](https://user-images.githubusercontent.com/15149773/80891294-f2292100-8c77-11ea-9a64-b1e043d97dc2.png)

We will be turning this feature on by default soon.

![image](https://user-images.githubusercontent.com/15149773/80891316

[2020-05-02 20:23] #1307 closed

[2020-05-02 20:49] gregli-msft commented on #1292
There is an example at the end of the article titled [Collect within ForAll](https://docs.microsoft.com/en-us/powerapps/maker/canvas-apps/functions/function-forall#collect-within-forall).

We have some enhancements coming soon that will make it easier to reference the entire record at a time.  When they arrive we'll add some more examples.

[2020-05-02 20:49] #1292 closed

[2020-05-02 20:58] gregli-msft commented on #1216
The product has been changed to return an error if an illegal character is used, one of `*".?:\<>|/`.  The documentation has also been updated and is in the process of rolling out.

[2020-05-02 20:58] #1216 closed

[2020-05-02 21:21] gregli-msft commented on #1128
Thanks for your comments.  But we require a little more detail though before we can follow up.  Can you give examples of the formulas you are using?  We also need to split your concerns into two threads, one for HTML text and one for Delegation.

But before we proceed further here in the docs, you may want to direct your questions to the [Power Apps community](https://powerusers.microsoft.com/t5/P

[2020-05-02 21:21] #1128 closed

[2020-05-02 21:44] gregli-msft commented on #1317
As the docs state: The Choices function returns a table of the possible values for a lookup column.

I'm not sure where you are seeing the @odta.type column, perhaps a network trace of Monitor.  That column is internal only and shouldn't be visible when authoring an app and won't be available as a column when writing a formula.

Here's an example of looking for the possible values for a Choices fi

[2020-05-02 21:44] #1317 closed

[2020-05-03 13:08] v-etzha opened #1336 "Cannot install the Hospital Emergency Response App by adding it to Dynamics 365"
Hi experts,

I followed the steps in the tutorial, however, I was unable to install the sample app when attempting to add the application to Dynamics 365 at the section https://docs.microsoft.com/en-us/powerapps/sample-apps/emergency-response/deploy-configure#option-b-install-the-app-from-microsoft-appsource and step 4. Maybe it's something related to my account. It said "Sorry, we couldn’t find a

[2020-05-03 16:23] Papithasekar commented on #1326
Hi,
Am attaching some image please have a look.[
![date field](https://user-images.githubusercontent.com/44681255/80919601-2df0e300-8d6b-11ea-8bec-b23665be2530.png)
![source](https://user-images.githubusercontent.com/44681255/80919608-32b59700-8d6b-11ea-9047-794b50032066.png)

](url)

[2020-05-03 21:28] gregli-msft commented on #1091
Sorry, unfortunately there is no way to launch a native app directly.  When the article talks about an app and an app id, it is referring to only a canvas app.  We have updated the docs to make this clearer:

_Native apps on a device cannot be directly launched.  There may be indirect options available on some platforms, such as a native app installing a custom URL scheme or registering with the w

[2020-05-03 21:28] #1091 closed

[2020-05-04 09:54] jordimontana82 commented on #1054
@fberasategui @JimDaly   I think you're using the name of the relationship (account_primary_contact), not the name of the lookup field (primarycontactid), if you use that attribute in the Where clause it should then filter on "primarycontactid" as it does with fetchxml..

[2020-05-04 13:46] blockingHD opened #1337 "Confirm options is required"
Looking at this page it is shown that ConfirmOptions is not required however from testing this in a vanilla instance of Dynamics this doesn't seem to be true. The only way to successfully show the dialog box is to use both the confirmStrings and confirmOptions.

Like this
`
var confirmStrings = { text:"Some Text", title:"Dialog" };
var confirmOptions = { height: 200, width: 450 };
Xrm.Navigation.O

[2020-05-04 17:18] tomturpin opened #1338 "GCC Cloud"
Will this work for a GCC Tenant?

[2020-05-05 00:38] fadyanwar opened #1339 "Following the steps result in 401 error"
Is the client id up to date?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80534df2-e9da-fd0a-80bf-4bfc0dbb2fcc
* Version Independent ID: b8053ca7-e385-2f0b-06af-81b908f345a1
* Content: [Set up a Postman environment (Common Data Service for Apps) - Power Apps](https://docs.microsoft.com/en-us/powerapps/developer/commo

[2020-05-05 00:43] fadyanwar commented on #1339
In Postman, under Authorization tab, "Add authorization data" needs to be set to "Request Headers", kindly update the article accordingly. Thanks.

[2020-05-05 00:51] tapanm-MSFT commented on #1248
Thank you for your feedback. Content is updated. Please allow sometime for changes to reflect.

[2020-05-05 00:51] #1248 closed

[2020-05-05 05:44] debajdu opened #1340 "Please provide an example to use the relationship object"
I am getting this question every now and then I really could not understand how the relationship parameter works. Don't know if my assumption is right but I think this is used in combination with createFromEntity parameter.

Request to please put an example or make the documentation with more explanation to understand better. Will wait for it. A code sample would really be great!

Cheers!
Debajit

[2020-05-05 09:00] dvidvic commented on #1336
Hi v-etzha, hope you are very well.

I had this situation as well. I found a quick work around was to use Power BI Pro/Premium and create a workspace then click the **Add Content** button. You'll get the screen shown next, choose the **discover content from my organization** option highlighted in the red rectangle shown next.

![image](https://user-images.githubusercontent.com/64831620/81045153-8a

[2020-05-05 17:41] Nkrb commented on #1338
@ Can you point us to the doc you are talking about.

[2020-05-05 17:59] oiluis opened #1341 "Don't forget to use /p:NuGetInteractive=true in case you face any 401 issue"
Not exactly a bug, but on my case, every time I needed to run the following command:

`msbuild /t:build /restore`

I faced a 401 (Unauthorized) error as below:

![image](https://user-images.githubusercontent.com/2482647/81099043-a5944e80-8ee0-11ea-8803-f41269d6f6ba.png)

My solution to overcome this was adding the /p:NuGetInteractive=true so the final command is:

`msbuild /t:build /restore /p:NuG

[2020-05-05 20:41] #1200 closed

[2020-05-06 01:24] tapanm-MSFT commented on #1033
Thank you for reaching out.

A) is updated.
B) is under consideration for future updates.

For restricting users to only contacts from Dynamics 365, turn [open registration](https://docs.microsoft.com/powerapps/maker/portals/configure/configure-portal-authentication#open-registration) off to disable user registration. Only Dynamics 365 users can login. And send out invitation using [redeem an invi

[2020-05-06 01:24] #1033 closed

[2020-05-06 02:37] tapanm-MSFT commented on #1204
Thank you for reaching out. Content is being updated. Please allow some time to reflect the changes. For issues with the functionality, please reach out with a [support service request](https://admin.powerplatform.microsoft.com/support) for further investigation.

[2020-05-06 02:37] #1204 closed

[2020-05-06 05:06] ianmckay-pmail opened #1342 "Is blank a word or an empty string or something else?"
Is blank a word or an empty string or something else?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb4730ed-889e-9f35-89c2-26bad76646a9
* Version Independent ID: 09485d1f-9219-0ca7-1122-7c6dbcb8edc0
* Content: [Filter, Search, and LookUp functions - Power Apps](https://docs.microsoft.com/en-us/powerapps/maker/canvas-

[2020-05-06 08:06] thomashager opened #1343 "How to reference a specific table on a report instead of the whole report?"
This is working really nicely and is very useful. Is it possible to make the reference specific to a specific visual in a report or a tile on a dashboard rather then referring to the whole report? Think that would help make the presentation nicer in the form. I tried all kinds of combinations I could imagine but could not make it work... Any guidance would be much appreciated!

---
#### Document D

[2020-05-06 13:20] rjgeeky commented on #799
There's now an orphaned 'For' at the end of the second paragraph in the 'Turning off Snap to columns' section. I presume this happened while editing to add the clarifying instructions with the Alt key.

[2020-05-06 14:01] mikkelpkaas opened #1344 "No description of handling keys in mapping"
There's no description of how you map a field to a key field on the target record in CDS. If I e.g. wants to map data to account, how do I chose which field is to be used as the primary key for the flow?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3abf73d-60b9-675f-61e7-1c2dc622d055
* Version Independent ID: 352c11

[2020-05-06 15:39] prsi-msft commented on #1343
Hey Bishal,

You keep assigning feedback on this doc to me, even though I have said multiple times that I have left the Power apps team. How do we ensure that you assign these to Adrian henceforth?

Sent from Outlook Mobile<https://aka.ms/blhgte>
________________________________
From: Bishal Goswami <notifications@github.com>
Sent: Wednesday, May 6, 2020 2:00:34 AM
To: MicrosoftDocs/powerapps-docs

[2020-05-06 16:35] shashankgwl opened #1345 "Xrm tooling connector WPF control throwing error"
I'm using the latest WPF control, it throws error on following.

1. When I switch from online to onprem.

2. When I enter my login credentials and click login.

![image](https://user-images.githubusercontent.com/2750603/81203370-83d0bf80-8fe5-11ea-87fd-24a4b312196c.png)

Also, there's no `ConnectionCompletedEvent` on this control.

![image](https://user-images.githubusercontent.com/2750603/8120356

[2020-05-06 17:29] mdnazirahmed007 opened #1346 "Passing Parameters for Regarding Look Up"
It say's that regardinglookup field value cant be set by passing parameter. But i did try and it is working. please updatre the page
Ex:https://XXXX.crm8.dynamics.com/main.aspx?etn=appointment&pagetype=entityrecord&extraqs=regardingobjectid%3D%7baaa19cdd-88df-e901-b8e5-6c3be5a8b200%7d%26regardingobjecttypecode%3daccount%26regardingobjectidname%3dtea

---
#### Document Details

⚠ *Do not edit this

[2020-05-06 17:44] tapanm-MSFT commented on #799
Thank you, content is updated. Please allow some time to reflect the changes.

[2020-05-06 18:21] prsi-msft commented on #1343
Praveen,

This is an automated thing that assigns issues based on the author value in the topic.

I'll fix it.

Thanks,
Vivek

From: Praveen Kumar Singh <prsi@microsoft.com>
Sent: Wednesday, May 6, 2020 8:39 AM
To: MicrosoftDocs/powerapps-docs <reply@reply.github.com>; MicrosoftDocs/powerapps-docs <powerapps-docs@noreply.github.com>; Bishal Goswami <Bishal.Goswami@microsoft.com>; Adrian Orth <Adri

[2020-05-06 18:34] prsi-msft commented on #1343
I see - thanks for looking into it.

Thanks,
Praveen

From: Kumar Vivek <kvivek@microsoft.com>
Sent: Wednesday, May 6, 2020 11:22 AM
To: Praveen Kumar Singh <prsi@microsoft.com>; MicrosoftDocs/powerapps-docs <reply@reply.github.com>; MicrosoftDocs/powerapps-docs <powerapps-docs@noreply.github.com>; Bishal Goswami <Bishal.Goswami@microsoft.com>; Adrian Orth <Adrian.Orth@microsoft.com>
Cc: Assign <a

[2020-05-06 21:19] joepurnell88 opened #1347 "Authentication and Usage options"
Is it possible to use an app registration to access the DB structure in SSMS?  Also, can this be used to run queries in angular web resources?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60540f3d-b959-2daa-23a1-2938de01919d
* Version Independent ID: 07b12c3a-a0db-47f1-1aca-04008c9efca9
* Content: [Use SQL to query d

[2020-05-06 22:24] gregdegruy opened #1348 "How can I call a component from a JavaScript WebResource?"
Can also pass a data payload to the component using this method?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfca439f-2902-4e1c-47b2-e96c1fe6d78f
* Version Independent ID: a0406aa3-5035-a4db-3706-ee3b5dd908a5
* Content: [FAQs | MicrosoftDocs - Power Apps](https://docs.microsoft.com/en-us/powerapps/developer/componen

[2020-05-06 23:41] tapanm-MSFT commented on #1268
Thank you for reaching out. You can resubmit the failed provisioning as an owner, as explained in [this](https://docs.microsoft.com/powerapps/maker/portals/admin/admin-overview#add-yourself-as-an-owner-of-the-azure-ad-application) article.

[2020-05-06 23:41] #1268 closed

[2020-05-06 23:53] tapanm-MSFT commented on #989
Please use [Restrict Read](https://docs.microsoft.com/powerapps/maker/portals/configure/webpage-access-control#restrict-read) right.

[2020-05-06 23:53] #989 closed

[2020-05-07 10:01] AzmatMahsood commented on #983
For me its working on the Main form but not on the quick create form anybody else having this problem

[2020-05-07 11:30] mrrandall40 opened #1351 "availability regions?"
Will you confirm if or when this will be available in the US or how to enroll in the preview, if necessary?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60540f3d-b959-2daa-23a1-2938de01919d
* Version Independent ID: 07b12c3a-a0db-47f1-1aca-04008c9efca9
* Content: [Use SQL to query data (Common Data Service) - Power A

[2020-05-07 14:23] scottdurow opened #1352 "loadExactPage is not documented"
The function loadExactPage is not documented - is it supported?
See Anqi's info here -https://powerusers.microsoft.com/t5/Power-Apps-Pro-Dev-ISV/Issue-using-Dataset-Paging/m-p/405587/highlight/true#M1273

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d40f22d-3206-3b47-5cbe-0e557fa0bd07
* Version Independent ID: 1d5b0f

[2020-05-07 14:32] lfinman opened #1353 "'Add screen context variables' link needs to be fixed"
Under 'See also', the link to screen context variables does not link to a page mentioning screen variables.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba9b5e7f-c7a3-4530-11dc-d3655e0c77d4
* Version Independent ID: 10b605d6-f30a-aef9-c69a-ebc267089fd2
* Content: [Back and Navigate functions - Power Apps](https://doc

[2020-05-07 15:13] henry-royan opened #1354 "BusinessPhones returns a Table not a String"
Using "Office365Users.MyProfile().BusinessPhones" as described on this page actually returns a Table. You can't use this particular property with this function as you would with the other properties.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9434b232-2bf5-14f0-9861-6726dc216b96
* Version Independent ID: d073f002-0

[2020-05-07 15:25] GBauer1833 opened #1355 "IT Systems Support"
It would be nice if we could "pause" your demo animations so beginners could see what is being selected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a8c4146-101d-7ba2-7ae0-d7138b743154
* Version Independent ID: 1f752762-0809-a2fb-4a03-b490547ee7f1
* Content: [Customize a SharePoint list form - Power Apps](https://d

[2020-05-07 16:12] tapanm-MSFT commented on #1355
Thank you for the feedback. Though GIFs can't be paused, the ones on the article are only several seconds long for ease of consumption. And the GIFs can be viewed again to repeat the steps. Will consider more screenshots in addition to GIFs and possibly embedded videos that can be paused. Appreciate your suggestions.

[2020-05-07 16:12] #1355 closed

[2020-05-07 16:58] scottdurow opened #1356 "totalResultCount not documented"
totalResultCount is defined in node_modules\@types\powerapps-component-framework\componentframework.d.ts - but not documented here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d40f22d-3206-3b47-5cbe-0e557fa0bd07
* Version Independent ID: 1d5b0fbd-9b5d-d605-6553-138d0f7e2316
* Content: [Paging - Power Apps](https://

[2020-05-07 17:00] scottdurow opened #1357 "Now available in Canvas Apps"
This page says 'Model-driven apps' only - but Dataset PCF controls are now available in Canvas - https://docs.microsoft.com/en-us/powerapps/developer/component-framework/sample-controls/data-set-component-canvas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d40f22d-3206-3b47-5cbe-0e557fa0bd07
* Version Independent ID

[2020-05-07 20:45] gregdegruy opened #1358 "An OData error occurred"
How can I resolve this error?

![Annotation 2020-05-07 134422](https://user-images.githubusercontent.com/8151045/81342934-eae38800-9068-11ea-87ae-02f07e440f38.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aaee10a3-558f-55f5-4c7c-e3d6d7567d19
* Version Independent ID: 5c21acb1-6336-23b2-1025-e6f69e2115d8
* Content

[2020-05-07 21:12] gregli-msft commented on #1353
Thanks for the report.  The link now points to a discussion on context variables.

[2020-05-07 21:12] #1353 closed

[2020-05-07 21:15] gregli-msft commented on #1342
Blank is a null value in databases and other languages.  We use the term Blank because that is what Excel uses and we try to align to Excel whenever possible.  There is a [discussion in the Data Types article](https://docs.microsoft.com/en-us/powerapps/maker/canvas-apps/functions/data-types#blank).   We don't link to this information often and perhaps we should, I'll take that up with the document

[2020-05-07 21:15] #1342 closed

[2020-05-07 22:40] #1195 closed

[2020-05-07 22:55] codes4pizza opened #1359 "Limitations and comparision with FetchXml"
This is really interesting but FetchXml is also a readonly data access mechanism. Is this SQL connection just layered on top of FetchXml so it suffers from the same limitations as FetchXml or is it really a direct read-only sql connection? FetchXml has a limit of 10 entities. Are there similar limits for the sql connection? FetchXml can only aggregate at most 50,000 records. Does the sql connectio

[2020-05-07 23:27] tapanm-MSFT commented on #710
Thank you for your feedback. Content is updated, please allow some time to reflect the changes.

[2020-05-07 23:27] #710 closed

[2020-05-07 23:42] tapanm-MSFT commented on #1090
Thank you for your feedback, content is updated. Please allow some time to reflect the changes. For custom lists and libraries, Power Apps option inside SharePoint allows customizing form. For lists such as Announcements, Tasks or templates, form customization using Power Apps is not available/supported.

[2020-05-07 23:42] #1090 closed

[2020-05-08 16:12] Nkrb commented on #1356
@scottdurow We have documented this in our official docs [here](https://docs.microsoft.com/en-us/powerapps/developer/component-framework/reference/paging#totalresultcount).

[2020-05-08 17:40] abarek opened #1361 "Assinged to field not working"
I'm unable to type in the Assigned To: field.  I'm able to enter it in the SharePoint list and it displays fine after that.

Any suggestions on something that's missing?

[2020-05-08 18:47] sergioreyero commented on #1351
Same interest for Europe (crm4)

[2020-05-08 22:39] tapanm-MSFT commented on #655
Thank you for the follow up, content is updated including deletion of an app when owner is unavailable and share permission. Please allow some time for the content to reflect the changes.

[2020-05-08 22:39] #655 closed

[2020-05-08 23:21] phecke commented on #1341
@oiluis What is this related to: PowerApps Component Framework, PowerApps build tools and DevOps, or something else. I cannot tell what you are talking about without more details. It would be best if you provide a link to the developer documentation that is related to this issue. Thanks,

[2020-05-08 23:27] phecke commented on #1345
@shashankgwl Can you  please provide the version of the Microsoft.CrmSdk.XrmTooling.WpfControls NuGet package that you are using. Also, you will get a quicker response if you select the "Contact owners" link on the XrmTooling NuGet package page.

[2020-05-08 23:33] phecke commented on #1361
@abarek I cannot tell what you are doing by your description above. Are you using PowerApps and creating a model-driven or canvas app? It is best if you provide a documentation link that relates to what you're doing.

[2020-05-08 23:48] abarek commented on #1361
Sorry about that.   I thought I was posting to the help desk power app channel.  It's a power app canvas.  I have it working in teams.  There is a field for assigned to but it cannot be filled in..  does this help at all.

Ken Abare
IT Director
D&D Building

________________________________
From: Peter Hecke <notifications@github.com>
Sent: Friday, May 8, 2020 7:33:45 PM
To: MicrosoftDocs/powerapp

[2020-05-09 00:05] JanieVi opened #1362 "The Flow of CrisisCommunication.Request is not charging well"
When I import the Crisis Communication app automatically creates a flow of
CrisisCommunication.Request but does not appear as a power app but has the outlook logo. And when yo go to the edit page of this flow the first step said "when a new mail arrives" instead of "PowerApps"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-05-09 05:53] SeaDude commented on #193
You could always purchase a domain ($5-10/yr.) and setup your own email account. That qualifies as a "work" account. Basically means anything but one of the big @gmail, @yahoo, etc. email addresses.

[2020-05-09 16:28] hpkeong commented on #728
I have watched your video.
TextInput only has Default Value, but
Label has Text Value.
Both are interchangeable.

TextInput = Default can be set to "" (Blank) initially if you wish to a "Default" value before typing anything.
but if you are editing, you can use IF.
E.g.:
You have a Gallery and inside the gallery you have record.
Let say you have one field, called : ThisItem.myname
Add a Button.OnS

[2020-05-09 17:09] dmaxwe22 opened #1363 "Is there a manifest.cdm.json file in Export to Data Lakes at present or planned?"
Is there or will there be support for CDS relationship metadata between entities. From what I understand this should be found in the manifest.cdm.json file in folders in the storage location. All I see now is a model.json file and I have to create relationships when using Power BI or if trying to use Azure Data Bricks to transfer to an Azure SQL database.

What is the best way at present to show r

[2020-05-09 23:36] oiluis commented on #1341
This is related to the command to build PCF  :) ... executing the msbuild command on the visual studio dev prompt can produce this error

[2020-05-10 12:05] LinnZawWin commented on #1246
@makarandkeer and @mmcguinness
As a workaround, we can use the Custom Enable Rule of the hidden button in Global Tab to show Global Notification when the default page is loaded no matter if the default page is Dashboard or the entity view.
Please refer to my blog post for more details.
http://linnzawwin.blogspot.com/2020/05/show-global-notification-on-load-of.html

[2020-05-10 19:36] rappen commented on #309
Not sure if the docs have been updated and clarified, but this issue is still open an my question still does not have an answer.
Ping! 😊

[2020-05-11 00:37] keijiinoue commented on #1351
Same interest for Japan (crm7)

[2020-05-11 07:11] eromerof opened #1365 "TDS protocol endpoint is disabled for this organization"
Hi, I cannot connect my mssms with dynamics because I have this error. Do I have to enable something in my organization?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60540f3d-b959-2daa-23a1-2938de01919d
* Version Independent ID: 07b12c3a-a0db-47f1-1aca-04008c9efca9
* Content: [Use SQL to query data (Common Data Servi

[2020-05-11 08:03] hoodlumj3 opened #1366 "Incorrect word used... pls fix"
"the" used instead of "then"
"If you cannot move files outside, the ensure that all the files are not loaded along with home page"
should be
"If you cannot move files outside, then ensure that all the files are not loaded along with home page"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bb68e1d-5c5a-fe4d-bfe0-32474

[2020-05-11 14:19] gjbdebug opened #1367 "IP ranges should use CIDR"
Here's the US list with ranges expressed using CIDR notation:

13.89.171.80/28,52.173.245.164,40.71.11.80/28,40.71.249.205,40.70.146.208/28,52.232.188.154,52.162.107.160/28,52.162.242.161,40.112.243.160/28,104.42.122.49,127.0.0.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fdf0872-929b-e44a-dedd-eb6a759915f2
* Vers

[2020-05-11 14:23] gjbdebug commented on #1367
US "early access":
13.71.195.32/28,52.161.102.22,13.66.140.128/28,52.183.78.157,127.0.0.1

[2020-05-11 15:42] Nkrb commented on #1357
@scottdurow Thanks for the feedback. We have updated the docs with the correct information and pushed to live. Closing the issue.

[2020-05-11 15:42] #1357 closed

[2020-05-11 16:10] clurdish opened #1368 "Missing visibility methods"
Unless they are explicitly unsupported, this document is missing methods getVisible and setVisible to control visibility.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7448eb2-774a-b6f7-9f21-6119211619d4
* Version Independent ID: f6b3b802-fc1d-9a09-a542-9a6d29468032
* Content: [GridControl (Client API reference) in m

[2020-05-11 16:37] smgtreker commented on #1359
Excellent point and question; I was wondering the same thing.

[2020-05-11 17:55] Nkrb commented on #1243
@arunvinoth Thanks for contacting us. As we haven’t heard back from you, I am closing this issue. If you need further help, please reopen the issue or open a new issue.

[2020-05-11 17:55] #1243 closed

[2020-05-11 17:58] Nkrb commented on #1246
@bthompson-365 Global notifications will appear in an app everywhere irrespective of where the user is.

[2020-05-11 18:02] Nkrb commented on #542
@scottdurow Do you have any specific case where you only get a subset of the metadata. `getEntityMetadata` should return the metadata for everything requested.

[2020-05-11 18:03] dibutil opened #1369 "Port 5558?"
Port 5558 does not respond on any of my instances (various orgs, all in NA zone), cannot explore or discover the possibilities.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60540f3d-b959-2daa-23a1-2938de01919d
* Version Independent ID: 07b12c3a-a0db-47f1-1aca-04008c9efca9
* Content: [Use SQL to query data (Common Dat

[2020-05-11 19:49] kvrs09 opened #1370 "Unable Common Data Service endpoint SQL connection with SSMS"
Hi Team
Trying toe Common Data Service endpoint SQL connection with SSMS . But getting network related errors. North America region.

TITLE: Connect to Server
------------------------------

Cannot connect to wwlpbdcrm.crm.dynamics.com,5558.

------------------------------
ADDITIONAL INFORMATION:

A network-related or instance-specific error occurred while establishing a connection to SQL Server.

[2020-05-11 20:45] josi4 commented on #1351
And again, for NZ/AU crm6

[2020-05-11 22:01] rrkushner opened #1371 "DataCardValue Format property"
How do I format a DataCardValue? How do I use the Format property?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b20a4da-a604-73e1-cade-77b2cd2b917e
* Version Independent ID: ad343c70-310b-e409-72ac-2a59a9041732
* Content: [Card control: reference - Power Apps](https://docs.microsoft.com/en-us/powerapps/maker/canvas-

[2020-05-11 22:32] Nkrb commented on #1329
@mmcguinness Thanks for the feedback. Please raise the issue in the [community forum](https://powerusers.microsoft.com/t5/PowerApps-Component-Framework/bd-p/pa_component_framework). Our developers will help you resolve the issue. Closing the issue.

[2020-05-11 22:32] #1329 closed

[2020-05-11 22:36] Nkrb commented on #746
@sideshowbob Yes, this feature is still in preview.

[2020-05-11 22:37] Nkrb commented on #746
@namurdock Thanks for your feedback. For product-related feedback, visit https://ideas.powerapps.com.

[2020-05-11 23:17] LinnZawWin opened #1372 "Script not in the ClientApiFrame_[n] with highest value [n] for the new Unified Interface forms"
The Unified Interface form scripts are not in the ClientApiFrame_[n] frame with the highest value [n] when I debug the script in the DevTools of the Chrome browser or Edge based on Chromium

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d61cf532-f935-772c-a80d-5310767ffbdc
* Version Independent ID: 8eca9f5e-ebd1-5d6b-0

[2020-05-12 00:51] tapanm-MSFT commented on #1366
Thank you for the feedback. The content is being updated. Please allow some time to reflect the changes.

[2020-05-12 00:51] #1366 closed

[2020-05-12 05:40] AbdulWahabWarind opened #1373 "Quick Find"
Functionality: Searchable fields = All searchable fields but in my case I can not add Decimal Number field in a quick find view. Can you please expain why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e53b21b6-a371-2b0d-0fee-2f77fa645b66
* Version Independent ID: 55864e5c-128a-ccbd-10bc-84daf3c847bb
* Content: [Searc

[2020-05-12 12:49] VinnyDyn commented on #1365
Same problem...

[2020-05-12 13:06] JoaoNBMoreira commented on #1158
Hi,
how can change language app ?
Thanks,
Joao

[2020-05-12 13:07] JoaoNBMoreira commented on #1158
how can change language app ?
Thanks,
Joao

[2020-05-12 13:08] JoaoNBMoreira opened #1375 "Crisis Communicator App - Change language app to Portuguese"
Hi,

How can change language app to portuguese?

Thanks,
Joao

[2020-05-12 13:54] FrankFenneran commented on #1369
Same for us

[2020-05-12 14:16] FlorianGrimm opened #1376 "Async Task.Result"
using Task.Result is documented as anti-pattern. e.g.
https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/async/async-return-types

Please use async in the correct way

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6da4c6b5-4ca0-0138-ea99-47e40feaf908
* Version Independent ID: 6bd64a3c-bdf4-a8dd-a

[2020-05-12 15:44] Nkrb commented on #1310
@kgnzlz Please update to a newer version and see if you can use the method, or please raise a support ticket if that doesn't work. Closing the issue.

[2020-05-12 15:44] #1310 closed

[2020-05-12 15:54] Nkrb commented on #1338
Thanks for contacting us. As we haven’t heard back from you, I am closing this issue. If you need further help, please reopen the issue or open a new issue.

[2020-05-12 15:54] #1338 closed

[2020-05-12 15:55] Nkrb commented on #856
Thanks for contacting us. As we haven’t heard back from you, I am closing this issue. If you need further help, please reopen the issue or open a new issue.

[2020-05-12 15:55] #856 closed

[2020-05-12 16:09] chmoncay commented on #728
Hi there,

Default is the input value of the textbox, Text is the output.   So if you're looking to use the value of the textbox named txtMyTextBox, you would reference it **txtMyTextBox.Text**

Hope this helps.

[2020-05-12 16:32] JimDaly commented on #1376
It is an anti-pattern if you are building an app that depends on multiple threads and you need to avoid blocking.
But for this simple introductory console app, it adds additional complexity that conflicts with the goal of this sample.

Our goal is to focus on our APIs, not trying to teach general .NET programming practices.

[2020-05-12 16:32] #1376 closed

[2020-05-12 17:36] #728 closed

[2020-05-12 17:41] bthompson-365 commented on #1246
@Nkrb - but that wasn't my question, the question was how do you initialise a global notification if you are on a dashboard or entity list page where JavaScript is not available except via tricks within a ribbon button.

[2020-05-12 17:57] phecke commented on #1369
@dibutil
Did you verify that you have the feature available in your environment?

1.	Sign into Power Apps, on the left navigation pane expand Data, and then select Entities.
2.	On the command bar, you should see a button "Analyze in Power BI". If you do not see this button, your environment does not yet have the feature.

I have no information as to when the feature will be available in the differ

[2020-05-12 20:35] CeciAc opened #1378 "can't update value to sharepoint list"
I moved this from here: https://github.com/MicrosoftDocs/powerapps-docs.zh-cn/issues/4

@limfoo commented 10 hours ago — with docs.microsoft.com
using this approach I can't update value to sharepoint list

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 234f0d1d-814d-f901-b165-211bed69242e
* Version Independent ID: bfc7f

[2020-05-12 21:02] phecke commented on #1365
@eromerof I have just updated the topic note with a link to instructions on how to enable the preview feature.

[2020-05-12 21:02] #1365 closed

[2020-05-12 21:31] eromerof commented on #1365
Thank @phecke !!

[2020-05-12 21:40] douggriffin-leavitt opened #1379 "Does this need an updated clientid?"
I have used these settings previously--about  a year ago--and they worked well. Now, I get this error when attempting to finalize auth:

[2020-05-12 22:11] JimDaly opened #1380 "Link to Sample: Query Metadata and Detect Changes is broken"
The link goes to https://docs.microsoft.com/en-us/dynamics365/customer-engagement/developer/org-service/sample-query-metadata-detect-changes, but it redirects to https://docs.microsoft.com/en-us/powerapps/developer/common-data-service/org-service/metadata-option-sets

It should go here: https://docs.microsoft.com/en-us/powerapps/developer/common-data-service/org-service/samples/query-metadata-chan

[2020-05-12 23:05] T-Benny opened #1381 "Editing User Status"
I noticed when editing the PowerApp there should be a button for users to edit their status once set (working from home/ out of office), but in my testing I am unable to edit status after it has been set. Additionally while reloading the page, the status text always returns to "Let others know where your are working" until you enter the Set Status menu again.

---
#### Document Details

⚠ *Do not

[2020-05-12 23:06] JimDaly commented on #1380
@phecke Can you fix this link please?

[2020-05-12 23:51] tapanm-MSFT commented on #1179
Thank you for reaching out. This is expected behavior. For both options (Work From Home or Out of Office), the app enables users to set a Out of Office message - which in effect will always change the Status on Teams (and O365 wide) to "Out of Office". A status for "Work from Home" at tenant level does not exist.

- For feedback about the Crisis Communication sample template, go to https://aka.ms/

[2020-05-12 23:51] #1179 closed

[2020-05-12 23:56] tapanm-MSFT commented on #1146
This is likely related to Data Loss Policies. If an Organization has all Data Loss Policies blocking access to connectors, they'd have to enable the RSS Feed connector on a policy. For more information, go to [Create DLP Policy](https://docs.microsoft.com/power-platform/admin/create-dlp-policy).

- For feedback about the Crisis Communication sample template, go to https://aka.ms/crisis-communicati

[2020-05-12 23:56] #1146 closed

[2020-05-13 00:02] tapanm-MSFT commented on #1138
Thank you for reaching out. The documentation has been updated. The current code snippet works correctly.

Additional observations for the given scenario in this issue:

1. CalanderComponent and WorkerStatusComponent are misspelled.
1. Documentation calls out to use code snippet with solutions older than 2020-03-16. With newer versions, only a few comments need to be removed from the code as docum

[2020-05-13 00:02] #1138 closed

[2020-05-13 01:22] phecke commented on #1347
@joepurnell88 It is not possible to use Azure AD app registration for authentication in the preview release. No word yet with regard to the final release.

[2020-05-13 06:24] Triangle333 opened #1382 "Enable SQL queries for SSRS reports"
Please enable read-only SQL queries for built-in SSRS reports. We still use them because PowerBI isn't as integrated to the UI as SSRS is. And PowerBI uses cached data approach while users prefer real-time data in reports.

And please update VS SSRS editor to work with D365, inability to run report from designer (which was broken long ago) is slowing development very much.

---
#### Document Detai

[2020-05-13 12:23] levchr commented on #1365
@phecke : seems to be enabled for me as the button is visible, but still no connection possible with the mentioned error....

[2020-05-13 12:44] levchr commented on #1365
@phecke - problem in front of the screen - forgot to enable the feature with this: https://docs.microsoft.com/en-us/powerapps/maker/common-data-service/view-entity-data-power-bi
works now perfectly - thanks

[2020-05-13 13:22] Hjaf opened #1387 "Purpose of Default vs DefaultSelectedItems and Selected vs SelectedItems"
Its unclear and confusing what the difference is between them. I'm assuming that Selected is simply First(SelectedItems), and DefaultSelectedItems is {Value: Default} depending on the SelectMultiple property.
Edit:
Found existing closed issue #285

Then it should not be there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-05-13 13:33] Hjaf commented on #285
@fikaradz

A year later and the attribute Default is visible in the studio, the fact that there are attributes not supposed to be used still available in studio should perhaps be an issue for more than just the documentation. Where can I report this issue?

[2020-05-13 13:47] paulhasell opened #1388 "Can't get the form to remember the Card Form"
Followed the advise on this page and still can't get the form to accept the card form settings, it keeps reverting :(

I have noted that the Card Form is not listing as a form in the App Designer for the custom activity either :((

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f8feb33-5440-75cb-a822-df28594faa5d
* Ver

[2020-05-13 15:09] Hjaf opened #1389 "non functional work in progress functionality in documentation"
Command bar – Displays available actions such as Save, Publish, Undo, and Redo.

[UNDO and REDO does not work and are supposedly a work in progress](https://powerusers.microsoft.com/t5/Building-Power-Apps/Bug-report-Undo-and-redo-not-working-on-build-v642/m-p/39479/highlight/false#M16379]), non functional buttons are even visible in the current version is really awful and false advertising that gi

[2020-05-13 15:56] TobyJH-gs opened #1390 "Still doesn't work"
Still does not save data back to source, even with the solutions above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 234f0d1d-814d-f901-b165-211bed69242e
* Version Independent ID: bfc7f9ce-90d5-5367-85fb-463c564a3db9
* Content: [Create a dependent drop-down list in a canvas app - Power Apps](https://docs.microsoft.co

[2020-05-13 17:34] Nkrb commented on #1352
@scottdurow Thanks for the feedback. This function is still not supported yet. Closing the issue.

[2020-05-13 17:34] #1352 closed

[2020-05-13 17:46] CeciAc opened #1391 "Outdate Info"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/powerapps-docs.es-es/issues/8

@JoseAntonioBarriga commented 19 hours ago — with docs.microsoft.com
This is an excellent paper. Really good. Unfortunately is outdated. Please update it.

------

Hello, @JoseAntonioBarriga&lt;https://github.com/JoseAntonioBarriga&gt;

We truly appreciate your comment and we strive to improve your exp

[2020-05-13 20:02] KumarVivek commented on #1320
@imranakram This is fixed now. Closing the issue.

[2020-05-13 20:02] #1320 closed

[2020-05-13 20:46] Nkrb commented on #1331
@dynamicscode Thanks for the feedback. It shouldn't take more than a minute for data binding to complete. Can you verify again and let us know if you are still having the issue.

[2020-05-13 23:24] CoreySutton commented on #1047
Any update on the availability of this feature?

[2020-05-13 23:38] phecke commented on #1347
@joepurnell88 Thanks for the feedback.

[2020-05-13 23:38] #1347 closed

[2020-05-13 23:42] phecke commented on #1359
@codes4pizza I will send your documentation enhancement request to the Program Manager for the feature.

[2020-05-13 23:42] #1359 closed

[2020-05-14 00:09] CoreySutton opened #1392 "Creating a new 'Help Page' - Setting Path"
Is there any available documentation to aid in creation of new Help Pages?

I am trying to create new Help Pages for the Opportunity entity. I understand how to populate 'Display Name', 'Content Type', 'Content' and 'Locale' fields, however I don't understand how to populate the 'Path' field.

Based on the Opportunity 'Help Page'  that came with the solution the path is:
`CDS/Apps/&lt;app_name&gt;

[2020-05-14 00:24] mjfjesus opened #1393 "Org Unique Name missing in call to Microsoft.Crm.SE.OrgDBOrgSettingsTool (Prerequisite step 6)"
Correct syntax of above command is:
Microsoft.Crm.SE.OrgDBOrgSettingsTool Update /u &lt;ORG_UNIQUE_NAME&gt; EnableTDSEndpoint true
where ORG_UNIQUE_NAME can be obtained in Dynamics 365 Advanced Settings (or PPAC legacy settings), Settings --&gt; Customizations --&gt; Developer resources, field Unique Name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-05-14 00:26] mayadumesh commented on #1359
It is a new endpoint for CDS. It does not have same functionality as FetchXML.
As you are building your queries they are run through CDS and return results. Your constrains are based on performance of your query not enforced number of rows returned.

[2020-05-14 00:30] mayadumesh commented on #1382
We are looking into new approaches to SSRS report. But do take a look at new Power Apps  integration of Power BI into application. You might like it for analytics!

[2020-05-14 00:33] mayadumesh commented on #1351
The current way to understand availability is at [https://docs.microsoft.com/en-us/powerapps/maker/common-data-service/view-entity-data-power-bi](https://docs.microsoft.com/en-us/powerapps/maker/common-data-service/view-entity-data-power-bi) . We are working on adding capability to admin portal soon.

[2020-05-14 00:57] tapanm-MSFT commented on #733
Thank you for reaching out. Please ensure the steps are followed correctly with connections created before import and flow created during import. And the connection names, flow name and list names are correct. If the issue persists, it needs investigation as part of incident based support. Please reach out to support teams using a [support service request](https://admin.powerplatform.microsoft.com

[2020-05-14 00:57] #733 closed

[2020-05-14 01:14] tapanm-MSFT commented on #635
Thank you for reaching out. Please ensure the device is in the device list with for this feature availability, including not supported references for auto mode. If the issue persists, please reach out to the [support teams](https://admin.powerplatform.microsoft.com/support) for issue investigation.

[2020-05-14 01:14] #635 closed

[2020-05-14 01:18] tapanm-MSFT commented on #587
Thank you for your feedback. You can check the upcoming [release plans](https://docs.microsoft.com/power-platform-release-plan) for feature updates. For new updates to features, you can also submit the idea or vote for one using the [Power Platform Community Ideas](https://powerusers.microsoft.com/t5/Ideas/ct-p/PA_Comm_Ideas).

[2020-05-14 01:18] #587 closed

[2020-05-14 01:38] tapanm-MSFT commented on #325
Thank you for reaching out. For issues with the feature, please reach out to investigate the problem with a [support service request](https://admin.powerplatform.microsoft.com/support). The X and Y values are saved and retained upon closing a maker session after saving, and then reopening a new maker session. However, if the issue persists in your environment, please seek help with support team an

[2020-05-14 01:38] #325 closed

[2020-05-14 01:40] tapanm-MSFT commented on #819
Closing due to no response.

[2020-05-14 01:40] #819 closed

[2020-05-14 01:46] tapanm-MSFT commented on #356
Thank you for reaching out. The [expense report sample tutorial](https://docs.microsoft.com/powerapps/maker/canvas-apps/expense-report-install) works as expected with the sample. For any environmental issues, please reach out to the [support teams](https://admin.powerplatform.microsoft.com/support) that can help you investigate the issue and fix.

[2020-05-14 01:46] #356 closed

[2020-05-14 01:54] tapanm-MSFT commented on #1123
Thank you for your feedback. Content is updated.

[2020-05-14 01:54] #1123 closed

[2020-05-14 02:17] tapanm-MSFT commented on #1274
Thank you for reaching out. The export control is not supported in a [web browser](https://docs.microsoft.com/powerapps/maker/canvas-apps/controls/control-export-import#limitations). You can try using mobile device. If the issue persists, please reach out with a [support service request](https://admin.powerplatform.microsoft.com/support) for issue investigation by support teams and help you fix th

[2020-05-14 02:17] #1274 closed

[2020-05-14 04:24] mayadumesh commented on #1393
Thank you! we will update the doc soon.

[2020-05-14 13:11] VinnyDyn commented on #1365
Thank @levchr for share the link! It worked 👍

[2020-05-14 14:05] m3ngi3 opened #1394 "Power Apps Client Application for Windows PC: premium trial popup"
With some customers that are still using the local Power Apps client installed on PC (I know 🙄 we already advised them to "go browser") --&gt; suddenly a premium license popup comes up. When the user opens the app in browser the premium license popup does not come up and app works fine... somehting changed or something to clarify in the Note above?

---
#### Document Details

⚠ *Do not edit this s

[2020-05-14 14:23] Angelakw12 commented on #1362
I get the same issue which is why the flow is not working.

[2020-05-14 16:37] tapanm-MSFT commented on #1379
@douggriffin-leavitt can you please share the content article link that the feedback is for?

[2020-05-14 16:37] rbrundritt opened #1395 "Update to use built-in map component"
Should this be updated to use the built-in map component? https://powerapps.microsoft.com/en-us/blog/new-geospatial-features-in-power-apps/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 981881ff-889a-2b0c-515e-c0e2af8e4357
* Version Independent ID: 9e9eaa4b-0743-eb5c-2e23-2bd437de733c
* Content: [Map component - Power

[2020-05-14 16:52] tapanm-MSFT commented on #1361
Thank you for reaching out. It might help if the connections, especially the Office 365 Users, are verified that they exist and work correctly. And you can also try to refresh the browser when replaying the app. You can also try to use a test SharePoint list with a test column of person/group type; and use this list in canvas app to check what the behavior is in this environment. If this still doe

[2020-05-14 16:52] #1361 closed

[2020-05-14 17:10] Nkrb commented on #1348
@gregdegruy Not the component directly. But if it is a field component,  you can use `clientAPI` methods to access and then bound attribute to Power Apps component framework, so `setValue` and `getValue` for attributes will work for the component bound to that field.

[2020-05-14 17:27] tapanm-MSFT commented on #1326
Thank you for reaching out. You can set Excel table column with data type of only date. And then, use sample such as the following:
```Patch(DateTime,Defaults(DateTime),{'DateTime (DateTime)':DatePicker1.SelectedDate})```
where DateTime is the data source, 'DateTime (DateTime)' is the column, DatePicker1 is the date picker and SelectedDate is the date selected. You can still update Excel column to

[2020-05-14 17:27] #1326 closed

[2020-05-14 17:40] madiepev opened #1396 "Can't find: Add an Image only control (Insert tab > Gallery)"
I try to follow the steps to add images from OneDrive by using the Excel Table. Nothing happens after I set Items = Jackets. I've tried it with different kinds of galleries (e.g. vertical or blank) but also noticed I see no "Image only control". Is there a step in the tutorial missing? Should it work with all galleries? Should we set it to image only in some way? Or specify the paths in the Excel

[2020-05-14 18:23] phecke commented on #1393
@mjfjesus The change has been published. Thanks for the feedback.

[2020-05-14 18:23] #1393 closed

[2020-05-14 18:27] iangpgh commented on #697
@MartijnElfers Thanks for your feedback. For product-related feedback, visit https://ideas.powerapps.com.
Closing this issue.

[2020-05-14 18:29] iangpgh commented on #697
@Mattp123 - Closes #697

[2020-05-14 18:33] iangpgh commented on #973
@Mattp123 - Closes #973

[2020-05-14 18:34] iangpgh commented on #1212
@Mattp123 - Closes #1212

[2020-05-14 21:12] tapanm-MSFT commented on #614
Thank you for reaching out. You can use [filter function](https://docs.microsoft.com/powerapps/maker/canvas-apps/functions/function-filter-lookup) with formula such as the following example: <br>
```Filter(Issues, 'Issue Status' = "Active")``` <br>
In this example, the 'Issues' is the data source connecting to a SharePoint list, 'Issue Status' is the column name and 'Active' is the status of an is

[2020-05-14 21:12] #614 closed

[2020-05-14 21:25] Nkrb commented on #1395
@rbrundritt The map sample is more for a demo purpose on how to build such type of component.

[2020-05-14 21:27] rbrundritt commented on #1395
Can we update it to us a Microsoft mapping platform? We have two to choose from.

[2020-05-14 22:17] #1001 closed

[2020-05-14 22:17] #388 closed

[2020-05-14 22:18] #436 closed

[2020-05-14 22:19] #491 closed

[2020-05-14 22:19] #545 closed

[2020-05-14 22:19] #555 closed

[2020-05-14 22:20] #565 closed

[2020-05-14 22:20] #829 closed

[2020-05-14 22:21] #945 closed

[2020-05-14 22:22] #861 closed

[2020-05-14 22:22] #939 closed

[2020-05-14 22:23] #1043 closed

[2020-05-14 23:18] Nkrb commented on #1395
@rbrundritt Closing this issue. Following up with you internally.

[2020-05-14 23:18] #1395 closed

[2020-05-15 03:29] gregli-msft commented on #769
Thanks for raising this.  The bug in the product has been fixed with version 3.20051.16, available with the Frequent cadence in some regions (I tested in Canada).  Please give it a try and let us know if it is not working properly.  Much better than adding a workaround to the docs.

[2020-05-15 03:29] #769 closed

[2020-05-15 05:59] bthompson-365 opened #1398 "How can you check if a global notification is visible on the screen?"
With Form notifications, the notification is kept there until logic on the form removes the notification.

With global notifications it is possible for a user to dismiss the global notification but there is no method by which any business logic can identify whether a notification has been dismissed or not. Could you either:

add an event handler on notification close
or add a getGlobalNotification

[2020-05-15 10:06] dmac1108 commented on #983
I am also having a problem with the quick create form, @AzmatMahsood.

[2020-05-15 10:09] dmac1108 commented on #983
This is working for me on a quick create form.

[2020-05-15 10:35] AzmatMahsood commented on #983
I used "setNotification" on a field which prevents the save and works on quick create

[2020-05-15 11:04] MaTeMaTuK commented on #746
@Nkrb, Could you please ask crm team about some, even approximately, estimate?

[2020-05-15 14:28] iiu-dk opened #1399 "this pages states it is not posible to write back to the model driven apps context... but this is not true longer, see this blogpost"
https://www.d365geek.co.uk/single-post/2020/04/16/Update-Model-driven-Record-from-Embedded-Canvas-App

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 047b94ce-db9f-ad01-5a62-b0539f2433cc
* Version Independent ID: 1a8a9d3c-2d8b-e13c-042b-0a48fc444956
* Content: [Guidelines on working with embedded canvas apps - Power App

[2020-05-15 16:52] Nkrb commented on #746
@MaTeMaTuK They are trying to take this up in the coming months, not sure about when this will be GA.

[2020-05-15 22:21] douggriffin-leavitt commented on #1379
The article "Set up a Postman environment" can be found here:
https://docs.microsoft.com/en-us/powerapps/developer/common-data-service/webapi/setup-postman-environment#connect-with-your-common-data-service-environment

Thank you

[2020-05-16 00:53] LinnZawWin opened #1400 "Trigger Event for control getValue() method"
Since addOnKeyPress client API is deprecated, how can the control getValue() method retrieves the value from the control as the user is typing in the control?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e4ccf4c-3e22-9ea3-d5be-98b221969e54
* Version Independent ID: a59fadf7-2ec0-8ad0-09c6-ac3f8887006c
* Content: [ge

[2020-05-16 01:42] denisem-msft opened #1401 "Please add a picture of the advanced find button"
New users will not know what the advanced find button looks like since it's just a filter icon. Please add a picture of the button as an example so new users can locate this and learn.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 349c57f6-1804-db23-3c38-f4c9dc5adaf2
* Version Independent ID: 11943f1c-46af-e0ec-c834-f

[2020-05-17 00:42] jamesnovak opened #1402 "fetchxml Results attribute"
https://docs.microsoft.com/en-us/powerapps/maker/portals/liquid/template-tags#results-attribute
this section defines several additional attributes available from the Results attribute:
`Entities, EntityName, ExtensionData, MinActiveRowVersion, MoreRecords, PagingCookie, TotalRecordCount, TotalRecordCountLimitExceeded`
Only Entities seems to return any data.  I have tried the following example and

[2020-05-17 07:18] bthompson-365 opened #1403 "SQL queries return different result sets to FetchXML"
It seems that plugins and rules are not being applied when I query data via TSQL rather than using a FetchXML report. As a test I have a preoperation plugin on multiple retrieve that is guaranteed to return zero results.

When that plugin is enabled a FetchXML request returns zero results, the TSQL request returns all records.

I can provide plenty of use cases where consistency is essential here

[2020-05-17 11:30] ElectricLlama opened #1404 "Clarification of incremental terminology"
Does this tool generate a full snapshot for each change? Or is it just changes? If it's just changes, how do you represent a deleted record in the T2 file? How frequently does this actually happen the document mentions "1 hour" but it's not specific. The another part says "Changes are pushed to the destination without you needing to set up refresh intervals.". If all I do is delete two records 5 m

[2020-05-17 11:57] jazmatician opened #1405 "Can we PLEASE have examples that don't include putting a password in the CODE???"
You really ought to be embarrassed making code samples that are so *horrifically* bad. NO ONE for any reason, at any time EVEN FOR AN EXAMPLE should put their password into the code. You should be demonstrating how to pop the AD Auth window and let the user provide their credentials at runtime!!!!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-05-17 20:36] mayadumesh commented on #1403
Yes, plugins are not part of current preview.  Making sure that plugins run will be a part of this endpoint at some point in the future. Today this is read-only access to the data as it exists without application of additional business processes that will change the data returned.

[2020-05-18 05:14] RedsGT commented on #1379
@dougelliott Just tested this with the latest version of Postman and a test CDS instance from scratch and it works fine for me.  Based on your error message it looked like something is is wrong with your clientId variable expansion, but Postman support would be a better place for that.

[2020-05-18 06:40] bthompson-365 commented on #1403
@mayadumesh Could you add a short note to the current documentation to highlight the fact plugin support is currently missing but will appear at a later date?

[2020-05-18 07:26] luke-siedle opened #1406 "How can I externalise dependencies like React so that it doesn't need to be bundled per component"
Is this possible? I am experimenting with importing multiple components for a client's custom DLS, but each time I import I am packaging fonts and React core. Can I build with external vendors and supply these through a window global for example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfca439f-2902-4e1c-47b2-e9

[2020-05-18 09:29] TheShihan commented on #1405
I too want to see an example, where no password credentials are used. Is there an example that shows us, how the already logged in user can access CRM data (Common Data Services Entities) by fetching his access token? Or is this not supported at all?

[2020-05-18 16:10] Nkrb commented on #1348
@gregdegruy I hope you got the answer you got it internally. Closing the issue.

[2020-05-18 16:10] #1348 closed

[2020-05-18 20:05] tapanm-MSFT commented on #1033
Follow up B) - IssuerFilter is used to have multiple users from different tenants login to a particular portal in a tenant. For example, a single tenant supporting users from multiple tenants to login. Generally, a custom policy is applied in the IDP to identify the user flow for sign in, sign ups and the claims associated which is then associated with a reply URL.

[2020-05-18 20:45] xairrick opened #1407 "is .execute supported ?"
The standard Xrm.WebApi  has .execute https://docs.microsoft.com/en-us/powerapps/developer/model-driven-apps/clientapi/reference/xrm-webapi and from the browser it appears like this method is available.  Can clarification be added as to whether or not the .execute method is supported in the PCF

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-05-18 20:59] Nkrb commented on #1341
@oiluis Thanks for the feedback. This issue is because you are trying to access the non-public nuget packages. We recommend end users to access publicly available nuget packages. Closing the issue.

[2020-05-18 20:59] #1341 closed

[2020-05-18 21:00] Nkrb commented on #1356
@scottdurow Thanks for contacting us. As we haven’t heard back from you, I am closing this issue. If you need further help, please reopen the issue or open a new issue.

[2020-05-18 21:00] #1356 closed

[2020-05-18 21:03] Nkrb commented on #1407
@xairrick Only API methods that are officially documented are only supported, even though you see them for the client API.

[2020-05-18 23:02] logandersen opened #1408 "Quick Create Form ID"
When I set ["useQuickCreateForm"] to true, the ["formId"] parameter is ignored. Is this the expected behavior. I would love to be able to specify which quick create form when I have an entity with multiple quick create forms.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b204ee0a-69a2-e52d-f110-2291be66c1af
* Version

[2020-05-19 00:00] LinnZawWin opened #1410 "Custom Command Bar Buttons on Dashboard in Unified Interface"
For Custom Command Bar Buttons from Dashboard Homepage tab to be shown on the Dashboard in Unified Interface, we need to have FCB.DashboardCustomizableRibbon in the clientfeatureset and otherwise, the built-in UCI command bar will render regardless of customizations applied to the ribbon XML version.

Is there any particular reason why it is not documented and raising a support ticket is the only

[2020-05-19 00:42] nadgw opened #1411 "Update SAML 2.0 Azure AD"
Are the instructions for SAML 2.0 for Azure AD up to date ? After step 2 it takes me to App Registration blade then from there I can't find the fields to update in steps 4 onward.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f15b7df3-dd92-cef2-f0cd-9a4274a9c5fc
* Version Independent ID: 6818fbbc-7255-3a2f-9d0e-d486b4

[2020-05-19 07:58] Papithasekar opened #1412 "Return only time value to Sharepoint list"
how to return only time value to SharePoint list.

Note:
I have created 2 drop down list for hrs & mins and used formula
Update = Hrs_dropdown1.selected value & ":" & Mins_dropDown2.Selected.Value  under time datacard.
When submitting its not returning any value to SharePoint list, Tried only with hours drop down, then it works. But i need both hours and mins value in the format (HH:MM).

Can you

[2020-05-19 08:04] bthompson-365 opened #1413 "Can you have multiple Quick Create forms attached to the same entity?"
This is connected to https://github.com/MicrosoftDocs/powerapps-docs/issues/1408 which asks about selecting a quick create form using NavigateTo. I always thought that although it's not imposed only 1 quick create form per entity was supported but that limitation doesn't seem to be mentioned here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-05-19 13:30] feridunkadir opened #1414 "Consider changing screenshot in step 3"
In step 3 under Create an application registration, the screenshot initially confused me.

I read the option **Accounts in this organizational directory only (Microsoft)** as meaning granting permissions to Microsoft rather than my own tenant.

It might be clearer to replace the screenshot or edit this one to show wording such (Customer tenant - Single tenant) or (Contoso - Single Tenant)

---
###

[2020-05-19 16:52] PeteW-S365 opened #1415 "Updated List of Restricted Entities"
I have raised this Microsoft online Support (Dynamics 365 Team).
They have confirmed that the Restricted Entities above have been updated as per the latest release notes. Although the notice at the top of the page, stating that the document is out of date has not been removed yet in error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-05-19 20:46] ianmckay-pmail opened #1416 "More examples please"
More examples please

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8bf3d3-12e3-5b55-8713-221cf5f5a30c
* Version Independent ID: 5a050d01-6ef6-97d6-07de-d5cac82dea06
* Content: [Combo box control: reference - Power Apps](https://docs.microsoft.com/en-us/powerapps/maker/canvas-apps/controls/control-combo-box)
* Conten

[2020-05-19 21:01] JohnBJones opened #1417 "Delegable Examples with Network Impact"
It would be very useful to provide an example illustrating a delegable formula and showing the network traffic for both SQL and SharePoint when dealing with a data source which contains thousands of records and for which the formula will return hundreds of records and with tabular controls such as gallery.

In this example should the first n records be returned to populate the gallery then as the

[2020-05-20 08:06] PranjaliShetty opened #1418 "openUrl Client API"
Users need to add "openInNewWindow: true" to URLOptions for height and width to be respected.
Please clarify this on the article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db17acbe-9556-ab39-0963-b3d3856714de
* Version Independent ID: 569f08a4-26d1-696b-cdd0-822ffa948f17
* Content: [openUrl (Client API reference) i

[2020-05-20 09:49] gitralf opened #1419 "ease of understanding..."
GDPR requires in Art 12: concise, transparent, intelligible and easily accessible form, using clear and plain language. I don't think that this page is (in some parts) in clear and plain language, for example for adx-notification or __RequestVerificationToken. Also some of the cookies are labeled as only session-persistent, others are not labled like isDST* or timezone*

---
#### Document Details

[2020-05-20 14:22] lsuhadolnik opened #1421 "Some caveats for beginners"
You should mention .resx files logic and localization here. The meaning of XXX-key properties is unclear at first.

There should also be a huge warning sign that double quotation marks ( " " ) are not supported in resx files and in the canvas apps editor. If you have quotation marks in your resx file, and you try to add the component onto a screen, the app crashes without warning (raises a JSON pa

[2020-05-20 14:26] lsuhadolnik opened #1422 "Enum property definition is missing"
There are no instuctions on how the Enum properties are defined. I found an explanation here: https://powerusers.microsoft.com/t5/Power-Apps-Pro-Dev-ISV/How-declare-the-key-value-of-the-property-type-enum/td-p/285447

This should be added here somewhere.

By the way, is there an XSD schema for the manifest? Can you provide a link to it?

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-05-20 17:00] akill25445 opened #1423 "Upsert option is not clearly documented"
Please elaborate on the upsert piece. If possible with an example. Reading through the current content, I really couldn't make out how to use an upsert using Web API

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08356781-8ff5-8696-0072-89fb392acc7a
* Version Independent ID: 80f74dc0-cb69-3ee7-0990-fc656e1c66ed
* Conte

[2020-05-20 18:16] Nkrb commented on #746
@MaTeMaTuK Closing the issue.

[2020-05-20 18:16] #746 closed

[2020-05-20 18:20] Nkrb commented on #1246
@bthompson-365 Global notifications cannot be initialized from Dashboards and entity list pages where you cannot add a JavaScript code to perform actions.

[2020-05-20 18:20] Nkrb commented on #1021
@tdutch1 Thanks for contacting us. As we haven’t heard back from you, I am closing this issue. If you need further help, please reopen the issue or open a new issue.

[2020-05-20 18:20] #1021 closed

[2020-05-20 18:21] Nkrb commented on #999
@abdelaziz-benelfakir Thanks for contacting us. As we haven’t heard back from you, I am closing this issue. If you need further help, please reopen the issue or open a new issue.

[2020-05-20 18:21] #999 closed

[2020-05-20 18:24] Nkrb commented on #1298
@dipushrestha Thanks for the feedback. We have updated the docs with the correct information and pushed to live. Closing the issue.

[2020-05-20 18:24] #1298 closed

[2020-05-20 19:09] JimDaly commented on #1423
Content says:

What part of this is the problem?
The example is identical to update using PATCH, except that the GUID value will be one you make up rather than one that exists.

The thing which may be missing is how this is frequently used with an alternate key.
We have an example showing retrieving with an alternate key:
[Retrieve using an alternate key](https://docs.microsoft.com/en-us/powerapps

[2020-05-20 19:25] srinivasdandu opened #1424 "Please include domain *.azure-apihub.net should not block"
This is domain also used in the test connection while using the connector. Please added in the document.

[2020-05-20 20:42] akill25445 commented on #1423
1) For me it'd have made more sense if the "id" is replaced by GUID (or) may be referred in the parenthesis like id (GUID).
2) Specifying about the alternate key with an example would have made my life so easier. (I understand that the alternate key was specified in the "Retrieve an entity" page but honestly I did not refer that page because my focus was to get the _upsert_ working.)
Hope it makes

[2020-05-20 22:30] JimDaly commented on #1423
Thanks for your feedback.
We can include an example showing use of the alternate key here.
Keeping this open until this is done.

[2020-05-20 22:47] CloudSmithBrandon opened #1427 "CDS for Code"
Version 0.9 of CDS for Code - a VSCode extension for working with CDS assets is on the way.  Many from the CDS/PowerApps community have asked about a VSCode add-in, and may not know about this tool.

This extension brings:

- Full solution and app management capabilities to VS Code
- Code templating specific to CDS artifacts (plugins, PCF controls, web resources)
- Solution/control packing and unp

[2020-05-20 23:17] mduelae commented on #1401
@denisem-msft Thanks for the feedback. Topic has been updated and changes will go live within the hour.

Thanks,
Mints

[2020-05-20 23:17] #1401 closed

[2020-05-20 23:20] mduelae commented on #1373
@AbdulWahabWarind You will need to contact support to figure this out.

To contact Support, see here: https://powerapps.microsoft.com/support/

Closing this issue

[2020-05-20 23:20] #1373 closed

[2020-05-21 03:08] Sudheerreddyn14 opened #1428 "SQL Error - Specified Cast is not valid (Object Explorer)"
I could connect to the server using SSMS, but while expanding the Databases I was getting this error "Specified Cast is not valid (Object Explorer)".

![image](https://user-images.githubusercontent.com/37790033/82519072-6d2a7c80-9b3e-11ea-8da4-ab69cdc3c6ee.png)

[2020-05-21 03:14] Sudheerreddyn14 opened #1429 "SQL Error - Specified Cast is not valid (Object Explorer)"
I could connect to the server using SSMS, but while expanding the Databases I was getting this error "Specified Cast is not valid (Object Explorer)".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60540f3d-b959-2daa-23a1-2938de01919d
* Version Independent ID: 07b12c3a-a0db-47f1-1aca-04008c9efca9
* Content: [Use SQL to

[2020-05-21 03:16] Sudheerreddyn14 commented on #1429
![image](https://user-images.githubusercontent.com/37790033/82519555-97c90500-9b3f-11ea-98aa-059da1aa55f2.png)

![image](https://user-images.githubusercontent.com/37790033/82519458-5fc1c200-9b3f-11ea-8ebc-8359d1b6b367.png)

[2020-05-21 09:28] HinaMS opened #1430 "By-Design behavior in Unified Interface"
The Hierarchy Form "Account Hierarchy Tile form" on Account Entity loads only 3 fields in UCI whereas in Classic Web Client it loads 4 fields.

The Hierarchy details are retrieved from form "Account Hierarchy Tile form" which contains 4 fields in it. In Classic Web Client, it shows up these 4 fields correctly when loading Hierarchy.

Repro steps (if it will be helpful for the audience to follow ar

[2020-05-21 10:32] Sudheerreddyn14 opened #1431 "Preview.Error: The type of the current preview value is too complex to display."
Hi, encountered below error while reviewing Account data in Power BI desktop

![image](https://user-images.githubusercontent.com/37790033/82550628-776b6b80-9b7c-11ea-9a4b-53d91c31f25d.png)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c3d27f9-66bc-5cd2-d8b5-9defc8eddfb0
* Version Independent ID

[2020-05-21 16:27] JimDaly commented on #1232
Thanks. Sorry to send you in the wrong direction.
This does not work today. I've created a workitem enable it. It is in our backlog.

[2020-05-21 16:34] #1232 closed

[2020-05-21 17:09] pratapladhani opened #1433 "Broken link"
The link to image capture pro tips in the For more information section : https://powerapps.microsoft.com/blog/image-capture-pro-tips/ is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea4ec8d3-8f91-d970-3722-133114c62f4a
* Version Independent ID: 5cae347b-2a12-f0f4-95e6-35abaa23cb8c
* Content: [Embed multimedia

[2020-05-21 21:57] DTronD commented on #582
Yes, it would greatly help if this was corrected so the Email property actually contained the user's primary email address instead of the UPN mislabeled as Email.

[2020-05-21 22:30] DTronD commented on #582
Also, it might be useful to note a workaround to get the actual (primary) email for a user is to use the Office365 Connector and either of the GetMyProfileV2 or GetUserProfileV2 actions/methods. E.g.
Set(global_CurrentUserEmail, Office365Users.MyProfileV2().mail);

[2020-05-21 22:31] mayadumesh commented on #1429
we are looking into it, but have no updates at the moment.

[2020-05-22 00:06] phecke commented on #1428
@Sudheerreddyn14 Are you trying to access the entity tables using the new SQL endpoint of CDS?

[2020-05-22 00:08] phecke commented on #1424
@srinivasdandu Can you provide a link to the documentation that you were following when you came across this problem. Thanks

[2020-05-22 00:44] garethcheyne opened #1434 "Liquid group_by"
Would be fantastic if you could inject a filterby field = value in to en entity list via liquid, to hard limit results.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e46dc750-10f1-6755-5ff0-86156b9db110
* Version Independent ID: d1335f42-fabb-61c0-5d38-a718b28d7a65
* Content: [Render the entity list associated with th

[2020-05-22 01:03] tapanm-MSFT commented on #1166
Thank you for the feedback. Content is updated with more details and example. The updates include text, HTML and liquid tag use. Using HTML in snippet instead of text allows use of HTML inside snippet for rendering. Liquid tags can be used to reference Dynamics 365 entity records. Please allow some time for changes to reflect.

[2020-05-22 01:03] #1166 closed

[2020-05-22 01:16] tapanm-MSFT commented on #1396
Thank you for your reaching out and your feedback. The content is updated. Please allow some time for changes to reflect.

[2020-05-22 01:16] #1396 closed

[2020-05-22 01:17] tapanm-MSFT commented on #1433
Thank you for your feedback. Content is updated, please allow some time for changes to reflect.

[2020-05-22 01:17] #1433 closed

[2020-05-22 05:42] pritchie99 opened #1435 "On Lookup Click is great - is there an On Lookup Create Click?"
Intercepting this event is great as it has been shown elsewhere that we can use addOnLookupTagClick to view/edit the selected record in a modal popup form instead of the default action which is to navigate away from the current form.  I can even leave the entityId undefined in the javascript and the form will allow me to create a new record rather than edit the existing record as shown here:-
http

[2020-05-22 12:01] vaibhavantriwale commented on #1269
I guess you got it right since I was also unable to find this option even as Tenant Admin. I came across this question on Powerusers forum @ https://powerusers.microsoft.com/t5/Power-Apps-Governance-and/Custom-Domain-on-PowerApps-Portals/td-p/356177
In last comment PowerApps staff  has mentioned that "Important thing is to ensure that your powerapps portal is in production state and is not trial a

[2020-05-22 14:22] imranakram opened #1437 "Option to show or hide header on confirm dialog"
Hi,
I'd like to suggest a feature to add option to Show/Hide header in the confirm dialog. Without title text the white space above looks quite ugly.

![image](https://user-images.githubusercontent.com/13014005/82677451-55d7b600-9c48-11ea-9c67-10557b584996.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77b84ce4-88

[2020-05-22 15:39] Ale-Cesetti opened #1438 "Connecting to SSMS when MFA is enabled"
I would like to know if this is possible. I am trying and getting the following error:

"AADSTS50076: Due to a configuration change made by your administrator, or because you moved to a new location, you must use multi-factor authentication"

Is there any workaround other than disabling MFA for my user?
Are you considering adding this feature? When?

Thank you!!

[2020-05-22 15:44] vcb-xrmvision opened #1439 "AuthValue missing format documentation"
I'm trying to update a webhook registration using Http Query String and I'm unable to find any documentation how can we update the query string of a web hook registration?

ex. [appservicename].azurewebsites.net/api/[functionnmame]?code=[functionKey varies on each envir]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3

[2020-05-22 18:37] yashpatel22 opened #1440 "Please add Q&A for SharePoint Site Address Update Effect on Custom Forms Created in Power Apps"
Q: What happens to my Custom Form if I update my SharePoint Site Address?
A: You need to recreate the Custom Form after the site address change.
https://docs.microsoft.com/en-us/sharepoint/change-site-address#effects-of-changing-a-site-address

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eacf34e-9ae6-5c64-5fec-c250f

[2020-05-22 20:58] iangpgh commented on #1278
@DennisGaida Thanks for reporting this. This issue is now corrected.
https://docs.microsoft.com/en-us/powerapps/maker/common-data-service/data-platform-cds-newentity-pq

[2020-05-22 21:03] iangpgh commented on #1278
resolved
@Mattp123 - Closes #1278

[2020-05-23 18:24] shrikantdatke opened #1441 "No traces or Logs visible in Application Insights"
Hello,

I have followed all the steps given in this document, but I see no traces or Logs visible in Application Insights. I am sure I have properly added Instrumentation Key in the Power Apps, App Object.

I have been waiting for more than 2 hours, but no logs or events visible. I even don't see the Users in Usage instead I see "Your app needs to send custom events or page views to Application In

[2020-05-24 10:28] joseabadg opened #1442 "OnSelect function Export button doesn't work"
OnSelect function Export button doesn't work  on Android and before and after save the package, the code not executed at all.

https://docs.microsoft.com/en-us/powerapps/maker/canvas-apps/controls/control-export-import

[2020-05-24 12:43] aengusheaney commented on #1441
Hi Shrikant,

Did you publish your app after updating the App Insights key? Also, the events will only get logged to App Insights when you play the published app. If you have already done this, could you provide the appid which you have associated your App Insights key to, and also we can set up a quick call to discuss further.

Thanks!
Aengus

[2020-05-25 05:51] shrikantdatke commented on #1441
Hello Aengus,

Thanks for writing me back. Yeah I am 100% sure that I have updated the correct App Insight key. So is the reason I am bit confused about why it doesn't work, and yes even after Publishing and playing the app. And my is very simple, has a "Hello World" label on the screen. Whereas following your article I have   written a simple code on the App Start

_/*Configuration variables */
S

[2020-05-25 07:33] aengusheaney commented on #1441
It looks good. Can you email me on aheaney@microsoft.com and i will schedule a teams call. Thx, Aengus

[2020-05-25 07:54] timrobinson33 opened #1443 "Information on ADAL is outdated"
the information on ADAL seems out of date. According to this link: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet ADAL v2 is no longer supported at all, and ADAL generally has been superseded by MSAL

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62419bb8-985c-cb11-ac8d-2d018868c2a6
* Version Indep

[2020-05-25 09:11] nickbrandl opened #1444 "Wrong Information on step 6 under "Step 1: Add or update search site settings""
In the step 6 under the step "Step 1: Add or update search site settings", from your sample it looks like we have to use the entity collection name, but this would lead the the error "Error getting EntityMetadata for <entitycollectionname>". We have to use the entity logical name instead. Please clarify what is the proper metadata to use here.

---
#### Document Details

⚠ *Do not edit this sectio

[2020-05-25 09:38] nickbrandl opened #1445 "Web Page address missing"
In the "Step 4: Add a webpage", you don't specify what the url for the web page is. Using this step by step guide, I was able to display search results, but It seems I cannot browse to the details page (which I assume is what we create on step 4).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62fc0169-247f-15d5-44ee-b

[2020-05-25 09:58] shrikantdatke commented on #1441
Hi Aengus,

I have sent you the meeting invite. Ready when you are.

[2020-05-25 10:58] MMT0905 opened #1446 "What if enable MR is not available?"
When I first tried this, the feature was not available in my Power Apps tenant. After removing the subscriptions and then adding back my subscriptions, it appeared to update my tenant, and this feature is now available. It may be useful to make a note for others to do the safe if they don't see the MR under experimental features.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-05-25 13:22] CRMconsultUK opened #1447 "Needed to change the OrgDBOrgSettingsTool_SKU node to 'Online' for it to work for me."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c3d27f9-66bc-5cd2-d8b5-9defc8eddfb0
* Version Independent ID: c45841f0-1488-8c30-8a7c-3a522ec63266
* Content: [View entity data in Power BI Desktop (Preview) - Power Apps](https://docs.microsoft.com/en-us/powerapps/maker/common-data-service/view-enti

[2020-05-25 13:23] CRMconsultUK commented on #1447
Following the instructions still caused an error, but changing OrgDBOrgSettingsTool_SKU to 'Online' worked for me.
Also adding my credentials in to OrgDBOrgSettingsTool_UserName
Neither are mentioned in the documentation.

[2020-05-25 18:56] fberasategui opened #1448 "Please add an example showing how to download File data using OrganizationService"
As the title suggests.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85c3eac9-b083-b974-0938-3e8fd19bbb58
* Version Independent ID: 2c6dfac6-25b8-876c-2b94-fa9d466007df
* Content: [File attributes (Common Data Service) - Power Apps](https://docs.microsoft.com/en-us/powerapps/developer/common-data-service/file-attribut

[2020-05-26 07:16] timrobinson33 opened #1450 "should mention XRM"
Its says "we don't provide assemblies for a specific developer experience", but as far as I can tell, the XRM SDK is exactly this. Maybe the "we" who authored this section is different from the group that developed the XRM Libraries but it would certainly be useful to many readers to at least indicate the existence of the XRM at this point.

[2020-05-26 13:28] imranakram commented on #1232
I'm hoping this would be available for onprem as well 🤞

[2020-05-26 16:41] Nkrb commented on #1450
@timrobinson33 Can you point us to the doc you're talking about, so that we can assign it to appropriate person.

[2020-05-26 16:42] Nkrb commented on #1438
@Ale-Cesetti Can you point us to the doc you're are talking about, so that we can assign appropriate person.

[2020-05-26 16:45] Nkrb commented on #1407
Thanks for contacting us. As we haven’t heard back from you, I am closing this issue. If you need further help, please reopen the issue or open a new issue.

[2020-05-26 16:45] #1407 closed

[2020-05-26 18:01] JimDaly opened #1451 "Include information about columns that may contain unicode characters"
See https://docs.microsoft.com/en-us/powerapps/developer/common-data-service/define-alternate-keys-entity

I think you should include something about this within this topic. Otherwise people may be surprised that they can't retrieve or update entities with these alternate keys.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-05-26 19:33] timrobinson33 commented on #1450
Sorry I thought I clicked to leave feedback on the specific page. it's this one

https://docs.microsoft.com/en-us/powerapps/developer/common-data-service/webapi/overview

the third paragraph in the top section

[2020-05-26 19:35] HarryGifford opened #1453 "Should the API Permissions be updated to "PowerApps Runtime Service?""
There is a PowerApps API with prefix `http://rts.powerapps.com/`, which contains a `user_impersonation` permission for the Common Data Service. Is it a drop in replacement for the Dynamics CRM API? I noticed that the `docs` link points to the newer [PowerApps CDS Overview](https://docs.microsoft.com/en-us/powerapps/developer/common-data-service/overview) page.

Should the docs be updated to use th

[2020-05-26 19:46] Ale-Cesetti commented on #1438
Hi @Nkrb

I installed and configured the SSMS (SQL Server Management Studio) to use against the CDS and it is working when MFA is disabled but fails when enabled. I read the documentation here:

https://docs.microsoft.com/en-us/powerapps/developer/common-data-service/cds-sql-query

Thank you!!!

[2020-05-26 23:37] tapanm-MSFT commented on #1444
Thank you for reaching out. The walkthrough tip at the [beginning](https://docs.microsoft.com/powerapps/maker/portals/configure/search-additional-entities#walkthrough---configure-search-for-additional-entities-with-sample-database) mentions:

*You can follow the walkthrough with an entity of your choice by replacing the nwind_products entity name with your **entity's logical name**.*

[2020-05-26 23:37] #1444 closed

[2020-05-26 23:43] tapanm-MSFT commented on #1445
Thank you for reaching out. The page created in step 4 needs to be used in [step 5 instructions](https://docs.microsoft.com/powerapps/maker/portals/configure/search-additional-entities#step-5-add-a-site-marker-for-the-search-results-details-page) to create site marker. Since this is a walkthrough with sample illustration, you can either keep the page URL default or change as per your requirement.

[2020-05-26 23:43] #1445 closed

[2020-05-27 02:10] hitendra72 opened #1454 "List of connectors supporting Guest Access"
Hi

In the document ref sharing apps with guests (https://docs.microsoft.com/en-us/powerapps/maker/canvas-apps/share-app#share-with-guests), there is a table of connectors supporting Guest Access

In this table, CDS is marked as "No", i.e. CDS does not support guest access

But in actual practice, it is found CDS does support guest access. Here's a blog which talks of this. https://powerplatform.s

[2020-05-27 05:05] unlimitedduck opened #1455 "Power Apps Component Library Share Issue"
I've created a Brand Color Component library in Power Apps for work and then shared via the "Everyone" option set as a user.  Come to find out that is not working.  I thought maybe something work did and I tried it out on my personal developer account and same thing.  @yifwang do you have any insight since you have written and co-shared on the Power Apps Component piece why share with "Everyone" i

[2020-05-27 10:12] imranakram opened #1456 "How to use filters?"
I have reached a hair pulling point with applying filters basically. Here's how I'm setting up filterXml. Nothing seems to be having any effect on the view. I have tried with a specific view and without. With `entityLogicalName` and without also. This is onprem v9.0. This is in using web client legacy UI. Any tips or suggestions?
[code]

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-05-27 13:28] reynirk opened #1457 "Dynamics 365 - Embed Power BI Report on Account form with Filter"
Hello, I have a question regarding how to embed a BI Report on an Account form using the Accountnumber as Filter.

The data used in the Report is not CRM data, but from an external data source.  The Accountnumbers in CRM are numeric and can start with zero (ex.  010101).  When I use Accountnumber as Filter the Report is not filtered at all on the form, if I use the Name field, for testing purpose,

[2020-05-27 18:56] gregli-msft opened #1458 "The RequestHide function is not documented"
No mention in the function list [https://docs.microsoft.com/en-us/powerapps/maker/canvas-apps/formula-reference](https://docs.microsoft.com/en-us/powerapps/maker/canvas-apps/formula-reference) and no corresponding reference article.  What does it do?  Does it only work in a SharePoint form?  Does it error outside of this context?  Why isn't it on the SharePoint integration object?

---
#### Docume

[2020-05-27 21:08] davenull311 opened #1459 "Multi-language support for external-facing entities on Portals?"
It is my understanding that separate translated webpages can be displayed based on the user's preferred language selections, but because an external user does not have a license for the system, the labels/views/etc. that would be translated for users within the system still display as the default language to those external users.

Does the DTS translation apply to external Portals users, or is the

[2020-05-27 22:00] JimDaly opened #1460 "Information in wrong place"
This section, about working with Attribute metadata should include information about, well, 'working with attribute metadata'.

Instead, it includes information about how to work with file data...a very different thing.

Data operations (Retrieve, Upload, and Delete) should be split and put along with other similar content.

SDK examples should be here:
https://docs.microsoft.com/en-us/powerapps/d

[2020-05-27 22:16] RedsGT commented on #1456
@imranakram You're probably better off posting over on the community forums at [https://community.dynamics.com/crm](https://community.dynamics.com/crm) .  Power users and MS Support monitors them.

[2020-05-28 00:10] yifwang commented on #1455
Hi @unlimitedduck, do they not show when you open "Get more components" and try to insert to your apps? I'm still seeing components shared with me. Please provide some details such as your app ID and App session. It will help with debug. Thanks!

[2020-05-28 01:53] unlimitedduck commented on #1455
@yifwang thank you for responding.  I won't be able to share app id and app session for my company will not allow.  I could possible share later my developer account app id and app session.  Do explain further.  When a user creates a canvas app and then when they go into the insert pane and at bottom select "Get more components" the pop up opens for components but the library component that is sha

[2020-05-28 09:44] JeroenDaniels commented on #524
I have the same issue:
##[error]Exception calling "ShouldContinue" with "2" argument(s): "Windows PowerShell is in NonInteractive mode. Read and Prompt functionality is not available."

Is there a solution?

[2020-05-28 14:35] nickbrandl opened #1462 "Missing examples"
I'm struggling when working with sub-grids on a form. It would be really nice that you provide working examples for each scenario. It is not the same try accessing the content of a sub-grid from an event in the sub-grid than doing the same from a form event or a command in the ribbon.

I'm struggling now while trying to disable a field in an editable grid and so far, I've been unable to access it

[2020-05-28 15:56] Nkrb commented on #1246
@mmcguinness @bthompson-365 Thanks for contacting us.  I am closing this issue. If you need further help, please reopen the issue or open a new issue.

[2020-05-28 15:56] #1246 closed

[2020-05-28 16:00] Nkrb commented on #1331
Thanks for contacting us. As we haven’t heard back from you, I am closing this issue. If you need further help, please reopen the issue or open a new issue.

[2020-05-28 16:00] #1331 closed

[2020-05-28 16:04] Nkrb commented on #1202
@MaTeMaTuK Thanks for the feedback. We have informed the engineering team to look into this issue. Closing the issue.

[2020-05-28 16:04] #1202 closed

[2020-05-28 16:07] Nkrb commented on #633
@alano444 Can you confirm if you are still facing the issue.

[2020-05-28 16:12] Nkrb commented on #479
@RickardNo Here is the link to download the template https://marketplace.visualstudio.com/items?itemName=DynamicsCRMPG.MicrosoftDynamicsCRMSDKTemplates. It should work with VS 2017 version too. But there is no newer version released version after this.

[2020-05-28 16:14] Nkrb commented on #492
@awadbensaleh Filtering property should work on UCI too. I am closing this issue. If you need further help, please reopen the issue or open a new issue.

[2020-05-28 16:14] #492 closed

[2020-05-28 16:14] Nkrb commented on #542
Thanks for contacting us. As we haven’t heard back from you, I am closing this issue. If you need further help, please reopen the issue or open a new issue.

[2020-05-28 16:14] #542 closed

[2020-05-28 16:24] dhawal16 commented on #1268
Hello Tapan,

Not sure why this has been closed without confirming with me.

Can i request you to please read the issue i have mentioned again. It did not failed for me but issue is something as mentioned below. I am mentioning the steps again here.

Please see the steps below to reproduce the issue, so not sure if this is an issue or need to change the documentation.

Created a new environment "E

[2020-05-28 22:59] aliyoussefi commented on #1441
I'm interested in following this one @aengusheaney. @shrikantdatke I believe you opened a similar issue in my github repo. Did you resolve your issue?

[2020-05-29 07:47] JannyM85 opened #1463 "Input.xml have to be with capital letter"
Hi, i published new product, and I got error about missing file Index.xml. On this page is file name with lower letter but it has to be with capital letter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2af3070-30b8-395e-ea51-86e954e3b006
* Version Independent ID: c1e95af9-6261-7da1-07ce-1b8986ef3738
* Content: [Step

[2020-05-29 15:44] samathur opened #1464 "Minor edit in text that's conveying possibly opposite meaning vs intent"
I believe in the following sentence, the author wants to imply the lower level entities within the component list such as forms within entities are quite large in number. Hence, the NOT highlighted in bold should be removed.

There are actually twice as many types of components as shown in the preceding list, but most of them are **not** nested within other components and not visible in the applic

[2020-05-29 17:15] phecke commented on #1464
@samathur Please provide us a link to the topic that you are referring to and we will take a look. Thanks

[2020-05-29 17:30] phecke commented on #1455
@unlimitedduck Please provide a link to the documentation that is related to what you are trying to do. Thanks

[2020-05-29 17:46] tapanm-MSFT commented on #1324
Thank you for reaching out. Though not possible today, there has been discussion ongoing for this feature ask. Please feel free to submit this as an idea (or vote for existing ones) using [Power Apps Community Ideas Forum](https://powerusers.microsoft.com/t5/Power-Apps-Ideas/idb-p/PowerAppsIdeas). Upcoming release notes are available at [release plans documentation](https://docs.microsoft.com/dyna

[2020-05-29 17:46] #1324 closed

[2020-05-30 00:05] samathur commented on #1464
The second to last paragraph on https://docs.microsoft.com/en-us/powerapps/maker/common-data-service/solutions-overview

[2020-05-30 06:00] unlimitedduck commented on #1455
@phecke here is the link to the white paper:  [https://docs.microsoft.com/en-us/powerapps/maker/canvas-apps/component-library#component-library-permissions]
 and link to what is on github: [https://github.com/MicrosoftDocs/powerapps-docs/blob/live/powerapps-docs/maker/canvas-apps/component-library.md]

I have also added a document showing what is taking place.
[Component Library issue.docx](https:

[2020-05-30 13:48] scottdurow opened #1465 "getNamedReference does not return EntityReference shape"
The shape of the response from getNamedReference does not appear to be of EntityReference.
The Id is a simple string and there is no etc property - instead, it is LogicalName

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bf4fead-c302-ba17-c36c-785976c2df87
* Version Independent ID: 19655865-7c82-8d37-ccda-6d60436f552

[2020-05-30 13:49] shrikantdatke commented on #1441
Thanks Aengus, for helping to sort this out and some other great tips with Monitoring. Waiting for more excited PowerApps - Monitoring releases.

[2020-05-30 13:49] #1441 closed

[2020-05-30 22:06] glenr4 opened #1466 "Why has DetailForm screen been removed?"
Hi,
I am trying to follow this tutorial but it looks like the DetailForm screen has been removed. The only option for a Form is an Edit form. Is there any reason for this? The Edit form takes quite a bit of customisation to be readonly.

Is this a mistake? Am I missing something?

![image](https://user-images.githubusercontent.com/15870389/83339901-8937d600-a315-11ea-8a5c-5a5edf5c0ba4.png)

---
##

[2020-05-31 06:39] gopala000 opened #1467 "How can I create a power app and deploy using AppSource?"
I'm looking for pointers to create a power app for dynamics 365 and monetize using AppSource. Though this document explains concept call package, it does not tell how I can include a power app in the package. There is no example of what goes in the solution. Any pointers will be helpful.

[2020-05-31 09:07] #973 closed

[2020-06-01 16:38] Nkrb commented on #1422
@lsuhadolnik Thanks for the feedback, you should define the Enum data type as you do it for other data types as described in the doc. There is no Public XSD file available to the users. Closing the issue.

[2020-06-01 16:38] #1422 closed

[2020-06-01 18:35] Nkrb commented on #1437
@imranakram Thanks for your feedback. For product-related feedback, visit https://ideas.powerapps.com. Closing this issue.

[2020-06-01 18:35] #1437 closed

[2020-06-01 21:23] CeciAc opened #1468 "Canvas apps integrated into websites and other services cannot be accessed in Firefox and Chrome"
The comments below were machine translated
Moved from: https://github.com/MicrosoftDocs/powerapps-docs.zh-cn/issues/5

@Risin9 commented 21 hours ago

Canvas apps integrated into websites and other services cannot be accessed in Firefox and Chrome

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 559b4613-fbe0-45dc-f8bf-f

[2020-06-01 22:23] yifwang commented on #1455
@unlimitedduck That's odd and thanks for the detail. It's something new, we haven't seen similar behavior. Do you see this in one tenant or multiple tenants? Also, when you share the library, does it work if instead of "Everyone" add a few specific email alias? I think Everyone in sharing is supposed to be Everyone in an alias group, what does it do if you try Everyone in different alias groups? T

[2020-06-02 05:17] unlimitedduck commented on #1455
@yifwang I found that on work tenant and my personal developer tenant is the same.  That's how I tested my theory for work tends to have more restrictions than a full access developer tenant account.  If I just put in someones name than it works.  This is both in work tenant and developer tenant account.  Tried to see if would pick up on O365 Teams Groups but Power Apps doesn't recognize them.  I'

[2020-06-02 05:25] sumitthakran commented on #756
hi guys,

i am also facing same issue . i tried running npm i -g command to install devDependencies.
but still my issue is not resolved.

Any help

Thanks

[2020-06-02 10:14] jafar-pa opened #1469 "Launch MS Teams from PowerApps canvas application"
Hello,

I was doing an experiment with "Launch" function inside powerapps canvas application(this application is embedded with MS Team) , on button click event, based on the desired team passed as param, it will navigate to the desired team tab with in the Microsoft teams client app
I tried this way:
use Launch(<link to the team>)

Any guidance on how to layer this in would be appreciated.

Regard

[2020-06-02 10:35] timrobinson33 opened #1470 "Authenticating for every request is not viable in most production applications"
I am concerned that the top paragraph describes the code samples here as "re-usable" implying that you could simply copy and paste them into a production application, and I'm sure many pushed-for-time developers would do so without looking too closely at it.

However, the code causes the authentication to be re-executed for every request. Testing this on my home broadband, the authentication alone

[2020-06-02 10:45] soutchilin opened #1471 "Outdated information on the page"
Hi,

following section seems to be outdated. The read operations are supported (s. section "User and support-related events" in https://docs.microsoft.com/en-us/power-platform/admin/enable-use-comprehensive-auditing)

Not supported for auditing
The following lists what cannot be audited for Common Data Service:
Audit of read operations
Audit of metadata changes

Regards,
Alexander

---
#### Docume

[2020-06-02 13:59] davenull311 commented on #1459
Hi - just wanted to follow up on this and see if there was any additional info that I could provide to help get a resolution. Thanks!

[2020-06-02 16:04] Nkrb commented on #756
@sumitthakran Thanks for the feedback. Please raise the issue in the [community forum](https://powerusers.microsoft.com/t5/PowerApps-Component-Framework/bd-p/pa_component_framework). Our developers will help you resolve the issue. Closing the issue.

[2020-06-02 18:26] tapanm-MSFT commented on #1467
Can you please share the article link that this feedback is related to?

[2020-06-02 18:35] tapanm-MSFT commented on #1454
Thank you for reaching out and your feedback. Documentation is updated. Please allow some time for changes to reflect.

[2020-06-02 18:35] #1454 closed

[2020-06-02 20:21] JimDaly commented on #1470
@Tim -
The code includes the token with each request, but it doesn't actually acquire a new token each time.
The ADAL library manages this and doesn't actually get a new token each time. It is only refreshed when it is needed.

This is the pattern recommended by ADAL.

As far has using HttpClientFactory, if this were a .NET Core sample that would be an option. But this is a basic quick start using

[2020-06-02 21:10] Nkrb commented on #1337
@blockingHD Thanks for the feedback. As per our testing, we see that the `OpenConfirmDialog` method works even though you don't provide `confirmOptions`. Can you confirm if you're still facing the issue.

[2020-06-02 21:29] Nkrb commented on #1227
Thanks for your feedback. For product-related feedback, visit https://ideas.powerapps.com. Closing this issue.

[2020-06-02 21:29] #1227 closed

[2020-06-02 21:31] timrobinson33 commented on #1470
Hi Jim and thanks for taking the time to reply. I didn't copy it verbatim but I thought mine was esentially the same and it was definitely re-authenticating every time. I'll take a closer look

[2020-06-03 08:38] timrobinson33 commented on #1470
Hi Jim,

I have now tested this with exactly the code from the sample, and I'm not seeing what I think you're saying I should be seeing. My test was to run the WhoAmI function in an infinite loop in the main() method.

If I put the SampleHelpers.GetHttpClient call inside the loop, then each iteration of the loop takes about 150ms and I can see a ton of debug output where it's re-authenticating eac

[2020-06-03 12:34] Miesjh opened #1472 "Issue with Async Function in onchange event and pressing save"
Maybe the documentation is missing something about running async functions in the onchange event of a field.

We had a onchange event where we did an async call to an action. The result of this action was used in a calculation to fill a certain field. This onchange worked fine when we filled in the value in the field and then pressing TAB after that.

Example: Field A = Field B * Result Action;

I

[2020-06-03 16:25] Nkrb commented on #1421
@lsuhadolnik Thanks for the feedback. We have added a Note to see the localization sample if a user wants to localize their components. Closing the issue.

[2020-06-03 16:27] Nkrb commented on #604
@devlinl Thanks for the feedback. We have updated our docs. Closing the issue.

[2020-06-03 16:27] #604 closed

[2020-06-03 18:24] nadgw commented on #1411
Any update on this documentation ?

[2020-06-03 22:16] yifwang commented on #1455
Hi @unlimitedduck , it's probably something with sharing. Here is my screenshot of sharing. Type everyone gives a list of groups to share. Does this look similar? I will report your case to the team and they will investigate and get in touch with you. Thanks!

![image](https://user-images.githubusercontent.com/23063489/83693543-252e3f80-a5ab-11ea-8c77-58978fa3b3e7.png)

[2020-06-04 00:22] unlimitedduck commented on #1455
@yifwang this is what it looks like for both developer account and work account:

![DeveloperAcctIconViewEveryone](https://user-images.githubusercontent.com/65996048/83701356-43ea0180-a5be-11ea-8808-2f018ba1d2fd.png)
![WorkAcctIconViewEveryone](https://user-images.githubusercontent.com/65996048/83701366-4cdad300-a5be-11ea-88c1-a1d9b34d87c0.png)

Let me know if this sheds extra light on the situati

[2020-06-04 02:01] tapanm-MSFT commented on #1466
Thank you for reaching out. Please follow the [prerequisites](https://docs.microsoft.com/powerapps/maker/canvas-apps/customize-forms-sharepoint#prerequisites) for this tutorial first. The DetailForm1 is available in the tree view on the left inside the DetailScreen1 (after following prerequisites).

[2020-06-04 02:01] #1466 closed

[2020-06-04 08:18] Stevef1 opened #1474 "Custom list form download issue in Chromium 83"
Is there any update on the first issue - problems downloading custom list form attachments in Chromium 83? The workaround of changing the list form is cumbersome for the use case of my users.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37b83052-49f1-5a09-7aba-9f0d5046d850
* Version Independent ID: 0289a85b-fc50-bf14-

[2020-06-04 16:33] #1029 closed

[2020-06-04 16:49] #994 closed

[2020-06-04 16:52] Nkrb commented on #1109
@polshgiant  Can you confirm if  you are still facing this issue. We don't find any issues using the search parameter in the method and always gets the desired results.

[2020-06-04 16:56] Nkrb commented on #1215
@rajagops Unfortunately we can't provide the GA dates for the features. They tend to be changed because of numerous factors. Closing the issue.

[2020-06-04 16:56] #1215 closed

[2020-06-04 18:24] tapanm-MSFT commented on #984
Thank you for your feedback. Content is updated. Please allow some time to reflect the changes.

[2020-06-04 18:24] #984 closed

[2020-06-04 19:44] tapanm-MSFT commented on #1268
Thank you for reaching out again. When a user has no access for Azure App Registration, the portal creation shows [an error](https://docs.microsoft.com/powerapps/maker/portals/faq#im-getting-an-error-that-i-dont-have-required-permissions-to-create-azure-active-directory-applications). Please reach out with a [support service request](https://admin.powerplatform.microsoft.com/support) to investigat

[2020-06-04 21:05] shalabhgupta1985 commented on #756
Hi All,

Is there an update or a solution on this issue? I have started facing this issue since yesterday.

[2020-06-04 21:52] tapanm-MSFT commented on #1269
Thank you for reaching out and updates. The documentation is updated with this information. Please allow some time to reflect the changes.

[2020-06-04 21:52] #1269 closed

[2020-06-04 22:11] Nkrb commented on #935
Thanks for contacting us. As we haven’t heard back from you, I am closing this issue. If you need further help, please reopen the issue or open a new issue.

[2020-06-04 22:11] #935 closed

[2020-06-05 02:53] sumitthakran commented on #756
hi shalab,

just check your folder directory is correct when you are running command :- npm install
also do not forgot to include below node in your package.json file
"devDependencies": {
    "pcf-scripts": "^1",
    "pcf-start": "^1"
}

my issue got resolved , i was running npm command in wrong folder. just remember that project which you created , only in that folder you run this command and add

[2020-06-05 06:03] Risin9 commented on #1468
Thank you very much for your help.
It's my problem. I used this in the local development environment. The local development environment can't be displayed. It's OK in the test / production environment
Thank you for your attention！

[2020-06-05 06:09] Risin9 commented on #1468
But it's strange,
It's OK in IE11 in my local development environment, but Firefox and Chrome can't work normally. which is why I didn't realize it was the development environment at first and mistakenly thought it was the browser

[2020-06-05 06:43] keijiinoue opened #1475 "Context should have recordId to represent GUID of the record showing in a form for model driven app"
[Enter feedback here]
Context should have recordId property to represent GUID of the record showing in a form for model driven app.
Some components listed in PCF Gallery are using hidden or unofficial property in order to identify the recordId. Official property should be provided for it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-06-05 06:46] keijiinoue commented on #1475
This is same thinking of the following idea:
https://powerusers.microsoft.com/t5/Power-Apps-Ideas/GUID-type-support-for-PCF-controls/idi-p/353093

[2020-06-05 11:51] TrutzS opened #1476 ""Return records size cannot exceed 134217728" error message although query should return fewer rows"
Hi all,
We connect to the endpoint and are able to retrieve data using _SELECT Count(...) FROM..._ as well as _SELECT TOP(1000) ... FROM ..._ statements
But if we want to retrieve all lines from a table that has ~143000 rows we receive the following error message. Using select _SELECT TOP(150000) ... FROM ..._ provides the same error although the limit stated in the error message is much higher.

[2020-06-05 12:24] phyle opened #1477 "About File/Image fields on model-driven apps"
In section "File fields", it mentions "Currently, the file data type is only available to canvas apps and flows."  However this must have recently changed has it is now available from model-driven apps too, only via the new Forms designer. (Power Apps Make > Solution > [selection solution] > [select an entity like Contact] > Fields tab > Add field (command) > select "File" in Data type)

In the de

[2020-06-05 15:22] skfd opened #1478 "What happens when calling `addPreSearch` multiple times?"
Could you clarify in docs what happens when calling `addPreSearch` multiple times?
Does previous callback gets overwritten? Are they get stacked somehow?

Also is there a way to do `removeAllPreSearch`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b467682f-01ec-4b4f-7949-9119d4c5c3da
* Version Independent ID: bd67832

[2020-06-05 16:25] Nkrb commented on #1475
@keijiinoue Thanks for the suggestions. Please log your request [here](https://powerusers.microsoft.com/t5/Power-Apps-Ideas/idb-p/PowerAppsIdeas/label-name/powerapps%20component%20framework%20(pcf)/tab/most-kudoed). Closing the issue.

[2020-06-05 16:25] #1475 closed

[2020-06-05 16:27] Nkrb commented on #633
@alano444
Thanks for contacting us. As we haven’t heard back from you, I am closing this issue. If you need further help, please reopen the issue or open a new issue.

[2020-06-05 16:27] #633 closed

[2020-06-05 16:27] Nkrb commented on #479
@RickardNo Thanks for contacting us. As we haven’t heard back from you, I am closing this issue. If you need further help, please reopen the issue or open a new issue.

[2020-06-05 16:27] #479 closed

[2020-06-05 19:05] Nkrb commented on #1408
@logandersen Thanks for the feedback, we have a active bug for tracking this issue. Will update when we have a fix for it.

[2020-06-05 20:50] Nkrb commented on #1408
@logandersen The code should honor the `formId` parameter. The `openForm` methods when `QuickCreateForm` is set to` true` and `formId` value is passed, it should open up the desired form. Closing the issue.

[2020-06-05 20:50] #1408 closed

[2020-06-06 09:50] imranakram commented on #1437
Thanks @Nkrb, here's my post on ideas portal.
https://powerusers.microsoft.com/t5/Power-Apps-Ideas/Bring-option-to-hide-header-in-Xrm-Navigation-openConfirmDialog/idc-p/587223#M30930

[2020-06-07 00:13] niagrawa opened #1479 "GetAccessToken method definition is not present"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16e7478f-bfd9-607d-c5fa-2e9af28302ab
* Version Independent ID: d8e1b97b-301d-9353-b279-a72354ffa8f2
* Content: [Global Discovery Service Sample (C#) (Common Data Service) - Power Apps](https://docs.microsoft.com/en-us/powerapps/developer/common-data-s

[2020-06-07 07:27] HarpreetHans opened #1480 "OLEDB Connection Error"
I am not able to connect SQL endpoint for CDS using Oledb Connection. I am getting following Error:
![image](https://user-images.githubusercontent.com/57860361/83962821-f2cd5c80-a8a0-11ea-9baa-19e065d66a3b.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60540f3d-b959-2daa-23a1-2938de01919d
* Version Independent ID:

[2020-06-07 13:26] manishdvmske opened #1481 "Getting not a function error when using code snippet in Document"
Hi ,
Greetings,
I was using below js given on the page to restrict create from BPF but was getting "formContext.data.process.getActiveStage.getNavigationBehavior is not a function"

Then I debugged and found below,

Instead of  "formContext.data.process.getActiveStage.getNavigationBehavior()"  I tried using "formContext.data.process.getActiveStage().getNavigationBehavior()" and it worked

Although

[2020-06-08 04:10] JimDaly commented on #1470
@timrobinson33  -
This topic is intended to help people understand how this pattern is applied in other samples. I'm not totally clear on what steps you are making to get the results you report, but I would recommend that you look at the next steps:
1. The other [Web API Data operations Samples (C#)](https://docs.microsoft.com/en-us/powerapps/developer/common-data-service/webapi/web-api-samples-cs

[2020-06-08 04:12] JimDaly commented on #1470
@phecke
Would you mind reviewing what @timrobinson33 is reporting here?
I know you have spent considerable time in this space.

[2020-06-08 05:12] FixRM opened #1482 "Is Xrm.Page still supported for Ribbon?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87b97b2f-e00e-a277-e17a-44a8f30956ca
* Version Independent ID: a58d5ec5-169e-3483-2bac-b13b54778035
* Content: [Define ribbon enable rules (model-driven apps) - Power Apps](https://docs.microsoft.com/en-us/powerapps/developer/model-driven-apps/define-

[2020-06-08 06:40] AbdulWahabWarind opened #1483 "Document Templates"
Documentation we receive from the organization often uses different logos and fonts. I need branding for all internal Microsoft Word documents.
Which two templates can I use?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41509cd6-cd9c-aaf4-787b-d86c5d7bdba6
* Version Independent ID: 2468f38b-cc54-ea77-4298-daa91e9ed3b3

[2020-06-08 08:37] Papithasekar opened #1484 "View collection"
Is it possible to view collected data in collection in display form? or we should only Gallery form to view collected data from Collection

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b41c74e-0619-2d16-694d-f2be4b594e1b
* Version Independent ID: acd46b62-b793-1bbf-dbfc-2fea6d1ce1b6
* Content: [Create and update a co

[2020-06-08 11:37] JerryH1975 opened #1485 "Cannot add more TaskCategories collection on the HelpDesk Template"
Hi
When i try to add additional TaskCategories collection, my Dropdown suddenly does not work?
Please support,
Thanks
Jerry

[2020-06-08 14:07] #1485 closed

[2020-06-08 14:07] JerryH1975 commented on #1485
I had to close the App before my changes took place

[2020-06-08 15:45] RedsGT commented on #1479
Hi @niagrawa

These are just snippets that call out main parts of the code.  The actual sample code has the definition.

[2020-06-08 16:15] JimDaly commented on #1479
Correct.
The code focuses on the use of the discovery service. The GetAccessToken method is mostly about authentication, so it isn't the focus of the sample. The method is available in the sample code. It is actually quite a bit larger than the code to use the discovery service, so it isn't included in the snippet.

[2020-06-08 16:15] #1479 closed

[2020-06-08 20:38] Nkrb commented on #1478
@skfd There is a `removePreSearch` method, but not the `removeAllPreSearch`.  It's like any other event, if you call the `addPreSearch`  multiple times then there will be multiple handlers.

[2020-06-08 20:50] Nkrb commented on #1176
@sergeytunnik Thanks for the feedback. We have updated the docs with the correct information and pushed to live. Closing the issue.

[2020-06-08 20:50] #1176 closed

[2020-06-09 00:25] mayadumesh commented on #1480
TDS endpoint over CD is not available for the Oledb connection. the error is expected for this access point.

[2020-06-09 09:53] once opened #1487 "Incorrect word - classes instead of functions"
Incorrect:
_When you open the index.ts file in the Visual Studio Code, you'll notice that the four essential **classes** are predefined._

Instead it should be:
_When you open the index.ts file in the Visual Studio Code, you'll notice that the four essential **functions** are predefined._

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-06-09 09:56] once opened #1488 "Incorrect code line"
There is a code line, that leads to an error (appendChild error, as container cannot contain itself), so this should be removed:

`container.appendChild(this._container);`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fc8bc19-4e5e-b6f4-34ef-77b004c2afd6
* Version Independent ID: 847c467c-0015-1eb9-bdc7-720a40f1cdba
*

[2020-06-09 20:01] Nkrb commented on #915
@devlinl Thanks for  the feedback, can you confirm if you still face this issue. Filters can be set as shown in the example to achieve the results.

[2020-06-09 20:23] maeg02 opened #1489 "Missing parameter attrinute in windowOptions"
It seems that the parameter windowOptions is missing the attribute
 - openInNewWindow: (Optional) Boolean

If hight and width optional, could there be an example with:
Xrm.Navigation.openWebResource("new_webResource.htm", { openInNewWindow: true });

Regards Markus
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef001b56

[2020-06-09 20:42] Nkrb commented on #685
@Nianwei The userSettings.roles method returns  a collection of lookup objects containing the GUID and display name of each of the security role or teams that the user is associated with. Closing the issue. Please reopen the issue if you're not happy with the information provided.

![image](https://user-images.githubusercontent.com/34038327/84197489-db37d480-aa56-11ea-8439-b3d9d9cbab78.png)

[2020-06-09 20:42] #685 closed

[2020-06-09 20:45] Nkrb commented on #701
@mangesh236 Can you confirm if you are still facing this issue.

[2020-06-09 20:45] Nkrb commented on #744
@JamesHorsley Thanks for the feedback. We have updated the docs with the correct information and pushed to live. Closing the issue.

[2020-06-09 20:45] #744 closed